<?php TPL::output('global/header_landing.tpl.htm'); ?>

<script type="text/javascript">
	$(document).ready(function () {
		$('#header_action').append('申请帐户');
	});
</script>

<form action="account/apply/apply_ajax/" method="post" onsubmit="return false;" id="apply_form">
<div class="Ef_login login_bg_02">

  <ul class="loging register" id="apply_success" style="display:none;">
	<div style="width:100px; margin:0 auto; font-size:20px; color:#ff0000;">申请成功</div>
	<span>我们会在 24 小时以内审核您的申请并向你的邮箱发送邮件，请留意您的收件箱。</span>
  </ul>

  <ul class="loging register" id="user_apply">
    <li>
      <input type="text" class="login_txt" id="email" title="邮箱" placeholder="请输入邮箱" value="" name="email" value="" tabindex="1" />
      <span class="hide"></span>
    </li>
    <li>
      <textarea type="text" style="height:80px;" class="login_txt" name="reason" id="reason" title="申请理由" placeholder="申请理由" value="" tabindex="2"/></textarea>
      <span class="reg_tips">请填写大于 10 个汉字</span>
    </li>
    <li id="global_err" class="i_hide">
      <p class="i_global_err i_small i_err_bg"><em class="e"></em><span id="glo_Err">账号或密码错误，请重试</span></p>
    </li>
    <li>
      <a href="javascript:;" class="login_sub i_cl_06 i_fb_14 i_right" title="立即注册" tabindex="3"  onClick="ajax_post($('#apply_form'), _login_form_processer);">提交</a>
    </li>
  </ul>
</div>
</form>

<script type="text/javascript">

function _login_form_processer(result)
{
	if (typeof(result.errno) == 'undefined')
	{
		$.alert(result);
	}
	else if (result.errno != 1)
	{		
		if (result.rsm)
		{
			$('#global_err').removeClass('i_hide').find('span').html(result.err);
		}
		else
		{
			if (document.getElementById('tip_error_message'))
			{
				$('#tip_error_message').html(result.err).show();
			}	
			else{
				$.alert(result.err);
			}
		}
	}
	else
	{
		$('#user_apply').hide();
		$('#apply_success').show();
	}
}
</script>

<?php TPL::output('global/footer_blank.tpl.htm'); ?>