<?php TPL::output('global/header_landing_blank.tpl.htm'); ?>

<div id="wrapper">
  <div id="msn_login">
    <div class="login_bd msn_login" >
      
      <!--登陆模块_s--> 
      <div class="login_mod " id="user_login">
        <h3 class="login_title  logo">
          <?php if (get_setting('invite_reg_only') == 'N') { ?>
          <a href="account/register/" class="login_reg i_white">注册新用户</a>
          <?php } ?>
        </h3>
        <form id="login_form" method="post" onsubmit="return false" action="account/ajax/login_process/">
          <input type="hidden" name="return_url" value="<?php echo $this->return_url; ?>" />
          <input type="hidden" name="post_hash" value="<?php echo new_post_hash(); ?>" />
          <ul class="loging login_bg_02" style="width:auto;">
            <li class="i_lcol_01 i_white_bg">
              <label for="login_userName" class="un label i_left"></label>
              <input tabindex="1" type="text" class="login_txt" id="login_userName" title="邮箱/用户名" name="user_name" value="<?php echo $this->r_uname; ?>" />
            </li>
            <li class="i_lcol_01 i_white_bg">
              <label for="login_password" class="pw label i_left"></label>
              <input tabindex="2" type="text" class="login_txt" id="login_password_txt" title="密码" value="密码"/>
              <input type="password" class="login_txt i_hide" id="login_password" title="密码" name="password" />
            </li>
            <li id="global_err" class="i_hide">
              <p class="i_global_err i_small i_err_bg"><em class="e"></em><span id="glo_Err"></span></p>
            </li>
            <li>
              <input type="checkbox" name="net_auto_login" value="1" id="login_radio" checked="checked"/>
              <label for="login_radio" class="i_cl_02" title="下次自动登陆">记住我</label>
              &nbsp;&nbsp;<a class="i_cl_02" href="account/find_password/" title="密码不记得了？点击快速找回>> "> 忘记密码？</a>
              <p><a href="javascript:;" class="login_sub i_cl_06 i_fb_14" tabindex="3" id="login_submit" onClick="$.login.loginSubmit(ajax_post($('#login_form'), _login_form_processer));">登录</a></p>
             </li>
          </ul>
        </form>
      </div>
      <!--登陆模块_s--> 
      

   
  </div>


</div>
</div>
<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/app/login.js"></script>
</body>
</html>
