<?php if (sizeof($this->content_nav_menu) > 0) { ?>
<div class="i_bd mainElem i_clear i_allbg b_mainElem"> 
	<?php if (get_setting('category_display_mode') == 'list') { ?>
	<div class="q_category_nav q_classify" >
		<ul class="q_class_ul i_clear" id="q_category_nav">
		<?php foreach ($this->content_nav_menu as $key => $val) { ?>
		<li<?php if (($val['type'] == 'category' AND $_GET['category'] AND ($val['type_id'] == $this->category_info['id'] OR $this->category_info['parent_id'] == $val['type_id'])) OR ($val['type'] == 'feature' AND $this->feature_info['id'] == $val['type_id'])) { ?> class="cur"<?php } ?> >
			<a href="<?php echo $val['link']; ?>"<?php if ($val['type'] == 'custom') { ?> target="_blank"<?php } ?>><?php echo $val['title']; ?></a>
			
			<?php if ($val['child'] && get_setting('nav_menu_show_child') == 'Y') { ?>
			<div class="i_data_list" style="display:none;">
				
				<?php foreach ($val['child'] AS $_key => $_val) { ?>
				<p class="i_list_p"><a href="home/explore/category-<?php echo $_val['id']; ?>"<?php if ($_val['id'] == $this->category_info['id']) { ?> style="font-weight:bold"<?php } ?>><?php echo $_val['title']; ?></a></p>
				<?php } ?>
			</div>
			<?php } ?>
		</li>
		<?php } ?>
		</ul>
	</div>
	<?php } else { ?>
	<div class="q_category_nav i_clear" id="q_category_nav">
		<?php foreach ($this->content_nav_menu as $key => $val) { ?>
		<div class="q_nav_tx i_left <?php if (($val['type'] == 'category' AND $_GET['category'] AND ($val['type_id'] == $this->category_info['id'] OR $this->category_info['parent_id'] == $val['type_id'])) OR ($val['type'] == 'feature' AND $this->feature_info['id'] == $val['type_id'])) { ?> cur<?php } ?>"><a href="<?php echo $val['link']; ?>" class="q_imgs"<?php if ($val['type'] == 'custom') { ?> target="_blank"<?php } ?>><img src="<?php if ($val['icon']) { ?><?php echo get_setting('upload_url'); ?>/nav_menu/<?php echo $val['icon']; ?><?php } else { ?><?php echo G_STATIC_URL; ?>/css/<?php echo $this->template_name; ?>/img/default_class_imgs.png<?php } ?>" alt="<?php echo $val['title']; ?>" title="<?php echo $val['title']; ?>"/></a> <b class="q_bCtr"><a href="<?php echo $val['link']; ?>"<?php if ($val['type'] == 'custom') { ?> target="_blank"<?php } ?>><?php echo $val['title']; ?></a></b> <span class="q_span"><?php echo $val['description']; ?></span>
			<?php if ($val['child'] && get_setting('nav_menu_show_child') == 'Y') { ?>
			<div class="i_data_list" style="display:none;">
				<?php foreach ($val['child'] AS $_key => $_val) { ?>
				<p class="i_list_p"><a href="home/explore/category-<?php echo $_val['id']; ?>"<?php if ($_val['id'] == $this->category_info['id']) { ?> style="font-weight:bold"<?php } ?>><?php echo $_val['title']; ?></a></p>
				<?php } ?>
			</div>
			<?php } ?>
		</div>
		<?php } ?>
	</div>
	<?php } ?>
</div>
<?php } ?>