<div class="i_left L_sidebar">
 <div class="b_restrain">
	<h3 class="latest_trendst_h3 q_qusAll i_prl q_content_h3 ">
		<p class="q_navC i_pas">
			<a href="<?php if ($this->feature_info) { ?>feature/id-<?php echo $this->feature_info['id']; ?><?php } else { ?>home/explore/category-<?php echo $this->category_info['id']; ?><?php } ?>__sort_type-unresponsive" <?php if ($_GET['sort_type'] == 'unresponsive') { ?> class="cur"<?php } ?>><?php _e('等待回复'); ?></a>
    	 	
			<a href="<?php if ($this->feature_info) { ?>feature/id-<?php echo $this->feature_info['id']; ?><?php } else { ?>home/explore/category-<?php echo $this->category_info['id']; ?><?php } ?>__sort_type-hot__day-30" id="sort_control_hot" <?php if ($_GET['sort_type'] == 'hot') { ?> class="cur"<?php } ?>><?php _e('热门'); ?></a>
			<a href="<?php if ($this->feature_info) { ?>feature/id-<?php echo $this->feature_info['id']; ?><?php } else { ?>home/explore/category-<?php echo $this->category_info['id']; ?><?php } ?>__sort_type-new" <?php if (!$_GET['sort_type'] OR $_GET['sort_type'] == 'new') { ?> class="cur"<?php } ?>><?php _e('最新'); ?></a>
		</p>
		
		<?php if ($this->category_info) { ?><?php echo $this->category_info['title']; ?><?php } else if ($this->feature_info) { ?><?php echo $this->feature_info['title']; ?><?php } else { ?><?php _e('全部问题'); ?><?php } ?>
	</h3>
	
	<?php if ($_GET['sort_type'] == 'hot') { ?>
	<p class="q_txt_right i_gray">
		<a href="home/explore/sort_type-hot__<?php if ($this->category_info['id']) { ?>__category-<?php echo $this->category_info['id']; ?><?php } ?>__day-30" day="30" <?php if ($_GET['sort_type'] == 'hot' AND $_GET['day'] == 30) { ?> class="cur"<?php } ?>><?php _e('30天'); ?></a> 
	  	<a href="home/explore/sort_type-hot__<?php if ($this->category_info['id']) { ?>__category-<?php echo $this->category_info['id']; ?><?php } ?>__day-7" day="7" <?php if ($_GET['sort_type'] == 'hot' AND $_GET['day'] == 7) { ?> class="cur"<?php } ?>><?php _e('7天'); ?></a> 
	  	<a href="home/explore/sort_type-hot__<?php if ($this->category_info['id']) { ?>__category-<?php echo $this->category_info['id']; ?><?php } ?>__day-1" day="1" <?php if ($_GET['sort_type'] == 'hot' AND $_GET['day'] == 1) { ?> class="cur"<?php } ?>><?php _e('当天'); ?></a>
	</p>
	<?php } ?>
	
	<div id="question_list" class="question_x2"><?php echo $this->question_list_bit; ?></div>
	
	<p id="bp_more"><a class="i_ajax_more" href="<?php if ($this->feature_info) { ?>feature/id-<?php echo $this->feature_info['id']; ?>__<?php } else { ?>home/explore/<?php } ?>page-<?php if (intval($_GET['page']) > 0) { ?><?php echo (intval($_GET['page']) + 1); ?><?php } else { ?>2<?php } ?>__sort_type-<?php if ($_GET['sort_type']) { ?><?php echo preg_replace("/[\(\)\.;']/", '', $_GET['sort_type']); ?><?php } else { ?>hot<?php } ?><?php if ($this->category_info['id']) { ?>__category-<?php echo $this->category_info['id']; ?><?php } ?>__day-<?php echo intval($_GET['day']); ?>"><?php _e('更多'); ?>...</a></p>
</div>
</div>
<?php if (intval($_GET['page']) > 0) { ?>
<script type="text/javascript">cur_page = <?php echo intval($_GET['page']); ?>;</script>
<?php } ?>
<?php if ($_GET['sort_type']) { ?>
<script type="text/javascript">cur_sort_type = '<?php echo preg_replace("/[\(\)\.;']/", '', $_GET['sort_type']); ?>';</script>
<?php } ?>
<?php if ($_GET['day']) { ?>
<script type="text/javascript">cur_day = <?php echo intval($_GET['day']); ?>;</script>
<?php } ?>
<?php if ($this->category_info['id']) { ?>
<script type="text/javascript">cur_category_id = <?php echo intval($this->category_info['id']); ?>;</script>
<?php } ?>
<?php if ($this->feature_info['id']) { ?>
<script type="text/javascript">cur_feature_id = <?php echo $this->feature_info['id']; ?>;</script>
<?php } ?>