<div class="aw-mod side-nav">
	<div class="mod-body">
		<ul>
			<li><a href="home/#all" rel="all"><i class="fa fa-list-alt"></i><?php _e('最新动态'); ?></a></li>
			<li><a href="home/#draft_list__draft" rel="draft_list__draft"><i class="fa fa-file"></i><?php _e('我的草稿'); ?><?php if ($this->user_info['draft_count']) { ?><span class="badge badge-info"><?php echo $this->user_info['draft_count']; ?></span><?php } ?></a></li>
			<li><a href="favorite/"<?php if ($_GET['app'] == 'favorite') { ?> class="active"<?php } ?>><i class="fa fa-bookmark"></i><?php _e('我收藏的回复'); ?></a></li>
			<li><a href="home/#all__focus" rel="all__focus"><i class="fa fa-check-square-o"></i><?php _e('我关注的问题'); ?></a></li>
			<li><a href="home/#all__public" rel="all__public"><i class="fa fa-list"></i><?php _e('所有问题'); ?></a></li>
			<li><a href="home/#invite_list__invite" rel="invite_list__invite"><i class="fa fa-location-arrow"></i><?php _e('邀请我回答的问题'); ?><?php if ($this->user_info['invite_count']) { ?><span class="badge badge-info"><?php echo $this->user_info['invite_count']; ?></span><?php } ?></a></li>
		</ul>
	</div>
</div>