/*全局*/
.aw-wecenter{width: 980px;}
.aw-container-wrap{background: #f2f2f2;}
.aw-container{border:none;background: #f2f2f2;}
.aw-content-wrap{background: none;margin-left: 0;padding:0;}
.aw-main-content{width:699px;padding:30px 30px 99999px;background:#fff;border:none;}
.aw-user-name{color: #ff6d24;font-size: 13px;}
span.price{font-size: 24px;font-weight: bold;color: #4c5259;}

/*顶部菜单条*/
.aw-top-menu-wrap{background: #5f6871;}
.aw-top-menu{padding: 0px;}
.aw-logo{width:99px;height:60px;margin:0 0 0 20px;}
.aw-logo h1{height: 60px;margin:0;}
.aw-top-nav{margin: 0;}
.aw-top-nav ul li{float: left;}
.aw-top-nav ul li a{display:block;width: 90px;height: 57px;line-height: 57px;color: #fff;text-align: center;}
.aw-top-nav ul li a:hover{background:#586169;border-bottom:3px solid #fa7759;}
.aw-top-nav ul li a.active{background:#586169;border-bottom:3px solid #fa7759;}
.aw-search-box{width: 178px;margin:5px 0 0 0;}
.aw-search-box .input-append{width: 176px;background: #fff;border:1px solid #e6e6e6;border-radius: 3px;}
.aw-search-box .ht-icon.search{margin:6px 0 0 6px;}
.aw-search-box #aw-search-query{width: 140px;border: none;box-shadow: none;}
.aw-user-login{height: 20px;line-height: 20px;padding: 10px 0;}
.aw-user-login .ht-icon{margin-left: 17px;}
.aw-publish-btn{display:inline-block;width: 110px;height: 34px;margin-right:20px;background:url('img/share.png') no-repeat;font-size: 0px;}
.aw-user-nav{position: relative;}
.aw-user-nav:hover .aw-user-nav-dropdown-list{display: block;}
.aw-user-nav span{display: inline-block;float:left;height: 40px;line-height: 40px;margin-right:10px;}
.aw-user-nav-login{width: 180px;height: 32px;padding:14px 20px;background: #4c5158;}
.aw-user-nav-login .aw-user-nav-dropdown img{width: 32px;height: 32px;} 
.aw-user-nav-dropdown-list{position:absolute;right:0;display: none;width: 100px;background: #4C5158;}

/*category*/
.category .span12 > ul > li:first-child{margin-left: 0px;}
.category .span12{width: 980px;margin-left: 10px;}
.ht-date-select{margin:8px 0;padding:0 10px 0 0;border: 1px solid #dbdbdb;border-radius: 2px;box-shadow: 0 1px 0 #ececed,0 1px 0 #fff inset;}
.ht-date-select span a{padding:0 13px;}
.ht-date-select a{display:inline-block;height: 26px;line-height: 26px;color: #666666;font-size: 12px;}
.ht-date-select a.active{background: #ff8266;color: #fff;border: 1px solid #eb6c50;border-top:none;box-shadow: 0 1px 0 #fff, 0 -1px 0 #EB6C50;}

/*海淘列表*/
.ht-product-list{width: 1000px;}
.ht-product-list ul li{float: left;width: 315px;height: 375px;margin:0 14px 16px 0;background: #fff;border: 1px solid #e6e6e6;border-radius: 3px;box-shadow: 0 1px 0 #d4d4d4;}
.ht-product-list ul li .aw-mod-head{padding: 5px;}
.ht-product-list ul li .aw-mod-body{padding:0 14px 16px;}
.ht-product-list ul li .aw-mod-body h2{font-size: 16px;font-weight: normal;}
.ht-product-list ul li .aw-mod-body h2 a{color: #ff6d24;}
.ht-product-list ul li .aw-mod-body p{margin:0;font-size:12px;color: #666666;}
.ht-product-list ul li .aw-mod-footer{height:21px;line-height:21px;margin:0 14px;padding-top:10px;border-top:1px dashed #ccc;}
.ht-product-list ul li .aw-mod-footer .ht-icon{margin-right: 5px;}
.ht-product-list ul li .aw-mod-footer span{margin-right: 10px;font-size:12px;color: #999999;}
.ht-product-list ul li .aw-mod-footer span.pull-right{margin-right: 0px;}

/*产品详情页*/
.aw-product-detail-wrap{margin-top:20px;background: #e6e9ed;border:1px solid #e6e6e6;border-radius: 3px;}
.aw-product-detail-content{padding-bottom: 50px;}
.aw-product-detail-content h2{margin:0 0 20px;font-size: 22px;}
.aw-product-detail-content .ht-product-show ul{height:auto;overflow:hidden;margin: 20px 0;}
.aw-product-detail-content .ht-product-show ul li{float: left;margin-left: 19px;}
.aw-product-detail-content .ht-product-show ul li:first-child{margin-left: 0px;}
.aw-product-detail-content img{margin-bottom: 10px;}
.aw-product-detail-content p{font-size: 13px;line-height: 22px;text-align: justify;}

/*侧边栏*/
.aw-side-bar{width: 159px;padding: 0 30px;}
.aw-side-bar dd{width: auto;}
.aw-side-bar .aw-side-bar-mod{border-bottom: none;}
.aw-side-bar-mod .aw-side-bar-mod-head{padding-bottom: 5px;}
.aw-side-bar-mod .aw-side-bar-mod-head, .aw-side-bar-mod .aw-side-bar-mod-body{border-bottom: 1px dashed #cbced1;}
.aw-side-bar-mod .aw-side-bar-mod-body{padding:10px 0 20px;margin-bottom: 20px;}
.aw-side-bar-mod .aw-side-bar-mod-body ul{margin-bottom: 10px;}
.aw-side-bar-mod .aw-side-bar-mod-footer span{display: inline-block;width: 55px;height: 28px;line-height: 28px;padding:0 10px;background: #d8dbde;border-radius: 2px;font-size: 14px;font-weight:bold;color: #999999;}
.aw-side-bar-mod .aw-side-bar-mod-footer span:first-child{margin-right: 5px;}
.aw-side-bar-mod .aw-side-bar-mod-footer span .ht-icon{margin-right: 20px;}
.aw-side-bar-mod .aw-side-bar-mod-footer span .unlike{position: relative;top: 1px;}
.aw-side-bar-mod ul li{font-size: 13px;}

/*底部*/
.aw-footer-wrap{background: #e6e8e9;}
.aw-footer{height:60px;line-height:60px;padding: 0;}
.aw-copyright{text-align: left;}
.aw-footer-link{text-align: right;}
.aw-footer-link a{color: #666;font-size: 13px;font-weight: bold;}

/*icon*/
.ht-icon{display: inline-block;}
.ht-icon.search{width: 17px;height: 17px;background: url('img/search.png') no-repeat;}
.ht-icon.login-sina{width: 32px;height: 29px;background: url('img/login-sina.png') no-repeat;}
.ht-icon.login-qq{width: 28px;height: 30px;background: url('img/login-qq.png') no-repeat;}
.ht-icon.like{width: 12px;height: 11px;background: url('img/like.png') no-repeat;}
.ht-icon.like.active{background: url('img/like-active.png') no-repeat;}
.ht-icon.unlike{width: 12px;height: 13px;background: url('img/unlike.png') no-repeat;}
.ht-icon.message{width: 13px;height: 12px;background: url('img/message.png') no-repeat;}
.ht-icon.lock{width: 19px;height: 8px;background: url('img/lock.png') no-repeat;}
.ht-icon.buy{width: 92px;height:40px;line-height: 40px;padding-left:68px;background: url('img/buy.png') no-repeat;color: #fff;font-size: 16px;}

