@charset "utf-8";
/*+--------------------------------------+
* 名称: common
* 功能: 公用样式及组件样式
* anwsin官方:http://www.anwsion.com/
* developer:诸葛浮云
* Email:globalbreak@gmail.com 
* Copyright © 2012 - Anwsion社区, All Rights Reserved 
* Date:2012-08-01
*+--------------------------------------+*/
/* css3 */
@import url("headleCss3.css");


/* 清理浮动  */
.i_clear:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.i_clear { zoom:1;  }/* for IE7 */

/* 隐藏, js调用 */
.i_hide { display: none; }

/* 显示, js调用 */
.i_show { display: block; }

/* 列表布局, js调用 */
body .i_line{ display:inline-block;}

/* 设置内联, 减少浮动带来的bug */
*+html .i_left, *+html .i_right { _display: inline; }
.i_left { float: left; }
.i_right { float: right; }

/* 内容居中 */
.i_tl { text-align: left; }
.i_tr { text-align: right; }
.i_tc { text-align: center;}

/* 定位 */
.i_prl{ position:relative;}
.i_pas{ position:absolute;}

/* 加粗 */
.i_bold{ font-weight:bold;}

/*全英文状态强制文本换行*/
.i_txtBreak{word-wrap:break-word !important;} 
.i_lineHeight{line-height:22px!important;}
.i_txtmiddle{vertical-align:middle;}

.i_alpha, /* 公用 */
/* hover */
.i_alpHover img:hover, /* 公用 */
.login_entrance .tx:hover, .login_entrance .sl:hover,
.login_entrance .tri:hover,
.add_user_f img:hover,
.i_upload_but:hover
{opacity:0.8;filter:alpha(opacity=80);}/*for ie*/
.i_alpha_login{opacity:0.2;filter:alpha(opacity=20);}/*for ie*/
.i_gloBoxl .i_glotitle .i_closed:hover{opacity:0.6;filter:alpha(opacity=60); }

.i_fw{overflow:hidden;}
.i_bgNo{ background:none !important;}
.i_bordernth{border:0 none !important;}

/* for input select textarea border color */
.i_cur,
.i_elmsInputs input[type="password"]:focus,
.i_elmsInputs input[type="text"]:focus,
.i_elmsInputs select:focus
{border:1px solid #91d2ff !important;}

.i_pic25{width:25px!important;height:25px!important;overflow:hidden;}

/* 站内小图标公用 */
.i_small,  /* 公用 */
.i_add_attention,/* 加关注 */
.i_arrows, /* 小箭头 */
.i_header .lx_set a, /* 头部下拉菜单 */
.i_data_list >p >a:hover, /* 问题下拉列表站内公用 */
.q_bElems a,   /* 问题 > 内容页小图标 */
.q_bElems .i_data_list  a, /* 微博分享 */
.q_accessory >a >em, /* 附件 */
.i_tips_black> em,  /* 黑底提示条 */
.S_module .s_xs >a, /* 回复 vs 赞同 */
.u_rx >span, /* 用户列表 */
.t_share >a, /*  >>话题详情 >> 分享*/
.c_gloicon >span    /* 个人中心 */

{background-image:url(img/i_default_tool.png); background-position:0 0; background-repeat:no-repeat;}

/*+--------------------------------------+*/

/* 站内按钮类公用 */
.login_mod .login_title .login_reg,                    /* 登陆模块 > 注册按钮 */
.login_sub,                                            /* 登陆模块 > 提交按钮 */

.i_green_but, /* 公用绿色按钮(四个字) */
.i_gray_but,/* 公用灰色按钮(四个字) */
.i_green_bt2,/* 两个字绿色 */
.i_gray_bt2, /* 两个字灰色 */
.i_replay_but2,/* 回复按钮 */

/* 加关注 */
.i_add_attention >em,

.q_mainElem .q_banner, /* 问题 >分类条幅 */
.q_mainElem .q_banner >em.q_ex,
.backTop, /* 返回顶部 */
.i_upload_but, /* 上传按钮 */
.q_rightBar .q_setBtn, /*问题重定向*/
.winner_reply >.winner_Cup
{background-image:url(img/i_default_button.png); background-position:0 0; background-repeat:no-repeat;}

/*+--------------------------------------+*/

/* 站内页面宽度限定 */
.i_bd { width:960px; margin:0 auto; text-align:left; }
.wrapper{ background-color:#e7eff3; padding-bottom:30px; clear:both;}
.i_mainElem,.mainElem{background-color:#fff; border-left:1px solid #c9c9c9; border-right:1px solid #c9c9c9;border-bottom:1px solid #c9c9c9; width:958px;}
.b_mainElem{ border-bottom:none;}

/*+--------------------------------------+*/
/* 页头 */
.x_brs{*z-index:99;}
.i_header{ background-color:#86c5e3;}
.i_header .logo{ width:450px; height:25px; height:25px; padding: 22px 0 0 70px; background: url(img/logo.png) no-repeat 0 3px; cursor: pointer; }
.i_header .logo .img{ vertical-align:text-bottom; margin-right:5px;}
.i_header .i_message{ right:0; top:15px; font-weight:bold; z-index:99;width:400px;text-align:right;}
.i_header .i_message a{ margin-left:14px;}
.i_header .i_message span,.i_header .i_message a{text-align:left;}
.i_header .i_message a.not_message,.i_header .i_message a.private_letter,.i_header .i_message p{ float:right;display:inline-block;} 
.i_header .i_message p{min-width:94px; z-index:2;} /* 下拉框（设置） */

/* 问题下拉列表站内公用 */
.i_data_list,
.i_data_list .i_list_p >span.i_span,
.i_commentElem /* 评论 */
{ border:1px solid #c1cad4;}
.i_data_list { z-index: 99; }

.i_header .lx_set{ display:block; width:92px; margin-top:10px; border:1px solid #ccc; display:none;}
.i_header .lx_set a{width:92px;}

.i_header .lx_set a,
.i_data_list p a{ display:block; font-weight:normal; height:35px; line-height:35px; margin-left:0; text-indent:15px; }
.i_data_list p.closex{ position:relative; padding-right:25px;}
.i_data_list p.closex em.e{ position:absolute; top:-8px; right:8px;}
.i_header .lx_set .i_arrows{ right:15px;}
.i_header .lx_set a:hover,
.i_data_list p:hover,/* 下拉列表鼠标悬停背景色  */
.i_data_list p.cur,
#clickEve_v2_0 .bds_tools a:hover /* 站外分享 */
{ background-color:#f5faff;}
.i_header .lx_set a.set{ background-position:30px -207px;}
.i_header .lx_set a.exit{ background-position:30px -240px;}
.i_header .lx_set a.manage{ background-position:33px -2487px;}
.i_header .lx_set a.index{ background-position:33px -2615px;}
.i_header .i_message p:hover .lx_set,
.q_category_nav .q_nav_tx:hover >.i_data_list, /* 问题分类导航下拉显示  */
.q_classify .q_class_ul >li:hover >.i_data_list, /* 问题分类导航 > 子分类下拉显示 */
.q_participate:hover  .i_data_list,.i_data_list >p:hover >span.i_span,
.i_header .i_data:hover .i_data_list /* 首页问题下拉显隐 */
{ display:block;}
.i_header a.user_head img{ width:25px; height:25px; margin-left:5px; margin-top:-3px;}
.i_gloBoxl .i_glotitle,.i_header .i_bg{background:url(img/main_default.png) 0 -104px no-repeat;padding-left:10px; }
.i_gloBoxl .i_glotitle >h3,.i_menu{ height:50px;background:url(img/main_default.png) right -53px no-repeat;}
.i_header .i_bg{  width:950px; margin:0 auto;}
.i_menu{ width:821px; margin-left:-10px;}
.i_menu >li{ display:inline;}
.i_menu .i_data,
.i_menu .i_index{width:126px; float:left; z-index:99;}
.i_menu .i_index{ display:inline-block;text-align:center; font-size:14px; line-height:50px; font-weight:bold;}
.i_menu .i_index >em{ display:inline-block; height:17px; width:17px; vertical-align:middle; margin-right:5px;}
.i_menu .i_index >em.i{ background-position:-34px -149px;}
.i_menu .i_index >em.q{ background-position:-34px -109px;}
.i_menu .i_index >em.t{ background-position:-34px -73px;}
.i_menu .i_index >em.u{ background-position:-34px -1px;}
.i_menu .i_index.i_curr{background:url(img/main_default.png) -175px 0 no-repeat;}
.i_menu >.i_dexBg >.i_index.i_curr{background:url(img/main_default.png) 0 0 no-repeat;}
.i_menu .i_index:hover >em.i{ background-position:-1px -149px;}
.i_menu .i_index:hover >em.q{ background-position:-1px -109px;}
.i_menu .i_index:hover >em.t{ background-position:-1px -73px;}
.i_menu .i_index:hover >em.u{ background-position:2px -1px;}
.start_question{ background:url(img/main_default.png) -347px 0 no-repeat; width:127px; height:50px; bottom:0; right:0; display:block; line-height:50px; text-indent:70px; font-weight:bold;}
.start_question.cur{ background-position:-483px 0;}
/* >>通知下拉框样式 */
#msgDropdown >p{ padding:10px;}
#msgDropdown >p a{ display:inline !important; line-height:normal !important; white-space:normal; font-size:12px;}
#msgDropdown >p .s,#msgDropdown >p .ex_more,#msgDropdown >p .ex_more small{ display:block;font-size:12px;}
#msgDropdown >p .s{ padding-top:5px; line-height:18px;}
#msgDropdown >p .ex_more{ padding-top:10px;}
#msgDropdown >p .s .x{ visibility:visible !important; margin-top:3px;}
#msgDropdown >p mark{ background-color:transparent; height:18px; cursor:pointer; visibility:visible;}

/*+--------------------------------------+*/

/* 全文搜索 */
.i_search{ background:#fff; border:1px solid #124b74; height:28px; margin-top:10px; margin-right:15px; padding-right:28px; max-width:250px;}
.i_search.s_topicSearch{ width: 200px; max-width: 200px; border:1px solid #ccc; margin-top: 5px; margin-right: 0; }
.i_search.s_topicSearch >.i_cur{ border:0 none !important;box-shadow:0 0 0 !important;}
.i_search .i_txt{ width:250px; height:20px; padding:4px; border:0 none; font-size: 13px; }
.i_search .i_result{ display:inline-block; background:url(img/main_default.png) -635px 0 no-repeat; height:28px; width:28px;right:0; top:0; line-height:99em; overflow:hidden; }
.i_search .i_wd{ width:250px;}
#search_global >p {height:45px;line-height:45px;padding:0 10px;}
#search_global >p.qs{padding:10px!important;height:25px!important;line-height:25px!important;}
#search_global >p.qs >a,#search_global >p.qs >b,#search_global >p span,#search_global .user_header,#search_global a{vertical-align:middle;display:inline-block;}
#search_global >p.qs >b{width:280px;}
#search_global >p .xs{margin-left:10px;max-width:120px;}
#search_global .user_header{ margin-right:10px; margin-top:-10px;}
#search_global .s_txt_qs{ max-width:280px;}
#search_global a{height:auto; line-height:auto;text-indent:0;}

/* 页脚 */
.i_footer{ background-color:#fff; padding-top:30px;}
.i_footer .i_txt{ width:960px; margin:0 auto; padding-bottom:30px;}

/*返回顶部*/
.backTop{height:44px;width:44px;position:fixed;z-index:999;bottom:140px;left:86%; cursor:pointer; background-position:0 -84px;}
.backTop:hover{ background-position:0 -134px;}
/* 黑底提示条 */
.i_tips_black { display:block;background:#3e3e3e;height:25px;line-height:25px; font-size:12px;color:#fff;padding:0 5px;border:1px solid #000; left:-50%; top:22px; width:auto; white-space:nowrap; z-index:9; visibility:hidden;}
.i_tips_black> em{height:4px;width:6px;display:block;position:absolute;left:44%;top:-4px; background-position:-3px -584px;}

/* 站内更多 */
.i_ajax_more,.s_enfoldment/* 折叠 */{ display:block; background-color:#e1f0f7; border:1px solid #d1e6ed; height:34px; line-height:34px; text-align:center; margin:15px auto 30px auto;overflow:hidden;}
.i_ajax_more:hover,.s_enfoldment:hover{ background-color:#d9edf7;}
.i_ajax_more.loading{background:#d9edf7 url(img/i_loading.gif) center center no-repeat;line-height:99em;}
.i_gloMore{font-size:12px;font-weight:normal;}

/* 文字溢出处理 */
.i_gltxtHide, /* 公用 */
.s_txt .s_endorse, /* 首页内容模块 */
.q_mainElem >.q_reply >em, /* 问题 > 回复数 */
.interest_user .topic, /* 可能该兴趣的话题 */
.i_glotopic,  /* 话题样式公用 */
.q_classify .q_class_ul >li, /*  分类导航 > 子分类模块*/
.q_hotClass .q_Hspan, /*  分类导航 > 子分类模块*/
.q_mainElem .q_banner >em.q_ex, /* 子分类导航条 */
.S_module .s_xs >em.s, /*赞同*/
.q_xel >span ,/* 问题>> 右边栏 */
.i_data_list a, /* 下拉列表站内公用 */
.box_shadow .interest_user .add_gray,
.t_record >span,
.c_gloicon >span, /* 个人中心 */
.v_group_bd >li,
.invitation_user_list li >span,
.m_gzTopic .tx >a,.rd_message > .qs_reset
{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}


/*+-------------ui组件类-------------------------+*/
/* 公用文本框样式 */
.i_glotxtClass,
.i_elmsInputs input[type="password"],
.i_elmsInputs input[type="text"],
.i_elmsInputs select{ border:1px solid #c1cad4; padding:3px 4px; overflow:hidden;}
.i_elmsInputs input[type="password"],
.i_elmsInputs input[type="text"],
.i_elmsInputs select{ margin-right:10px;min-height:22px;}

/* 公用小箭头 */
.i_arrows{ display:inline-block; width:16px; height:6px; background-position:-33px -357px; overflow:hidden; position:absolute; top:-6px; right:0px;}

/* 话题样式公用 */
.i_glotopic{ background-color:#d4f2ff; display:inline-block; padding:4px; max-width:110px; font-weight:normal; font-size:12px; margin-bottom:4px; line-height:13px !important; vertical-align:middle; cursor:pointer; margin-top:4px;}
.i_glotopic+.i_glotopic{ margin-left:10px;}
.i_glotopic:hover{ background-color:#c1e8f9;}
.i_glotopic.pd{ padding-right:20px;}
.i_glotopic >em.handle{ display:inline-block; width:13px; text-align:center; font-weight:bold; background-color:#8aceec;right:4px; top:4px;}
.i_glotopic >em.handle:hover{ background-color:#6dc4ea;}
.editor_input{ padding:5px 0; line-height:30px;}
.editor_input input.i_glotxtClass{ width:250px; height:30px; line-height:30px !important;}
.editor_input a{ vertical-align:middle;}
.editor_input.rightSide{text-align:right;padding-bottom:15px;}
.editor_input.rightSide .i_glotxtClass{width:172px;}

/* 报错提示框 */
.i_global_err{ background-position:-20px -634px;padding-left:40px;border:1px solid #ebebeb; overflow:hidden;}
.i_setErr{ height:40px; line-height:40px;}

/* 通知提示条数 */
.i_message_tooltip_b,.i_message_tooltip_s{display:inline-block;padding:0 5px; margin-left:6px; font-style:normal;}
.i_message_tooltip_b{height:20px; font-size:14px;  font-weight:bold;} /* big */
.i_message_tooltip_s{height:16px; line-height:15px !important; font-size:13px !important;} /* small */
.i_header .i_message .i_hide{display:none;}

/*+------------按钮类集合--------------------+*/
.i_green_but, /* 公用绿色按钮(四个字) */
.i_gray_but,/* 公用灰色按钮(四个字) */
.i_green_bt2,.i_green_bt2.cur,/* 两个字绿色 */
.i_gray_bt2, /* 两个字灰色 */
.i_upload_but
{display:inline-block;height:25px!important; line-height:25px !important; text-align:center!important; overflow:hidden;text-indent:0!important}

.i_green_but,
.i_gray_but{ width:79px!important; }

.i_green_bt2,
.i_gray_bt2{width:61px!important;}

.i_green_but{ background-position:-121px -109px;}
.i_green_but:hover{ background-position:-121px -136px;}
.i_gray_but{ background-position:-121px -163px;}
.i_gray_but:hover{ background-position:-121px -190px;}
.i_green_bt2{background-position:-139px 0;}
.i_green_bt2:hover{background-position:-139px -27px;}
.i_gray_bt2,.i_green_bt2.cur{ background-position:-139px -54px;}
.i_gray_bt2:hover,.i_green_bt2.cur:hover{ background-position:-139px -81px;}

.i_replay_but2{ display:inline-block;width:92px; height:36px; background-position:-108px -217px; text-align:center; line-height:36px !important;}/* 回复按钮 */
.i_replay_but2:hover{ background-position:-108px -255px;}
.i_upload_but{width:83px;} /* 上传按钮 */

/*+--------------------------------------+*/

/* 加关注公用 */
.i_add_attention{ display:inline-block; height:12px; width:12px; position:relative; background-position:-35px -561px; z-index:3; margin-left:4px; cursor:pointer;margin-bottom:-2px;}
.i_add_attention >em{ display:block; width:70px; height:35px; position:absolute; left:-30px; top:12px; background-position:0 -34px; line-height:40px; text-align:center; visibility:hidden; z-index:99;}
.i_add_attention:hover >em{ visibility:visible;}
.i_add_attention.cur{background-position:-36px -606px;}

/*+--------------------------------------+*/
/* 下拉列表站内公用 */
.i_data_list{ width:148px; left:0; top:55px; display:none;}
.i_data_list >em.i_arrows{right:50%;}
.i_data_list >p >a:hover{ background-position:87px -384px;}
.i_data_list >p.i_list_p{ position:relative; padding:0!important;}
.i_data_list .i_list_p >span.i_span{ position:absolute; width:148px;left:148px;top:-1px; display:none;}
.data_list_v2 >p.s{height:30px; line-height:30px;padding:0 5px;font-size:12px;}


/*+--------------------------------------+*/
/* 站内小卡片 */
.i_callingCard_tips{ width:270px;  padding:15px; position:absolute; top:50%; left:50%; background-color:#fff; z-index:99999; border:1px solid #999; box-shadow:0 2px 3px #dfdfdf;}
.i_callingCard_tips >.i_mod{ min-height:60px; padding-left:60px; font-size:12px;}
.i_callingCard_tips >.i_mod .i_userHead{ float:left; margin-left:-60px;}
.i_callingCard_tips .i_userHead >img,
.q_category_nav .q_imgs >img, /* 问题分类导航 */
.q_hotClass .q_Himgs img /* 问题 > 热门分类 */
{ width:50px; height:50px;}
.i_mod .i_userName{ font-size:14px !important; line-height:15px; font-weight:bold; padding-bottom:7px;}
a.v,em.v{ display:inline-block !important; width:15px !important; height:13px !important; background-position:-30px -2593px;margin:0 0 -2px 3px !important;}
.i_callingCard_tips >p.i_autograph{  width:267px; height:15px;line-height:15px; padding-bottom:10px;}
.i_callingCard_tips .i_info{ font-size:13px;}
.i_callingCard_tips .i_bside{ height:25px; line-height:25px; padding-top:10px;}
.i_callingCard_tips .i_bside .fx{ font-size:12px;}
.i_callingCard_tips .i_bside >p a+a{ margin-left:20px;}
.i_callingCard_topic{width:240px; height:auto;}

/* 评论 */
.i_commentElem{ padding:1px; margin-top:10px; z-index:1; width:576px;}
.i_commentElem .i_maingxr{ margin:0 15px;}
.i_commentElem .i_maingxr >li{ padding:15px 0 15px 42px; position:relative; background-color:#fff;}
.i_commentElem .i_userTime{ line-height:12px; padding-bottom:5px;}
.i_commentElem .i_userTime>span >a{ margin-left:10px;}
.i_commentElem .i_maingxr >li >.s_user{ position:absolute; left:0; top:15px; float:none; margin:0;}
.i_commentElem .i_maingxr >li .i_textArea{width:491px !important;}
.i_commentElem .i_maingxr >li .i_Mits{ margin-top:15px;}
.i_commentElem .i_subBg{ background-color:#e7eff3; padding:15px;}
.i_textArea{ overflow:hidden; border:1px solid #c1cad4;height:20px; width:530px; padding:5px; background-color:#fff;}
.i_txtHeight{ min-height:100px;height:auto;}
.i_commentElem .i_arrows{ background-position:-35px -744px; width:15px; height:8px; top:-8px; left:13%;}
.i_commentElem .i_subiv{ text-align:right; padding-top:10px;}
.i_commentElem .i_subiv >a{ vertical-align:middle;}
.i_commentElem .i_subiv a+a{ margin-left:20px;}

/* 回复框 */
.i_replymainElem{ margin-top:15px; margin-bottom:30px;}
.i_replymainElem .i_anonymity ,.a_question .i_anonymity{ height:15px; line-height:15px; margin-top:20px;}
.i_replymainElem .i_anonymity input,.a_question .i_anonymity >input[type="checkbox"]{margin-right:5px; vertical-align:bottom;}
.i_replymainElem .i_anUserhandle{ padding-left:42px;min-height:45px; line-height:15px;}
.i_replymainElem .i_anUserhandle >b{ display:block; padding-bottom:5px;}
.i_replymainElem .i_imgforUser,.q_xel >a.i_imgforUser{ float:left; margin-left:-42px;}
.i_replymainElem .i_reltxt{ display:block; width:400px; height:15px; line-height:15px;}
.i_replymainElem .i_draft{ font-size:12px; height:15px; line-height:15px; padding-top:10px; text-align:right;}
.i_replymainElem .i_draft >a{ margin-left:10px;}
.i_relayHandle{ background-color:#e7eff2; border:1px solid #c2cacd; padding:15px;}
.i_relayHandle .i_textArea{ width:608px; min-height:110px;}
.i_relayHandle .i_xAuto{ width:500px; top:15px; right:0; text-align:right;}
.i_relayHandle .i_acceMain{ min-height:51px; padding-top:15px; z-index:2;}
.i_relayHandle .i_verification{ border:1px solid #c1cad4; width:60px; height:25px; margin:0 10px; padding:5px 4px; line-height:25px; vertical-align:middle;}
.i_acceMain .i_uploadMain{ margin-top:12px;}
.i_acceMain .i_uploadMain >.i_upload{width:650px;}
.i_acceMain .i_uploadMain >.i_upload >li{ float:left;width:85px; border:1px solid #dcedfa; background-color:#f5faff; margin-right:15px; padding:10px 0 10px 110px; margin-top:15px;}
.i_acceMain .i_uploadMain >.i_upload >li >span{ width:90px;height:90px; display:block; float:left; margin-left:-100px;}
.i_acceMain .i_uploadMain >.i_upload >li a{ margin-right:15px;}
.i_upload li >.i_loadname{ height:42px; line-height:20px;margin-right:5px;overflow:hidden; font-size:12px;word-wrap:break-word;}
.i_upload li >.i_loadkb{ padding-bottom:10px; height:15px; line-height:15px; padding-top:5px;}
.i_upload >li >span{ background-image:url(img/upPictrue.gif);}
.i_upload >li >span.txt{ background-position:0 -360px;}
.i_upload >li >span.gif{ background-position:0 -88px;}
.i_upload >li >span.loading{ background:url(img/i_loading.gif) center center no-repeat !important;}
.i_upload >li >span.error{ background-position:0 0;}
.i_upload >li >span.3ds{background-position:0 -181px;}
.i_upload >li >span.zip{ background-position:0 -273px;}
.i_upload >li.error_border{ border:1px solid red !important;}
/*  >>编辑回复 */
#file_uploader_question_answer >#upload-ul{max-height:250px;overflow:hidden;overflow-y:auto;width:646px;}
#file_uploader_question_answer >#upload-ul li{margin-left:15px;margin-right:0!important;width:80px;}
#file_uploader_question_answer >#upload-ul li a{margin-right:10px;}
#file_uploader_question_answer ._ajax_upload-button{margin-left:15px;}

/* 翻页效果 */
.i_globalPage{ height:25px; line-height:25px !important; margin:15px 0 30px 0; text-align:right;}
.i_globalPage >a,.i_globalPage >strong{ display:inline-block; padding:0 10px; border:1px solid #ccc;}
.i_globalPage >a+a,.i_globalPage >strong{ margin-left:5px;}
.i_globalPage >strong{ margin-right:5px;}
.i_globalPage >a:hover,.i_globalPage >a.cur{ background-color:#e6eff4;}

/* 弹出框外壳样式 */
.i_gloBoxl{ position:fixed; width:450px;/*;top:130px;*/ top:120px;left:50%; margin-left:-225px;z-index:999;}
.i_gloBoxl .i_glotitle{ cursor:move;}
.i_gloBoxl .i_glotitle .qs_bold{ line-height:50px; font-weight:bold;}
.i_gloBoxl .i_glotitle .i_closed{ background-position:-33px -926px; width:20px; height:30px; display:block; right:5px; top:0; z-index:99; line-height:99em; overflow:hidden;}
.i_gloBoxl .i_glotitle .fx_title{display:inline-block;right:30px;top:20px;height:30px;}
.i_gloBoxl .i_glotitle .fx_title a{display:inline-block; margin-left:5px;height:30px;background-color:#f5faff;padding:0 15px 0 30px;line-height:30px;}
.i_gloBoxl .i_glotitle .fx_title a.cur{background-color:#fff;}
.fx_title a.weibo{background-position:-20px -2522px;}
.fx_title a.sixin{background-position:-20px -1674px;}
.fx_title a.maill{background-position:-20px -1709px;}
.i_gloBoxl .i_gloDiv{ background-color:#fff; border:1px solid #999; border-top:0 none; padding:15px;}
.i_mask{ background-color:#000; height:100%; width:100%; z-index:99; left:0; top:0;}
.i_alert{ width:350px; z-index:9999;}/*[----小提示框----]*/
.i_alert >.i_glotitle,.i_alert >.i_glotitle >h3{  height:40px !important; overflow:hidden;}
.i_alert >.i_glotitle .qs_bold{ line-height:40px;}
.i_alert >.i_gloDiv{ min-height:30px;}
.i_alert >.i_gloDiv em.i_em{ display:inline-block;background-position:-24px -2386px;line-height:25px; height:26px; width:26px; vertical-align:middle; margin-right:10px;}

/*弹出框收藏夹*/
.add_label{min-height:22px; margin-top:8px;}
.f_succeed{ border-bottom:1px dotted #C1CAD4; padding-bottom:13px;}
.f_succeed >.s,.f_succeed >.em{ display:block;padding-left:30px;}
.f_succeed >.em{ background-position:-28px -2557px;}
.f_topic{ padding-top:5px;}
.f_topic >a{ margin-left:0 !important; margin-right:10px;}
.upload_txt{ width:300px;}/* 上传图片txt按钮 */

/* 发起问题 */
.qs_txtare{ padding-top:15px !important;}
.qs_txtare textarea{min-height:100px;}
.qs_txtare .question_txt,.qs_txtare textarea,.qs_txtare .a_qsAskQuestion > .a_qsClassList{width:408px;}
.qs_txtare .question_txt,.upload_txt{height:30px;line-height:30px;text-indent:5px;}
.qs_txtare .a_qsAskQuestion > .a_qsClassList{background-color:#fff; margin:0;}
.qs_txtare  .a_qsSelect{background-color:#fff;}
.qs_txtare  .a_qsSelect > big,.qs_txtare  .a_qsSelect{ width:378px !important;}
.qs_txtare input[type="checkbox"]{ margin-top:-2px; margin-right:5px;}
.qs_txtare .qs_txtClass{ vertical-align:middle;}
.qs_txtare .privateLetter_user:hover .q_editor{visibility:visible;}

.tips_message { padding: 5px 10px; background: #e0e2e1; border-radius: 5px; color: #999; margin: 5px 0; }

/*links icon*/
.i_alink{display:inline-block;width:18px;height:18px; background-position:-30px -2422px;vertical-align:middle;}
.qs_reset{height: 30px; line-height: 30px; border-left: 1px solid #C9C9C9; border-right:1px solid #C9C9C9; padding:0px 30px; width:898px;margin:0 auto;  background-color:#FFFCCF; border-bottom: 1px solid #ddd;}

.markItUpPreviewFrame { border-radius:5px;margin-bottom:10px; }
.markItUpPreviewFrame h2.title { font-size:14px;font-weight:bold;color:#333;padding-bottom:5px;border-bottom:1px solid #ccc;margin-bottom:10px; }
