@charset "utf-8";
/*+--------------------------------------+
* 名称: global
* 功能: 重设浏览器默认样式
* anwsin官方:http://www.anwsion.com/
* developer:诸葛浮云
* Email:globalbreak@gmail.com 
* Copyright © 2012 - Anwsion社区, All Rights Reserved 
* Date:2012-08-01
*+--------------------------------------+*/

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html{
	color:#000;
	background-color:#fff;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* 统一内外边距 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	margin:0;padding:0;
}

/* 重设 HTML5 标签*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
    display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video {
    display: inline-block;*display: inline;*zoom: 1;
}

/* 重置元素内字体、大小、行高的统一性 */
body,button,input,select,textarea,option{
	font:13px/1.5 "微软雅黑",tahoma,arial;
}

input,select,textarea{
	font-size:100%;
}
textarea{ resize:none !important;}

/* 去掉各Table  cell 的边距并让其边重合 */
table{
	border-collapse:collapse;border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align*/
th{
	text-align:inherit;
}

/* 去除默认边框 */
fieldset,img{
	border:0;
}

img,input[type="radio"],input[type="checkbox"]{
	vertical-align:middle;
}

/* ie8 Quirks模式及ie低版本显示为行内表现 */
iframe{
	display:block;
}

/* for firefox */
abbr,acronym{
	border:0;font-variant:normal;
}

/* 统一 del 样式 */
del {
	text-decoration:line-through;
}

address,caption,cite,code,dfn,em,th,var {
	font-style:normal;
	font-weight:500;
}

ol,ul {
	list-style:none;
}

/* 去除虚线框 ie6 ie7不支持此属性 */
a:focus,input:focus,select:focus,textarea:focus,a,div:focus {
	outline:none;
}

/* 此元素左对齐 */
caption,th {
	text-align:left;
}

/* 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:500;
}

q:before,q:after {
	content:'';
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* 默认不显示下划线 */
ins,a {
	text-decoration:none;
}

 ie6 ie7下，对outline处理方案 
*html a,*+html a{
	star:expression(this.onFocus=this.blur());
}

/* 编辑器默认样式markdown生成 */
.tags_Mark{font-size:13px!important;line-height:22px; word-wrap:break-word !important;}
.tags_Mark h2,.preview_div h2,.tags_Mark h3,.preview_div h3{font-weight: bold;margin:10px 0;}
.tags_Mark h2,.preview_div h2{font-size: 1.5em;}
.tags_Mark h3,.preview_div h3{font-size: 1.17em;}
.tags_Mark em,.preview_div em{ font-style:italic;}
.tags_Mark ul,.tags_Mark ol,.preview_div ul,.preview_div ol{ padding:5px 0 5px 20px; margin-left:15px;}
.tags_Mark ul,.preview_div ul{ list-style:square outside none;}
.tags_Mark ol,.preview_div ol{ list-style:decimal outside none; padding-left:23px;}
.tags_Mark p,.preview_div p{ padding:5px;}
.tags_Mark ol p,.tags_Mark ul p,.preview_div ol p,.preview_div ol p{ padding:0 !important; display:inline !important;}
.tags_Mark code,.preview_div code{ padding:5px; margin:5px 0; background-color:#edead5; font-family:"Courier New", Courier, monospace; display:block; border-radius:4px;} 
.tags_Mark img{ max-width:570px !important;}
.tags_Mark blockquote{ padding:5px 15px; margin:5px 0; line-height:22px; background-color:#fbfbfb; border-left:5px solid #C1CAD4;}
