@charset "utf-8";
/*+--------------------------------------+
* 名称: headleCss3
* 功能: css3专用
* anwsin官方:http://www.anwsion.com/
* developer:诸葛浮云
* Email:globalbreak@gmail.com 
* Copyright © 2012 - Anwsion社区, All Rights Reserved 
* Date:2012-08-01
*+--------------------------------------+*/

/**/
input[type="password"] { font-weight: bolder; font-family: "微软雅黑", Tahoma; font-size: 22px; }
input, select, textarea,.loging li.cur { -moz-transition: border 0.3s linear 0s, box-shadow 0.3s linear 0s; }

.i_glotopic >em.handle,
.login_bd .login_alp,
.user_treaty_txt,
.i_noticetxt
{border-radius:10px;} /* 圆角 */

.login_mod .loging,
.login_entrance,
.i_green_but, /* 公用绿色按钮(四个字) */
.i_gray_but,/* 公用灰色按钮(四个字) */
.i_green_bt2,
.i_gray_bt2,
.q_mainElem .q_banner,  /* 问题 > 分类导航条 */
.i_replay_but2
{text-shadow:0 0 1px #fff;} /* 文字阴影 */

.login_mod .login_title{text-shadow:0 0 1px #0f3f62;} /* 文字阴影 */

.i_radiu5,
.login_mod .loging li,/* 登陆模块 */
.Ef_login .loging .login_txt, /* 微博登陆*/
.i_global_err, /* 报错提示 */
.reg_tips ,.reg_Err,/* 注册提示 */
.i_search,
.new_notice,
.main_latest, /* 首页动态提示条 */
.i_ajax_more,

.i_callingCard_tips, /* 小卡片 */
.i_callingCard_tips .i_userHead,

.q_mainElem > .q_reply, /* 问题 > 回复数 */
.i_glotopic,  /* 话题样式公用 */
.q_hotClass .q_Himgs img,
.s_enfoldment, /* 折叠 */
.i_glotxtClass, /* 公用文本框样式 */
.i_acceMain .i_uploadMain >.i_upload >li,   /* 上传图片 */
.i_acceMain .i_uploadMain >.i_upload >li >img,
.special_eifh,
.i_commentElem .i_maingxr > li > .s_user img,
.invitation_user_list li img
{border-radius:5px;overflow:hidden;}  /* 圆角 */

.login_entrance,.Ef_login{border-bottom-left-radius:10px;border-bottom-right-radius:10px;}  /* 底部圆角 */

.special_eifh{ border-bottom-left-radius:5px; box-shadow:1px -1px 0 #fff inset; }
.box_shadow{ border-top-left-radius:5px;box-shadow:1px 1px 0 #fff inset;}
.i_noticetxt{ box-shadow:0 0 1px #fff inset;}

/*搜索*/
.i_search .i_wd{box-shadow:0 0 3px #bababa inset; }

.login_mod .login_sub,.i_replay_but2{box-shadow:0 0 1px #fff;}  /* 盒子阴影 */

.i_cur,
.i_elmsInputs input[type="password"]:focus,
.i_elmsInputs input[type="text"]:focus,
.i_elmsInputs select:focus,
.loging li.cur{box-shadow:0 0 2px #91d2ff !important;}  /* 盒子阴影 */

.i_message_tooltip_b, /*通知提示条数*/
.i_message_tooltip_s
{border-radius:20px;}


.i_radiu3,
.i_header a.user_head img,
.S_module .s_user img,
.s_txt .s_endorse,
.add_user_f img,
.interest_user .topic,
.q_category_nav .q_imgs >img, /* 问题分类导航 */

.q_mainElem .q_user >img ,/* 问题 > 问题列表用户头像 */
.i_tips_black, /* 黑底提示条 */

.i_imgforUser >img ,/* 回复 */
.i_relayHandle .i_verification,
.i_globalPage >a, /* 翻页 */
.u_rankingList > .u_rk, /* 用户排行榜 */
.i_elmsInputs input[type="password"],
.i_elmsInputs input[type="text"],
.i_elmsInputs select,
.i_globalPage >strong
{border-radius:3px;} 

 /* 头部下拉框（设置） */
.i_header .lx_set,

 /* 问题下拉列表站内公用 */
.i_data_list,
.i_data_list .i_list_p >span.i_span
{border-radius:5px; box-shadow:0 0 2px #ccc;}
.i_commentElem,.i_textArea,.i_relayHandle,
.p_talks >li >.p_bg, /* 私信对话 */
.q_classify .q_class_ul >li
{border-radius:5px; } /* 评论 */

.i_topRadius5,
.i_header .lx_set a.set:hover,
.i_data_list p:first-of-type,
.v_group_title{ border-top-left-radius:5px; border-top-right-radius:5px;}
.i_bottomRadius5,
.i_header .lx_set a.exit:hover,
.i_data_list p:last-child,
.a_question .i_acceMain
{ border-bottom-left-radius:5px; border-bottom-right-radius:5px;}

.q_category_nav .q_nav_tx{border-radius:10px; }
.q_qusAll .q_navC a{border-top-left-radius:6px;border-top-right-radius:6px;}

.i_textArea,
.i_glotxtClass,
.i_relayHandle .i_textArea,
.i_relayHandle .i_verification,
.i_elmsInputs input[type="password"],
.i_elmsInputs input[type="text"],
.i_elmsInputs select
{box-shadow:0 2px 1px #f3f3f3 inset;} /* 公用文本框样式 */

.a_question .a_qstxt{border-bottom-left-radius:0; border-bottom-right-radius:0;}
.i_gloBoxl{border-top-left-radius:8px;border-top-right-radius:8px;}
.i_alert >.i_gloDiv{border-bottom-left-radius:8px;border-bottom-right-radius:8px;}
.a_qsAsk .a_qsAskQuestion .question_title_txt{border-top-right-radius:0; border-bottom-right-radius:0;}
.a_qsAsk .a_qsAskQuestion .a_qsSelect{border-top-left-radius:0; border-bottom-left-radius:0;}

