/*
**	登陆页面
*/
#wrapper{position: relative;padding-top:214px;;z-index: 999;}
.aw-bg-wrap{position:absolute;top:0;left:0;z-index:-1;width:100%;height:824px;overflow:hidden;background-position: center 0;background-repeat: no-repeat;}
.aw-bg-wrap li{position:absolute;left:0;top:0;width:100%;background-position: center 0;background-repeat: no-repeat;}
.aw-login-wrap{position:relative;z-index:1;width: 700px;height: auto;margin:0 auto;}
.aw-login-wrap > h1{max-width: 330px;margin:0;padding:40px 0 0 40px;}
.aw-login-wrap > h1 p{line-height:24px;padding-top:15px;font-size: 16px;font-weight: bold;color:#cff1ff;}
.aw-login-wrap .aw-login-state{max-width: 330px;margin:75px 0 0 40px;font-size: 14px;font-weight: bold;color:#fff;}
.aw-login-wrap .aw-login-state span{color:#FFA01F;}
.aw-login-box-bg{position:absolute;left:0;top:0;z-index:-1;width: 700px;height: 376px;background: #000000;border-radius: 10px;opacity: 0.2;filter:alpha(opacity=20);}
.aw-mod-head{width:244px;height: 76px;line-height: 76px;padding:0 40px;background:url(img/login-nav.png) no-repeat;font-size: 16px;font-weight: bold;color: #fff;}
.aw-mod-head .b-new-user{width:144px;margin-top:15px;padding-left:20px;font-size: 14px;font-weight: bold;color:#fff;text-align: center;text-decoration: none;}
.aw-mod-head .i-login-user-no-hover{*position: relative;*top:-5px;*right:5px;}
.aw-mod-body{width:242px;padding:40px;background:#F5F5F5;border-left:1px solid #C9C9C9;border-right: 1px solid #C9C9C9;}
.aw-mod-body ul li{margin-bottom:20px;}
.aw-mod-body ul li.last{line-height:38px;margin-bottom:0;}
.aw-mod-body ul li.last a, .aw-mod-body ul li.last label{font-size: 13px;color:#999;}
.aw-mod-body ul li.last a:hover{color:#085D9B;}
.aw-mod-body ul li.last label{margin-right: 5px;}
.aw-mod-body ul li.last .btn{font-size:14px;color:#406A24;}
.aw-mod-body ul li.error p{height:40px;line-height:40px;padding-left:12px;background: #FFF480;border: 1px solid #EBEBEB;border-radius: 5px;color:#666;}
.aw-mod-body ul li.error p .i-no{position:relative;top:4px;*top:0;margin-right: 20px;}
.aw-mod-body label{display: inline-block;}
.aw-mod-body #aw-login-user-name, .aw-mod-body #aw-login-user-password{width: 186px;height:30px;line-height:30px;margin:0;border:1px solid #EBEBEB;border-left:none;border-radius: 0 5px 5px 0;}
.aw-mod-body .aw-label-icon{display:inline-block;width:43px;height:40px;line-height:40px;background: #C2E5F3;text-align: center;border-radius: 5px 0 0 5px;}
.aw-mod-body .aw-label-icon .i-login-user-no-hover{margin-top:12px;}
.aw-mod-body .aw-label-icon .i-key{margin-top:16px;}
.aw-mod-footer{width:262px;height: 71px;line-height: 71px;*line-height:60px;padding:0 20px 0 40px;background:#E6E6E6;border:1px solid #C9C9C9;border-top:none;border-radius: 0 0 10px 10px;}
.aw-mod-footer .i-login-qq, .aw-mod-footer .i-login-sina, .aw-mod-footer .i-login-weibo{position:relative;top:9px;*top:5px;margin-right:5px;}
.aw-mod-footer .i-triangle-right{position: relative;left:5px;top:3px;*top:-2px;}
.aw-mod-footer .pull-right{*margin-top:3px;}

