/* 用户设置页面 */
.aw-user-setting{padding:10px 0;}
.aw-user-setting h4{height:40px;line-height:40px;background: #F7F7F7;margin:0;padding-left: 20px;font-size:13px !important;font-weight: bold;}
.aw-user-setting .form-horizontal .control-group{position: relative;}
.aw-user-setting .form-horizontal p{margin: 0;}
.aw-user-setting .form-horizontal p span{margin-left: 10px;}
.aw-user-setting .upload-attach{position:absolute; left:180px; top:4px;width: 75px; font-size:100px; opacity:0; filter:alpha(opacity=0);cursor:pointer;}
.aw-user-setting .aw-user-setting-save{margin:20px 0 0 0;}
/* 基本资料 */
.aw-user-setting-base{position: relative;}
.aw-user-setting-base .aw-user-setting-upload-img-box{position: absolute;right: 0;top: 30px;}
.aw-user-setting-base .aw-user-setting-upload-img-box dt{width: 100px;height: 100px;}
.aw-user-setting-base .aw-user-setting-upload-img-box dd{width: 250px;}
.aw-user-setting-base .aw-user-setting-upload-img-box h5{margin:0;}
.aw-user-setting-base .aw-user-setting-upload-img-box p{margin-bottom:20px;}
.aw-user-setting-base .aw-user-setting-upload-img-box span {margin-left:10px;}
.aw-user-setting-base .aw-user-setting-upload-img-box span .aw-loading{position:relative;top:4px;margin-right: 5px;}
.aw-user-setting-base-contact li{float: left;margin:0 15px 20px 0;min-height: 32px;}
.aw-user-setting-base-contact li input{display:inline;width: 280px;margin:0;}
.aw-user-setting-base-contact label{display:inline-block;width: 70px;line-height: 30px;text-align: right;}
/* 账号绑定 */
.aw-user-setting-bind .aw-icon{*margin-right: 5px;}
.aw-user-setting-bind .i-qq, .aw-user-setting-bind .i-share-sina, .aw-user-setting-bind .i-share-weibo, .aw-user-setting-bind .i-weixin{position: relative;top: 3px;}
.aw-user-setting-bind .aw-mod-body{padding:20px 30px;overflow:hidden;border-bottom:1px dotted #C1CAD4;}
.aw-user-setting-bind ul li{min-height: 36px;padding:20px 0;border-top:1px dotted #C1CAD4;color:#666;}
.aw-user-setting-bind ul li:first-child{border-top: none;}
.aw-user-setting-bind .form-group{line-height: 36px;}
.aw-user-setting-bind .form-group .col-lg-4, .aw-user-setting-bind .form-group .col-lg-8{padding-left: 0px;}
.aw-user-setting-bind i{font-size: 20px;}
.aw-user-setting-bind .icon-sina{color: #da2420;}
.aw-user-setting-bind .icon-weibo{color: #44b8e8;}
.aw-user-setting-bind .icon-qq{color: #5caada;}
.aw-user-setting-bind .icon-wechat{color: #32b800;}
/* 我的积分 */
.aw-user-setting-points table{margin:20px 0;font-size:13px;color: #666;}
.aw-user-setting-points table .info{background: #F5FAFE;}
.aw-user-setting-points table .info th{border-top: none;}
.aw-user-setting-points .table th, .aw-user-setting-points .table td{border-top: 1px solid #DCEDFA;}
/* 隐私 */
.aw-user-setting-layout{padding:30px 60px;border-bottom:1px dotted #DFDFDF;}
.aw-user-setting-layout label{display:inline-block;margin-right: 5px;}
.aw-user-setting-layout p{width:520px;}
.aw-user-setting-layout p > span{display: inline-block;width: 250px;line-height: 20px;padding-bottom: 15px;}
.aw-user-setting-layout .work{width: 110px;}
/* 基本设置 */
.aw-user-setting-base dl{height:auto;line-height: 25px;overflow:hidden;margin:0;padding-bottom: 15px;}
.aw-user-setting-base dl dt, .aw-user-setting-base dl dd{float: left;line-height: 30px;}
.aw-user-setting-base dl dt{width: 80px;text-align: right;font-weight: normal;}
.aw-user-setting-base .aw-user-setting-base-introduce{*margin-left:5px;}
.aw-user-setting-base dl dd select{width:100px;margin:0;}
.aw-user-setting-base-time{width: 380px !important;}
.aw-user-setting-reset-table table th, .aw-user-setting-reset-table table td{text-align: center;font-size: 13px;vertical-align: middle;}
.aw-user-setting-reset-table table td{padding:10px;}
.aw-user-setting-reset-table input{width:80%;margin:0 auto;}
.aw-user-setting-reset-table select{width: 70px;margin:0;}