/* 用户个人信息 */
.aw-user-detail-box{border:1px solid #E3E3E3;border-radius: 5px;}
.aw-user-detail-box .aw-mod-head{position: relative;padding:20px 20px 20px 135px;}
.aw-user-detail-box .aw-mod-head img{position: absolute;left:20px;top:20px;border-radius: 5px;}
.aw-user-detail-box .aw-mod-head .aw-user-flag span{margin-right: 10px;}
.aw-user-detail-box .aw-mod-body{border-top: 1px dotted #e3e3e3;}
.aw-user-detail-box .aw-mod-body .aw-user-follow-box{margin:0 !important;}
.aw-user-detail-box .aw-mod-body .aw-user-follow-box a{margin-left:10px;}
.aw-user-detail-box .aw-mod-body .aw-user-center-follow-meta{height:45px;line-height:45px;padding:0 20px;font-size: 13px;}
.aw-user-detail-box .aw-mod-body .aw-user-center-follow-meta span{margin-right:10px;}
.aw-user-detail-box .aw-mod-body .aw-user-center-follow-meta .aw-icon{margin-right:5px;}
.aw-user-detail-box .aw-mod-body .aw-user-center-follow-meta .aw-text-color-green, .aw-user-center-follow-meta .aw-text-color-oragne{font-size:13px;font-weight: bold;}
.aw-user-detail-box .aw-mod-body .aw-user-center-good-at{padding:20px;border-top: 1px dotted #E3E3E3;}
.aw-user-detail-box .aw-mod-footer{height:45px;line-height:45px;border-top: 1px solid #E3E3E3;}
.aw-user-detail-box .aw-mod-footer ul li{float: left;}
.aw-user-detail-box .aw-mod-footer ul li:first-child:hover a{border-radius: 0 0 0 5px;}
.aw-user-detail-box .aw-mod-footer a{display:inline-block;padding:0 20px;color: #999;}
.aw-user-detail-box .aw-mod-footer ul li.active a, .aw-user-detail-box .aw-mod-footer ul li:hover a{background-color: #EEEEEE;color: #666;}

/* 用户页面公共模块 */
.aw-user-center-tab .tab-pane > .aw-mod{margin-top:20px;border:1px solid #E3E3E3;border-radius: 5px;}
.aw-user-center-tab .tab-pane > .aw-mod > .aw-mod-head{padding:10px 20px;border-bottom: 1px dotted #E3E3E3;}
.aw-user-center-tab .tab-pane > .aw-mod > .aw-mod-head h2, .aw-user-center-tab .tab-pane > .aw-mod > .aw-mod-head h3{margin:0;font-size: 16px;}
.aw-user-center-tab .tab-pane > .aw-mod > .aw-mod-head h3 a{font-size: 12px;}
.aw-user-center-tab .tab-pane > .aw-mod > .aw-mod-body{padding:20px;}
.aw-user-center-tab .tab-pane > .aw-mod .aw-hide-txt{display:inline-block;vertical-align: top;}
.aw-user-center-tab .tab-pane > .aw-mod a.aw-hide-txt{max-width:160px;}
.aw-user-center-tab .tab-pane > .aw-mod .aw-load-more-content{margin:0 20px 20px;}
.aw-user-center-tab .aw-mod .aw-item{padding-top:10px;border-top:1px dotted #C1CAD4;}
.aw-user-center-tab .aw-mod .aw-item:first-child{padding-top:0;border-top: none;}
.aw-user-center-tab .aw-mod .aw-item .aw-mod-body{position:relative;padding:0 0 0 40px;}
.aw-user-center-tab .aw-mod .aw-item .aw-mod-body .aw-vote-bar{top:0;}
.aw-user-center-tab .aw-mod .aw-item .aw-mod-body p.aw-hide-txt{max-width: 610px;}
.aw-user-center-count{position:absolute;left:0;top:0;min-width: 25px;max-width:50px;padding:0 3px;background-color: #E9F5FF;text-align: center;}
.aw-user-center-count .fa-thumbs-up, .aw-user-center-count .fa-reply{color: #428BCA;}

/* tab切换 */
/* 概述 */
.aw-user-center-details-list li{float:left;width:205px;margin:0 10px 15px 0;}
.aw-user-center-follow-mini-mod{margin:10px 0 30px;}
.aw-user-center-follow-mini-mod:first-child{margin-left: 0px;}
.aw-user-center-follow-mini-mod p{margin-top: 5px;}
.aw-user-center-follow-mini-mod .aw-user-name img{width: 25px;height: 25px;}
/* 发问 */
.aw-user-center-ask .aw-mod-body{padding:0 !important;}
/* 关注 */
.aw-user-center-follow-mod h4{padding:25px 0 15px 0;font-size:18px;}
.aw-user-center-follow-mod ul li{position: relative;min-height:94px;margin:0 14px;}
.aw-user-center-follow-mod ul .col-sm-6{width:309px;margin-bottom:10px;padding:10px 0;border-bottom:1px dotted #C1CAD4;}
.aw-user-center-follow-mod .aw-item{position:relative;min-height:60px;padding-left:60px;}
.aw-user-center-follow-mod .aw-user-img, .aw-user-center-follow-mod .aw-topic-img{position: absolute;left: 0;top: 0;}
.aw-user-center-follow-mod  p{margin:0;}
.aw-user-center-follow-mod #contents_user_topics .aw-text-color-999{height: 40px;overflow: hidden;}
.aw-user-center-follow-mod .aw-load-more-content{margin:20px 0 0 !important;}
/* 动态 */
.tab-pane #contents_user_actions li, #overview ul li{padding-top:10px;border-top: 1px dotted #E3E3E3;}
.tab-pane #contents_user_actions li:first-child, #overview ul li:first-child{padding-top:0;border-top: none;}
/* 详细资料 */
.aw-user-center-details{padding:0 60px;}
.aw-user-center-details dl{height: auto;overflow: hidden;line-height: 22px;margin:0;padding:15px 0 15px 10px;border-top:1px dotted #C1CAD4;}
.aw-user-center-details dl:first-child{border-top: none;}
.aw-user-center-details dl dt, .aw-user-center-details dl dd{float:left;}
.aw-user-center-details dl dt{margin-right:20px;font-weight: normal;color: #333;}
.aw-user-center-details dl dd{color:#666;}
.aw-user-center-details dl dd a{margin-right: 10px;}
.aw-user-center-details .aw-user-center-details-good-topic > div{min-height:20px;margin-bottom:15px;}
.aw-user-center-details .aw-user-center-follow-meta{margin:0;}
.aw-user-center-details .icon-sina{color: #DA2420;}
.aw-user-center-details .icon-weibo{color: #44B8E8;}

/* 侧边栏 */
.aw-side-bar-mod.profile-side-following .row{margin-bottom: 20px;}
.aw-side-bar-mod.profile-side-following p{margin-top: 5px;}
.aw-side-bar-mod.profile-side-following .aw-user-name img{width: 25px;height: 25px;}
.aw-side-bar-mod.profile-side-following .aw-topic-name{margin:0 4px 4px 0;}
