/* 用户页面 */
.aw-user-detail-box .aw-mod-body{position: relative;margin-bottom:30px;padding:0 0 20px 115px;}
.aw-user-detail-box .aw-mod-body img{position: absolute;left:0;top:0;border-radius: 5px;}
.aw-user-detail-box .aw-mod-body .aw-user-title{margin:0;}
.aw-user-detail-box .aw-mod-body .aw-user-title b{font-size:20px;}
.aw-user-detail-box .aw-mod-body .aw-user-flag{min-height: 25px;padding:5px 0 10px;border-bottom:1px dotted #C1CAD4;}
.aw-user-detail-box .aw-mod-body .aw-user-flag span{margin-right:10px;}
.aw-user-detail-box .aw-mod-body .aw-user-flag .i-user-locate{position: relative;top:5px;}
.aw-user-detail-box .aw-mod-body .aw-user-flag .i-user-post{position: relative;top:3px;}
.aw-user-detail-box .aw-mod-body .aw-user-flag .i-user-bind{position: relative;top:4px;}
.aw-user-detail-box .aw-mod-body .aw-user-flag .i-share-sina, .aw-user-detail-box .aw-mod-body .aw-user-flag .i-share-weibo, .aw-user-detail-box .aw-mod-body .aw-user-flag .i-qq{position: relative;top:2px;}
.aw-user-detail-box .aw-mod-body .aw-user-follow-box{margin:0 !important;}
.aw-user-detail-box .aw-mod-body .aw-user-follow-box a{margin-left:10px;}

/* 用户页面公共模块 */
.aw-user-center-tab h3{min-height:20px;line-height:20px;margin-bottom:0px;padding:25px 0 15px;font-size:20px;}
.aw-user-center-mod .aw-item{padding-top:10px;border-bottom:1px dotted #C1CAD4;}
.aw-user-center-mod .aw-item .aw-mod-body{position:relative;padding:0 0 10px 35px;}
.aw-user-center-mod .aw-item .aw-mod-body .aw-vote-bar{top:0;}
.aw-user-center-count{position:absolute;left:0;top:0;min-width: 17px;max-width:50px;padding:0 3px;background-color: #E9F5FF;text-align: center;}
.aw-user-center-count .icon-thumbs-up-alt, .aw-user-center-count .icon-reply{color: #428BCA;}

/* tab切换 */
/* 概述 */
.aw-user-center-details-list li{float:left;width:209px;margin:0 10px 15px 0;}
.aw-user-center-details-mini{height: auto;overflow: hidden;}
.aw-user-center-details h4, .aw-user-center-details-mini h4{padding:25px 0 15px 0;font-size:20px !important;font-weight: normal;}
.aw-reset-sp{margin-top: 20px;}
.aw-reset-sp h3{padding:25px 0 10px;border-bottom:1px solid #ccc;}
.aw-reset-sp h3 .aw-more-content{font-size:13px;font-weight: normal;}
.aw-user-center-mini-mod .aw-item .aw-mod-body{min-height:30px;margin-top:-5px;padding:0 0 10px 60px;}
.aw-user-center-mini-mod  .aw-user-center-count{padding:3px 4px;}
.aw-user-center-dynamic-mini-mod p{line-height: 18px;padding-bottom: 10px;}
.aw-user-center-dynamic-mini-mod .aw-mod-body{padding-top: 10px;}
.aw-user-center-dynamic-mini-mod .aw-mod-body a{max-width: 160px;}
.aw-user-center-dynamic-mini-mod .aw-mod-body .aw-hide-txt{display:inline-block;vertical-align: top;}
.aw-user-center-follow-mini-mod{margin:10px 0 30px;}
.aw-user-center-follow-mini-mod:first-child{margin-left: 0px;}
.aw-user-center-follow-mini-mod p{margin-top: 5px;}
.aw-user-center-follow-mini-mod .aw-user-name img{width: 25px;height: 25px;}
.aw-reset-sp .aw-user-list .aw-topic-name{display:inline-block;margin:4px 2px 4px 0;}
/* 发问 */
.aw-user-center-ask .aw-mod-body{padding:0 !important;}
/* 最新动态 */
.aw-user-center-dynamic ul li{line-height: 15px;padding: 15px 0;border-bottom:1px dotted #C1CAD4;}
.aw-user-center-dynamic ul li p{margin:0;}
/* 关注 */
.aw-user-center-follow-mod h4{padding:25px 0 15px 0;font-size:18px;}
.aw-user-center-follow-mod ul li{position: relative;min-height:94px;margin:0 14px;}
.aw-user-center-follow-mod ul .col-sm-6{width:420px;margin-bottom:10px;padding:10px 0;border-bottom:1px dotted #C1CAD4;}
.aw-user-center-follow-mod .aw-item{position:relative;min-height:60px;padding-left:60px;}
.aw-user-center-follow-mod .aw-user-img, .aw-user-center-follow-mod .aw-topic-img{position: absolute;left: 0;top: 0;}
.aw-user-center-follow-mod  p{margin:0;}
.aw-user-center-follow-meta span{margin-right:10px;}
.aw-user-center-follow-meta .aw-icon{margin-right:5px;}
.aw-user-center-follow-meta .aw-text-color-green, .aw-user-center-follow-meta .aw-text-color-oragne{font-size:13px;font-weight: bold;}
.aw-user-center-follow-mod #contents_user_topics .aw-text-color-999{height: 40px;overflow: hidden;}
/* 详细资料 */
.aw-user-center-details .i-share-sina, .aw-user-center-details .i-share-weibo, .aw-user-center-details .i-qq{position: relative;top:2px;margin-right: 5px;}
.aw-user-center-details{padding:0 60px;}
.aw-user-center-details dl{height: auto;overflow: hidden;line-height: 22px;margin:0;padding:15px 0 15px 10px;border-bottom:1px dotted #C1CAD4;}
.aw-user-center-details dl dt, .aw-user-center-details dl dd{float:left;}
.aw-user-center-details dl dt{margin-right:20px;font-weight: normal;color: #333;}
.aw-user-center-details dl dd{color:#666;}
.aw-user-center-details dl dd a{margin-right: 10px;}
.aw-user-center-details .i-share-sina{margin-right:5px;}
.aw-user-center-details .aw-user-center-details-good-topic > div{min-height:20px;margin-bottom:15px;}
