<?php TPL::output('mobile/header.tpl.htm'); ?>

<script type="text/javascript">	
	$(document).ready(function () {
		mobile_more_load(G_BASE_URL + '/mobile/ajax/inbox_list/', $('#bp_more'), $('#bp_contents'), 1);
	});
</script>

<div class="message">
	<div class="newm">
	  <span class="pic"></span>
	  <?php _e('私信'); ?>
      <a href="mobile/new_pm/"><div class="read"><?php _e('新私信'); ?></div></a>
    </div>
    
    <div class="mcon">
    	<ul id="bp_contents"></ul>
    	<div class="more" id="bp_more"><?php _e('更多'); ?>...</div>
    </div> 
</div>
</div>

<?php TPL::output('mobile/footer.tpl.htm'); ?>