<?php TPL::output('mobile/header.tpl.htm'); ?>

<script type="text/javascript">	
	$(document).ready(function () {
		$('#contents_nav li').click(function () {
			$('#contents_nav li').removeClass('click');
			
			$('div.tpage').hide();
			$('div.tpage._contents' + $(this).attr('class')).show();
			
			if ($('div.tpage._contents' + $(this).attr('class')).find('ul').html() == '')
			{
				switch ($(this).attr('class'))
				{
					case '_focus':
						mobile_more_load(G_BASE_URL + '/home/ajax/index_actions/type-all__uid-' +  G_USER_ID + '__template-mobile__filter-focus', $('#bp_focus_more'), $('#c_focus_list'));
					break;
				}
			}
			
			$(this).addClass('click');
		});
		
		mobile_more_load(G_BASE_URL + '/home/ajax/index_actions/type-all__template-mobile', $('#bp_all_more'), $('#c_all_list'));
	});
</script>

<div class="home">
    <div class="h_title">
    	<div class="pic"></div>
    	<?php _e('最新动态'); ?>
    </div>

    <div class="con">
    	<div class="tpage _contents_actions" style="display:block;">
    		<ul id="c_all_list"></ul>
            <div class="more" id="bp_all_more"><?php _e('更多'); ?>...</div>
         </div>
         
         <div class="tpage _contents_focus">
	         <ul id="c_focus_list"></ul>
             <div class="more" id="bp_focus_more"><?php _e('更多'); ?>...</div>
         </div>
    </div>
</div>

<?php TPL::output('mobile/footer.tpl.htm'); ?>