<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
<base href="<?php echo get_setting('base_url');?>/<?php if (get_setting('url_rewrite_enable') != 'Y') { ?><?php echo G_INDEX_SCRIPT; ?><?php } ?>" />
<?php if (is_array($this->_import_css_files)) { ?>
<?php foreach ($this->_import_css_files AS $import_css) { ?>
<link href="<?php echo $import_css; ?>?v=<?php echo G_VERSION_BUILD; ?>" rel="stylesheet" type="text/css" />
<?php } ?>
<?php } ?>
<?php if (is_array($this->_import_js_files)) { ?>
<?php foreach ($this->_import_js_files AS $import_js) { ?>
<script src="<?php echo $import_js; ?>?v=<?php echo G_VERSION_BUILD; ?>" type="text/javascript"></script>
<?php } ?>
<?php } ?>
<title><?php echo $this->page_title; ?></title>
<script type="text/javascript">
	var G_INDEX_SCRIPT = '<?php if (get_setting('url_rewrite_enable') != 'Y') { ?><?php echo G_INDEX_SCRIPT; ?><?php } ?>';
	var G_SITE_NAME = '<?php echo addcslashes(get_setting('site_name'), "'"); ?>';
	var G_BASE_URL = '<?php echo get_setting('base_url'); ?><?php if (get_setting('url_rewrite_enable') != 'Y') { ?>/<?php echo rtrim(G_INDEX_SCRIPT, '/'); ?><?php } ?>';
	var G_STATIC_URL = '<?php echo G_STATIC_URL; ?>';
	var G_UPLOAD_URL = '<?php echo get_setting('upload_url'); ?>';
	var G_USER_ID = <?php echo $this->user_id; ?>;
	var G_USER_NAME = '<?php echo addcslashes($this->user_info['user_name'], "'"); ?>';
</script>
</head>

<body>
<div class="login">
	<div class="halft">
		<div class="logo"></div>
		<div style=" width:80%;"><?php echo get_setting('description'); ?></div>
	</div>
	
	<div class="halfb">
		<div class="up" style=" "></div>
		
		<div class="wrong" id="tip_error_message" style="display:none"></div>
		
		<form id="login_form" method="post" onsubmit="return false" action="account/ajax/login_process/is_mobile-TRUE">
			<input type="hidden" name="return_url" value="<?php echo $this->return_url; ?>" />
			<input type="hidden" name="post_hash" value="<?php echo new_post_hash(); ?>" />
			
			<div style="  ">
				<div style="padding-right:20px;">
					<input  type="text" value="<?php _e('请输入邮箱或用户名'); ?>" onfocus="if (value=='<?php _e('请输入邮箱或用户名'); ?>'){value=''}" onblur="if (value ==''){value='<?php _e('请输入邮箱或用户名'); ?>'}" name="user_name" />
					<input  type="password" value="<?php _e('请输入密码'); ?>" onfocus="if (value=='<?php _e('请输入密码'); ?>'){value=''}" onblur="if (value ==''){value='<?php _e('请输入密码'); ?>'}" name="password" onkeydown="if (event.keyCode == 13) { $('#login_submit').click(); }" />
				</div>
				
				<a href="#" id="login_submit" onclick="mobile_ajax_post($('#login_form'), _mobile_tips_form_processer); return false;"><div class="sub"><?php _e('登录'); ?></div></a>
				<?php if (get_setting('guest_explorer') == 'Y') { ?>
				<a href="mobile/explore/"><div class="name"><?php _e('游客浏览'); ?></div></a>
				<?php } ?>
			</div>
		</form>
	</div>
</div>

<?php TPL::output('mobile/footer.tpl.htm'); ?>