<?php TPL::output('mobile/header.tpl.htm'); ?>

<div class="message">
	<div class="newm">
		<span class="notice"></span>
		<?php _e('通知'); ?>
        <?php if ($this->user_info['notification_unread'] > 0) { ?><a href="javascript:void(0);" onclick="mobile_read_notification('all')"><div class="read"><?php _e('全部已读'); ?></div></a><?php } ?>
	</div>
	<div class="noticeget">
		<ul id="bp_contents">
		</ul>
		<div class="more" id="bp_more"><?php _e('更多'); ?>...</div>
	</div>
</div>
<script type="text/javascript">	
	$(document).ready(function () {
		mobile_more_load(G_BASE_URL + '/mobile/ajax/notifications_list/flag-2', $('#bp_more'), $('#bp_contents'), 0);
	});
</script>

<?php TPL::output('mobile/footer.tpl.htm'); ?>