<?php TPL::output('mobile/header.tpl.htm'); ?>

<div class="launch">
	<div class="newlaunch">
    	<span class="pic"></span>
    	<?php _e('新私信'); ?>
    </div>
    
    <div class="con">
    	<form action="inbox/ajax/send/" method="post" id="pm_form" onsubmit="return false">
    	<input type="hidden" name="post_hash" value="<?php echo new_post_hash(); ?>" />
    	<input type="hidden" name="return_url" value="/mobile/inbox/" />
    	<div class="con_w">
    		<input type="text" name="recipient" placeholder="<?php _e('用户'); ?>" value="<?php if ($_GET['id']) { echo htmlspecialchars($_GET['id']); } ?>" />
    	</div>
        <div class="con_w">
        	<textarea type="text" name="message" placeholder="<?php _e('私信内容'); ?>"></textarea>
        </div>
        
        <div class="code">
        	<div class="wrong" id="tip_error_message" style="display:none; float:left;"></div>
        	<div class="sub" style="margin-bottom:14px;" onclick="mobile_ajax_post($('#pm_form'), _mobile_tips_form_processer);"><?php _e('发送'); ?></div>
        </div>
        </form>
    </div>
</div>

<?php TPL::output('mobile/footer.tpl.htm'); ?>