<?php TPL::output('mobile/header.tpl.htm'); ?>

<div class="launch">
	<div class="newlaunch">
    	<span class="newq"></span>
    	<?php _e('发起问题'); ?>
    </div>
    
    <div class="con">
    <form action="publish/ajax/publish_question/" method="post" id="question_form" onsubmit="return false;">
    	<input type="hidden" name="post_hash" value="<?php echo new_post_hash(); ?>" />
    	<input type="hidden" name="is_mobile" value="TRUE" />
    	<div  class="con_w">
    	  <input type="text" name="question_content" placeholder="<?php _e('问题标题'); ?>"<?php if (get_setting('question_title_limit') > 0 ) { ?> maxlength="<?php echo get_setting('question_title_limit'); ?>"<?php } ?> />
    	</div>
        <div class="con_w"><textarea name="question_detail" placeholder="<?php _e('问题补充 (可选)'); ?>"></textarea>
        </div>
        
        <?php if ($this->question_category_list) { ?>
         <div  class="con_w" style="margin-right:0px;">
        
        
       	<select name="category_id" class="select fr hide" id="category_id" >
             <option value="" selected="selected"><?php _e('请选择分类'); ?></option>
            <?php echo $this->question_category_list; ?>
        </select>
       
        </div>
        <?php } ?>
        
       <div  class="con_w">
        <input type="text" name="topics" placeholder="<?php _e('添加话题'); ?>" />
        </div>
         <span class="wrong" id="tip_error_message" style=" float:none; display:none"></span>
        <div class="code">
           <?php if ($this->human_valid) { ?> 
          <div class="default_aotoNum l"><img id="captcha" onclick="this.src = G_BASE_URL + '/account/captcha/rnd-' + Math.floor(Math.random() * 10000);" title="<?php _e('换一张'); ?>" src=""></div>
          <div > <input type="text" name="seccode_verify" class="default_autoCode" placeholder="<?php _e('验证码'); ?>">
       </div>
        <script type="text/javascript">$(document).ready(function () { $('#captcha').click(); });</script>
      
      
      <div style="clear:both"></div>
      <?php } ?>
        
        
        <div class="anonymous">
         <div class="sub" onclick="mobile_ajax_post($('#question_form'), _mobile_tips_form_processer); return false;"><?php _e('发布'); ?></div>
        <?php if (get_setting('anonymous_enable') == 'Y') { ?><input  class="check" type="checkbox" name="anonymous" value="1" /><span style="line-height:32px;"><?php _e('匿名'); ?></span><?php } ?>
        </div>
        
        <div style="clear:both"></div>
      </form>
      </div>
</div>

<?php TPL::output('mobile/footer.tpl.htm'); ?>