<?php TPL::output('global/header.tpl.htm'); ?>
<div class="aw-container-wrap aw-work-wrap">
	<?php TPL::output('block/content_nav_menu.tpl.htm'); ?>

	<div class="container">
		<div class="row">
			<div class="aw-content-wrap clearfix">
				<!-- 侧边栏 -->
				<div class="col-sm-12 col-md-3 aw-side-bar hidden-xs hidden-sm">
					<div class="aw-mod side-nav">
						<h2><i class="icon icon-order"></i>工单</h2>
						<ul>
							<li>
								<a class="active">我的待处理工单<span class="badge">23</span></a>
							</li>
							<li>
								<a>未分配工单</a>
							</li>
							<li>
								<a>所有待处理工单</a>
							</li>
							<li><a>所有工单</a></li>
							<li><a >全部人可见工单</a></li>
						</ul>
					</div>
					<div class="aw-mod side-nav">
						<h2><i class="icon icon-count"></i>统计分析</h2>
						<ul>
							<li>
								<a>综合数据表</a>
							</li>
							<li>
								<a>业绩报表</a>
							</li>
							<li>
								<a>热门话题</a>
							</li>
						</ul>
					</div>
					<div class="aw-mod side-nav">
						<h2><i class="icon icon-job"></i>管理中心</h2>
						<ul>
							<li>
								<a>渠道管理</a>
							</li>
							<li>
								<a>客服组管理</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- end 侧边栏 -->

				<div class="col-sm-12 col-md-9 aw-main-content">
					<h1 class="pull-lrft">
						<i class="icon icon-count"></i> 综合数据表
					</h1>
					<div class="row">
						<div class="col-sm-12">
							<div class="aw-mod title-mod count">
								<div class="mod-head">
									<h3>工单统计</h3>
								</div>
								<div class="mod-body" style="height:350px;"></div>
								<div class="mod-footer">
									
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="aw-mod title-mod source">
								<div class="mod-head">
									<h3>工单来源统计</h3>
								</div>
								<div class="mod-body" style="height:250px;"></div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="aw-mod title-mod reply-time">
								<div class="mod-head">
									<h3>首次回复时间</h3>
								</div>
								<div class="mod-body" style="height:250px;"></div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="aw-mod title-mod consuming">
								<div class="mod-head">
									<h3>结单耗时</h3>
								</div>
								<div class="mod-body" style="height:250px;"></div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="aw-mod title-mod agent">
								<div class="mod-head">
									<h3>代理月度报表（处理工单数）</h3>
								</div>
								<div class="mod-body" style="height:250px;"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="<?php echo G_STATIC_URL; ?>/admin/js/echarts.js"></script>
<script src="<?php echo G_STATIC_URL; ?>/admin/js/echarts-data.js"></script>
<script>
	$(function()
	{
		var echart1 = new Echarts('.count .mod-body', 'line', G_BASE_URL + '/admin/ajax/statistic/?tag=new_user,user_valid&start_date=10&end_date=20');

		// 工单来源统计
		var chart1 = echarts.init($('.source .mod-body')[0]);
		var option1 = {
		    tooltip : {
		        trigger: 'item',
		        formatter: "{a} <br/>{b} : {c} ({d}%)"
		    },
		    legend: {
		        orient : 'vertical',
		        x : 'left',
		        data:['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']
		    },
		    toolbox: {
		        show : false,
		        feature : {
		            mark : {show: true},
		            dataView : {show: true, readOnly: false},
		            restore : {show: true},
		            saveAsImage : {show: true}
		        }
		    },
		    calculable : true,
		    series : [
		        {
		            name:'访问来源',
		            type:'pie',
		            radius : ['50%', '70%'],
		            itemStyle : {
		                normal : {
		                    label : {
		                        show : false
		                    },
		                    labelLine : {
		                        show : false
		                    }
		                },
		                emphasis : {
		                    label : {
		                        show : true,
		                        position : 'center',
		                        textStyle : {
		                            fontSize : '30',
		                            fontWeight : 'bold'
		                        }
		                    }
		                }
		            },
		            data:[
		                {value:335, name:'直接访问'},
		                {value:310, name:'邮件营销'},
		                {value:234, name:'联盟广告'},
		                {value:135, name:'视频广告'},
		                {value:1548, name:'搜索引擎'}
		            ]
		        }
		    ]
		};
        chart1.setOption(option1);

        // 首次回复时间
        var chart2 = echarts.init($('.reply-time .mod-body')[0]);
        var option2 = {
		    title : {
		        text: 'test'
		    },
		    tooltip : {
		        trigger: 'axis'
		    },
		    legend: {
		        data:['蒸发量']
		    },
		    toolbox: {
		        show : false,
		        feature : {
		            mark : {show: true},
		            dataView : {show: true, readOnly: false},
		            magicType : {show: true, type: ['line', 'bar']},
		            restore : {show: true},
		            saveAsImage : {show: true}
		        }
		    },
		    calculable : true,
		    xAxis : [
		        {
		            type : 'category',
		            data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
		        }
		    ],
		    yAxis : [
		        {
		            type : 'value'
		        }
		    ],
		    series : [
		        {
		            name:'蒸发量',
		            type:'bar',
		            data:[2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3],
		            markPoint : {
		                data : [
		                    {type : 'max', name: '最大值'},
		                    {type : 'min', name: '最小值'}
		                ]
		            },
		            markLine : {
		                data : [
		                    {type : 'average', name: '平均值'}
		                ]
		            }
		        }
		    ]
		};
		chart2.setOption(option2);

		// 结单耗时
        var chart3 = echarts.init($('.consuming .mod-body')[0]);
        var option3 = {
		    title : {
		        text: 'test'
		    },
		    tooltip : {
		        trigger: 'axis'
		    },
		    legend: {
		        data:['蒸发量']
		    },
		    toolbox: {
		        show : false,
		        feature : {
		            mark : {show: true},
		            dataView : {show: true, readOnly: false},
		            magicType : {show: true, type: ['line', 'bar']},
		            restore : {show: true},
		            saveAsImage : {show: true}
		        }
		    },
		    calculable : true,
		    xAxis : [
		        {
		            type : 'category',
		            data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
		        }
		    ],
		    yAxis : [
		        {
		            type : 'value'
		        }
		    ],
		    series : [
		        {
		            name:'蒸发量',
		            type:'bar',
		            data:[2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3],
		            markPoint : {
		                data : [
		                    {type : 'max', name: '最大值'},
		                    {type : 'min', name: '最小值'}
		                ]
		            },
		            markLine : {
		                data : [
		                    {type : 'average', name: '平均值'}
		                ]
		            }
		        }
		    ]
		};
		chart3.setOption(option3);

		// 代理月度报表
        var chart4 = echarts.init($('.agent .mod-body')[0]);
        var option4 = {
		    title : {
		        text: 'test'
		    },
		    tooltip : {
		        trigger: 'axis'
		    },
		    legend: {
		        data:['蒸发量']
		    },
		    toolbox: {
		        show : false,
		        feature : {
		            mark : {show: true},
		            dataView : {show: true, readOnly: false},
		            magicType : {show: true, type: ['line', 'bar']},
		            restore : {show: true},
		            saveAsImage : {show: true}
		        }
		    },
		    calculable : true,
		    xAxis : [
		        {
		            type : 'category',
		            data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
		        }
		    ],
		    yAxis : [
		        {
		            type : 'value'
		        }
		    ],
		    series : [
		        {
		            name:'蒸发量',
		            type:'bar',
		            data:[2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3],
		            markPoint : {
		                data : [
		                    {type : 'max', name: '最大值'},
		                    {type : 'min', name: '最小值'}
		                ]
		            },
		            markLine : {
		                data : [
		                    {type : 'average', name: '平均值'}
		                ]
		            }
		        }
		    ]
		};
		chart4.setOption(option4);
                    
	});
</script>

<?php TPL::output('global/footer.tpl.htm'); ?>