<?php TPL::output('global/header.tpl.htm'); ?>

<div class="i_bd mainElem i_clear i_allbg">
<div class="i_left L_sidebar">
<form action="publish/ajax/<?php if ($this->question_info['question_id']) { ?>modify<?php } else { ?>publish<?php } ?>_question/" method="post" id="question_form" onsubmit="return false;">
<input type="hidden" name="post_hash" value="<?php echo new_post_hash(); ?>" />
<input type="hidden" name="attach_access_key" value="<?php echo $this->attach_access_key; ?>" />
<input type="hidden" name="question_id" id="question_id" value="<?php echo $this->question_info['question_id']; ?>" />
<input type="hidden" name="ask_user_id" value="<?php echo $_POST['ask_user_id']; ?>" />
<?php if ($this->question_category_list) { ?>
<select name="category_id" class="i_hide" id="category_id">
	<option value="0">- <?php _e('请选择分类'); ?> -</option>
	<?php echo $this->question_category_list; ?>
	</select>
<?php } ?>
<div class="b_restrain">
        <h4 class="i_gloCor latest_trendst_h3 q_content_h3"><b><?php _e('发起问题'); ?></b></h4>
		<div class="a_question">
			<div class="a_qsAsk">
				<h4><?php _e('问题标题'); ?>:</h4>
				<div class="a_qsAskQuestion i_prl">
				<div class="a_qsClassList i_pas" id="category_list">
					<span class="a_qsSelect  i_glotxtClass a_txtClass i_prl" id="category_container" onclick="$.Q.selectd({fg:this,listId:$('#i_data_list'),arrowsId:$('#a_arr'),selectId:$('#a_select'),category_id:$('#category_id')});"><big id="a_select" class="i_gltxtHide"><?php _e('选择分类'); ?></big><em title="<?php _e('选择分类'); ?>" class="i_pas i_small" id="a_arr"></em></span>
					<div class="i_data_list i_pas" id="i_data_list">
						<em class="i_arrows"></em>
						<p class="i_list_p"><a href="javascript:;">Loading...</a></p>
						
					</div>
				</div>
                <input type="text" name="question_content" id="question_contents" value="<?php echo $this->question_info['question_content']; ?>" onFocus="$.focus(this,'<?php _e('发起问题的标题'); ?>...');" class=" a_txtClass question_title_txt i_glotxtClass"/>
			</div>
		</div>
		
		<div class="a_qsAsk">
			<h4><?php _e('问题补充 (选填)'); ?>:</h4>
			<div class="a_qsReplenish">
				<textarea name="question_detail" id="question_detail" class="i_glotxtClass i_txtHeight a_qstxt advanced_editor" onFocus="$.focus(this,'');" rows="10"><?php echo $this->question_info['question_detail']; ?></textarea>
               
					<div class="i_acceMain">
						<div class="i_uploadMain" id="file_uploader_question">
							
						</div>
						<div class="markItUpPreviewFrame" id="markItUpPreviewFrame" style="border-radius:5px;margin-bottom:10px;">
							<h2 style="font-size:14px;font-weight:bold;color:#333;padding-bottom:5px;border-bottom:1px solid #ccc;margin-bottom:10px;">
								Preview:
							</h2>
							<div id="markItUpPreviewFrames" class="preview_div tags_Mark">
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<?php if (!$this->question_info['question_id']) { ?>
			<div class="a_qsAsk">
			<h4 style="padding-bottom:0;"><?php _e('添加话题'); ?>: <span class="q_topicMuster" id="i_PublicTopic">
				<?php if ($_GET['topic_title']) { ?>
				<a style="" data-value="sds" class="i_glotopic i_prl pd"><?php echo urldecode($_GET['topic_title']); ?><em title="<?php _e('删除'); ?>" onclick="$.topic.deleted_topic(this,event,true); return false;" class="handle i_pas">×</em><input type="hidden" value="<?php echo urldecode($_GET['topic_title']); ?>" name="topics[]"></a>
				<?php } ?>
				
				<?php if ($_POST['topics']) { ?>
				<?php foreach ($_POST['topics'] AS $key => $val) { ?>
				<a style="" data-value="sds" class="i_glotopic i_prl pd"><?php echo $val; ?><em title="<?php _e('删除'); ?>" onclick="$.topic.deleted_topic(this,event,true); return false;" class="handle i_pas">×</em><input type="hidden" value="<?php echo $val; ?>" name="topics[]" /></a>
				<?php } ?>
				<?php } ?>
			</span>
				<span class="q_editor i_small" onClick="$.topic.editor_topic({flg:this,make:true});" id="editor_topicBtns" style="margin-bottom:5px;"><?php _e('话题编辑'); ?></span></h4>
			</div>
			<?php } ?>
		
			<?php if ($this->human_valid) { ?>
			<div class="a_qsAsk">
				<h4><?php _e('验证码'); ?>:</h4>
				<p><input type="text" name="seccode_verify" value="<?php _e('验证码'); ?>" onFocus="$.focus(this,'<?php _e('验证码'); ?>');" class="i_glotxtClass a_txtClass a_wcode"/> <img id="captcha" onclick="this.src = G_BASE_URL + '/account/captcha/rnd-' + Math.floor(Math.random() * 10000);" title="<?php _e('换一张'); ?>" src=""></p>
			</div>
			<?php } ?>
		
			<div class="a_qsAsk i_tr" style=" padding-top:5px;">
				<?php if ($this->question_info['question_id'] AND ((!$this->question_info['lock'] AND ($this->question_info['published_uid'] == $this->user_id OR $this->user_info['permission']['edit_question'])) OR $this->user_info['permission']['is_administortar'] OR $this->user_info['permission']['is_moderator'])) { ?>
				<span class="i_anonymity"><input type="checkbox" name="do_delete" value="1" id="i_delete"><label for="i_delete"><?php _e('删除问题'); ?></label></span>
				<?php } ?>
				<?php if (!$this->question_info['question_id'] AND get_setting('anonymous_enable') == 'Y') { ?>
				<span class="i_anonymity"><input type="checkbox" name="anonymous" value="1" id="i_anonymity"><label for="i_anonymity"><?php _e('匿名'); ?></label></span>
				<?php } ?>
				<a class="i_replay_but2" href="javascript:;" id="startQs_submite"><?php _e('确认发起'); ?></a>
			</div>
</div>		
</form>
</div>
</div>

<div class="R_sidebar">
	<div class="i_rightMain"> 
		<div class="interest_user">
			<h3><?php _e('问题发起指南'); ?></h3>
			<div class="a_contxt">
			<p><b>● <?php _e('问题标题'); ?>:</b> <?php _e('请用准确的语言描述您发布的问题思想'); ?></p>
			<p><b>● <?php _e('问题补充'); ?>:</b> <?php _e('详细补充您的问题内容, 并提供一些相关的素材以供参与者更多的了解您所要问题的主题思想'); ?></p>
			<p><b>● <?php _e('选择话题'); ?>:</b> <?php _e('选择一个或者多个合适的话题, 让您发布的问题得到更多有相同兴趣的人参与. 所有人可以在您发布问题之后添加和编辑该问题所属的话题'); ?></p>
            <?php if (get_setting('integral_system_enabled') == 'Y') { ?>
			<p><b>● <?php _e('关于积分'); ?>：</b> <?php _e('发起一个问题会消耗您 %s 个积分', -get_setting('integral_system_config_new_question')); ?>, <?php _e('每多一个回复你将获得 %s 个积分的奖励', -get_setting('integral_system_config_new_answer')); ?>, <?php _e('为了您的利益, 在发起问题的时候希望能够更好的描述您的问题以及多使用站内搜索功能'); ?></p>
            <?php } ?>
			</div>
		</div>
	</div>
</div>
</div>

<script type="text/javascript">
	var ATTACH_ACCESS_KEY = '<?php echo $this->attach_access_key; ?>';
	
	$(document).ready(function(e) {
        $('#category_id').length == 0 ? ($('#category_list').hide(),$('#category_list').parent().addClass('category_list')) :'';
		$('#category_id').val() > 0 ? $('#category_container').click() : '';
		$('#question_contents').changeElement($.searchEventQs);
		
		$('#startQs_submite').click(function(){
			if($('#question_contents').val() == '<?php _e('发起问题的标题'); ?>...' || $.trim($('#question_contents').val()).length == 0){
				$.alert('<?php _e('请输入问题标题'); ?>...')
				return;
			}else if($.trim($('#question_contents').val()).length <=5){
				$.alert('<?php _e('问题标题不能少于 5 个字节'); ?>...')
				return;
			}else if($('#category_id').length > 0 && $('#category_id').val().length == 0){
				$.alert('<?php _e('请选择问题的分类'); ?>...')
				return;
			}else{
				ajax_post($('#question_form'));
			}
		})
    });

    $(function() {
        $('#question_detail').markItUp(myMarkdownSettings);
    });
</script>

<?php TPL::output('global/footer.tpl.htm'); ?>