<?php TPL::output('global/header.tpl.htm'); ?>

<div class="i_bd mainElem i_clear i_allbg">
	<div class="i_left L_sidebar">
		<div class="b_restrain">
			<h3 class="latest_trendst_h3  q_content_h3">
				<p class="i_right p_sx"><a href="account/setting/privacy/#notifications" class="p_set i_small"><?php _e('通知设置'); ?></a><a href="javascript:;" onclick="read_notification(0, true, true);" class="i_gray_but"><?php _e('全部已读'); ?></a></p>
				<?php _e('通知'); ?>
			</h3>
			
			<ul class="new_ls" id="c_all_list">
	          
	        </ul>
	        
	        <p id="bp_all_more"><a href="javascript:;" class="i_ajax_more"><?php _e('更多'); ?>...</a></p>
        </div>
    </div>
	
	<div class="R_sidebar"> 
		<?php TPL::output('block/sidebar_menu.tpl.htm'); ?>	
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		bp_more_load(G_BASE_URL + '/notifications/ajax/list/flag-2', $('#bp_all_more'), $('#c_all_list'));
	});
</script>

<?php TPL::output('global/footer.tpl.htm'); ?>