<?php TPL::output('admin/global/header.tpl.htm'); ?>
<?php TPL::output('admin/global/nav_menu.tpl.htm'); ?>

<script>
    (function() {
        $('.mod-bar>li>a').click(function () {
            if ($(this).next().is(':visible')) {
                $(this).next().slideUp('normal');
                $(this).removeClass('collapsed active');

            } else {
                $('#aw-side').find('li').children('ul').slideUp('normal');
                $(this).addClass('active collapsed').parent().siblings().find('a').removeClass('active collapsed');
                $(this).next().slideDown('normal');
            }
        });
    })();

    $('#aw-side').perfectScrollbar({useBothWheelAxes: true});
</script>

<?php TPL::output('admin/global/footer.tpl.htm'); ?>