<?php TPL::output('admin/global/header.tpl.htm'); ?>
<?php TPL::output('admin/global/nav_menu.tpl.htm'); ?>

<div class="aw-content-wrap">
	<?php if ($this->writable_check) { ?>
	<?php foreach ($this->writable_check as $key => $val) { ?>
	<?php if (!$val) { ?>
	<div class="alert alert-danger"><?php echo $key; ?> <?php _e('文件夹无法写入, 请检查并将文件夹权限设置为 0777'); ?></div>
	<?php } ?>
	<?php } ?>
	<?php } ?>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div id="main"></div>
                    <div class="form-group echart-date">
                        <label class="col-sm-2 col-xs-3 control-label nopadding">统计时间段:</label>
                        <div class="col-sm-8 col-xs-9">
                            <div class="row">
                                <div class="col-sm-6 mod-double">
                                    <input type="text" class="form-control mod-data date-start">
                                    <i class="icon icon-date"></i>
                                </div>
                               <span class="mod-symbol col-xs-1 col-sm-1">
                                   -
                               </span>
                                <div class="col-sm-6 mod-double">
                                    <input type="text" class="form-control mod-data date-end">
                                    <i class="icon icon-date"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <a href="javascript:;" class="btn btn-primary  btn-sm date-seach">确认查询</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="main2"></div>
                    <div class="form-group echart-date">
                        <label class="col-sm-2 col-xs-3 control-label nopadding">统计时间段:</label>
                        <div class="col-sm-8 col-xs-9">
                            <div class="row">
                                <div class="col-sm-6 mod-double">
                                    <input type="text" class="form-control mod-data date-start">
                                    <i class="icon icon-date"></i>
                                </div>
                               <span class="mod-symbol col-xs-1 col-sm-1">
                                   -
                               </span>
                                <div class="col-sm-6 mod-double">
                                    <input type="text" class="form-control mod-data date-end">
                                    <i class="icon icon-date"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <a href="javascript:;" class="btn btn-primary btn-sm date-seach">确认查询</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="main3"></div>
                    <div class="form-group echart-date col-xs-offset-1">
                        <label class="col-sm-2 col-xs-3 control-label nopadding">统计时间段:</label>
                        <div class="col-sm-8 col-xs-9">
                            <div class="row">
                                <div class="col-sm-6 mod-double">
                                    <input type="text" class="form-control mod-data date-start">
                                    <i class="icon icon-date"></i>
                                </div>
                               <span class="mod-symbol col-xs-1 col-sm-1">
                                   -
                               </span>
                                <div class="col-sm-6 mod-double">
                                    <input type="text" class="form-control mod-data date-end">
                                    <i class="icon icon-date"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <a href="javascript:;" class="btn btn-primary btn-sm date-seach">确认查询</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mod-echat-info">
        <div class="col-md-6">
            <div class="mod">
                <div class="mod-head">
                    <h3>
                        <span class="pull-left"><?php _e('热门话题'); ?></span>
                    </h3>
                </div>
                <div class="mod-body tab-content">
                    <table  class="table table-striped" id="sorttable">
                        <thead align="center">
                            <tr>
                                <td>话题名称</td>
                                <td>
                                    本周/问题数
                                    <i class="icon icon-down"></i>
                                </td>
                                <td>
                                    本月/问题数
                                    <i class="icon hide"></i>
                                </td>
                                <td>
                                    全部/问题数
                                    <i class="icon hide"></i>
                                </td>
                            </tr>
                        </thead>
                        <tbody id="sorttbody">
                        </tbody>
                    </table>
                    <div class="sorttable-mask hide">
                        <p>当前周期内没有数据！</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mod">
                <div class="mod-head">
                    <h3>
                        <span class="pull-left"><?php _e('系统信息'); ?></span>
                    </h3>
                </div>
                <div class="tab-content mod-content">
                    <table  class="table table-striped">
                        <tbody>
                        	<tr>
                                <td><?php _e('操作系统'); ?></td>
                                <td><?php echo php_uname('s'); ?> <?php echo php_uname('r'); ?></td>
                            </tr>
                            <tr>
                                <td><?php _e('PHP 版本'); ?></td>
                                <td><?php echo PHP_VERSION; ?></td>
                            </tr>
                            <tr>
                                <td><?php _e('MySQL 版本'); ?></td>
                                <td><?php echo MYSQL_VERSION; ?></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="mod">
                <div class="mod-head">
                    <h3>
                        <span class="pull-left"><?php _e('用户数据'); ?></span>
                    </h3>
                </div>
                <div class="tab-content mod-content">
                    <table  class="table table-striped">
                        <tbody>
                            <tr>
                                <td><?php _e('会员总数'); ?></td>
                                <td><?php echo $this->users_count; ?></td>
                            </tr>
                            <tr>
                                <td><?php _e('Email 激活会员'); ?></td>
                                <td><?php echo $this->users_valid_email_count; ?></td>
                            </tr>
                            <tr>
                                <td><?php _e('问题总数'); ?></td>
                                <td><?php echo $this->question_count; ?></td>
                            </tr>
                            <tr>
                                <td><?php _e('回答总数'); ?></td>
                                <td><?php echo $this->answer_count; ?></td>
                            </tr>
                            <tr>
                                <td><?php _e('等待回答的问题'); ?></td>
                                <td><?php echo $this->question_no_answer_count; ?></td>
                            </tr>
                            <tr>
                                <td><?php _e('最佳答案数量'); ?></td>
                                <td><?php echo $this->best_answer_count; ?></td>
                            </tr>
                            <tr>
                                <td><?php _e('话题总数'); ?></td>
                                <td><?php echo $this->topic_count; ?></td>
                            </tr>
                            <tr>
                                <td><?php _e('附件总数'); ?></td>
                                <td><?php echo $this->attach_count; ?></td>
                            </tr>
                            <tr>
                                <td><?php _e('待审核问题'); ?></td>
                                <td><?php echo $this->approval_question_count; ?></td>
                            </tr>
                            <tr>
                                <td><?php _e('待审核回答'); ?></td>
                                <td><?php echo $this->approval_answer_count; ?></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/admin/js/echarts.js"></script>
<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/admin/js/echarts-data.js"></script>

<script>   
$(function () {
    // 填入对应日期
    var dateArr = getDate();

    /**
     * 禁止日历框输入
     */

    $('.date-end,.date-start').bind("keydown",function(){
        
        return false
    })
    
    $('.aw-content-wrap').find('.date-start').val(dateArr[1]);
    $('.aw-content-wrap').find('.date-end').val(dateArr[0]);

    //图表数据接入
    var echart = new Echarts('#main', 'line', G_BASE_URL + '/admin/ajax/statistic/?tag=new_user,user_valid&start_date=' + dateArr[3] + '&end_date=' + dateArr[2]);
    var echart2 = new Echarts('#main2', 'line', G_BASE_URL + '/admin/ajax/statistic/?tag=new_question,new_answer,new_topic,new_favorite_item,new_question_redirect&start_date=' + dateArr[3] + '&end_date=' + dateArr[2]);
    var echart3 = new Echarts('#main3', 'line', G_BASE_URL + '/admin/ajax/statistic/?tag=new_answer_vote,new_answer_thanks,new_question_thanks&start_date=' + dateArr[3] + '&end_date=' + dateArr[2]);


    // 左侧菜单收缩重新渲染图表
    $('.aw-header .mod-head-btn').click(function ()
    {       
        echart.render();
        echart2.render();
        echart3.render();
    });


    window.addEventListener("orientationchange", function ()
    {

        echart.render();
        echart2.render();
        echart3.render();
    }, false);

    var oEchart = $('.echart-date');

    for (var i = 0, j = oEchart.length; i < j; i++) 
    {
        (function (i) {
            oEchart[i].onclick = function (ev) {
                var ev = ev || window.event;
                var target = ev.targe || ev.srcElement;

                if (ev.target.nodeName.toLocaleLowerCase() == "a") {

                    var start_date = ($(this).find('.date-start').val()).substring(0, 7),
                        end_date = ($(this).find('.date-end').val()).substring(0, 7),
                        aEchart = '';
                    i > 0 ? aEchart = eval('echart' + (i + 1)) : aEchart = eval(aEchart = 'echart');

                    var url = aEchart.url.substring(0, aEchart.url.search(/&/)) + '&start_date=' + start_date + '&end_date=' + end_date;

                    aEchart.initChart(url);
                }
            };
        })(i);
    }
});

function getDate() {
    var date = new Date(),
        Year = 0,
        beforeYear = 0,
        Month = 0,
        beforeSixMonth = 0,
        Day = 0,
        stratDate = "",
        endDate = "",
        stratDateM = "",
        endDateM = "",
        arr = [];

    Year = date.getFullYear();
    Month = date.getMonth() + 1;
    Day = date.getDate();

    if (Month > 6) {
        beforeSixMonth = Month - 6;
        beforeYear = date.getFullYear();
    } else {
        beforeYear = (date.getFullYear()) - 1;
        beforeSixMonth = 6 + Month;
    }


    stratDate += Year + "-";
    endDate += beforeYear + "-";

    if (Month >= 10) {
        stratDate += Month + "-";
        endDate += "0" + beforeSixMonth + "-";
    } else {
        stratDate += "0" + Month + "-";
        endDate += beforeSixMonth + "-";
    }

    if (Day >= 10) {
        stratDate += Day;
        endDate += Day;
    } else {
        stratDate += "0" + Day;
        endDate += "0" + Day;
    }

    stratDateM = stratDate.substring(0, 7);
    endDateM = endDate.substring(0, 7);

    arr.push(stratDate, endDate, stratDateM, endDateM);
    return arr;
}

</script>
<?php TPL::output('admin/global/footer.tpl.htm'); ?>