<?php TPL::output('admin/global/header.tpl.htm'); ?>
<?php TPL::output('admin/global/nav_menu.tpl.htm'); ?>

<div class="aw-content-wrap">
	<?php if ($this->writable_check) { ?>
	<?php foreach ($this->writable_check as $key => $val) { ?>
	<?php if (!$val) { ?>
	<div class="alert alert-danger"><?php echo $key; ?> <?php _e('文件夹无法写入, 请检查并将文件夹权限设置为 0777'); ?></div>
	<?php } ?>
	<?php } ?>
	<?php } ?>
	
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="mod">
                    <div class="col-md-6">
                        <div id="main" style="height:200px;background: #fff;"></div>
                        <div class="form-group echart-date">
                            <label class="col-sm-2 col-xs-3 control-label nopadding">统计时间段:</label>
                            <div class="col-sm-7 col-xs-9">
                                <div class="row">
                                    <div class="col-sm-6 mod-double">
                                        <input type="text" class="form-control mod-data date-start">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                   <span class="mod-symbol col-xs-1 col-sm-1">
                                       -
                                   </span>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control mod-data date-end">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <a href="javascript:;" class="btn btn-primary date-seach btn-echat1">确认查询</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mod">
                    <div class="col-md-6">
                        <div id="main2" style="height:200px;background: #fff;"></div>
                        <div class="form-group echart-date">
                            <label class="col-sm-2 col-xs-3 control-label nopadding">统计时间段:</label>
                            <div class="col-sm-7 col-xs-9">
                                <div class="row">
                                    <div class="col-sm-6 mod-double">
                                        <input type="text" class="form-control mod-data date-start">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                   <span class="mod-symbol col-xs-1 col-sm-1">
                                       -
                                   </span>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control mod-data date-end">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <a href="javascript:;" class="btn btn-primary date-seach">确认查询</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mod">
                <div class="widget">
                    <div id="main3" style="height:200px;background: #fff;"></div>
                </div>
            </div>
            <div class="row">
                <div class="mod">
                    <div class="col-md-6">
                        <div id="main4" style="height:200px;background: #fff;"></div>
                    </div>
                </div>
                <div class="mod">
                    <div class="col-md-6">
                        <div id="main5" style="height:200px;background: #fff;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
    	<div class="col-md-12">
	    	<table width="100%" class="table table-striped">
				<thead>
					<tr>
						<th colspan="2"><?php _e('系统信息'); ?></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><?php _e('PHP 版本'); ?></td>
						<td><?php echo PHP_VERSION; ?></td>
					</tr>
					<tr>
						<td><?php _e('MySQL 版本'); ?></td>
						<td><?php echo MYSQL_VERSION; ?></td>
					</tr>
					<tr>
						<td><?php _e('会员总数'); ?></td>
						<td><?php echo $this->users_count; ?></td>
					</tr>
					<tr>
						<td><?php _e('Email 激活会员'); ?></td>
						<td><?php echo $this->users_valid_email_count; ?></td>
					</tr>
					<tr>
						<td><?php _e('问题总数'); ?></td>
						<td><?php echo $this->question_count; ?></td>
					</tr>
					<tr>
						<td><?php _e('回答总数'); ?></td>
						<td><?php echo $this->answer_count; ?></td>
					</tr>
					<tr>
						<td><?php _e('等待回答的问题'); ?></td>
						<td><?php echo $this->question_no_answer_count; ?></td>
					</tr>
					<tr>
						<td><?php _e('最佳答案数量'); ?></td>
						<td><?php echo $this->best_answer_count; ?></td>
					</tr>
					<tr>
						<td><?php _e('话题总数'); ?></td>
						<td><?php echo $this->topic_count; ?></td>
					</tr>
					<tr>
						<td><?php _e('附件总数'); ?></td>
						<td><?php echo $this->attach_count; ?></td>
					</tr>
					<tr>
						<td><?php _e('待审核问题'); ?></td>
						<td><?php echo $this->approval_question_count; ?></td>
					</tr>
					<tr>
						<td><?php _e('待审核回答'); ?></td>
						<td><?php echo $this->approval_answer_count; ?></td>
					</tr>
				</tbody>
			</table>
    	</div>
    </div>
</div>
<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/admin/js/echarts-data.js"></script>
<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/admin/js/echarts.js"></script>
<?php TPL::output('admin/global/footer.tpl.htm'); ?>