<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="<?php echo X_UA_COMPATIBLE; ?>" />
<title><?php echo $this->page_title; ?></title>
<base href="<?php echo get_setting('base_url');?>/<?php echo G_INDEX_SCRIPT; ?>" />
<link href="<?php echo G_STATIC_URL; ?>/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="<?php echo G_STATIC_URL; ?>/admin/css/login.css?v=<?php echo G_VERSION_BUILD; ?>" rel="stylesheet" type="text/css" />
<script type="text/javascript">
	var G_INDEX_SCRIPT = '<?php echo G_INDEX_SCRIPT; ?>';
	var G_BASE_URL = '<?php echo get_setting('base_url'); ?>/<?php echo rtrim(G_INDEX_SCRIPT, '/'); ?>';
	var G_USER_ID = <?php echo $this->user_id; ?>;
	var G_POST_HASH = '';
</script>
<?php if (is_array($this->_import_js_files)) { ?>
<?php foreach ($this->_import_js_files AS $import_js) { ?>
<script src="<?php echo $import_js; ?>?v=<?php echo G_VERSION_BUILD; ?>" type="text/javascript"></script>
<?php } ?>
<?php } ?>
</head>
<body>

<div class="login-box">
	<h1><img src="<?php echo G_STATIC_URL; ?>/admin/img/logo.png" alt="" /> WeCenter Admin Control</h1>
	<form id="login_form" onsubmit="return false" action="admin/login_process_ajax/" method="post">
	<?php if ($_GET['url']){ ?>
		<input type="hidden" name="url" value="<?php echo htmlspecialchars($_GET['url']); ?>">
	<?php } ?>
		<div class="aw-mod">
			<div class="aw-mod-body">
				<div class="alert alert-error hide error-message"></div>
				
				<ul>
					<li>
						<label>
							<span>E-mail:</span>
							<?php if ($this->user_info) { ?>
							<strong><?php echo $this->user_info['email']; ?></strong>
							<?php } ?>
							<input type="text" name="username"<?php if ($this->user_info) { ?> value="<?php echo $this->user_info['email']; ?>" style="display:none"<?php } ?> />
						</label>
					</li>
					<li>
						<label>
							<span><?php _e('密码'); ?>:</span>
							<input class="form-control" type="password" name="password" onkeydown="if (event.keyCode == 13) { document.getElementById('login_submit').click(); };" />
						</label>
					</li>
					<?php if (get_setting('admin_login_seccode') == 'Y') { ?>
					<li class="vercode">
						<label>
							<span><?php _e('验证码'); ?>:</span>
							<input class="form-control" type="text" name="seccode_verify" onkeydown="if (event.keyCode == 13) { document.getElementById('login_submit').click(); };" />
							
						</label>
						<img style="vertical-align:middle" id="captcha" onclick="this.src = G_BASE_URL + '/account/captcha/?' + Math.floor(Math.random() * 10000);" src="">
							<a onclick="$('#captcha').click();" href="javascript:;"><?php _e('换一张'); ?></a>
					</li>
					<?php } ?>
				</ul>
			</div>
			<div class="aw-mod-footer">
				<a href="javascript:;" class="btn btn-inverse btn-normal" id="login_submit" onclick="ajax_post($('#login_form'), _error_message_form_processer);"><?php _e('登录'); ?></a>
			</div>
		</div>
	</form>
</div>

<script type="text/javascript">
$(document).ready(function () {
	$('#captcha').click();
});
</script>

</body>
</html>