<?php TPL::output('admin/global/header.tpl.htm'); ?>
<?php TPL::output('admin/global/nav_menu.tpl.htm'); ?>

<div class="pull-left right-side">
	<form action="admin/settings/save/" id="settings_form" method="post">
	<div class="aw-box">
		<a name="site_info"></a>
		<div class="aw-mod-head">
			<h2><a href="javascript:;" onclick="ajax_post($('#settings_form'));" class="label label-inverse pull-right"><?php _e('快速保存'); ?></a><?php _e('站点信息'); ?></h2>
		</div>
		<div class="aw-mod-body">
			<dl>
				<dt><h3><?php _e('网站名称'); ?>:</h3></dt>
				<dd><input type="text" name="site_name" value="<?php echo $this->setting['site_name']; ?>"></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('网站简介'); ?>:</h3></dt>
				<dd><textarea name="description"><?php echo $this->setting['description']; ?></textarea></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('网站关键词'); ?>:</h3></dt>
				<dd><textarea name="keywords"><?php echo $this->setting['keywords']; ?></textarea>
				<p class="aw-text-color-999"><?php _e('多个关键词以 , 隔开'); ?></p>
				</dd>
			</dl>
			<dl>
				<dt><h3><?php _e('网站 ICP 备案号'); ?>:</h3></dt>
				<dd><input name="icp_beian" type="text" value="<?php echo $this->setting['icp_beian']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('网站首页'); ?>: </h3></dt>
				<dd><input name="base_url" type="text" value="<?php echo $this->setting['base_url']; ?>"/>
				<p class="aw-text-color-999"><?php _e('末尾不带 /'); ?></p>
				</dd>
			</dl>
			<dl>
				<dt><h3><?php _e('上传目录外部访问 URL 地址'); ?>:</h3></dt>
				<dd><input name="upload_url" type="text" value="<?php echo $this->setting['upload_url']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('上传文件存放绝对路径'); ?>: </h3></dt>
				<dd><input name="upload_dir" type="text" value="<?php echo $this->setting['upload_dir']; ?>"/>
				<p class="aw-text-color-999"><?php _e('目前网站根目录绝对路径'); ?>: <?php echo ROOT_PATH; ?></p>
				</dd>
			</dl>
			<dl>
				<dt><h3><?php _e('static 目录资源 URL 地址'); ?>: </h3></dt>
				<dd><input name="img_url" type="text" value="<?php echo $this->setting['img_url']; ?>"/>
				<p class="aw-text-color-999"><?php _e('末尾不带 /, 留空使用根目录下的 static 资源'); ?></p>
				</dd>
			</dl>
		</div>
		<a name="register_viste"></a>
		<div class="aw-mod-head">
			<h2><a href="javascript:;" onclick="ajax_post($('#settings_form'));" class="label label-inverse pull-right"><?php _e('快速保存'); ?></a><?php _e('注册与访问'); ?></h2>
		</div>
		<div class="aw-mod-body">
			<dl>
				<dt><h3><?php _e('默认时区'); ?>:</h3></dt>
				<dd><select name="default_timezone">
					<option value='Etc/GMT+12'<?php if ($this->setting['default_timezone'] == 'Etc/GMT+12') { ?> selected="selected"<?php } ?>><?php _e('(GMT - 12:00 小时) 安尼威托克岛，卡瓦加兰'); ?></option>
					<option value='Etc/GMT+11'<?php if ($this->setting['default_timezone'] == 'Etc/GMT+11') { ?> selected="selected"<?php } ?>><?php _e('(GMT - 11:00 小时) 中途岛，萨摩亚'); ?></option>
					<option value='Etc/GMT+10'<?php if ($this->setting['default_timezone'] == 'Etc/GMT+10') { ?> selected="selected"<?php } ?>><?php _e('(GMT - 10:00 小时) 夏威夷'); ?></option>
					<option value='Etc/GMT+9'<?php if ($this->setting['default_timezone'] == 'Etc/GMT+9') { ?> selected="selected"<?php } ?>><?php _e('(GMT - 9:00 小时) 阿拉斯加'); ?></option>
					<option value='Etc/GMT+8'<?php if ($this->setting['default_timezone'] == 'Etc/GMT+8') { ?> selected="selected"<?php } ?>><?php _e('(GMT - 8:00 小时) 太平洋时间'); ?></option>
					<option value='Etc/GMT+7'<?php if ($this->setting['default_timezone'] == 'Etc/GMT+7') { ?> selected="selected"<?php } ?>><?php _e('(GMT - 7:00 小时) 美国山区时间'); ?></option>
					<option value='Etc/GMT+6'<?php if ($this->setting['default_timezone'] == 'Etc/GMT+6') { ?> selected="selected"<?php } ?>><?php _e('(GMT - 6:00 小时) 美国中部时间，墨西哥市'); ?></option>
					<option value='Etc/GMT+5'<?php if ($this->setting['default_timezone'] == 'Etc/GMT+5') { ?> selected="selected"<?php } ?>><?php _e('(GMT - 5:00 小时) 美国东部时间，波哥大，利马'); ?></option>
					<option value='Etc/GMT+4'<?php if ($this->setting['default_timezone'] == 'Etc/GMT+4') { ?> selected="selected"<?php } ?>><?php _e('(GMT - 4:00 小时) 大西洋时间（加拿大），加拉加斯，拉巴斯'); ?></option>
					<option value='Canada/Newfoundland'<?php if ($this->setting['default_timezone'] == 'Canada/Newfoundland') { ?> selected="selected"<?php } ?>><?php _e('(GMT - 3:30 小时) 纽芬兰'); ?></option>
					<option value='Etc/GMT+3'<?php if ($this->setting['default_timezone'] == 'Etc/GMT+3') { ?> selected="selected"<?php } ?>><?php _e('(GMT - 3:00 小时) 巴西，布宜诺斯艾利斯，福克兰群岛'); ?></option>
					<option value='Etc/GMT+2'<?php if ($this->setting['default_timezone'] == 'Etc/GMT+2') { ?> selected="selected"<?php } ?>><?php _e('(GMT - 2:00 小时) 大西洋中部，亚森欣，圣赫勒拿岛'); ?></option>
					<option value='Etc/GMT+1'<?php if ($this->setting['default_timezone'] == 'Etc/GMT+1') { ?> selected="selected"<?php } ?>><?php _e('(GMT - 1:00 小时) 亚速群岛，佛得角群岛'); ?></option>
					<option value='Etc/GMT'<?php if ($this->setting['default_timezone'] == 'Etc/GMT') { ?> selected="selected"<?php } ?>><?php _e('(GMT) 卡萨布兰卡，都柏林，伦敦，里斯本，蒙罗维亚'); ?></option>
					<option value='Etc/GMT-1'<?php if ($this->setting['default_timezone'] == 'Etc/GMT-1') { ?> selected="selected"<?php } ?>><?php _e('(GMT + 1:00 小时) 布鲁塞尔，哥本哈根，马德里，巴黎'); ?></option>
					<option value='Etc/GMT-2'<?php if ($this->setting['default_timezone'] == 'Etc/GMT-2') { ?> selected="selected"<?php } ?>><?php _e('(GMT + 2:00 小时) 加里宁格勒，南非'); ?></option>
					<option value='Etc/GMT-3'<?php if ($this->setting['default_timezone'] == 'Etc/GMT-3') { ?> selected="selected"<?php } ?>><?php _e('(GMT + 3:00 小时) 巴格达，利雅德，莫斯科，奈洛比'); ?></option>
					<option value='Iran'<?php if ($this->setting['default_timezone'] == 'Iran') { ?> selected="selected"<?php } ?>><?php _e('(GMT + 3:30 小时) 德黑兰'); ?></option>
					<option value='Etc/GMT-4'<?php if ($this->setting['default_timezone'] == 'Etc/GMT-4') { ?> selected="selected"<?php } ?>><?php _e('(GMT + 4:00 小时) 阿布达比，巴库，马斯喀特，第比利斯'); ?></option>
					<option value='Asia/Kabul'<?php if ($this->setting['default_timezone'] == 'Asia/Kabul') { ?> selected="selected"<?php } ?>><?php _e('(GMT + 4:30 小时) 喀布尔'); ?></option>
					<option value='Etc/GMT-5'<?php if ($this->setting['default_timezone'] == 'Etc/GMT-5') { ?> selected="selected"<?php } ?>><?php _e('(GMT + 5:00 小时) 凯萨琳堡，克拉嗤，塔什干'); ?></option>
					<option value='Asia/Kolkata'<?php if ($this->setting['default_timezone'] == 'Asia/Kolkata') { ?> selected="selected"<?php } ?>><?php _e('(GMT + 5:30 小时) 孟买，加尔各答，马德拉斯，新德里'); ?></option>
					<option value='Etc/GMT-6'<?php if ($this->setting['default_timezone'] == 'Etc/GMT-6') { ?> selected="selected"<?php } ?>><?php _e('(GMT + 6:00 小时) 阿拉木图，科隆巴，达卡'); ?></option>
					<option value='Etc/GMT-7'<?php if ($this->setting['default_timezone'] == 'Etc/GMT-7') { ?> selected="selected"<?php } ?>><?php _e('(GMT + 7:00 小时) 曼谷，河内，雅加达'); ?></option>
					<option value='Etc/GMT-8'<?php if (!$this->setting['default_timezone'] OR $this->setting['default_timezone'] == 'Etc/GMT-8') { ?> selected="selected"<?php } ?>><?php _e('(GMT + 8:00 小时) 北京，香港，澳洲伯斯，新加坡，台北'); ?></option>
					<option value='Etc/GMT-9'<?php if ($this->setting['default_timezone'] == 'Etc/GMT-9') { ?> selected="selected"<?php } ?>><?php _e('(GMT + 9:00 小时) 大阪，札幌，首尔，东京，亚库次克'); ?></option>
					<option value='Etc/GMT-10'<?php if ($this->setting['default_timezone'] == 'Etc/GMT-10') { ?> selected="selected"<?php } ?>><?php _e('(GMT + 10:00 小时) 墨尔本，巴布亚新几内亚，雪梨'); ?></option>
					<option value='Etc/GMT-11'<?php if ($this->setting['default_timezone'] == 'Etc/GMT-11') { ?> selected="selected"<?php } ?>><?php _e('(GMT + 11:00 小时) 马加丹，新喀里多尼亚，所罗门群岛'); ?></option>
					<option value='Etc/GMT-12'<?php if ($this->setting['default_timezone'] == 'Etc/GMT-12') { ?> selected="selected"<?php } ?>><?php _e('(GMT + 12:00 小时) 新西兰，斐济，马绍尔群岛'); ?></option>
					<option value='Etc/GMT-13'<?php if ($this->setting['default_timezone'] == 'Etc/GMT-13') { ?> selected="selected"<?php } ?>><?php _e('(GMT + 13:00 小时) 堪察加半岛，阿那底河'); ?></option>
					<option value='Etc/GMT-14'<?php if ($this->setting['default_timezone'] == 'Etc/GMT-14') { ?> selected="selected"<?php } ?>><?php _e('(GMT + 14:00 小时) 圣诞岛'); ?></option>
				</select>
			</dd>
			</dl>
			<dl>
				<dt><h3><?php _e('站点关闭'); ?>:</h3></dt>
				<dd>
				<span class="yesno_yes">
					<label><input type="radio" name="site_close" value="Y"<?php if ($this->setting['site_close'] == 'Y') { ?> checked="checked"<?php } ?> /><?php _e('是'); ?></label>
				</span>
				
				<span class="yesno_no">
					<label><input type="radio" name="site_close" value="N"<?php if ($this->setting['site_close'] == 'N') { ?> checked="checked"<?php } ?> /><?php _e('否'); ?></label>
				</span>	
				</dd>
			</dl>
			<dl>
				<dt><h3><?php _e('站点关闭的提示'); ?>:</h3></dt>
				<dd><input type="text" name="close_notice" value="<?php echo $this->setting['close_notice']; ?>" /></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('新用户注册显示验证码'); ?>:</h3></dt>
				<dd>
				<span class="yesno_yes">
					<label><input type="radio" name="register_seccode" value="Y"<?php if ($this->setting['register_seccode'] == 'Y') { ?> checked="checked"<?php } ?> /><?php _e('是'); ?></label>
				</span>
				<span class="yesno_no">
					<label><input type="radio" name="register_seccode" value="N"<?php if ($this->setting['register_seccode'] == 'N') { ?> checked="checked"<?php } ?> /><?php _e('否'); ?></label>
				</span>
				</dd>
			</dl>
			<dl>
				<dt><h3><?php _e('新用户注册需要邮件验证'); ?>:</h3></dt>
				
				<dd>
				<span class="yesno_yes">
					<label><input type="radio" name="register_email_reqire" value="Y"<?php if ($this->setting['register_email_reqire'] == 'Y') { ?> checked="checked"<?php } ?> /><?php _e('是'); ?></label>
				</span>
				<span class="yesno_no">
					<label><input type="radio" name="register_email_reqire" value="N"<?php if ($this->setting['register_email_reqire'] == 'N') { ?> checked="checked"<?php } ?> /><?php _e('否'); ?></label>
				</span>
				</dd>
			</dl>
			<dl>
				<dt><h3><?php _e('只允许通过邀请注册成为会员'); ?>:</h3></dt>
				
				<dd>
				<span class="yesno_yes">
					<label><input type="radio" name="invite_reg_only" value="Y"<?php if ($this->setting['invite_reg_only'] == 'Y') { ?> checked="checked"<?php } ?> /><?php _e('是'); ?></label>
				</span>
				
				<span class="yesno_no">
					<label><input type="radio" name="invite_reg_only" value="N"<?php if ($this->setting['invite_reg_only'] == 'N') { ?> checked="checked"<?php } ?> /><?php _e('否'); ?></label>
				</span>
				</dd>
			</dl>
			<dl>
				<dt><h3><?php _e('用户名规则'); ?>:</h3></dt>
				<dd><label><input type="radio" value="0" name="username_rule"<?php if ($this->setting['username_rule'] == 0) { ?> checked="checked"<?php } ?> />
				<?php _e('不限制'); ?></label>
				<label><input type="radio" value="1" name="username_rule"<?php if ($this->setting['username_rule'] == 1) { ?> checked="checked"<?php } ?> />
				<?php _e('汉字/字母/数字/下划线'); ?></label>
				<label><input type="radio" value="2" name="username_rule"<?php if ($this->setting['username_rule'] == 2) { ?> checked="checked"<?php } ?> />
				<?php _e('字母/数字/下划线'); ?></label>
				<label><input type="radio" value="3" name="username_rule"<?php if ($this->setting['username_rule'] == 3) { ?> checked="checked"<?php } ?> />
				<?php _e('汉字'); ?></label></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('用户名最少字符数'); ?>: </h3></dt>
				<dd><input name="username_length_min" type="text" value="<?php echo $this->setting['username_length_min']; ?>"/>
				<p class="aw-text-color-999"><?php _e('注: 一个汉字等于 2 个字符'); ?></p>
				</dd>
			</dl>
			<dl>
				<dt><h3><?php _e('用户名最多字符数'); ?>: </h3></dt>
				<dd><input name="username_length_max" type="text" value="<?php echo $this->setting['username_length_max']; ?>"/></label>
				<p class="aw-text-color-999"><?php _e('注: 一个汉字等于 2 个字符'); ?></p>
				</dd>
			</dl>
			
			<dl>
				<dt><h3><?php _e('用户注册协议'); ?>:</h3></dt>
				<dd><textarea name="register_agreement"><?php echo $this->setting['register_agreement']; ?></textarea></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('用户注册名不允许出现以下关键字'); ?>: </h3></dt>
				<dd><textarea name="censoruser" cols="100" rows="3" id="censoruser"><?php echo $this->setting['censoruser']; ?></textarea>
				<p class="aw-text-color-999"><?php _e('每行填写一个关键字, 如: admin, 管理员等'); ?></p>
				</dd>
			</dl>
			<dl>
				<dt><h3><?php _e('用户注册后默认关注的用户 ID'); ?>: </h3></dt>
				<dd><input name="def_focus_uids" type="text" value="<?php echo $this->setting['def_focus_uids']; ?>"/>
				
				<p class="aw-text-color-999"><?php _e('多个用户 ID 请用 , 隔开'); ?></p>
				</dd>
			</dl>
			<dl>
				<dt><h3><?php _e('首次登录推荐用户列表'); ?>: </h3></dt>
				<dd><input name="welcome_recommend_users" type="text" value="<?php echo $this->setting['welcome_recommend_users']; ?>"/>
				
				<p class="aw-text-color-999"><?php _e('填写用户名, 若有多个用户名请用 , 隔开, 留空系统自动推荐'); ?></p>
				</dd>
			</dl>
			<dl>
				<dt><h3><?php _e('新用户注册获得邀请数量'); ?>:</h3></dt>
				<dd><input name="newer_invitation_num" type="text" value="<?php echo $this->setting['newer_invitation_num']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('新用户注册系统发送的欢迎内容'); ?> (<?php _e('私信'); ?>):</h3></dt>
				<dd><textarea name="welcome_message_pm"><?php echo $this->setting['welcome_message_pm']; ?></textarea>
				<p class="aw-text-color-999"><?php _e('新用户注册欢迎内容, 以下变量可作为内容替换: <br />{username}: 用户名<br />{time}: 发送时间<br />{sitename}: 网站名称'); ?></p>
				</dd>
			</dl>
			<dl>
				<dt><h3><?php _e('新用户注册系统发送的欢迎内容'); ?> (<?php _e('邮件'); ?>):</h3></dt>
				<dd><textarea name="welcome_message_email"><?php echo $this->setting['welcome_message_email']; ?></textarea>
				<p class="aw-text-color-999"><?php _e('新用户注册欢迎内容, 以下变量可作为内容替换: <br />{username}: 用户名<br />{time}: 发送时间<br />{sitename}: 网站名称'); ?></p>
				</dd>
			</dl>
			<dl>
				<input type="hidden" name="set_email_settings" value="1" />
				<dt><h3><?php _e('新用户默认邮件提醒设置'); ?>:</h3></dt>
				<dd><span class="label"><input type="checkbox" name="new_user_email_setting[]" value="FOLLOW_ME"<?php if ($this->setting['new_user_email_setting']['FOLLOW_ME'] != 'N') { ?> checked="checked"<?php } ?> /> <?php _e('当有人关注我'); ?></span> &nbsp;
	            <span class="label"><input type="checkbox" name="new_user_email_setting[]" value="QUESTION_INVITE"<?php if ($this->setting['new_user_email_setting']['QUESTION_INVITE'] != 'N') { ?> checked="checked"<?php } ?> /> <?php _e('有人邀请我回答问题'); ?></span> &nbsp;
	            <span class="label"><input type="checkbox" name="new_user_email_setting[]" value="NEW_ANSWER"<?php if ($this->setting['new_user_email_setting']['NEW_ANSWER'] != 'N') { ?> checked="checked"<?php } ?> /> <?php _e('我关注的问题有了新回复'); ?></span> &nbsp;
	            <span class="label"><input type="checkbox" name="new_user_email_setting[]" value="NEW_MESSAGE"<?php if ($this->setting['new_user_email_setting']['NEW_MESSAGE'] != 'N') { ?> checked="checked"<?php } ?> /> <?php _e('有人向我发送私信'); ?></span> &nbsp;
	            <span class="label"><input type="checkbox" name="new_user_email_setting[]" value="QUESTION_MOD"<?php if ($this->setting['new_user_email_setting']['QUESTION_MOD'] != 'N') { ?> checked="checked"<?php } ?> /> <?php _e('我的问题被编辑'); ?></span></dd>
			</dl>
			<dl>
				<input type="hidden" name="set_notification_settings" value="1" />
				<dt><h3><?php _e('新用户默认通知设置'); ?>:</h3></dt>
				<dd><?php foreach($this->notify_actions as $key => $val) { ?>
	            <?php if ($val['user_setting']) { ?>
	            <span class="label"><input name="new_user_notification_setting[<?php echo $key;?>]" type="checkbox" value="1"<?php if (!in_array($key, $this->notification_settings)) { ?> checked="checked"<?php } ?> /> <?php _e($val['desc']); ?></span>  &nbsp;
	            <?php } ?>
	            <?php } ?></dd>
			</dl>
		</div>
		<a name="functions"></a>
		<div class="aw-mod-head">
			<h2><a href="javascript:;" onclick="ajax_post($('#settings_form'));" class="label label-inverse pull-right"><?php _e('快速保存'); ?></a><?php _e('站点功能'); ?></h2>
		</div>
		<div class="aw-mod-body">
			<dl>
				<dt><h3><?php _e('网站公告'); ?>: </h3></dt>
				<dd><textarea name="site_announce"><?php echo htmlspecialchars($this->setting['site_announce']); ?></textarea></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('开启 Rewrite 伪静态'); ?>: </h3></dt>
				<dd>
				<span class="yesno_yes">
					<label><input type="radio" name="url_rewrite_enable" value="Y"<?php if ($this->setting['url_rewrite_enable'] == 'Y') { ?> checked="checked"<?php } ?> /><?php _e('是'); ?></label>
				</span>
				<span class="yesno_no">
					<label><input type="radio" name="url_rewrite_enable" value="N"<?php if ($this->setting['url_rewrite_enable'] == 'N') { ?> checked="checked"<?php } ?> /><?php _e('否'); ?></label>
				</span> &nbsp; 
				<span class="aw-text-color-999">(<?php _e('Rewrite 开启方法请见 ReadMe 说明文件'); ?>)</span>
				</dd>
			</dl>
			<dl>
				<dt><h3><?php _e('URL 链接显示样式'); ?>:</h3></dt>
				<dd>
				<table class="aw-table">
					<tr>
						<th align="left"><label><input type="radio" value="1" name="request_route"<?php if ($this->setting['request_route'] == 1) { ?> checked="checked"<?php } ?>><?php _e('默认'); ?></label></th>
						<td><?php echo get_setting('base_url'); ?>/question/123<br /><?php echo get_setting('base_url'); ?>/topic/123<br /><?php echo get_setting('base_url'); ?>/people/anwsion<br /><?php echo get_setting('base_url'); ?>/category/123</td>
					</tr>
					<tr>
						<th align="left"><label><input type="radio" value="2" name="request_route"<?php if ($this->setting['request_route'] == 2) { ?> checked="checked"<?php } ?>><?php _e('简短模式'); ?></label></th>
						<td><?php echo get_setting('base_url'); ?>/q_123<br /><?php echo get_setting('base_url'); ?>/t_话题.html<br /><?php echo get_setting('base_url'); ?>/p_admin.html<br /><?php echo get_setting('base_url'); ?>/c_123.html</td>
					</tr>
					<tr>
						<th align="left"><label><input type="radio" value="99" name="request_route"<?php if ($this->setting['request_route'] == 99) { ?> checked="checked"<?php } ?>><?php _e('自定义路由'); ?></label></th>
						<td><textarea name="request_route_custom"><?php echo $this->setting['request_route_custom']; ?></textarea></td>
					</tr>
				</table>
				<p class="aw-text-color-999"><?php _e('此模式只有开启 Rewrite 后有效, 请填写简略正则表达式, 每行一条规则, 中间使用 === 隔开, 左边为站点默认 URL 模式, 右边为替换后的 URL 模式, 链接以 / 开头, (:num) 代表数字, (:any) 代表任意字符<br />如替换问题规则与分类规则：<br />/question/(:any)===/q_(:any)<br />/home/explore/category-(:num)===/category/(:num)<br />默认规则:<br/>/home/explore/===/explore/<br />
	/home/explore/category-(:num)===/category/(:num)<br />
	/people/list/===/users/<br />
	/account/login/===/login/<br />
	/account/logout/===/logout/<br />
	/account/setting/(:any)/===/setting/(:any)/<br />
	简短规则：<br />
	/question/(:any)===/q_(:any)<br />
	/topic/(:any)===/t_(:any).html<br />
	/people/(:any)===/p_(:any).html<br />
	/home/explore/category-(:num)===/c_(:num).html<br />
	/home/explore/===/explore/<br />
	/people/list/===/users/<br />
	/account/login/===/login/<br />
	/account/logout/===/logout/<br />
	/account/setting/(:any)/===/setting/(:any)/<br />
	(!) 警告: 使用此功能之前请确定你对替换有所把握, 错误的规则将导致站点不能运行'); ?></p>
				</dd>
			</dl>
			
			<?php if (is_dir(ROOT_PATH . 'uc_client/')) { ?>
			<dl>
				<dt><h3><?php _e('UCenter 系统字符编码'); ?>:</h3></dt>
				<dd><input name="ucenter_charset" type="text" value="<?php echo $this->setting['ucenter_charset']; ?>" /></dd>
			</dl>
			
			<dl>
				<dt><h3><?php _e('开启 Ucenter 用户对接'); ?>:</h3></dt>
				<dd>
				<span class="yesno_yes">
					<label><input type="radio" name="ucenter_enabled" value="Y"<?php if ($this->setting['ucenter_enabled'] == 'Y') { ?> checked="checked"<?php } ?> /><?php _e('是'); ?></label>
				</span>
				
				<span class="yesno_no">
					<label><input type="radio" name="ucenter_enabled" value="N"<?php if ($this->setting['ucenter_enabled'] == 'N') { ?> checked="checked"<?php } ?> /><?php _e('否'); ?></label>
				</span>
				</dd>
			</dl>
			<?php } ?>
			
			<dl>
				<dt><h3><?php _e('通知未读数刷新间隔时间'); ?> (<?php _e('单位'); ?>: <?php _e('秒'); ?>):</h3></dt>
				<dd><input name="unread_flush_interval" type="text" value="<?php echo $this->setting['unread_flush_interval']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('问题自动锁定时间'); ?>:</h3></dt>
				<dd><input name="auto_question_lock_day" type="text" value="<?php echo $this->setting['auto_question_lock_day']; ?>"/>
				<p class="aw-text-color-999"><?php _e('单位'); ?>: <?php _e('天'); ?>, <?php _e('问题超过设定天数没有动作,系统则会自动锁定该问题, 设置为 0 则关闭自动锁定'); ?></p>
				</dd>
			</dl>
			<dl>
				<dt><h3><?php _e('网站统计代码'); ?>:</h3></dt>
				<dd><textarea name="statistic_code"><?php echo $this->setting['statistic_code']; ?></textarea></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('问题举报理由选项'); ?>:</h3></dt>
				<dd><textarea name="report_reason"><?php echo get_setting('report_reason'); ?></textarea>
				<p class="aw-text-color-999"><?php _e('每行填写一个举报理由'); ?></p>
				</dd>
			</dl>
			<dl>
				<dt><h3><?php _e('有新举报与认证申请私信提醒用户 ID'); ?>: </h3></dt>
				<dd><input name="report_message_uid" type="text" value="<?php echo $this->setting['report_message_uid']; ?>"/>
				<p class="aw-text-color-999"><?php _e('留空则发送到 ID 为 1 的用户'); ?></p>
				</dd>
			</dl>
			<dl>
				<dt><h3><?php _e('系统时间显示格式'); ?>:</h3></dt>
				<dd><label><input type="radio" name="time_style" value="Y"<?php if ($this->setting['time_style'] == 'Y') { ?> checked="checked"<?php } ?> /> <?php _e('xx 分钟前形式'); ?></label>
				<label><input type="radio" name="time_style" value="N"<?php if ($this->setting['time_style'] == 'N') { ?> checked="checked"<?php } ?> /> <?php _e('完整日期形式'); ?></label></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('管理员后台登录是否需要验证码'); ?>:</h3></dt>
				<dd>
				<span class="yesno_yes">
					<label><input type="radio" name="admin_login_seccode" value="Y"<?php if ($this->setting['admin_login_seccode'] == 'Y') { ?> checked="checked"<?php } ?> /><?php _e('是'); ?></label>
				</span>
				
				<span class="yesno_no">
					<label><input type="radio" name="admin_login_seccode" value="N"<?php if ($this->setting['admin_login_seccode'] == 'N') { ?> checked="checked"<?php } ?> /><?php _e('否'); ?></label>
				</span>
				</dd>
			</dl>
		</div>
		<a name="contents"></a>
		<div class="aw-mod-head">
			<h2><a href="javascript:;" onclick="ajax_post($('#settings_form'));" class="label label-inverse pull-right"><?php _e('快速保存'); ?></a><?php _e('内容设置'); ?></h2>
		</div>
		<div class="aw-mod-body">
			<dl>
				<dt><h3><?php _e('发起问题模式'); ?>:</h3></dt>
				
				<dd>
					<label><input type="radio" name="quick_publish" value="Y"<?php if ($this->setting['quick_publish'] == 'Y') { ?> checked="checked"<?php } ?> /><?php _e('快捷模式'); ?></label>
					<label><input type="radio" name="quick_publish" value="N"<?php if ($this->setting['quick_publish'] == 'N') { ?> checked="checked"<?php } ?> /><?php _e('高级模式'); ?></label>
				</dd>
			</dl>
			<dl>
				<dt><h3><?php _e('编辑器设置'); ?>:</h3></dt>
				
				<dd>
					<label><input type="radio" name="advanced_editor_enable" value="Y"<?php if ($this->setting['advanced_editor_enable'] == 'Y') { ?> checked="checked"<?php } ?> /> <?php _e('Markdown 编辑器'); ?></label>
					<label><input type="radio" name="advanced_editor_enable" value="N"<?php if ($this->setting['advanced_editor_enable'] == 'N') { ?> checked="checked"<?php } ?> /> <?php _e('纯文本编辑器'); ?></label>
				</dd>
			</dl>
			<dl>
				<dt><h3><?php _e('允许上传附件'); ?>:</h3></dt>
				
				<dd>
					<span class="yesno_yes">
						<label><input type="radio" name="upload_enable" value="Y"<?php if ($this->setting['upload_enable'] == 'Y') { ?> checked="checked"<?php } ?> /><?php _e('是'); ?></label>
					</span>
					<span class="yesno_no">
						<label><input type="radio" name="upload_enable" value="N"<?php if ($this->setting['upload_enable'] == 'N') { ?> checked="checked"<?php } ?> /><?php _e('否'); ?></label>
					</span>
				</dd>
			</dl>
			<dl>
				<dt><h3><?php _e('允许的附件文件类型'); ?>:</h3></dt>
				<dd><input name="allowed_upload_types" type="text" value="<?php echo $this->setting['allowed_upload_types']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('允许上传最大附件大小'); ?> (<?php _e('单位'); ?>: KB): </h3></dt>
				<dd><input name="upload_size_limit" type="text" value="<?php echo $this->setting['upload_size_limit']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('回复内容最小字符数限制'); ?> (<?php _e('填写 0 则不限制'); ?>): </h3></dt>
				<dd><input name="answer_length_lower" type="text" value="<?php echo $this->setting['answer_length_lower']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('问题标题最大字符数限制'); ?> (<?php _e('填写 0 则不限制'); ?>):</h3></dt>
				<dd><input name="question_title_limit" type="text" value="<?php echo $this->setting['question_title_limit']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('问题话题数量限制'); ?> (<?php _e('填写 0 则不限制'); ?>):</h3></dt>
				<dd><input name="question_topics_limit" type="text" value="<?php echo $this->setting['question_topics_limit']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('评论内容最大字符数限制'); ?> (<?php _e('填写 0 则不限制'); ?>):</h3></dt>
				<dd><input name="comment_limit" type="text" value="<?php echo $this->setting['comment_limit']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('话题标题最大字符数限制'); ?> (<?php _e('填写 0 则不限制'); ?>): </h3></dt>
				<dd><input name="topic_title_limit" type="text" value="<?php echo $this->setting['topic_title_limit']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('允许上传最大头像/话题图片大小'); ?> (<?php _e('单位'); ?>: KB):</h3></dt>
				<dd><input name="upload_avatar_size_limit" type="text" value="<?php echo $this->setting['upload_avatar_size_limit']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('回复编辑/删除有效时间'); ?> (<?php _e('单位'); ?>: <?php _e('分钟'); ?>): </h3></dt>
				<dd><input name="answer_edit_time" type="text" value="<?php echo $this->setting['answer_edit_time']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('“没有帮助”数量达到多少个时折叠回复');?>:</h3></dt>
				<dd><input name="uninterested_fold" type="text" value="<?php echo $this->setting['uninterested_fold']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('系统自动选出最佳回复时间'); ?> (<?php _e('单位'); ?>: 天, <?php _e('填写 0 则不启用'); ?>):</h3></dt>
				<dd><input name="best_answer_day" type="text" value="<?php echo $this->setting['best_answer_day']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('参与自动选出最佳回复的问题最小回复数'); ?>:</h3></dt>
				<dd><input name="best_answer_min_count" type="text" value="<?php echo $this->setting['best_answer_min_count']; ?>"/></dd>
			</dl>
			
			<dl>
				<dt><h3><?php _e('参与自动选出最佳回复的最小赞同数'); ?>:</h3></dt>
				<dd><input name="best_agree_min_count" type="text" value="<?php echo $this->setting['best_agree_min_count']; ?>"/></dd>
			</dl>
			
			<dl>
				<dt><h3><?php _e('阅读器获取最近多少天的热门问题'); ?>:</h3></dt>
				<dd><input name="reader_questions_last_days" type="text" value="<?php echo $this->setting['reader_questions_last_days']; ?>"/></dd>
			</dl>
			
			<dl>
				<dt><h3><?php _e('阅读器热门问题赞同数需大于或等于'); ?>:</h3></dt>
				<dd><input name="reader_questions_agree_count" type="text" value="<?php echo $this->setting['reader_questions_agree_count']; ?>"/></dd>
			</dl>
		</div>
		<a name="integral"></a>
		<div class="aw-mod-head">
			<h2><a href="javascript:;" onclick="ajax_post($('#settings_form'));" class="label label-inverse pull-right"><?php _e('快速保存'); ?></a><?php _e('积分与威望'); ?></h2>
		</div>
		<div class="aw-mod-body">
			<dl>
				<dt><h3><?php _e('使用积分系统'); ?>:</h3></dt>
				
				<dd>
					<span class="yesno_yes">
						<label><input type="radio" name="integral_system_enabled" value="Y"<?php if ($this->setting['integral_system_enabled'] == 'Y') { ?> checked="checked"<?php } ?> /><?php _e('是'); ?></label>
					</span>
					
					<span class="yesno_no">
						<label><input type="radio" name="integral_system_enabled" value="N"<?php if ($this->setting['integral_system_enabled'] == 'N') { ?> checked="checked"<?php } ?> /><?php _e('否'); ?></label>
					</span>
				</dd>
			</dl>
			<dl>
				<dt><h3><?php _e('积分单位'); ?>:</h3></dt>
				<dd><input name="integral_unit" type="text" value="<?php echo $this->setting['integral_unit']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('新用户注册默认拥有积分'); ?>:</h3></dt>
				<dd><input name="integral_system_config_register" type="text" value="<?php echo $this->setting['integral_system_config_register']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('用户完善资料获得积分'); ?>:</h3></dt>
				<dd><input name="integral_system_config_profile" type="text" value="<?php echo $this->setting['integral_system_config_profile']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('用户邀请注册并成功邀请'); ?>:</h3></dt>
				<dd><input name="integral_system_config_invite" type="text" value="<?php echo $this->setting['integral_system_config_invite']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('最佳回复'); ?>:</h3></dt>
				<dd><input name="integral_system_config_best_answer" type="text" value="<?php echo $this->setting['integral_system_config_best_answer']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('回复被折叠'); ?>:</h3></dt>
				<dd><input name="integral_system_config_answer_fold" type="text" value="<?php echo $this->setting['integral_system_config_answer_fold']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('发起问题'); ?>:</h3></dt>
				<dd><input name="integral_system_config_new_question" type="text" value="<?php echo $this->setting['integral_system_config_new_question']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('回复问题'); ?>:</h3></dt>
				<dd><input name="integral_system_config_new_answer" type="text" value="<?php echo $this->setting['integral_system_config_new_answer']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('感谢回复'); ?>:</h3></dt>
				<dd><input name="integral_system_config_thanks" type="text" value="<?php echo $this->setting['integral_system_config_thanks']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('发起者邀请别人回答问题并回答'); ?>:</h3></dt>
				<dd><input name="integral_system_config_invite_answer" type="text" value="<?php echo $this->setting['integral_system_config_invite_answer']; ?>"/></dd>
			</dl>

			<dl>
				<dt><h3><?php _e('发起者赞同反对威望系数'); ?></h3></dt>
				<dd><input name="publisher_reputation_factor" type="text" value="<?php echo get_setting('publisher_reputation_factor'); ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('最佳回复威望系数'); ?></h3></dt>
				<dd><input name="best_answer_reput" type="text" value="<?php echo get_setting('best_answer_reput'); ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('对数底值'); ?>:</h3></dt>
				<dd><input name="reputation_log_factor" type="text" value="<?php echo get_setting('reputation_log_factor'); ?>"/>
				
				<p class="aw-text-color-999"><?php _e('控制显示的威望值大小，底数越小威望值越大，底数越大威望值越小，系统默认数值是 3'); ?><br /><?php _e('威望公式：log((((用户组威望系数 x 赞同数 - 用户组威望系数 x 反对数) + 发起者赞同反对威望系数 + 最佳回复威望系数) + 0.5), 对数底值)'); ?></p>
				</dd>
			</p>
		</div>
		<a name="permissions"></a>
		<div class="aw-mod-head">
			<h2><a href="javascript:;" onclick="ajax_post($('#settings_form'));" class="label label-inverse pull-right"><?php _e('快速保存'); ?></a><?php _e('用户权限'); ?></h2>
		</div>
		<div class="aw-mod-body">
			<dl>
				<dt><h3><?php _e('用户对每个问题的回复限制'); ?>:</h3></dt>
				<dd>
					<label><input type="radio" name="answer_unique" value="Y"<?php if ($this->setting['answer_unique'] == 'Y') { ?> checked="checked"<?php } ?> /><?php _e('只允许回复一次'); ?></label>
					<label><input type="radio" name="answer_unique" value="N"<?php if ($this->setting['answer_unique'] == 'N') { ?> checked="checked"<?php } ?> /><?php _e('不限制'); ?></label>
			</dl>
			<dl>
				<dt><h3><?php _e('允许用户回复自己发起的问题'); ?>:</h3></dt>
				
				<dd>
					<span class="yesno_yes">
						<label><input type="radio" name="answer_self_question" value="Y"<?php if ($this->setting['answer_self_question'] == 'Y') { ?> checked="checked"<?php } ?> /><?php _e('是'); ?></label>
					</span>
					<span class="yesno_no">
						<label><input type="radio" name="answer_self_question" value="N"<?php if ($this->setting['answer_self_question'] == 'N') { ?> checked="checked"<?php } ?> /><?php _e('否'); ?></label>
					</span>
				</dd>
			</dl>
			<dl>
				<dt><h3><?php _e('允许匿名发起或回复'); ?>:</h3></dt>
				
				<dd>
					<span class="yesno_yes">
						<label><input type="radio" name="anonymous_enable" value="Y"<?php if ($this->setting['anonymous_enable'] == 'Y') { ?> checked="checked"<?php } ?> /><?php _e('是'); ?></label>
					</span>

					<span class="yesno_no">
						<label><input type="radio" name="anonymous_enable" value="N"<?php if ($this->setting['anonymous_enable'] == 'N') { ?> checked="checked"<?php } ?> /><?php _e('否'); ?></label>
					</span>
				</dd>
			</dl>
		</div>
		<a name="email"></a>
		<div class="aw-mod-head">
			<h2><a href="javascript:;" onclick="ajax_post($('#settings_form'));" class="label label-inverse pull-right"><?php _e('快速保存'); ?></a><?php _e('邮件设置'); ?></h2>
		</div>
		<div class="aw-mod-body">
			<dl>
				<dt><h3><?php _e('系统邮件发送方式'); ?>: </h3></dt>
				<dd>
					<select class="small-input" name="mail_config[transport]" style="width:500px;">
						<option value="sendmail"<?php if ($this->setting['mail_config']['transport'] == 'sendmail') { ?> selected="selected"<?php } ?>><?php _e('通过 PHP 的 Sendmail 发送'); ?></option>
						<option value="smtp"<?php if ($this->setting['mail_config']['transport'] == 'smtp') { ?> selected="selected"<?php } ?>><?php _e('通过 SOCKET 连接 SMTP 服务器发送'); ?></option>
					</select>
					
					<p class="aw-text-color-999"><?php _e('若选择 SendMail 方式, 下面的 SMTP 选项无效'); ?>, <?php _e('商业服务推荐:'); ?> <a href="http://sendcloud.sohu.com/?r=anwsion" target="_blank">SendCloud</a>, <a href="http://mailgun.com/?r=anwsion" target="_blank">Mailgun</a>, <a href="http://www.wecenter.com/services/ses/" target="_blank">Amazion SES</a></p>
				</dd>
			</dl>
			<dl>
				<dt><h3><?php _e('邮件编码'); ?>: </h3></dt>
				<dd><input name="mail_config[charset]" type="text" value="<?php echo $this->setting['mail_config']['charset']; ?>" />
				
				<p class="aw-text-color-999"><?php _e('非 UTF-8 编码会被自动转码'); ?></p>
				</dd>
			</dl>
			<dl>
				<dt><h3><?php _e('SMTP 服务器'); ?>: </h3></dt>
				<dd><input name="mail_config[server]" type="text" value="<?php echo $this->setting['mail_config']['server']; ?>" /></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('使用安全链接(SSL)连接服务器'); ?>: </h3></dt>
				
				<dd>
					<span class="yesno_yes">
						<label><input type="radio" name="mail_config[ssl]" value="1"<?php if ($this->setting['mail_config']['ssl'] == 1) { ?> checked="checked"<?php } ?> /><?php _e('是'); ?></label>
					</span>
					<span class="yesno_no">
						<label><input type="radio" name="mail_config[ssl]" value="0"<?php if ($this->setting['mail_config']['ssl'] == 0) { ?> checked="checked"<?php } ?> /><?php _e('否'); ?></label>
					</span>
				</dd>
			</dl>
			<dl>
				<dt><h3><?php _e('SMTP 端口'); ?>: </h3></dt>
				
				<dd><input name="mail_config[port]" type="text" value="<?php echo $this->setting['mail_config']['port']; ?>" />
				<p class="aw-text-color-999"><?php _e('留空时默认服务器端口为 25，使用 SSL 协议默认端口为 465，详细参数请询问邮箱服务商'); ?></p>
				</dd>
			</dl>
			<dl>
				<dt><h3><?php _e('SMTP 帐户'); ?>:</h3></dt>
				<dd><input name="mail_config[username]" type="text" value="<?php echo $this->setting['mail_config']['username']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('SMTP 密码'); ?></h3></dt>
				<dd><input name="mail_config[password]" type="password" value="<?php echo $this->setting['mail_config']['password']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('系统邮件来源邮箱地址'); ?></h3></dt>
				<dd><input name="from_email" type="text" value="<?php echo $this->setting['from_email']; ?>"/></dd>
			</dl>
		</div>
		<a name="openid"></a>
		<div class="aw-mod-head">
			<h2><a href="javascript:;" onclick="ajax_post($('#settings_form'));" class="label label-inverse pull-right"><?php _e('快速保存'); ?></a><?php _e('开放平台'); ?></h2>
		</div>
		<div class="aw-mod-body">
			<dl>
				<dt><h3><?php _e('开启 QQ 登录功能'); ?>:</h3></dt>
				
				<dd>
					<span class="yesno_yes">
						<label><input type="radio" name="qq_login_enabled" value="Y"<?php if ($this->setting['qq_login_enabled'] == 'Y') { ?> checked="checked"<?php } ?>/><?php _e('是'); ?></label>
					</span>
				
					<span class="yesno_no">
						<label><input type="radio" name="qq_login_enabled" value="N"<?php if ($this->setting['qq_login_enabled'] == 'N') { ?> checked="checked"<?php } ?>/><?php _e('否'); ?></label>
					</span>
				</dd>
			</dl>

			<dl>
				<dt><h3><?php _e('QQ 登录 AppID'); ?>:</h3></dt>
				<dd><input name="qq_login_app_id" type="text" value="<?php echo $this->setting['qq_login_app_id']; ?>"/>
				<p class="aw-text-color-999"><?php _e('AppID 与 APPKey 需要到 <a href="http://connect.qq.com/" target="_blank">QQ 互联开放平台</a> 申请 (注意: 请申请网站不要申请应用)'); ?></p>
				</dd>
			</dl>
			
			<dl>
				<dt><h3><?php _e('QQ 登录 AppKey'); ?>:</h3></dt>
				<dd><input name="qq_login_app_key" type="text" value="<?php echo $this->setting['qq_login_app_key']; ?>"/></dd>
			</dl>
			
			<dl>
				<dt><h3><?php _e('开启新浪微博登录功能'); ?>:</h3></dt>
				
				<dd>
					<span class="yesno_yes">
						<label><input type="radio" name="sina_weibo_enabled" value="Y"<?php if ($this->setting['sina_weibo_enabled'] == 'Y') { ?> checked="checked"<?php } ?>/><?php _e('是'); ?></label>
					</span>
				
					<span class="yesno_no">
						<label><input type="radio" name="sina_weibo_enabled" value="N"<?php if ($this->setting['sina_weibo_enabled'] == 'N') { ?> checked="checked"<?php } ?>/><?php _e('否'); ?></label>
					</span>
				</dd>
			</dl>
			
			<dl>
				<dt><h3><?php _e('新浪微博 AppKey(akey)'); ?>:</h3></dt>
				
				<dd><input name="sina_akey" type="text" value="<?php echo $this->setting['sina_akey']; ?>"/>
				<p class="aw-text-color-999"><?php _e('AppKey 需要到 <a href="http://open.weibo.com/" target="_blank">新浪微博开放平台</a> 申请 (注意: 请申请网站不要申请应用)'); ?></p>
				</dd>
			</dl>
			
			<dl>
				<dt><h3><?php _e('新浪微博 AppKey(skey)'); ?>:</h3></dt>
				<dd><input name="sina_skey" type="text" value="<?php echo $this->setting['sina_skey']; ?>"/></dd>
			</dl>
			
			<dl>
				<dt><h3><?php _e('开启腾讯微博登录功能'); ?>:</h3></dt>
				
				<dd>
					<span class="yesno_yes">
						<label><input type="radio" name="qq_t_enabled" value="Y"<?php if ($this->setting['qq_t_enabled'] == 'Y') { ?> checked="checked"<?php } ?>/><?php _e('是'); ?></label>
					</span>
					
					<span class="yesno_no">
						<label><input type="radio" name="qq_t_enabled" value="N"<?php if ($this->setting['qq_t_enabled'] == 'N') { ?> checked="checked"<?php } ?>/><?php _e('否'); ?></label>
					</span>
				</dd>
			</dl>
			
			<dl>
				<dt><h3><?php _e('腾讯微博 AppKey(app_key)'); ?>:</h3></dt>
				
				<dd><input name="qq_app_key" type="text" value="<?php echo $this->setting['qq_app_key']; ?>"/>
				<p class="aw-text-color-999"><?php _e('AppKey 需要到 <a href="http://open.t.qq.com/" target="_blank">腾讯微博开放平台</a> 申请 (注意: 请申请网站不要申请应用)'); ?></p>
				</dd>
			</dl>
			
			<dl>
				<dt><h3><?php _e('腾讯微博 AppKey(app_secret)'); ?>:</h3></dt>
				<dd><input name="qq_app_secret" type="text" value="<?php echo $this->setting['qq_app_secret']; ?>"/></dd>
			</dl>
			
			<dl>
				<dt><h3><?php _e('微信公众平台接口 Token'); ?>: </h3></dt>
				
				<dd><input name="weixin_mp_token" type="text" value="<?php echo $this->setting['weixin_mp_token']; ?>"/>
				<p class="aw-text-color-999"><?php _e('请与微信公众平台后台设置一致'); ?></p>
				</dd>
			</dl>
			
			<dl>
				<dt><h3><?php _e('微信公众平台欢迎信息'); ?>:</h3></dt>
				<dd><input name="weixin_subscribe_message" type="text" value="<?php echo htmlspecialchars($this->setting['weixin_subscribe_message']); ?>"/></dd>
			</dl>
		</div>
		<a name="cache"></a>
		<div class="aw-mod-head">
			<h2><a href="javascript:;" onclick="ajax_post($('#settings_form'));" class="label label-inverse pull-right"><?php _e('快速保存'); ?></a><?php _e('性能优化'); ?></h2>
		</div>
		<div class="aw-mod-body">
			<dl>
				<dt><h3><?php _e('高级别缓存时间 (单位:秒)'); ?>:</h3></dt>
				<dd><input name="cache_level_high" type="text" value="<?php echo $this->setting['cache_level_high']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('普通级别缓存时间 (单位:秒)'); ?>:</h3></dt>
				<dd><input name="cache_level_normal" type="text" value="<?php echo $this->setting['cache_level_normal']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('低级别缓存时间 (单位:秒)'); ?>:</h3></dt>
				<dd><input name="cache_level_low" type="text" value="<?php echo $this->setting['cache_level_low']; ?>"/></dd>
			</dl>
		</div>
		<a name="interface"></a>
		<div class="aw-mod-head">
			<h2><a href="javascript:;" onclick="ajax_post($('#settings_form'));" class="label label-inverse pull-right"><?php _e('快速保存'); ?></a><?php _e('界面设置'); ?></h2>
		</div>
		<div class="aw-mod-body">
			<dl>
				<dt><h3><?php _e('用户界面风格'); ?>:</h3></dt>
				<dd><select class="small-input" name="ui_style">
				<?php foreach($this->styles as $skey => $val) { ?>
					<option value="<?php echo $val['id']; ?>"<?php if ($this->setting['ui_style'] == $val['id']) { ?> selected="selected"<?php } ?>><?php echo $val['title']; ?></option>
					<?php } ?>
				</select></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('最新动态显示条数'); ?>:</h3></dt>
				<dd><input name="index_per_page" class="text-input small-int" type="text" value="<?php echo $this->setting['index_per_page']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('通知显示条数'); ?>:</h3></dt>
				<dd><input name="notifications_per_page" class="text-input small-int" type="text" value="<?php echo $this->setting['notifications_per_page']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('问题和用户列表页显示条数'); ?>:</h3></dt>
				<dd><input name="contents_per_page" class="text-input small-int" type="text" value="<?php echo $this->setting['contents_per_page']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('首页推荐用户和话题数量'); ?>:</h3></dt>
				<dd><input name="recommend_users_number" class="text-input small-int" type="text" value="<?php echo $this->setting['recommend_users_number']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('话题页面推荐话题数'); ?>:</h3></dt>
				<dd><input name="recommend_topics_number" class="text-input small-int" type="text" value="<?php echo $this->setting['recommend_topics_number']; ?>"/></dd>
			</dl>
			<dl>
				<dt><h3><?php _e('话题页面我关注的话题数'); ?>:</h3></dt>
				<dd><input name="focus_topics_list_per_page" class="text-input small-int" type="text" value="<?php echo $this->setting['focus_topics_list_per_page']; ?>"/></dd>
			</dl>
		</div>
		
		<a name="sensitive_words"></a>
		<div class="aw-mod-head">
			<h2><a href="javascript:;" onclick="ajax_post($('#settings_form'));" class="label label-inverse pull-right"><?php _e('快速保存'); ?></a><?php _e('词语过滤'); ?></h2>
		</div>
		<div class="aw-mod-body">
			<dl>
				<dt><h3><?php _e('敏感词列表'); ?>: </h3></dt>
				<dd><textarea name="sensitive_words"><?php echo $this->setting['sensitive_words']; ?></textarea>
				<p class="aw-text-color-999"><?php _e('内容中出现敏感词将被替换成 * , 每行填写一个词'); ?></p>
				</dd>
			</p>
		</div>
		
		<a name="topic_settings"></a>
		<div class="aw-mod-head">
			<h2><a href="javascript:;" onclick="ajax_post($('#settings_form'));" class="label label-inverse pull-right"><?php _e('快速保存'); ?></a><?php _e('话题设置'); ?></h2>
		</div>
		<div class="aw-mod-body">
			<dl>
				<dt><h3><?php _e('今日话题'); ?>: </h3></dt>
				<dd><input type="text" name="today_topics" value="<?php echo $this->setting['today_topics']; ?>" />
				<p class="aw-text-color-999"><?php _e('填写话题名称, 系统每天随机选出一个作为今日话题, 留空则不显示今日话题, 可填写一个或多个话题, 多个话题请用 , 分隔'); ?></p>
				</dd>
			</p>
		</div>
		<div class="aw-mod-footer">
			<a href="javascript:;" class="btn btn-inverse btn-normal" onclick="ajax_post($('#settings_form'));"><?php _e('保存'); ?></a>
		</div>
	</div>
	</form>
</div>

<?php TPL::output('admin/global/footer.tpl.htm'); ?>