<?php TPL::output('admin/global/header.tpl.htm'); ?>

<?php TPL::output('admin/global/left.tpl.htm'); ?>

<div id="main-content">
	<div class="content-box">
		<div class="content-box-header">
			<h3><?php echo $this->crumb['last']['name']; ?></h3>
			
			<ul class="content-box-tabs">
				<li><a href="admin/statistic/register/"<?php if ($_GET['act'] == 'register' OR !$_GET['act'] OR $_GET['act'] == 'index') { ?> class="current"<?php } ?>><?php _e('注册统计'); ?></a></li>
				<li><a href="admin/statistic/question/"<?php if ($_GET['act'] == 'question') { ?> class="current"<?php } ?>><?php _e('问题统计'); ?></a></li>
				<li><a href="admin/statistic/answer/"<?php if ($_GET['act'] == 'answer') { ?> class="current"<?php } ?>><?php _e('回复统计'); ?></a></li>
				<li><a href="admin/statistic/topic/"<?php if ($_GET['act'] == 'topic') { ?> class="current"<?php } ?>><?php _e('话题统计'); ?></a></li>
			</ul>
		</div>
		
		<div class="content-box-content">
			<p>
				<form action="" method="post">
				<label><?php _e('统计时间段'); ?>:</label>
				<input type="text" value="<?php if ($_POST['start_time']) { echo $_POST['start_time']; } else { echo date('Y-m-d', strtotime('Last week')); } ?>" name="start_time" class="text-input date_picker" style="width:150px;" /> - <input type="text" value="<?php if ($_POST['end_time']) { echo $_POST['end_time']; } else { echo date('Y-m-d', strtotime('Today')); } ?>" name="end_time" class="text-input date_picker" style="width:150px;" /> <input type="submit" value="<?php _e('确定'); ?>" class="button" />
				</form>
			</p>

			<div id="chart_data" style="height: 400px;"></div>
			
			<div id="statistic" style="background:#CCCCCC; margin-top:10px;">
				<table width="100%">
					<thead>
						<tr>
							<th colspan="4"><?php _e('数据统计'); ?></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><?php _e('总数'); ?></td>
							<td><?php echo $this->total_count; ?></td>
							<td><?php _e('本月新增'); ?></td>
							<td><?php echo $this->month_count; ?></td>
						</tr>
						<tr>
							<td><?php _e('今日新增'); ?></td>
							<td><?php echo $this->today_count; ?></td>
							<td><?php _e('本周新增'); ?></td>
							<td><?php echo $this->week_count; ?></td>
						</tr>
						<?php if ($this->valid_count) { ?>
						<tr>
							<td><?php _e('Email 验证'); ?></td>
							<td><?php echo $this->valid_count; ?></td>
							<td colspan="2"></td>
						</tr>
						<?php } ?>
						<?php if ($this->question_with_answer_count) { ?>
						<tr>
							<td><?php _e('已被回复的问题'); ?></td>
							<td><?php echo $this->question_with_answer_count; ?></td>
							<td colspan="2"></td>
						</tr>
						<?php } ?>
					</tbody>
				</table>
			</div>
		</div>
	</div>

<?php //TPL::output('admin/global/footer.tpl.htm'); ?>

</div>

<script type="text/javascript">
$(window).resize(function() {
	$('#chart_data').css('width', $('#statistic').width());
});

$(document).ready(function () {
	$('#chart_data').css('width', $('#statistic').width());
	
    var chartData = [<?php foreach($this->statistic_list as $key => $val){ ?>{date : new Date(<?php echo date('Y', $val['date']); ?>, <?php echo intval(date('m', $val['date'])) - 1; ?>, <?php echo date('d', $val['date']); ?>), visits : <?php echo $val['visits']; ?>}, <?php } ?>];

    AmCharts.ready(function () {
		AmCharts.shortMonthNames = ['<?php _e('一月'); ?>', '<?php _e('二月'); ?>', '<?php _e('三月'); ?>', '<?php _e('四月'); ?>', '<?php _e('五月'); ?>', '<?php _e('六月'); ?>', '<?php _e('七月'); ?>', '<?php _e('八月'); ?>', '<?php _e('九月'); ?>', '<?php _e('十月'); ?>', '<?php _e('十一月'); ?>', '<?php _e('十二月'); ?>'];

        // SERIAL CHART    
        var chart = new AmCharts.AmSerialChart();
        
        chart.pathToImages = G_STATIC_URL + '/admin/js/amcharts/images/';
        chart.panEventsEnabled = true;
        chart.zoomOutButton = {
            backgroundColor: "#000000",
            backgroundAlpha: 0.15
        };
        
        chart.dataProvider = chartData;
        
        chart.categoryField = 'date';
        chart.marginRight = 0;
        chart.balloon.bulletSize = 5;

        // listen for "dataUpdated" event (fired when chart is rendered) and call zoomChart method when it happens
        chart.addListener('dataUpdated', function () {
	        chart.zoomToIndexes(chartData.length - 40, chartData.length - 1);
        });

        // AXES
        // category
        var categoryAxis = chart.categoryAxis;
        
        categoryAxis.parseDates = true; // as our data is date-based, we set parseDates to true
        categoryAxis.minPeriod = "DD"; // our data is daily, so we set minPeriod to DD
        categoryAxis.dashLength = 1;
        categoryAxis.gridAlpha = 0.15;              
        categoryAxis.axisColor = "#DADADA";

        // value                
        var valueAxis = new AmCharts.ValueAxis();
        valueAxis.axisAlpha = 0;
        valueAxis.dashLength = 1;
        chart.addValueAxis(valueAxis);

        // GRAPH
        var graph = new AmCharts.AmGraph();
        
        graph.title = '<?php echo $this->crumb['last']['name']; ?>';
        graph.valueField = 'visits';
        graph.lineAlpha = 1;
        graph.fillAlphas = 0.6; // setting fillAlphas to > 0 value makes it area graph
        chart.addGraph(graph);

        // CURSOR
        var chartCursor = new AmCharts.ChartCursor();
        chartCursor.cursorPosition = 'mouse';
        chartCursor.pan = true; // set it to fals if you want the cursor to work in "select" mode
        chart.addChartCursor(chartCursor);

        // SCROLLBAR
        var chartScrollbar = new AmCharts.ChartScrollbar();
        chartScrollbar.graph = graph;
        chartScrollbar.autoGridCount = true;
        chartScrollbar.scrollbarHeight = 25;
        chart.addChartScrollbar(chartScrollbar);
        
        // LEGEND
        var legend = new AmCharts.AmLegend();
        legend.position = "top";
        chart.addLegend(legend);

        // WRITE
        chart.write('chart_data');
    });
});

</script>

</body>
</html>