<?php TPL::output('admin/global/header.tpl.htm'); ?>
<?php TPL::output('admin/global/nav_menu.tpl.htm'); ?>

<div class="right-side">	
	<div class="aw-mod-head">
		<h2>
			<span class="pull-left"><?php _e('数据统计'); ?></span>
			
			<ul class="nav nav-tabs pull-left">
			    <li<?php if ($_GET['act'] == 'register' OR !$_GET['act'] OR $_GET['act'] == 'index') { ?> class="active"<?php } ?>><a href="admin/statistic/register/"><?php _e('注册统计'); ?></a></li>
				<li<?php if ($_GET['act'] == 'question') { ?> class="active"<?php } ?>><a href="admin/statistic/question/"><?php _e('问题统计'); ?></a></li>
				<li<?php if ($_GET['act'] == 'answer') { ?> class="active"<?php } ?>><a href="admin/statistic/answer/"><?php _e('回复统计'); ?></a></li>
				<li<?php if ($_GET['act'] == 'topic') { ?> class="active"<?php } ?>><a href="admin/statistic/topic/"><?php _e('话题统计'); ?></a></li>
			</ul>
		</h2>
	</div>
	
	<div class="aw-mod-body">
		<div class="aw-box aw-no-border-top">
			<canvas id="charts" height="360"></canvas>	
			
			<form action="" id="settings_form" method="post">
			<p align="center" class="aw-padding10"><?php _e('统计时间段'); ?>: <input type="text" value="<?php if ($_POST['start_time']) { echo $_POST['start_time']; } else { echo date('Y-m-d', strtotime('Last week')); } ?>" name="start_time" class="input-small date_picker" /> - <input type="text" value="<?php if ($_POST['end_time']) { echo $_POST['end_time']; } else { echo date('Y-m-d', strtotime('Today')); } ?>" name="end_time" class="input-small date_picker" /> &nbsp; <a href="javascript:;" class="btn btn-inverse btn-normal" onclick="$('#settings_form').submit();"><?php _e('确定'); ?></a></p>
			</form>
		</div>
		
		<table width="100%" class="aw-table">
			<thead>
				<tr>
					<th colspan="4"><?php _e('数据统计'); ?></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><?php _e('总数'); ?></td>
					<td><?php echo $this->total_count; ?></td>
					<td><?php _e('本月新增'); ?></td>
					<td><?php echo $this->month_count; ?></td>
				</tr>
				<tr>
					<td><?php _e('今日新增'); ?></td>
					<td><?php echo $this->today_count; ?></td>
					<td><?php _e('本周新增'); ?></td>
					<td><?php echo $this->week_count; ?></td>
				</tr>
				<?php if ($this->valid_count) { ?>
				<tr>
					<td><?php _e('Email 验证'); ?></td>
					<td><?php echo $this->valid_count; ?></td>
					<td colspan="2"></td>
				</tr>
				<?php } ?>
				<?php if ($this->question_with_answer_count) { ?>
				<tr>
					<td><?php _e('已被回复的问题'); ?></td>
					<td><?php echo $this->question_with_answer_count; ?></td>
					<td colspan="2"></td>
				</tr>
				<?php } ?>
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
$(window).load(function() {
	$('#charts').attr('width', $('#charts').parent().width());
	
	new Chart(document.getElementById("charts").getContext("2d")).Line({
		labels : [<?php foreach($this->statistic_list AS $key => $val) { ?><?php if ($key > 0) { ?>, <?php } ?>'<?php echo $val['date']; ?>'<?php } ?>],
		datasets : [
			{
				fillColor : "rgba(151,187,205,0.5)",
				strokeColor : "rgba(151,187,205,1)",
				pointColor : "rgba(151,187,205,1)",
				pointStrokeColor : "#fff",
				data : [<?php foreach($this->statistic_list AS $key => $val) { ?><?php if ($key > 0) { ?>, <?php } ?><?php echo $val['count']; ?><?php } ?>]
			}
		]
	});
});
</script>

<?php TPL::output('admin/global/footer.tpl.htm'); ?>