<?php TPL::output('global/header.tpl.htm'); ?>
	
	<?php TPL::output('block/content_nav_menu.tpl.htm'); ?>
	
	<div class="i_bd mainElem i_clear i_allbg">
		<?php TPL::output('block/content_question.tpl.htm'); ?>
		
		<div class="R_sidebar"> 
			<div class="i_rightMain">
				<?php TPL::output('block/sidebar_feature.tpl.htm'); ?>
				<?php TPL::output('block/sidebar_hot_topics.tpl.htm'); ?>
				<?php TPL::output('block/sidebar_hot_users.tpl.htm'); ?>
			</div>
		</div>
	</div>

<?php TPL::output('global/footer.tpl.htm'); ?>