<?php TPL::output('global/header.tpl.htm'); ?>
	
	<div class="aw-container-wrap">
		<div class="aw-container aw-wecenter">
			<?php TPL::output('block/content_nav_menu.tpl.htm'); ?>
			
			<div class="row aw-content-wrap">
				<?php TPL::output('block/content_question.tpl.htm'); ?>
				
				<!-- 侧边栏 -->
				<div class="col-sm-12 col-md-3 aw-side-bar">
					<?php TPL::output('block/sidebar_feature.tpl.htm'); ?>
					<?php TPL::output('block/sidebar_hot_topics.tpl.htm'); ?>
					<?php TPL::output('block/sidebar_hot_users.tpl.htm'); ?>
				</div>
				<!-- end 侧边栏 -->
			</div>
		</div>
	</div>

<?php TPL::output('global/footer.tpl.htm'); ?>