@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-weibo:before {
	content: "\e600";
}
.icon-weibo-alt:before {
	content: "\e601";
}
.icon-wechat:before {
	content: "\e602";
}
.icon-wechat-alt:before {
	content: "\e603";
}
.icon-v:before {
	content: "\e604";
}
.icon-sina:before {
	content: "\e605";
}
.icon-sina-alt:before {
	content: "\e606";
}
.icon-qq:before {
	content: "\e607";
}
.icon-qq-alt:before {
	content: "\e608";
}
.icon-g-replay:before {
	content: "\e609";
}
.icon-code:before {
	content: "\e60a";
}

