/* 全局样式 */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-touch-callout: none; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
html { background: #fff url(default/img/bg.gif) fixed; }
body { font: 14px/22px 'Helvetica Neue', 'STHeiti', 'Microsoft YaHei', Helvetica, Arial, sans-serif; line-height: 150%; overflow: hidden; margin: 0; padding: 0; -webkit-hyphens: auto; }
input, textarea { resize: none; }
img { font-size: 0; vertical-align: middle; -ms-interpolation-mode: bicubic; color: transparent; border: 0; }
a { -webkit-transition: opacity, color .33s ease; -moz-transition: opacity, color .33s ease; transition: opacity, color .33s ease; text-decoration: none; color: #333; }
a:hover { text-decoration: none; color: #5d6c79; }
input, select, textarea { font: normal 12px Verdana, Arial; }
.hide { display: none; }

/* 左侧内容导航 */

.aw-reader-side { position: fixed; z-index: 10; top: 0; bottom: 0; left: 0; max-width: 320px; border-right: 1px solid #e6e6e6; background: #f0f0f0; }
.aw-reader-side .header { padding: 15px 0; }
.aw-reader-side .logo { font-size: 18px; line-height: 30px; width: 118px; height: 30px; margin: 0; padding: 0; color: #666; }
.aw-reader-side .logo i { font-size: 24px; vertical-align: -4px; }
.aw-reader-side .header a { font-size: 14px; line-height: 25px; float: right; padding: 3px 10px; color: #999; }
.aw-reader-side .header a i { margin-right: 5px; font-size: 16px;vertical-align: -1px;}
/* 下拉菜单 */
.aw-reader-side .filter { line-height: 20px; height: 40px; margin: 0 -15px; padding: 0; color: #999; border-top: 1px solid white; background: #fff; }
.aw-reader-side .filter .dropdown-list-wrap { position: relative; margin-top: 7px; }
.aw-reader-side .filter .dropdown-list-wrap span { line-height: 26px; display: block; min-width: 20px; padding: 0 15px; cursor: pointer; text-align: left; color: #666; }
.aw-reader-side .filter .dropdown-list-wrap i { font-size: 14px; position: absolute; top: 5px; right: 15px; display: block; cursor: pointer;}
.aw-reader-side .filter .dropdown-list { width: 100%; background: #fff; }
.aw-reader-side .filter .dropdown-list-wrap ul { position: absolute; z-index: 9999; top: 32px; right: 0; display: none; overflow-y: scroll; width: 100%; max-height: 401px; margin: 0; padding: 0; list-style-type: none; }
.aw-reader-side .dropdown-list ul li { line-height: 40px; height: 40px; padding: 0 10px; cursor: pointer; border-bottom: 1px solid #f0f0f0; background: none repeat scroll 0 0 #fff; }
.aw-reader-side .dropdown-list ul li:hover { background: #499ef3; }
.aw-reader-side .dropdown-list ul li:hover a { color: #fff; }
.aw-reader-side .dropdown-list ul li a { color: #666; }
.aw-reader-side #feature_selecter { display: none; float: right; margin-top: 9px; }
/* 内容标题 */
.aw-reader-side .aw-mod { height: 100%; margin: 0 -15px; }
.aw-reader-side .aw-mod ul { overflow-y: auto; margin: 0; padding: 0; list-style: none; -webkit-overflow-scrolling: touch; }
.aw-reader-side .aw-mod ul li { min-height: 69px; margin: 0; padding: 15px; border-bottom: 1px solid #e6e6e6; }
.aw-reader-side .aw-mod ul li:hover, .aw-reader-side .aw-mod ul li.current { color: #fff; background: #499ef3; }
.aw-reader-side .aw-mod ul li:hover a h2, .aw-reader-side .aw-mod ul li:hover p, .aw-reader-side .aw-mod ul li:hover p strong, .aw-reader-side .aw-mod ul li:hover a span, .aw-reader-side .aw-mod ul li.current a h2, .aw-reader-side .aw-mod ul li.current p, .aw-reader-side .aw-mod ul li.current p strong, .aw-reader-side .aw-mod ul li.current a span { color: #fff; }
.aw-reader-side .aw-mod ul .loading { line-height: 42px; height: 42px; text-align: center; color: #999; background: url(../common/reader_loading.gif) no-repeat 90px center; }
.aw-reader-side .aw-mod ul li a { position: relative; display: block; padding: 0 40px 0 0 ; cursor: pointer; }
.aw-reader-side .aw-mod ul li a i { position: absolute; left: 15px; top: 25px; }
.aw-reader-side .aw-mod h2 { font-size: 14px; line-height: 20px; overflow: hidden; max-width: 245px; max-height: 40px; margin: 0; padding: 0; text-overflow: ellipsis; color: #333; }
.aw-reader-side .aw-mod p { font-size: 12px; overflow: hidden; margin: 5px 0 0 0; white-space: nowrap; text-overflow: ellipsis; color: #999; }
.aw-reader-side .aw-mod p img { width: 16px; height: 16px; margin: 0 3px 0 0; vertical-align: text-bottom; border-radius: 4px; }
.aw-reader-side .aw-mod p strong { font-weight: normal; color: #999; }
.aw-reader-side .aw-mod p span { color: #999; }
.aw-reader-side .vote-count { font-size: 12px; position: absolute; top: 0; right: 0; display: block; width: 35px; height: 40px; padding-left: 10px; text-align: center; color: #999; border-left: 1px solid #e6e6e6; }

/* 右侧阅读区域 */

.aw-reader-content { position: fixed; top: 0; bottom: -5px; left: 315px; overflow: hidden; max-width: 850px; margin: 0 10px 0 0; padding: 0 0 0 5px; background: #fff; }
.aw-reader-content .header { font-size: 12px; line-height: 60px; height: 60px; margin: 0 40px; -webkit-user-select: none; -moz-user-select: none; user-select: none; color: #999; border-bottom: 1px solid #f0f0f0; text-shadow: 0 1px 0 white; -khtml-user-select: none; }
.aw-reader-content .header span { color: #999; }
.aw-reader-content .header .top-actions { float: right; margin: 0 0 0 15px; color: #3474b5; }
/* 问题 */
.aw-reader-content .question { overflow-y: auto; height: 100%; padding: 30px 40px 100px; -webkit-overflow-scrolling: touch; }
.aw-reader-content .question h1 { font-size: 20px; margin: 0 0 15px; color: #333; }
.aw-reader-content .question-tags { min-height: 22px; margin-bottom: 20px; }
.aw-reader-content .question-tags ul { padding: 0; list-style-type: none; }
.aw-reader-content .question-tags ul li { float: left; margin-right: 5px; }
.aw-reader-content .question-tags ul li a { font-size: 12px; line-height: 16px; display: inline-block; height: 20px; padding: 2px 5px; color: #fff; border-radius: 4px; background-color: #99cfff; }
.aw-reader-content .question-description { font-size: 14px; padding: 0 0 30px; color: #666;}
.aw-reader-content .mod-body {margin-right: -15px; border-bottom: 1px solid #f0f0f0;}
/* 回答 */
.aw-reader-content .aw-answer { position: relative; padding: 30px 0 40px; color: #333; }
.aw-reader-content .aw-answer .aw-answer-info {border-bottom: none; }
.aw-reader-content .aw-answer .aw-answer-info .author-img { float: left; width: 32px; height: 32px; margin: 0 10px 0 0;border-radius: 4px; }
.aw-reader-content .aw-answer .aw-answer-info .author-name { margin: 2px 0 0 0; color: #145faa; }
.aw-reader-content .aw-answer .aw-answer-info span { line-height: 1; display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.aw-reader-content .aw-answer .aw-answer-info .author-intro { margin: 5px 0 0 0; color: #999; }
.aw-reader-content .aw-answer .aw-answer-body { position: relative; padding: 15px; }
.aw-reader-content .vote-info-users-list { display: inline; margin: 0; padding: 0; }
.aw-reader-content .answer-vote-info { margin: -10px 0 20px -15px; color: #999; }
.aw-reader-content .answer-vote-info a { color: #999; }
.aw-reader-content span.vote-info-num { font-size: 12px; line-height: 14px; width: 20px; height: 14px; padding: 3px 10px; color: #fff; border-radius: 4px; background: #ccc; }
.aw-reader-content .vote-info-users-list li { display: inline; margin: 0; padding: 0; list-style: none; }
.aw-reader-content .answer-text { font-size: 14px; line-height: 28px; padding: 0; color: #333; }
.aw-reader-content .answer-text strong, .aw-reader-content .answer-text b { font-weight: bold; }
.aw-reader-content .answer-text img { display: block; max-width: 100%; height: auto; margin: 10px 0; box-shadow: 0 1px 2px rgba(0, 0, 0, .3); }
.aw-reader-content .answer-text ol, .aw-reader-content .answer-text ul { margin: 10px 0; padding: 0 15px; }
.aw-reader-content .answer-text ol li, .aw-reader-content .answers-text ul li { margin: 5px 0; }
.aw-reader-content .answer-text ol li { list-style: decimal inside none; }
.aw-reader-content .answer-text ul li { list-style: disc inside none; }
.aw-reader-content .answer-text sup { display: block; margin: 10px 0; padding: 0 10px; border-left: 3px solid #dfe3e6; }
.aw-reader-content .answer-text a { border-bottom: 1px dotted; }
.aw-reader-content .answer-text a:hover { border-bottom: 1px solid; }
.aw-reader-content .aw-answer-meta { margin-top: 35px; }
.aw-reader-content .aw-answer-meta, .aw-reader-content .aw-answer-meta a { font-size: 12px; color: #999; }
.aw-reader-content .aw-answer-meta a:hover { color: #888; }
.middot { padding: 0 5px; }
