@charset "utf-8";
/*+--------------------------------------+
* 名称: main
* 功能: 主要样式
* anwsin官方:http://www.anwsion.com/
* developer:诸葛浮云
* Email:globalbreak@gmail.com 
* Copyright © 2012 - Anwsion社区, All Rights Reserved 
* Date:2012-08-01
*+--------------------------------------+*/

/* >> 颜色链接文件 */ 
@import url("link.css");


/* >> 首页_s */
.tags_Mark{ font-size:14px !important;}
.mainElem{width:960px; margin:0 auto;overflow:hidden;}
/* >> 左边栏 */
.L_sidebar{width:710px;}
/* >> 左边栏 */
.R_sidebar{ width:240px; float:right;}
.R_sidebar,.b_restrain{background-color:#fff;}

/*global_line*/
.b_restrain{border:1px solid #dfdfdf;}
.b_restrain .S_module{ margin:0 20px;}
.b_restrain .x{ margin-top:9px;}

/* >> 新通知模块_s */
.new_notice{border:1px solid #dfdfdf; background-color:#fbfbfb; margin-bottom:26px; padding-top:15px;}
.new_notice h3{ margin:0 20px;}
.new_notice h3,
.latest_trendst_h3 /* >> 最新动态 */
{ font-size:20px; padding-bottom:15px;  line-height:20px; min-height:20px;}
.new_ls{ margin:0 15px;}
.new_ls li{ padding:15px 0; line-height:15px;}
.new_ls li > span.time{ font-size:12px;}
.new_ls li.i_bold >span,.new_ls li.i_bold .ex_more,.new_ls li.i_bold .ex_hs{ font-weight:normal; font-size:12px;}
.new_ls li.i_bold >span{color:#999;}
.new_ls .ex_hs,.S_module >h4 .x,#msgDropdown >p .s >.x{ cursor:pointer; visibility:hidden;}

/* >> 公告_s */
.notice_msg h3 > a.x,
.i_noticetxt h3 > a.x,
.new_ls em.x,#msgDropdown >p .s >.x{display:inline-block; height:15px; width:15px; line-height:99em; overflow:hidden; margin-left:5px; background-position:-35px -962px; vertical-align:middle;}
.new_ls  em.x:hover,
.notice_msg h3 > a.x:hover,
.i_noticetxt h3 > a.x:hover,
#msgDropdown >p .s >.x:hover{ background-position:-35px -986px;}
.new_ls li:hover .ex_hs,.S_module:hover >h4 .x,#msgDropdown >p:hover .s >.x,#msgDropdown >p:hover mark{ visibility:visible;}
.new_ls .ex_more{ padding-top:10px; font-size:12px; line-height:normal;}

/* >> 最新动态提示条_s */
.main_latest{ background-color:#feffe5; border:1px solid #f9f2a7; color:#d4a639 !important; text-align:center; height:35px; line-height:35px; margin-top:15px; display:block;}
.main_latest:hover{ background-color:#fcfddb;}
.main_content,.q_congMain{border:1px solid #dfdfdf; padding:20px 20px 0;}

/* >> 内容模块_s */
.S_module{ padding:15px 42px 15px 0;}
.S_module.index_module{padding:15px 0 15px 42px;}
.S_module.index_module .s_user{ float:left; margin-left:-42px;}
.S_module h4{ padding-bottom:7px; line-height:18px; font-size:15px; font-weight:bold;}
.S_module .s_ctrl,.S_module .s_autograph{ line-height:15px; padding-bottom:10px;}
.S_module .s_ctrl{font-size:12px;}
.S_module .s_txt{ padding-left:33px;}
.S_module .s_ctrl .i_gray >a.user_msg{ color:#105DB5 !important; background-color:#D4F2FF; padding:1px 3px; border-radius:5px;}
.S_module .s_autograph{ padding-bottom:5px;}
.S_module .s_xs,.s_txt .s_endorse{ left:0; top:0; display:inline-block;}
.s_txt .s_endorse{background-color:#e9f5ff; height:23px; width:17px;  line-height:23px; text-align:center; padding:0 3px;}
.S_module .s_endorsepeople{ padding-bottom:5px;word-break:break-all;}
.S_module .s_endorsepeople .v_more,.S_module .s_endorsepeople{font-size:12px!important;}
.S_module .s_endorsepeople .v_more{margin-left:10px;}
.S_module .s_endorsepeople >.g_txt{ margin-right:5px;}
.S_module .s_xs,.S_module .s_xs >a{ width:23px;}
.S_module .s_xs >a{ height:23px; display:block;}
.S_module .s_xs >a:hover >.i_tips_black{ visibility:visible; z-index:2; left:30px; top:0;}
.S_module .s_xs >a >.i_tips_black em{ width:4px; height:6px; left:-4px; top:8px; background-position:-3px -575px;}
.S_module .s_xs >a.s_zt{ background-position:-27px -1567px;}
.S_module .s_xs >a.s_fd{ background-position:-27px -1592px;}
.S_module .s_xs >a.s_cur_z{ background-position:-27px -1617px;}
.S_module .s_xs >a.s_cur_f{ background-position:-27px -1642px;}
.S_module .s_xs >a.s_seif_z{ background-position:-27px -1516px; cursor:auto;}
.S_module .s_xs >a.s_seif_f{ background-position:-27px -1541px;cursor:auto;}
.S_module .s_xs >em.s{ font-size:14px; display:block; height:20px; line-height:20px; width:23px; text-align:center;}
.S_module .q_hide{ visibility:hidden; display:inline;}
.S_module:hover .q_hide{ visibility:visible;}
.s_enfoldment{ height:36px;line-height:36px !important; padding-bottom:0 !important; margin-top:0; text-align:center;} /* 折叠 */
.s_enfoldment >a{ font-weight:normal;}
.s_enfoldment >a.a{ top:0; right:10px;}
.s_enpd{ padding-right:0;}
.i_color_bg{ padding:15px 66px 15px 21px !important; width:621px !important; margin-left:-1px !important;} /*通知跳转后，背景颜色变换样式 淡黄*/
.i_color_bg .s_user{ margin-right:0 !important;}
.i_color_bg .i_maingxr > li{ background-color:transparent !important;}
.i_color_bg .s_user{margin-right:-45px !important;}

/*+--- 用户头像尺寸_s ---+*/
.S_module .s_user{ float:right; margin-right:-42px;}
.q_mainElem .q_user /* 问题 > 问题列表用户头像 */
{ right:0; top:15px;}
.q_mainElem .q_user >img{ width:50px; height:50px;}

.S_module .s_user >img,.add_user_f >img,
.i_imgforUser >img /* 回复 */
.interest_user .add_user_f,
.invitation_user_list li img,
#search_global .user_header >img /*搜索*/
{width:32px; height:32px; overflow:hidden;}
.q_UserList a>img,.topic_title_main span.user_x2 img{ width:25px; height:25px;}


/* >> 公告_s */
.notice_msg{ overflow:hidden;}
.i_noticetxt{ margin:0 15px 20px; padding:15px; background-color:#F8F8F8; border:1px solid #dfdfdf; width:178px; position:relative; word-wrap:break-word;}
.i_noticetxt h3{ font-weight:bold; line-height:15px; font-size:14px;} 
.i_noticetxt h3 > a.x{ margin-top:-10px; margin-right:-10px;}
.ix_net{ margin:5px 0 30px -10px; float:left;}

/* >> 右边标题_s */
.h3_title{ font-size:14px;line-height:15px; padding:12px 0 18px; font-weight:bold; text-indent:30px;}
/* >> 问题重定向_s */
.re_Ction h3 { height: 20px; padding-bottom: 5px; font-weight:bold;}
.re_Ction .s_qs input {height:30px; line-height:30px;width:405px; margin-bottom:10px;}

.re_Ction .give_up { text-align:right; }

.R_sidebar .i_message_tooltip_s,.q_bElems .i_message_tooltip_s{ background-position:0 -61px !important;} /* 统一为蓝色背景色 */

/* >> 我的动态列表 */
.unityjoin,
.trends_ls/* 加入社区 */
{border-bottom:1px solid #c1cad4; }
.i_index .i_bordernth{border-bottom:1px solid #c1cad4 !important; }
.trends_ls{ padding-bottom:10px;margin:0 30px;}
.trends_ls a{ display:block; height:33px;line-height:33px; margin-bottom:5px;}
.trends_ls a.cur{font-weight:bold;position:relative;margin-left:-20px;width:215px;  padding-left:20px;background:#a9b8c5 url(img/main_default.png)  0 -79px  no-repeat; color:#fff !important;}
.special_aws{padding-top:6px;}

/* >> 加入社区_s */
.unityjoin,
.interest_user/* >> 可能该兴趣的用户 */
{ padding:15px 0;}
.unityjoin >a.i_green_but{ margin-top:10px;}
.x_invite{ width:400px; margin:70px auto;}
.x_txtinput{ width:380px; height:30px; line-height:30px;}
.x_pad{ padding-top:10px;}
.x_invite >p >a.i_green_but{ vertical-align:middle;}

/* >> 可能该兴趣的用户vs话题_s */
.interest_user+ .interest_user{border-top:1px solid #c1cad4;}
.interest_user h3{ font-weight:bold;}
.interest_user .add_ls{ padding-top:10px; padding-left:42px;min-height:38px;}
.interest_user .add_gray{ display:block; font-size:12px;}
.interest_user .add_user_f{ float:left;margin-left:-42px; margin-top:5px;display:inline-block;line-height:15px;overflow:hidden;}
.interest_user .topic{ display:inline-block; background-color:#d4f2ff;max-width:100px; height:18px; line-height:18px; margin-right:10px; padding:2px 5px; vertical-align:middle; cursor:pointer;}
.topic_u .add_user_f{ margin-top:0;}


/*+++++++++++++++++ >> 问题 all css,样式命名以“q_”开头 ++++++++++++++++++ */

/* >> 分类导航_s */
.q_category_nav{ padding:15px 0;}
.q_category_nav.q_classify{ padding:0 !important;}
.q_category_nav,.i_ajax_more.disabled{ background-color:#f7f7f7;}
.q_category_nav .q_nav_tx{ width:130px; padding:15px 15px 15px 75px; margin-left:15px;}
.q_category_nav .q_nav_tx:hover,.q_category_nav .q_nav_tx.cur,
.q_classify .q_class_ul >li:hover,.q_classify .q_class_ul >li.cur{ background-color:#ebebeb;}
.q_category_nav .q_imgs{ float:left; margin-left:-60px; display:inline-block; height:50px; width:50px; overflow:hidden;}
.q_category_nav .q_nav_tx >b{ display:block; line-height:15px; padding-bottom:10px;}
.q_category_nav .q_nav_tx >.q_span{ font-size:12px; display:block; word-wrap:break-word; height:40px; overflow:hidden;}
.q_category_nav .q_nav_tx >.i_data_list{ top:95px; width:218px; z-index:99;}
.q_category_nav .q_nav_tx >.i_data_list a{ width:auto;}
.q_category_nav .q_nav_tx >.i_data_list a:hover,.q_classify .i_data_list a:hover{ background-image:none;}
/* 分类导航 > 子分类模块 */
.q_classify .q_class_ul{ margin:0 30px; }
.q_classify .q_class_ul >li{ float:left; height:25px; margin:7px 0;width:98px; margin-right:10px;text-align:center ;line-height:25px; overflow:visible !important; display:inline;}
.q_classify .q_class_ul >li .i_data_list{ top:5px; left:-20%; z-index:99!important; position:relative;}

/* >> 最新、热门导航_s */
.q_qusAll{ font-weight:bold;border:0 none;}
.q_qusAll .q_navC{font-size:14px;font-weight:normal;right:5px; top:0; }
.q_qusAll .q_navC a{display:block;padding:0 15px; float:right;color:#999; height:27px; line-height:27px; margin:9px 6px;}
.q_qusAll .q_navC a.cur{ background-color:#bbb; color:#fff !important;}
.q_qusAll .q_navC a >em.q_arrs_down{ display:inline-block; vertical-align:middle; width:6px; height:6px; background-position:-3px -566px; margin-left:5px;}/* 问题内容页小箭头 */
.q_qusAll .q_navC a >em.q_arrs_up{ background-position:-3px -602px;}
/* >> 最新、热门导航 >> 子分类模块*/
.q_hotClass{ height:50px; padding-top:0; padding-left:60px;}
.q_hotClass .q_Hspan{ display:block; font-size:12px; padding-top:10px; width:300px; height:20px; font-weight:normal;}
.q_hotClass .q_Himgs{ left:0; bottom:15px;}

/* >> 列表内容分离模块_s */
.q_mainElem{ padding:15px 65px;min-height:50px; margin:0 20px;}
.q_mainElem h4{ font-weight:bold; line-height:18px; margin-bottom:5px;font-size:15px;}
.q_mainElem >.q_reply{ display:block;width:50px; height:50px; background-color:#92d6fd; left:0; top:15px; text-align:center; line-height:normal;}
.q_mainElem >.q_reply >em{ display:block; height:30px; line-height:30px; background-color:#efefef; font-size:16px;}
.q_mainElem >.q_reply.q_zero >em{background-color:#f6f6f6; color:#999 !important;}
.q_mainElem >.q_reply.q_zero{ background-color:#9a9a9a !important;color:#fff!important;}
.q_mainElem >.q_reply.q_winner{ background-position:-35px -155px; padding-left:15px; width:35px;}
.q_mainElem >.q_reply.q_winner >em{ margin-left:-15px;}
.q_mainElem .q_banner,.q_mainElem .q_banner >em.q_ex{height:20px; line-height:20px !important;}
.q_mainElem .q_banner{ background-position:0 -396px; padding-left:9px; margin-right:10px; cursor:pointer; vertical-align:middle;}
.q_mainElem .q_banner >em.q_ex{ padding-right:9px;background-position:right -396px; margin-right:-8px; max-width:150px; overflow:hidden; }
.q_mainElem .q_banner:hover{ background-position:0 -419px;}
.q_mainElem .q_banner:hover >em.q_ex{ background-position:right -419px;}
.q_mainElem .q_elems{ font-size:12px;}
.q_box,.i_rightMain{padding:0 30px 15px;}
.q_box .interest_user,.c_mainElem >h4,.a_question >.a_qsAsk{ padding-top:30px;}
.q_box .topic_u h3{ padding-bottom:5px;}
.q_txt_right{ background-color:#F7FCFF; height:30px; line-height:30px;text-align:right; padding:0 10px;}
.q_txt_right a{ margin-left:15px;}
.question_x2 >.q_mainElem .q_reply{ left:auto !important; right:0; background:url(img/main_default.png) -26px -166px no-repeat; width:39px; height:25px; overflow:hidden;} /*问题首页单独调整*/
.question_x2 >.q_mainElem .q_reply >em{ color:#999 !important; line-height:25px !important; background:none !important; margin-left:8px;}
.question_x2 >.q_mainElem .q_reply.q_winner{padding:0 !important;}
.question_x2 .q_mainElem .q_reply.q_zero{ background-color:transparent !important;}
.question_x2 >.q_mainElem .q_user{right:auto !important; left:0;}

/* >> 问题内容页css style */
.q_congMain{ padding-bottom:20px; margin-bottom:30px;}
.q_congMain >h2{ padding-right:160px; font-size:20px; font-weight:bold; line-height:30px; padding-bottom:10px;}
.q_rightBar{ right:0; top:0; width:170px; text-align:right;}
.q_rightBar a{ font-size:13px; font-weight:normal; display:inline-block;vertical-align:middle; margin-left:10px;}
.q_rightBar .q_setBtn{ width:79px; height:25px; background-position:-121px -446px;}
.q_rightBar .q_setBtn:hover{ background-position:-121px -474px;}
.q_rightBar .q_tipis{right:0; left:auto; top:36px; width:120px;z-index:99; text-align:left !important;}
.q_rightBar .q_tipis p{ width:120px; overflow:hidden;}
.q_rightBar .q_tipis .i_arrows{ right:30%;}
.q_topicManage .i_glotopic,.a_question .a_wtxt .i_glotopic{ margin-left:0; margin-right:10px;}
.q_topicManage{border-bottom:1px dotted #c1cad4; padding-bottom:10px;}
.q_editor{font-size:12px; background-position:-37px -320px; padding-left:15px; line-height:18px !important; cursor:pointer; display:inline-block; margin-left:10px; white-space:nowrap; visibility:hidden;}
.q_topicManage:hover .q_editor,
.topic_related:hover .q_editor,
.a_question > .a_qsAsk > h4 .q_editor,
.add_label .q_editor{ visibility:visible;}
.q_con_txt{ padding:10px 0;}
.q_con_imgs img{ max-width:600px;padding:1px;border:1px solid #fff; margin-top:15px;}
.q_congMain .q_bElems a,.S_module >.s_txt > .q_bElems a{ margin-left:10px;}
.q_pagelogs li{padding:15px 20px; border-bottom:1px dotted #ccc;}
.q_pagelogs p{ padding-bottom:5px;}
.q_pagelogs li del{ background:#F7D3D3;}
.q_pagelogs li ins{ background:#EDFCE5;}

.text_content { padding:15px; line-height: 150%; }

.q_bElems{ font-size:12px; margin-top:5px;}
.q_bElems a{ padding-left:17px;}
.q_bElems .q_criticism, /* 评论 */
.q_bElems .q_participate,/* 分享 */
.q_bElems .q_edit,/* 编辑 */
.q_bElems .q_delete,/* 删除 */
.q_bElems .q_modification/* 待修改 */{display:inline-block; height:20px; line-height:20px;}
.q_congMain .q_participate{ z-index:99;}
.q_participate .i_data_list{ width:85px; top:25px;z-index:99;}
.q_bElems .i_data_list p a{ width:auto; margin-left:0!important; padding-left:40px; text-align:left; text-indent:0 !important;}
.q_bElems .i_data_list p a.q_wb{ background-position:-16px -2522px;}
.q_bElems .i_data_list p a.q_letter{ background-position:-16px -1672px;}
.q_bElems .i_data_list p a.q_maill{ background-position:-16px -1706px;}
.q_bElems .q_criticism{ background-position:-35px -1114px;} /*评论*/
.q_bElems .q_criticism:hover,.q_bElems .q_criticism.cur{ background-position:-35px -1139px;}
.q_bElems .q_criticism.cur{color:#2586cd;}
.q_bElems .q_pate{ background-position:-35px -1276px;}
.q_bElems .q_pate:hover{ background-position:-35px -1253px;}
.q_bElems .q_delete{ background-position:-35px -1300px;}
.q_bElems .q_delete:hover{ background-position:-35px -1325px;}
.q_bElems .q_edit{ background-position:-35px -1014px;}
.q_bElems .q_edit:hover{ background-position:-35px -1041px;}
.q_bElems .q_modification{ background-position:-35px -1390px;}
.q_bElems .q_modification:hover{ background-position:-35px -1353px;}
.q_bElems .q_grateful{ background-position:-35px -1208px;}
.q_bElems .q_grateful:hover{ background-position:-35px -1230px;}
.q_bElems .q_help{ background-position:-35px -1185px;}
.q_bElems .q_help:hover{ background-position:-35px -1164px;}
.q_bElems .q_ip{ background-position:-35px -1451px;}
.q_bElems .q_ip:hover{ background-position:-35px -1482px;}
.q_bElems .q_collect{background-position:-35px -1067px;}
.q_bElems .q_collect:hover{background-position:-35px -1092px;}/*收藏*/
.q_bElems .q_grateful:hover >span,.q_bElems .q_help:hover >span{ visibility:visible;}
.q_content_h3{ padding:0 20px; background-color:#F8F8F8; height:45px; line-height:45px;}
.b_x4{ padding-top:20px !important;}
.b_x4 .t_topic_index{ padding-left:135px !important;}
.b_x5{ padding:0 20px;}


/*  >> 邀请回复_s */
.invitation_user_list li{padding:10px 0;text-align:left;border-bottom:1px dotted #ccc;height:32px;line-height:32px;}
.invitation_user_list li .pic_xa{display:inline-block;width:40px;}
.invitation_user_list li >a{vertical-align:middle;}
.invitation_user_list li >span{display:inline-block;max-width:75px;}
.invitation_user_list li >a.i_gray_bt2{margin-top:3px;}

/*  >> 最佳回复_s */
.winner_reply{ height:30px; line-height:30px; font-weight:bold; font-size:14px; padding-left:50px; background-color:#f7f7f6; margin:10px 0 12px 0;}
.winner_reply >.winner_Cup{ display:block; width:46px; height:46px; background-position:-154px -510px; left:0; top:-3px;}

/* >> 回复内容_s */
.q_replytxt .q_con_imgs img{ max-width:200px; vertical-align:bottom;}
.q_replytxt .q_accessory{ margin-top:10px;}
.q_replytxt .q_accessory a{ display:block; height:18px; line-height:18px; margin-bottom:5px; max-width:450px;}
.q_accessory a >em.q_ico{ display:inline-block; height:14px; width:14px; background-position:-32px -1788px; margin-right:5px; vertical-align:middle;}
.q_replytxt .q_bElems{ margin-top:5px; position:relative; z-index:2;}

/* 问题>> 右边栏_s */
.q_xel{ padding-left:42px; margin-top:10px;height:32px;}
.q_xel .user_msg{ width:32px; height:32px;}
.q_xel >.q_uname{ display:inline-block; vertical-align:middle; line-height:13px !important; padding-bottom:5px; }
.q_xel >span.q_spx{display:block; line-height:15px;}
.q_invitation >.q_tx{ line-height:15px; padding:10px 0 15px;}
.q_invitation >.q_tx .cur{font-weight:bold;}
.q_invitation >.q_trt{ border:1px solid #c1d5dc; background-color:#ebf5ff; padding:10px;}
.q_invitation >.q_trt >.q_xel{ font-size:12px;}
.q_related_list{ padding-top:5px;}
.q_related_list a{ display:block; padding:5px 0; font-size:12px;}
.q_state{ padding-top:5px;}
.q_UserList{ padding-top:10px; width:190px;}
.q_UserList a>img{ margin-right:3px; margin-bottom:5px;}

/* 发起问题 >> 高级模式_s */
.a_question_h3{ padding-top:0; font-weight:bold;}
.a_question{ padding:0 20px 30px;}
.a_question >.a_qsAsk >h4{ font-weight:bold; line-height:15px; padding-bottom:15px;}
.a_question >.a_qsAsk >h4 span,.a_question >.a_qsAsk >h4 a{font-weight:normal;}
.a_question >.a_qsAsk >h4  .editor_input{padding-top:12px;}
.a_qsAsk .a_qsAskQuestion .i_glotxtClass{width:507px;}
.a_qsAskQuestion{ padding:0 150px 0 0;overflow:inherit;}
.a_question .question_title_txt{width:100%;}
.category_list{ padding-left:0 !important;}
.category_list >input.i_glotxtClass{ width:655px !important;}
.a_qsAskQuestion >.a_qsClassList{ width:150px; right:0; top:0; background:#fff;}
.a_qsAskQuestion >.a_qsClassList >.a_qsSelect{ display:inline-block; width:108px; cursor:pointer; padding-right:35px;}
.a_qsAskQuestion >.a_qsClassList >.a_qsSelect >big{ font-style:normal; font-size:13px; display:block; width:100px; text-indent:10px; }
.a_qsAskQuestion >.a_qsClassList >.a_qsSelect >em{ display:inline-block; background-color:#f5faff; height:40px; width:35px; top:0; right:0; border-left:1px solid #c1cad4; background-position:-25px -501px;}
.a_qsAskQuestion >.a_qsClassList >.a_qsSelect >em.cur{ background-position:-25px -463px;}
.a_qsAskQuestion >.a_qsClassList .i_data_list{top:43px; width:147px;}
.a_qsAskQuestion >.a_qsClassList .i_data_list .txtoverflow{ max-height:250px; overflow:hidden;overflow-y:auto;}
.a_question .i_data_list >p >a,.qs_txtare .i_data_list >p >a{ background-image:none;}
.a_qsAskQuestion >.a_qsClassList .i_data_list >p >span{ left:145px;}
.a_question .a_qstxt{ padding:5px;width:656px;overflow:hidden;clear:left; margin-bottom:-2px;}
.a_question .a_qsReplenish{ padding:0; overflow:visible;}
.a_question .i_acceMain{border:1px solid #c1cad4;border-top:0 none; padding:3px 15px 15px 15px;}
.a_question .a_txtClass,.qs_txtare  .a_qsClassList > .a_qsSelect,.qs_txtare .qs_txtClass,.i_txtClss,.topic_titleInput .i_glotxtClass{ height:30px; line-height:30px;}
.a_question .a_wtxt{ width:640px; overflow:visible !important; height:auto !important; line-height:normal !important; padding-top:7px;}
.a_question .a_wtxt >.a_topic_txt{border:0 none;}
.a_question .a_wcode,.qs_txtare .qs_txtClass{ width:100px;}
.a_question .i_anonymity{ display:inline-block; margin-right:30px;}
.a_contxt >p{ padding:15px 0; line-height:22px;}

/* >> 私信_s */ 
.pri_letter{ margin:0 20px 20px !important;}
.pri_letter >li{ padding:15px 0 15px 42px;}
.pri_letter >li.msg_unread{ width:606px; padding:15px 30px 15px 72px;} /*通知背景样式 > 黄*/
.i_color_bg,.pri_letter >li.msg_unread{ position:relative; margin-left:-20px;}/*通知背景样式> 黄*/
.pri_letter >li >.add_user_f{ float:left; margin-left:-42px;}
.pri_letter .p_name{ line-height:13px; display:block; padding-bottom:5px;}
.pri_letter .p_name >a{ font-size:14px;}
.pri_letter .p_time{ font-size:12px; line-height:15px; padding-top:5px;}
.p_mrx{ padding-top:25px;}
.p_mrx >.trends_ls{ border-bottom:0 none;}
.p_sx{ font-size:13px; height:25px; line-height:25px; margin-top:8px;}
.p_sx >a+a{ margin-left:15px; height:27px !important; line-height:27px !important;}
.p_sx >a.p_set{ background-position:-37px -211px; padding-left:16px; display:inline-block; height:25px; line-height:25px;}
.p_sx >a{ vertical-align:middle;}

/*  >> 私信对话_s */
.p_talks >li{ border-bottom:0 none !important;padding:15px 42px 15px 52px;}
.p_talks >li >.p_bg{ background-color:#f5fafe; border:1px solid #dcecf9; padding:12px 15px;}
.p_talks >li >.p_bg >.q_arr{ display:block; left:-7px; top:12px; width:7px; height:12px; background-position:-43px -1836px; overflow:hidden; line-height:99em;}
.p_talks >li.p_isMe .p_bg >.q_arr{ background-position:-43px -1816px; left:auto !important; right:-7px;}
.p_talks >li.p_isMe >.p_bg{ background-color:#fafafa; border:1px solid #e6e6e6;}
.p_talks >li >.add_user_f{ margin-left:-52px;}
.p_talks >li.p_isMe >.add_user_f{ float:right; margin-right:-52px; margin-left:0 !important;}
.p_talks .p_txtarea >.i_glotxtClass{ width:549px;min-height:100px;}
.p_talks .p_txtarea >.p_fx{ padding-top:10px; text-align:right; line-height:25px;}
.p_talks .p_txtarea >.p_fx >a{ vertical-align:text-bottom; margin-left:10px;}
.p_talks .p_txtarea >.p_fx >big,.plBigstyle{ font-weight:normal; font-family:Georgia, "Times New Roman", Times, serif; margin:0 2px;}
.i_txtClss{width:407px;}

/*  >> 用户排名_s */
.u_mainElm h3 >.q_navC{ width:100%;}
.u_list{ background-color:#f7f7f7; height:40px; line-height:40px; padding:0 30px;}
.u_list >a+a{ margin-left:30px;}
.u_rankingList{padding:25px 106px 25px 175px;}
.u_rankingList >.u_rk,.u_rankingList .i_imgforUser >img,.t_topicMain >h4 >em.t_Mimgs >img,.t_hot .add_user_f >img{ width:50px; height:50px;}
.u_rankingList >.u_rk{ background-color:#f5f5f5; left:30px; text-align:center; line-height:50px; font-size:24px;}
.u_rankingList >.u_rk,.u_rankingList >.i_imgforUser{top:30px;}
.u_rankingList >.i_imgforUser{ left:110px;}
.u_rankingList >.i_but{ right:30px;top:25px;}
.u_rankingList >.u_user{ height:18px; line-height:18px; padding-bottom:10px;}
.u_rankingList >.u_rx{ padding-bottom:10px;}
.u_rankingList >.u_rx >span{ display:inline-block; padding-left:16px;}
.u_rankingList >.u_rx >span+span{ margin-left:20px;}
.u_rx >span.w{ background-position:-32px -1863px;}
.u_rx >span.j{ background-position:-32px -1892px;}
.u_rx >span.z{ background-position:-32px -1925px;}
.u_rx >span.g{ background-position:-32px -1957px;}
.u_rankingList >.u_Ear{ background-color:#edf6d6; }
.u_mainElm >.i_globalPage{ margin-top:30px;}
.u_integral >.u_Ear{background-color:#fff4de;}

/* +----------- >> 话题相关 -----------+ */
/*  >> 话题广场_s */
.t_topicMain >h4{ font-size:18px; line-height:50px; padding-bottom:15px; margin-top:30px;}
.t_topicMain >h4 >em.t_Mimgs{margin-right:15px;}
.t_topicMain >p.t_topicManagement >a{ margin-left:0 !important; margin-right:10px; margin-bottom:10px; }
.t_topicMain >.t_hot{ width:935px;}   /* >>注：class:t_topicMain 与个人中心关注话题共用 */
.t_topicMain >.t_hot .p_time{ height:auto; line-height:25px;font-size:13px;}
.t_topicMain >.t_hot >li{ float:left; padding-left:60px; width:375px; margin-right:30px;min-height:94px;}
.t_hot .add_user_f{ margin-left:-60px !important;}
.t_topicMain >.t_hot >li >.p_txt{ max-height:40px; min-height:40px; overflow:hidden;}

/*  >> 话题首页_s */
.t_topic_index{ padding:0 20px 15px 85px; }
.t_topic_index >.u_topicHead{ left:20px; top:0;}
.b_x4 .u_topicHead{ left:20px !important; top:20px; }
.t_topic_index >.u_topicHead >img { width:50px; height:50px; }
.v_headSet >.v_user-headimgs img,
.c_mainData .c_userPic >img{ width:100px; height:100px;}
.t_topic_index >.u_topicHead >.q_editor{ width:22px; height:22px;  position:absolute; z-index:99; top:70px; right:15px; background-color:#92908d; overflow:hidden; line-height:99em; padding:0; background-position:-30px -320px; visibility:visible !important;}
.t_topic_index >h3{ min-height:25px; padding-bottom:15px; line-height:22px; margin-bottom:10px;}
.t_topic_index >h3 >b{ font-size:20px;}
.t_topic_index >h3 em.i_lock{ display:inline-block; width:9px; height:12px; background-position:-33px -1992px; overflow:hidden; line-height:99em; margin-left:7px;}
.t_topic_index >h3 >span>a+a{ margin-left:10px;}
.t_topic_index >h3:hover .q_editor,.t_topicTxtCon:hover >.q_editor,.t_topic_index >.u_topicHead:hover >.q_editor{ visibility:visible;}
.t_topic_rx{ width:210px; padding-top:10px;}
.t_topic_rx >a.i_glotopic{ margin-right:10px; margin-bottom:10px; margin-left:0 !important;}
.t_topicpad{ padding-bottom:10px;}
.t_topad{ padding-bottom:0 !important; }
.t_stpd{ padding-top:12px !important;}
.t_record{font-size:12px; /*word-spacing:-3px;*/}
.t_record >span{ display:block; padding-top:10px;}
.t_share >a{ display:inline-block; padding-left:20px;}
.t_share >a+a{ margin-left:10px;}
.t_share >a.w{ background-position:-30px -1752px;}
.t_share >a.s{ background-position:-30px -1715px;}
.t_share >a.y{ background-position:-30px -1679px;}
.t_contents{ display:inline;}
.topic_details{ padding:0 20px; border-bottom:1px solid #dfdfdf; margin-bottom:30px; min-height:35px;}
.topic_details >a{ font-size:13px;}
.topic_titleInput{ padding-bottom:10px;}
.topic_titleInput .i_glotxtClass{ width:530px;}
.topic_related{padding-top:10px;}
.t_reTopic{ padding-left:75px;}
.t_reTopic >.x2{ left:0; top:12px;}
.am_notes{ cursor:pointer;}
.am_notes >.x2{ display:inline-block; float:right; width:16px; height:12px; background-position:-33px -518px; overflow:hidden; margin-top:5px; line-height:99em;}
.am_notes >.x3{ background-position:-33px -476px !important;}
.topic_ctrl{ padding:23px 0 0 0;}
.topic_ctrl >a{ margin:0 15px 15px 0 !important; }
.topic_today{ font-size:18px; font-weight:bold;  height:35px;line-height:35px; margin:20px 0 ;background-color:#9edbf5; max-width:150px; color:#fff !important; text-indent:15px;}
.topic_today.x2{background-color:#f3c69c;}
.topic_title_main >h3{ margin-bottom:0; padding-bottom:7px;}
.topic_title_main >p.i_txtBreak{ padding-bottom:10px;}
.topic_title_main >.list,.topic_x4,.topic_edits{ padding:10px 0;}
.topic_title_main >.list >li{min-height:25px;}
.topic_title_main >.list >li >span.txt_link{ display:inline-block; max-width:420px;}
.topic_title_main >.list .replys{ color:#999;}
.topic_title_main >.list .user_x2{ margin-top:3px;}
.topic_title_main >.list .user_x3{ width:250px; padding-right:50px;}
.topic_title_main >.list .user_x3 >.txt_x2{ width:240px; border:0 none; padding:4px;}
.topic_title_main .askQuestion{ right:4px; top:3px; display:inline-block; height:25px; width:40px; text-align:center; line-height:25px; color:#fff; background-color:#21c8e8; border:1px solid #0aa1ce;}
.topic_hrx >h3{ font-weight:bold; border-bottom:1px solid #C1CAD4; padding-bottom:10px;}
.topic_hrx >h3 >span{ font-weight:normal;}
.topic_hrx >h3 >span >.cur{ color:#105DB5;}
.topic_x4 li{min-height:25px; padding-bottom:2px;}
.topic_x4 >li >em{ display:inline-block; background-color:#ccc; width:19px; height:19px; line-height:19px; text-align:center; color:#fff; margin-right:8px; vertical-align:middle;}
.topic_x4 >li >em.top{ background-color:#d1e698 !important;}
.topic_edits >p{ padding:2px 0 7px 0;}
.topic_edits a.i_glotopic{ margin-left:0 !important; margin-right:8px; }
.m_gzTopic{ border-bottom:1px dotted #c2c9d1; padding:0 20px 7px 65px; margin:0 20px 15px;min-height:60px;}
.m_gzTopic >a.u_topicHead{ left:0; top:4px;}
.m_gzTopic >a.u_topicHead >img{ height:50px; width:50px;}
.m_gzTopic >p,.m_recommend_topic .tx3{ padding-bottom:5px;}
.m_gzTopic .tx{ padding-bottom:0;}
.m_gzTopic .tx >em{ float:right; max-width:150px; font-size:12px; color:#999;}
.m_gzTopic .tx >em,.m_gzTopic .tx >a{display:inline-block;}
.m_gzTopic .tx >a{ max-width:400px;}
.m_recommend_topic{ background-color:#fafafa; padding:15px 15px 15px 75px; border:1px solid #ebebeb;}
.m_recommend_topic >a.u_topicHead{ left:15px; top:15px;}
.m_recommend_topic >.tx2{ padding-bottom:10px; margin-bottom:10px;}
.m_recommend_topic .tx4{ font-size:12px;}
.m_recommend_topic .tx >a{ max-width:270px;}
.min_height{ min-height:100px !important;}
.mg_topic{ margin-top:15px; margin-left:-115px; margin-top:10px;}
.mg_topic >input.i_glotxtClass{ height:30px; line-height:30px; margin-right:15px;}
.mg_topic.mg_lr2{ margin-left:-52px; padding-bottom:15px;}
.mg_topic.mg_lr2 >b{ display:block; margin-bottom:5px;}
.mg_topic .mg_txt_x1{ width:300px;}
.mg_topic .mg_txt_x2{ width:468px;}
.mg_topic_mdan{ width:720px !important;}
.mg_topic_mdan >li{ padding-left:60px; width:259px; float:left; margin-right:30px; border-bottom:1px dotted #dfdfdf; border-top:0 none !important; min-height:70px;}
.mg_topic_mdan >li .p_txt{ min-height:40px; max-height:40px; line-height:20px; overflow:hidden;}
.mg_topic_mdan >li span.i_right{ display:inline-block; margin-top:5px;}


/*  >> 账号设置相关_s */
.v_setting >.h4,.c_atte{ height:40px; line-height:40px; background-color:#f7fcff; font-weight:bold; text-indent:20px;}
.v_setMain{ padding:30px 89px; border-bottom:1px  dotted #dfdfdf;}
.v_ess{ padding-right:300px; width:475px;}
.v_essential{ width:380px; padding-left:80px;} /*  >>相关信息 */
.v_essential >li{ padding-bottom:15px; line-height:25px;}
.v_essential >li >label{ display:block;width:80px; float:left; margin-left:-80px; text-align:right;}
.v_essential >li >input[type="radio"],.v_group_bd >li.s3 input[type="checkbox"]{ vertical-align:sub;}
.v_essential .v_intr{ width:300px;}
.v_headSet{ width:185px; padding-left:115px; float:right; margin-right:-300px;}
.v_headSet >.v_user-headimgs{ float:left; margin-left:-115px;}
.v_headSet >h5{ font-weight:bold; padding-bottom:5px;}
.v_headSet >p{ font-size:12px; padding-bottom:25px;}

.v_group_title,.v_group_bd,.v_group_operate{ border:1px solid #dfdfdf; }/* >>设置中心表格样式 */
.v_group_title{ background-color:#F8F8F8;height:38px; line-height:38px; overflow:hidden;}
.v_group_title >span{ display:inline-block; text-align:center; float:left;}
.v_group_title >span +span,.v_group_bd >li +li{border-left:1px solid #dfdfdf; }
.v_group_title >span.s1,.v_group_bd >li.s1{ width:245px;}
.v_group_title >span.s2,.v_group_bd >li.s2{ width:135px;}
.v_group_bd a.v_delect{ margin-right:40px;}
.v_group_title >span.s3,._group_bd >li.s3{ width:270px;}
.v_group_bd{ border-top:0 none; width:776px;}
.v_group_bd >li{float:left; padding:20px 0;min-height:30px; text-align:center;}
.v_group_bd >li >input[type="text"]{ width:200px; margin:0 !important;}
.v_group_bd >li.s3{ text-align:left; padding-left:20px; width:250px;}
.v_myjob li{ min-height:75px;}
.v_group_bd >li >select{ max-width:205px !important;}
.v_group_operate{ line-height:18px; padding:20px; border-top:0 none; text-align:right;}
.v_group_operate >a{ margin-left:15px;}

.v_myct li{ float:left; width:387px; height:32px;}
.v_myct li.i_right{ float:right; text-align:right;}
.v_myct li.sp{ padding-bottom:25px;}
.v_myct li label{ display:inline-block;text-align:right; line-height:30px;width:80px;}
.v_myct li >input[type="text"],.v_reset li >input[type="text"] {width:280px; height:22px; margin:0;}
.v_submit{ padding:20px 89px;}
.v_setLsit { padding-top:15px; width:505px;}
.v_setLsit >span{ display:inline-block; width:250px; line-height:20px; padding-bottom:15px;} /*  >>隐私设置  */ 
.v_sver input[type="radio"],.v_sver  input[type='checkbox']{ vertical-align:middle;}
.v_reset li{ padding-bottom:15px; line-height:40px;}
.v_bind >p{ padding-bottom:15px;min-height:36px; line-height:36px;}
.v_bind >p +p{ padding-top:15px;}
.v_bind >p >span{ display:inline-block; padding-left:25px;}
.v_bind >p >span.qq{background-position:-34px -2316px;}
.v_bind >p >span.sina{background-position:-34px -834px;}
.v_bind >p >span.tx{background-position:-34px -864px;}
.v_data_Tabs{ width:96%; margin:0 auto;}
.v_data_Tabs{ border:1px solid #dfdfdf;}
.v_data_Tabs tr >th{ background-color:#F8F8F8; font-weight:bold;}
.v_data_Tabs tr >th,.v_data_Tabs tr >td{ border-bottom:1px solid #dfdfdf; line-height:15px; padding:15px 0 15px 20px;}
.v_data_Tabs tr >th{ padding-top:0; padding-bottom:0;height:40px; line-height:40px;}
.v_data_Tabs .v_info_td{ width:350px;}
.v_data_Tabs tr >td.m{ padding:15px 20px;}
.v_data_Tabs tr >td.m >a{ margin:0;}
.v_fd{ padding:30px 0;}

/*  >> 用户中心_s */
.c_mainData{ padding:0 0 20px 115px;min-height:100px;}
.c_mainData >.c_userPic{ margin-left:-115px;}
.c_mainData >.c_Username >b{ font-size:20px;}
.c_level{ display:inline-block; width:31px; height:13px; overflow:hidden; vertical-align:middle; margin:0 5px; margin-top:-1px;} /*  用户等级css */
.c_level.c_Lv1{background-position:-18px -2155px;}  /* Lv1-Lv9 */
.c_level.c_Lv2{background-position:-18px -2170px;} 
.c_level.c_Lv3{background-position:-18px -2185px;} 
.c_level.c_Lv4{background-position:-18px -2200px;} 
.c_level.c_Lv5{background-position:-18px -2215px;} 
.c_level.c_Lv6{background-position:-18px -2230px;} 
.c_level.c_Lv7{background-position:-18px -2245px;} 
.c_level.c_Lv8{background-position:-18px -2260px;} 
.c_level.c_Lv9{background-position:-18px -2275px;}  
.c_mainData .c_autograph{ display:inline-block; width:560px; height:22px; line-height:22px; vertical-align:text-bottom;}
.c_userflg{ padding-bottom:10px;min-height:25px; padding-top:5px;}
.c_userflg .c_tosend >a{ vertical-align:middle;}
.c_userflg .c_tosend >a +a{ margin-left:15px;}
.c_gloicon >span{display:inline-block; line-height:25px; padding-left:17px; margin-right:10px; max-width:140px;} /* global for class c_gloicon css */
.c_gloicon >span >big{ font-size:13px; font-weight:bold;}
.c_gloicon >span.c_s1{ background-position:-32px -2011px;}
.c_gloicon >span.c_s2{ background-position:-32px -2047px;}
.c_gloicon >span.c_s3{ background-position:-31px -2084px;}
.c_gloicon >span.c_s4{ background-position:-31px -2117px;}
.c_gloicon >span.c_s5{ background-position:-32px -1860px;}
.c_gloicon >span.c_s6{ background-position:-32px -1889px;}
.c_gloicon >span.c_s7{ background-position:-32px -1922px;}
.c_gloicon >span.c_s8{ background-position:-32px -1954px;}
.c_topten{ width:39px; height:13px; display:inline-block;background-position:-10px -2296px; margin-left:5px;margin-bottom:-1px;}
.c_s3 >a,.c_s3 >em{ display:inline-block; height:25px; width:16px; margin-right:5px; vertical-align:middle;}
.c_s3 >.sina{ background-position:-34px -840px;}
.c_s3 >.tx{ background-position:-34px -871px;}
.c_capacity{ padding-top:10px;}
.c_atte >a{ font-weight:normal; margin-right:20px;}
.c_atte >a.cur{ font-weight:bold;}
.c_h4{ padding:0 0 13px; margin-top:0 !important; line-height:20px !important;}
.c_progressBar,.c_progressBar >.b,.c_trends >p >a,.c_addUs{display:inline-block;} /* >> 进度条 */
.c_progressBar{ width:100px; vertical-align:middle; line-height:10px; text-align:center; margin-top:-6px; margin-left:6px; font-size:12px;} 
.c_progressBar >.b,.c_progressBar >.b >.sm{ height:4px;}
.c_progressBar >.b{overflow:hidden; border:1px solid #b8e396;width:100%; text-align:left !important; background-color:#efffe3; padding-top:1px; line-height:4px !important;}
.c_progressBar >.b >.sm{ display:block;background-color:#c4f29d;}
.c_topic{ width:970px; padding-left:20px;}
.c_topic >li{ float:left; margin-right:20px; margin-bottom:10px; width:210px;}
.c_topic >li >.i_glotopic{ max-width:85px;}
.c_mytopic .c_smr{ margin-left:-60px; padding-top:5px;}
.c_mainElem{ width:435px; margin:0 20px; padding-bottom:20px;}
.c_mainElem +.c_mainElem{ margin-right:0;}
a.v_more{ font-size:13px !important; font-weight:normal;}
.c_mainElem >h4.c_h4{ padding-top:15px; margin:0 !important; }
.c_mainElem >h4{border-bottom:1px solid #dfdfdf;}
.c_mainElem .c_module{ padding-right:0; margin:0 !important; }
.c_mainElem .c_module >.s_txt,.special_elem >.s_txt{ padding-left:60px; min-height:25px;}
.c_mainElem .c_module >.s_txt >.s_endorse,.special_elem >.s_txt >.s_endorse{width:30px; padding:0 0 0 20px;height:25px;line-height:25px; }
.c_mainElem .c_module >.s_txt >.s_endorse{   background-position:-27px -1922px;}
.c_mainElem .c_rightReply >.s_txt >.s_endorse{background-position:-27px -2352px;}
.c_trends >p{ padding-bottom:10px; line-height:18px;}
.c_trends >p >span{ font-size:12px;}
.c_trends >p >a{ max-width:160px; vertical-align:top;}
.c_addUs{ padding-top:10px;}
.c_TopicRight{ padding-top:25px; width:450px; clear:both;}
.c_TopicRight .t_stpd >.i_glotopic{ margin-left:0 !important; margin-right:10px;}
.c_details{padding:0 60px 30px 60px;}
.c_details >li{padding:13px 0 13px 85px;line-height:22px;}
.c_details >li.c_last{padding-bottom:0;}
.c_details >li.c_last >.c_list_topic{padding-bottom:0;}
.c_details >li.c_last >.c_list_topic + .c_list_topic{ padding-top:10px; }
.c_details >li .c_s3 >em{ margin-top:-3px;}
.c_details >li .c_s3{ margin-right:10px;}
.c_details li >span{ float:left; display:block; width:75px; margin-left:-85px; text-align:right;}
.c_list_topic,.c_TopicRight .t_stpd{ padding-bottom:10px;}
.c_mainDiv .c_h4{ padding-top:25px; margin:0 20px;}

/*  >> 专题_s */
.special_elem >.s_txt >.s_endorse{ background-position:-33px -179px;}
.special_eifh{ padding:0 30px 30px;}
.special_apTop{width:240px;}
.special_top{ margin:0 auto;}
.special_hx{ padding:0 0 15px;margin-bottom:30px; border-bottom:1px solid #ccc; font-size:20px; font-weight:bold; color:#333; background-color:#fff !important;}
.special_mg{ margin-top:30px;}
.special_imgs{ background-repeat:no-repeat; height:240px; width:958px;border:1px solid #dfdfdf; background-position:center center !important; margin-bottom:30px; background-color:#fff !important;}

/*  >> 搜索结果_s */
.search_sesult{padding:0!important; border-bottom:0 none; margin:0 20px; }
.search_sesult >li{padding:25px 106px 25px 65px !important; position:relative; border-bottom:1px dotted #C1CAD4;}
.search_sesult .i_imgforUser{ left:0; top:25px;}
.search_sesult .i_but{ right:0; top:30px;}
.gray_bg{ background-color:#f0f0f0; display:inline-block; padding:0 2px;}
.search_sesult >li.qs{ padding-left:0 !important;}
.search_sesult li >.i_gltxtHide +.i_gltxtHide{ padding-top:5px;}
.search_sesult >li .winCup{ display:inline-block; width:12px; height:14px; background-position:-37px -184px; position:absolute; left:-15px; top:29px;}
.lap_zd{ text-align:right; padding-top:15px;}


/*微博分享*/
#clickEve_v2_0 .bds_tools,#clickEve_v2_0 .bds_tools a{float:none !important;}
#clickEve_v2_0 .bds_tools a{display:inline-block!important;width:60px;margin-bottom:10px; line-height:16px;}

/* markItUp */
.markItUp { width: 620px; }
.markItUpPreviewFrame {background:#fafafa; border: 1px solid #ccc; padding:10px; font-size:12px; color:#666;margin-top:15px;}
.markItUpFooter { width: 100%; cursor: n-resize; }
.markItUpResizeHandle { overflow: hidden; width: 22px; height: 5px; margin-left: auto; margin-right: auto; background-image: url(images/handle.png); cursor: n-resize; }
/***************************************************************************************/
/* first row of buttons */
.markItUpHeader ul li { list-style: none; float: left; position: relative; margin-bottom:5px; max-width:22px;}
.markItUpHeader ul li ul { display: none; }
.markItUpHeader ul li:hover > ul { display: block; }
.markItUpHeader ul .markItUpDropMenu { background: transparent url(images/menu.png) no-repeat 115% 50%; margin-right: 5px; }
.markItUpHeader ul .markItUpDropMenu li { margin-right: 0px; }
.markItUpHeader ul .markItUpSeparator { margin: 0 10px; width: 1px; height: 16px; overflow: hidden; background-color: #CCC; }
.markItUpHeader ul ul .markItUpSeparator { width: auto; height: 1px; margin: 0px; }
/* next rows of buttons */
.markItUpHeader ul ul { display: none; position: absolute; top: 18px; left: 0px; background: #F5F5F5; border: 1px solid #3C769D; height: inherit; }
.markItUpHeader ul ul li { float: none; border-bottom: 1px solid #3C769D; }
.markItUpHeader ul ul .markItUpDropMenu { background: #F5F5F5 url(images/submenu.png) no-repeat 100% 50%; }
/* next rows of buttons */
.markItUpHeader ul ul ul { position: absolute; top: -1px; left: 150px; }
.markItUpHeader ul ul ul li { float: none; }
.markItUpHeader ul a { display: block; width: 16px; height: 16px; text-indent: -10000px; background-repeat: no-repeat; padding: 3px; margin: 0px; }
.markItUpHeader ul ul a { display: block; padding-left: 0px; text-indent: 0; width: 120px; padding: 5px 5px 5px 25px; background-position: 2px 50%; }
.markItUpHeader ul ul a:hover { color: #FFF; background-color: #3C769D; }
/***************************************************************************************/
.markItUp .markItUpButton >a { background: url(img/markItUp_editor.png) 0 0 no-repeat; }
.markItUp .markItUpButton >a:hover{ opacity:0.6;}


.markItUp .preview a { background-image: url(images/preview.png); }

.markItUp .markItUpButton1 a { background-position: -4px -6px;}
.markItUp .markItUpButton2 a { background-position: -35px -6px;}
.markItUp .markItUpButton3 a { background-position: -97px -6px;}
.markItUp .markItUpButton4 a { background-position: -124px -6px;}
.markItUp .markItUpButton5 a { background-position: -217px -6px;}
.markItUp .markItUpButton6 a { background-position: -247px -6px;}
.markItUp .markItUpButton7 a { background-position: -307px -6px;}
/* .markItUp .markItUpButton8 a { background-position: -366px -6px;} */
.markItUp .markItUpButton8 a { background-position: -427px -7px;}
.markItUp .markItUpButton9 a { background-position: -454px -7px;}
.markItUp .markItUpButton10 a{ background-position: -492px -6px;float:right;height:18px;margin-top:-1px;}
.markItUp .markItUpButton10 a.cur{background-position: -534px -6px;}
.markItUp .markItUpButton11 a { background-position: -570px -6px;margin-left:5px;}

/*收藏夹*/
.sC_collectFloating{ border-bottom:1px solid #C1CAD4; padding:10px 0 0 85px; overflow:hidden; margin:0 20px;}
.sC_collectFloating >.sC_all{ left:0; top:10px;}
.sC_collectFloating span >em{ color:#999;}
.sC_collectFloating .sC_list{ width:600px;}
.sC_collectFloating .sC_list >span{ display:inline-block; padding:0 10px 14px 0;}
.sC_collectFloating .sC_list >span >a{ margin:0 5px 0 0 !important;}
.sC_dgar{ padding-top:5px;}
.sC_dgar:hover .q_editor{ visibility:visible;}
.sC_dgar .q_topicMuster{ margin-left:-20px;}