<?php TPL::output('global/header.tpl.htm'); ?>

<div class="i_bd mainElem i_clear">
	<h4 class="latest_trendst_h3 topic_details"><a href="topic/<?php echo $this->topic_info['url_token']; ?>" class="i_gray_but i_right"><?php _e('返回话题'); ?> »</a><?php _e('管理话题'); ?> - <?php echo $this->topic_info['topic_title']; ?></h4>
	<div class="i_left L_sidebar i_bgNo">
		<div class="t_topic_index i_prl q_congMain b_x4">
			<form action="topic/ajax/save_url_token/" method="post" id="url_token_form">
				<input type="hidden" name="topic_id" value="<?php echo $this->topic_info['topic_id']; ?>" />
				<p class="mg_topic"><b><?php _e('话题别名'); ?>:</b> <script type="text/javascript">document.write(G_BASE_URL);</script>/topic/ <input type="text" class="i_glotxtClass mg_txt_x1" name="url_token" style="width:150px" value="<?php echo $this->topic_info['url_token']; ?>" /> <a class="i_replay_but2" href="javascript:;" onclick="ajax_post($('#url_token_form'));"><?php _e('保存'); ?></a></p>
			</form>
			
			<br />
			
			<form action="topic/ajax/save_seo_title/" method="post" id="seo_title_form">
				<input type="hidden" name="topic_id" value="<?php echo $this->topic_info['topic_id']; ?>" />
				<p class="mg_topic"><b><?php _e('页面标题'); ?>:</b> <input type="text" class="i_glotxtClass mg_txt_x2" name="seo_title" value="<?php echo $this->topic_info['seo_title']; ?>" /> <a class="i_replay_but2" href="javascript:;" onclick="ajax_post($('#seo_title_form'));"><?php _e('保存'); ?></a></p>
			</form>
			
			<br />
			
			<form action="topic/ajax/merge_topic/" method="post" id="merge_topic_form">
			<input type="hidden" name="target_id" value="<?php echo $this->topic_info['topic_id']; ?>" />
			<p class="mg_topic"><b><?php _e('话题合并'); ?>: </b><input type="text" class="i_glotxtClass mg_txt_x2" value="<?php _e('在此输入要与该话题合并的话题'); ?>..." onfocus="$.focus(this, '<?php _e('在此输入要与该话题合并的话题'); ?>...');" name="topic_title" /><a class="i_replay_but2" href="javascript:;" onclick="ajax_post($('#merge_topic_form'));"><?php _e('合并话题'); ?></a></p>
			<?php if ($this->merged_topics_info) { ?>
			<p class="mg_topic mg_lr2">
				<b><?php _e('被合并的话题'); ?>:</b>
				<?php foreach ($this->merged_topics_info AS $key => $val) { ?>
				<a class="i_glotopic i_prl pd user_msg" href="javascript:;"><?php echo $val['topic_title']; ?><em class="handle i_pas" onclick="ajax_request(G_BASE_URL + '/topic/ajax/remove_merge_topic/', 'source_id=<?php echo $val['topic_id']; ?>&target_id=<?php echo $this->topic_info['topic_id']; ?>');">×</em></a>
				<?php } ?>
			</p>
			<?php } ?>
			</form>
			
			<?php if ($this->feature_list) { ?>
			<br />
			
			<form action="topic/ajax/feature_topic/" method="post" id="feature_topic_form">
			<input type="hidden" name="topic_id" value="<?php echo $this->topic_info['topic_id']; ?>" />
			
			<p class="mg_topic">
				<b><?php _e('将话题加入专题'); ?>:</b>
				<br /><br />
				<a class="i_replay_but2 i_right" href="javascript:;" onclick="ajax_post($('#feature_topic_form'));"><?php _e('保存'); ?></a>
				
				<?php foreach($this->feature_list AS $key => $val) { ?>
				<label><input type="checkbox" name="feature_ids[]" value="<?php echo $val['id']; ?>"<?php if (in_array($val['id'], $this->topic_in_features)) { ?> checked="checked"<?php } ?> /> <?php echo $val['title']; ?></label><br />
				<?php } ?>
			</p>
			</form>
			<?php } ?>
		</div>
	</div>
	
	<div class="R_sidebar">
		<div class="i_rightMain">
			<div class="interest_user t_topicpad">			
				<h3><?php _e('管理话题指南'); ?></h3>
				
				<div class="a_contxt">
					<p><b>● <?php _e('话题别名'); ?>:</b> <?php _e('如果该话题还有其他的表达方式, 您可以为其创建别名以便其他人能更好的找到该话题'); ?></p>
					<p><b>● <?php _e('话题合并'); ?>:</b> <?php _e('如果该话题跟另一个话题意义相近, 您可以将此话题合并至其他话题'); ?></p>
				</div>
			</div>
		</div>
	</div>
</div>

<?php TPL::output('global/footer.tpl.htm'); ?>