<?php TPL::output('global/header.tpl.htm'); ?>

<div class="aw-container-wrap">
	<div class="aw-container aw-wecenter aw-topic-edit">
		<div class="row aw-content-wrap aw-topic-content-wrap">
			<h4><a class="btn btn-mini pull-right" href="topic/<?php echo $this->topic_info['url_token']; ?>"><?php _e('返回话题'); ?> »</a><?php _e('管理话题'); ?> - <?php echo $this->topic_info['topic_title']; ?></h4>
			<div class="col-sm-9 aw-main-content">
				<div class="aw-mod-topic-manage">
					<dl>
					<form class="form-inline" action="topic/ajax/save_url_token/" method="post" id="url_token_form">
						<input type="hidden" name="topic_id" value="<?php echo $this->topic_info['topic_id']; ?>" />
						<dt><?php _e('话题别名'); ?>:</dt>
						<dd>
							<a class="btn btn-large btn-success pull-right" href="javascript:;" onclick="ajax_post($('#url_token_form'));" /><?php _e('保存'); ?></a>
							<script type="text/javascript">document.write(G_BASE_URL);</script>/topic/ 
							<input type="text" class="form-control" name="url_token" value="<?php echo $this->topic_info['url_token']; ?>" />
						</dd>
					</form>
					</dl>
					<dl>
					<form action="topic/ajax/save_seo_title/" method="post" id="seo_title_form">
						<input type="hidden" name="topic_id" value="<?php echo $this->topic_info['topic_id']; ?>" />
						<dt><?php _e('页面标题'); ?>:</dt>
						<dd>
							<a class="btn btn-large btn-success pull-right" href="javascript:;" onclick="ajax_post($('#seo_title_form'));"><?php _e('保存'); ?></a>
							<input type="text"  class="form-control" name="seo_title" value="<?php echo $this->topic_info['seo_title']; ?>" />
						</dd>
					</form>
					</dl>
					<dl>
					<form action="topic/ajax/merge_topic/" method="post" id="merge_topic_form">
						<input type="hidden" name="target_id" value="<?php echo $this->topic_info['topic_id']; ?>" />
						<dt><?php _e('话题合并'); ?>:</dt>
						<dd>
							<a class="btn btn-large btn-success pull-right" onclick="ajax_post($('#merge_topic_form'));"><?php _e('话题合并'); ?></a>
							<input type="text" class="form-control" name="topic_title" placeholder="<?php _e('在此输入要与该话题合并的话题'); ?>..."/>
						</dd>
					</form>
					</dl>
					<?php if ($this->merged_topics_info) { ?>
					<dl>
						<dt><?php _e('被合并的话题'); ?>:</dt>
						<dd>
							<?php foreach ($this->merged_topics_info AS $key => $val) { ?>
							<a class="aw-topic-name" href="javascript:;"><span><?php echo $val['topic_title']; ?><i class="aw-icon i-close-hover" onclick="ajax_request(G_BASE_URL + '/topic/ajax/remove_merge_topic/', 'source_id=<?php echo $val['topic_id']; ?>&target_id=<?php echo $this->topic_info['topic_id']; ?>');"></i></span></a>
							<?php } ?>
						</dd>
					</dl>
					<?php } ?>
					
					<?php if (sizeof($this->feature_list) > 0) { ?>
					<dl>
						<form class="form-inline" action="topic/ajax/feature_topic/" method="post" id="feature_topic_form">
						<input type="hidden" name="topic_id" value="<?php echo $this->topic_info['topic_id']; ?>" />
						<dt><?php _e('加入专题'); ?>:</dt>
						<dd>
							<a class="btn btn-large btn-success pull-right" href="javascript:;" onclick="ajax_post($('#feature_topic_form'));"><?php _e('保存'); ?></a>
							<div class="topic-list">
								<div class="checkbox">
							    <?php foreach($this->feature_list AS $key => $val) { ?>
								<label><input type="checkbox" name="feature_ids[]" value="<?php echo $val['id']; ?>"<?php if (in_array($val['id'], $this->topic_in_features)) { ?> checked="checked"<?php } ?> /> <?php echo $val['title']; ?></label>
								<?php } ?>	
							  </div>
								
							</div>
						</dd>
						</form>
					</dl>
					<?php } ?>
				</div>
				
			</div>
			<!-- 侧边栏 -->
			<div class="col-sm-3 aw-side-bar aw-side-bar-topic aw-side-bar-topic-edit">
					<div class="aw-side-bar-mod aw-side-bar-mod-topic-edit">
					<div class="aw-side-bar-mod-head">
						<h3><?php _e('管理话题指南'); ?></h3>
					</div>
					<div class="aw-side-bar-mod-body">
						<p><b>● <?php _e('话题别名'); ?>:</b> <?php _e('如果该话题还有其他的表达方式, 您可以为其创建别名以便其他人能更好的找到该话题'); ?></p>
						<p><b>● <?php _e('话题合并'); ?>:</b> <?php _e('如果该话题跟另一个话题意义相近, 您可以将此话题合并至其他话题'); ?></p>
					</div>
				</div>
				
			</div>
			<!-- end 侧边栏 -->
		</div>
	</div>
</div>

<?php TPL::output('global/footer.tpl.htm'); ?>