<?php TPL::output('global/header.tpl.htm'); ?>

<div class="aw-container-wrap">
	<div class="container">
		<div class="row">
			<div class="aw-content-wrap clearfix">
				<div class="col-sm-12 col-md-9 aw-main-content">
					<div class="aw-mod ">
						<div class="mod-head  aw-help-center">
							<h3><?php _e('帮助中心'); ?></h3>
						</div>
						<div class="mod-body aw-help-list">
							<div class="mod-head">
								<a href="help/<?php echo ($this->chapter_info['url_token']) ? $this->chapter_info['url_token'] : $this->chapter_info['id']; ?>"><img src="<?php echo get_chapter_icon_url($this->chapter_info['id']); ?>" alt="<?php echo $this->chapter_info['title']; ?>"></a>
								<h4><?php echo $this->chapter_info['title']; ?></h4>
							</div>
							<?php if ($this->data_list) { ?>
							<div class="mod-body">
								<ul>
									<?php foreach ($this->data_list AS $data_info) { ?>
									<li><a href="<?php echo $data_info['type']; ?>/<?php echo $data_info['id']; ?>"><?php echo $data_info['title']; ?></a></li>
									<?php } ?>
								</ul>
							</div>
							<?php } ?>
						</div>
					</div>
				</div>

				<!-- 侧边栏 -->
				<div class="col-sm-12 col-md-3 aw-side-bar aw-help-side hidden-xs hidden-sm">
					<div class="aw-mod">
						<div class="mod-head">
							<h4><?php _e('其他章节'); ?></h4>
						</div>
						<div class="mod-body">
							<dl>
								<dt class="pull-left">
									<a href=""><img src="<?php echo G_STATIC_URL; ?>/common/chapter-min-img.png"  alt=""></a>
								</dt>
								<dd>
									<a href="">wecenter 个人开发</a>
								</dd>
							</dl>
							<dl>
								<dt class="pull-left">
									<a href=""><img src="<?php echo G_STATIC_URL; ?>/common/chapter-min-img.png"  alt=""></a>
								</dt>
								<dd>
									<a href="">wecenter 个人开发</a>
								</dd>
							</dl>
						</div>
					</div>
				</div>
				<!-- end 侧边栏 -->
			</div>
		</div>
	</div>
</div>

<?php TPL::output('global/footer.tpl.htm'); ?>
