<?php TPL::output('m/header.tpl.htm'); ?>

<div class="explore-page">
	<div class="explore-wrap">
		<div class="aw-mod-header">
			<img src="<?php echo G_STATIC_URL; ?>/js/mobile/img/login_logo.png" width="114">
		</div>
		<div class="aw-mod-body">
			<h1><?php echo get_setting('site_name'); ?></h1>
		</div>
		<div class="aw-mod-footer">
			<div class="login">
				<form id="login_form" method="post" onsubmit="return false;" action="account/ajax/login_process/">
					<?php if ($_GET['weixin_id']) { ?>
					<input type="hidden" name="weixin_id" value="<?php echo base64_decode($_GET['weixin_id']); ?>" />
					<?php } ?>
					<input type="hidden" name="return_url" value="<?php echo $this->return_url; ?>" />
					
					<?php if (get_setting('invite_reg_only') == 'N') { ?>
					<div class="title clearfix">
						<a class="pull-right btn-register" href="m/register/"><?php _e('注册'); ?><i class="icon-sign icon-sign-arrow"></i></a>
					</div>
					<?php } ?>
					<div class="email">
						<input type="text" id="user_name" name="user_name" placeholder="<?php _e('邮箱'); ?>/<?php _e('用户名'); ?>" />
					</div>
					<div class="password">
						<input type="password" id="password" name="password" placeholder="<?php _e('密码'); ?>" onkeydown="if (event.keyCode == 13) { ajax_post($('#login_form')); }" />
					</div>
					<a class="btn-submit" href="javascript:;" onclick="ajax_post($('#login_form'));"><?php _e('登录'); ?></a>
					<div class="login-misc">
						<p>
							<?php if (get_setting('sina_weibo_enabled') == 'Y') { ?><a href="account/openid/sina/" data-ajax="false"><?php _e('新浪微博'); ?></a><?php } ?> &nbsp; 
			            	
							<?php if (get_setting('qq_t_enabled') == 'Y') { ?><a href="account/openid/qq/" data-ajax="false"><?php _e('腾讯微博'); ?></a><?php } ?> &nbsp; 
			            	
							<?php if (get_setting('qq_login_enabled') == 'Y') { ?><a href="account/openid/qq_login/" data-ajax="false">QQ</a><?php } ?>
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>
<div>

<?php TPL::output('m/footer.tpl.htm'); ?>