<!doctype html>
<html>
	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
		<title>WeCenter - Install</title>
		<!-- Bootstrap -->
  		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"  media="screen">
  		<link rel="stylesheet" type="text/css" href="css/install.css">
  		<link rel="stylesheet" type="text/css" href="css/icon-sprite.css">
	</head>
	<body>
		
		<div class="aw-install">
			<div class="aw-mod-head">
				<img src="img/logo.png"/>
			</div>
			<div class="aw-mod-body">
				<dl>
					<dt>• 欢迎使用</dt>
					<dd>欢迎使用 WeCenter 安装程序, WeCenter 是中国首个基于 PHP + MYSQL 开发的开源化社交问答社区</dd>
				</dl>
				<dl>
					<dt>• 服务器环境检查</dt>
					<dd>为了确保程序安装顺利, 您的服务器需要满足以下系统需求的运行环境</dd>
				</dl>
				<div class="error">
					<h2><i class="aw-icon i-no"></i>网络显示</h2>
					<p>你的主机无法与腾讯微博通讯, 相关功能将不能使用</p>
					<p>你的主机无法与腾讯微博通讯, 相关功能将不能使用</p>
				</div>
				<ul>
					<li>
						<b>PHP 版本</b><span>5.4.4</span><span class="green">√</span>
					</li>
					<li>
						<b>数据库模块</b><span>PDO_MYSQL</span><span class="green">√</span>
					</li>
					<li>
						<b>Session 支持</b><span class="green">√</span>
					</li>
					<li>
						<b>Cookie 支持</b><span class="green">√</span>
					</li>
					<li>
						<b>CType 支持</b><span class="green">√</span>
					</li>
					<li>
						<b>CURL 支持</b><span class="green">√</span>
					</li>
					<li>
						<b>图象处理库</b><span>GD</span><span class="green">√ (加装 ImageMagick 性能更佳)</span>
					</li>
					<li>
						<b>编码转换</b><span class="green">√</span>
					</li>
					<li>
						<b>上传限制</b><span>32M (此处建议值 > 8M)</span>
					</li>
					<li>
						<b>目录权限</b><span>/Applications/MAMP/htdocs/test/WeCenter_2-0/UPLOAD/system/</span><span class="green">√</span>
					</li>
					<li>
						<b>目录权限</b><span>/Applications/MAMP/htdocs/test/WeCenter_2-0/UPLOAD/system/config/</span class="green"><span class="green">√</span>
					</li>
				</ul>
				<a class="btn btn-success">下一步</a>
			</div>
		</div>
		<div class="aw-install-footer">
			<a href="http://wenda.wecenter.com/?install" target="_blank">遇到问题? 联系我们 </a> | Copyright © 2012 - <a href="http://www.wecenter.com/?copyright" target="blank">WeCenter 2.0 Final</a>, All Rights Reserved
		</div>

		<script src="js/jquery-1.9.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.easydrag.handler.beta2.js"></script>
		<script src="js/aw_template.js"></script>
		<script src="js/hogan-2.0.0.js"></script>
		<script src="js/common.js"></script>
		
	</body>
</html>