<?php TPL::output('m/header.tpl.htm'); ?>

<div data-role="page">
	<div data-role="header" data-position="fixed" data-theme="b">
		<a href="javascript:;" data-direction="reverse" data-rel="back" data-role="button">返回</a>
		
		<h1>动态</h1>
	</div><!-- /header -->

	<div data-role="content" class="m_lists">	
		<div class="content-primary">
			<ul data-role="listview" data-theme="d" data-divider-theme="d" id="actions_listview"></ul>
			
			<p class="load_more"><a href="#" id="load_actions_actions" data-role="button">更多...</a></p>
		</div>
	</div><!-- /content -->
</div><!-- /page -->

<script type="text/javascript">
	$(document).bind('pageinit', function () {
		if ($.trim($('#actions_listview').html()) == '')
		{
			load_list_view(G_BASE_URL + '<?php echo $this->request_uri; ?>', $('#actions_listview'), $('#load_actions_actions'));
		}
	});
</script>

<?php TPL::output('m/footer.tpl.htm'); ?>