<?php TPL::output('m/header.tpl.htm'); ?>

<div data-role="page">
	<form action="publish/ajax/publish_question/" onsubmit="return false;" method="post" id="question_form">
		<input type="hidden" name="post_hash" value="<?php echo new_post_hash(); ?>" />
		<input type="hidden" name="question_content" value="<?php echo $this->question_content; ?>" />
		<?php if ($this->topics) { ?>
		<?php foreach ($this->topics AS $key => $val) { ?>
			<input type="hidden" name="topics[]" value="<?php echo $val; ?>" />
		<?php } ?>
		<?php } ?>
		
		<div data-role="header" data-position="fixed" data-theme="b" data-add-back-btn="true">
			<a href="<?php echo get_setting('base_url');?>/<?php if (get_setting('url_rewrite_enable') != 'Y') { ?><?php echo G_INDEX_SCRIPT; ?><?php } ?>m/search/" data-role="button">返回</a>
			
			<h1><?php echo $this->question_content; ?></h1>
	
			<a href="javascript:;" data-role="button" onclick="ajax_post($('#question_form'));">发表</a>
		</div><!-- /header -->
		
		<div data-role="content" class="m_contents">	
			<div class="content-primary editor">
				<textarea name="question_detail" placeholder="添加描述 (选填)"></textarea>
			</div>
		</div>
	
		<?php if (get_setting('anonymous_enable') == 'Y') { ?>
		<div data-position="fixed" class="footer_option"> 
			<label><input type="checkbox" name="anonymous" value="1" /> 匿名提问</label>
		</div> 
		<?php } ?>
	</form>
</div>

<?php TPL::output('m/footer.tpl.htm'); ?>