<?php TPL::output('m/header.tpl.htm'); ?>

<div data-role="dialog" data-overlay-theme="a">
	<div data-role="content" data-theme="a">
		<h3>为这个答案投票</h3>
		
		<p align="center">
			<a href="javascript:;" onclick="answer_vote($(this), <?php echo intval($_GET['id']); ?>, '1');" data-role="button" data-theme="<?php if ($this->agree_status['vote_value'] == 1) { ?>b<?php } else { ?>d<?php } ?>" data-icon="arrow-u" data-iconpos="top" data-inline="true">赞同</a>
		
			<a href="javascript:;" onclick="answer_vote($(this), <?php echo intval($_GET['id']); ?>, '-1');" data-role="button" data-theme="<?php if ($this->agree_status['vote_value'] == -1) { ?>b<?php } else { ?>d<?php } ?>" data-icon="arrow-u" data-iconpos="top" data-inline="true">反对</a> 
		</p>
		
		<a href="javascript:;" onclick="$('.ui-dialog').dialog('close');" data-role="button">关闭</a>
	</div>
</div>

<?php TPL::output('m/footer.tpl.htm'); ?>