<?php TPL::output('m/header.tpl.htm'); ?>
<?php TPL::output('m/global_header.tpl.htm'); ?>

<!-- 内容 -->
<div class="aw-content aw-question-detail-page aw-article-detail-page">
	<!-- 问题内容详情 -->
	<div class="aw-mod aw-question-detail">
		<div class="aw-mod-head">
			<h1><?php echo $this->article_info['title']; ?></h1>
			<div class="aw-topic-edit-box">
				<div class="aw-topic-box">
					<?php foreach($this->article_topics as $key => $val) { ?>
						<?php foreach($this->question_topics as $key => $val) { if ($key > 2) { break; } ?>
							<span class="aw-topic-name" data-id="<?php echo $val['topic_id']?>"><a href="m/topic/<?php echo $val['url_token']; ?>"><?php echo $val['topic_title']; ?></a></span>
						<?php } ?>
					<?php } ?>
				</div>
			</div>
		</div>
		<div class="aw-mod-body">
			<?php echo $this->article_info['message']; ?>
							
			<?php if ($this->article_info['attachs']) {  ?>
			<div class="aw-comment-upload-img-list">
			<?php foreach ($this->article_info['attachs'] AS $attach) { ?>
			<?php if ($attach['is_image'] AND !in_array($attach['id'], $this->article_info['attachs_ids'])) { ?>
				<a href="<?php echo $attach['attachment']; ?>" target="_blank" data-fancybox-group="thumb" rel="lightbox"><img src="<?php echo $attach['attachment']; ?>" class="img-polaroid" alt="<?php echo $attach['attach_name']; ?>" /></a>
			<?php } ?>
			<?php } ?>
			</div>
			<?php } ?>
			
			<?php if ($this->article_info['attachs']) {  ?>
			<ul class="aw-comment-upload-file-list">
				<?php foreach ($this->article_info['attachs'] AS $attach) { ?>
				<?php if (!$attach['is_image'] AND !in_array($attach['id'], $this->article_info['attachs_ids'])) { ?>
					<li><a href="<?php echo download_url($attach['file_name'], $attach['attachment']); ?>"><em class="aw-icon i-upload-file"></em><?php echo $attach['file_name']; ?></a></li>
				<?php } ?>
				<?php } ?>
			</ul>
			<?php } ?>
		</div>
		<div class="aw-mod-footer">
			<script type="text/javascript" charset="utf-8">
(function(){
  var _w = 72 , _h = 16;
  var param = {
    url:location.href,
    type:'3',
    count:'1', /**是否显示分享数，1显示(可选)*/
    appkey:'', /**您申请的应用appkey,显示分享来源(可选)*/
    title:'', /**分享的文字内容(可选，默认为所在页面的title)*/
    pic:'', /**分享图片的路径(可选)*/
    ralateUid:'', /**关联用户的UID，分享微博会@该用户(可选)*/
    language:'zh_cn', /**设置语言，zh_cn|zh_tw(可选)*/
    dpc:1
  }
  var temp = [];
  for( var p in param ){
    temp.push(p + '=' + encodeURIComponent( param[p] || '' ) )
  }
  document.write('<iframe class="aw-share-iframe" allowTransparency="true" frameborder="0" scrolling="no" src="http://service.weibo.com/staticjs/weiboshare.html?' + temp.join('&') + '" width="'+ _w+'" height="'+_h+'"></iframe>')
})()
</script>
	
	<div class="aw-answers-title">
		<h2><?php _e('%s 个评论', $this->comments_count); ?></h2>
	</div>

	<?php if ($this->comments) { ?>
	<div class="aw-answers-list">
		<ul>
			<?php foreach ($this->comments AS $key => $val) { ?>
			<li class="aw-item">
				<div class="aw-mod-head">
					<h3>
						<a href="m/people/<?php echo $val['user_info']['url_token']; ?>" class="avatar"><img alt="" src="<?php echo get_avatar_url($val['uid'], 'mid'); ?>" /></a>
						<a href="m/people/<?php echo $val['user_info']['url_token']; ?>"><?php echo $val['user_info']['user_name']; ?></a>
						<?php if ($val['at_user_info']) { ?> 回复 <a href="people/<?php echo $val['at_user_info']['url_token']; ?>"><?php echo $val['at_user_info']['user_name']; ?></a><?php } ?>
					</h3>
				</div>
				<div class="aw-mod-body"><?php echo nl2br($val['message']); ?></div>
				<div class="aw-mod-footer">
					<span class="num"><?php echo date_friendly($val['add_time']); ?></span> 
					
					<a class="aw-article-comment" data-id="<?php echo $val['user_info']['uid']; ?>"><i class="icon-comment"></i> 回复</a>
					
					<a onclick="comment_vote(this, <?php echo $val['id']; ?>, 1)"<?php if ($val['vote_info']['rating'] == 1) { ?> class="active"<?php } ?>><i class="icon-thumbs-up-alt"></i> <?php if ($val['vote_info']['rating'] == 1) { ?>我已赞<?php } else { ?>赞<?php } ?></a>
					
					<span class="pull-right num"><?php echo $val['votes']; ?> 赞</span>
				</div>
			</li>
			<?php } ?>
		</ul>
		
		<?php if ($_GET['item_id']) { ?>
		<a href="article/<?php echo $this->article_info['id']; ?>" class="aw-load-more"><?php _e('查看全部评论'); ?></a>
		<?php } ?>
	</div>
	<?php } ?>
	
	<!-- end 评论列表 -->
	<a name="answer_form"></a>
	<?php if ($this->next_page) { ?>
	<a href="m/question/<?php echo $this->question_info['question_id']; ?>?page-<?php echo $this->next_page; ?>" class="aw-load-more">下一页</a>
	<?php } ?>
	
	<?php if ($this->article_info['lock']) { ?>
	<p align="center"><?php _e('该文章目前已经被锁定, 无法添加新评论'); ?></p>
	<?php } else if (!$this->user_id) { ?>
	<p align="center"><?php _e('要回复文章请先<a href="account/login/">登录</a>或<a href="account/register/">注册</a>'); ?></p>
	<?php } else { ?>
	<!-- 评论box -->
	<div class="aw-anwser-box">
		<div class="aw-mod-head">
			<a href="m/people/" class="avatar pull-right"><img src="<?php echo get_avatar_url($this->user_id, 'mid'); ?>" alt="" /></a>
			<?php echo $this->user_info['user_name']; ?>
		</div>
		<div class="aw-mod-body">
			<form action="article/ajax/save_comment/" onsubmit="return false;" method="post" id="answer_form" class="form-inline">
				<input type="hidden" name="post_hash" value="<?php echo new_post_hash(); ?>" />
		        <input type="hidden" name="article_id" value="<?php echo $this->article_info['id']; ?>" />
				<textarea class="form-control" rows="5" name="message"></textarea>
			</form>
		</div>
		<div class="aw-mod-footer clearfix">
			<span class="pull-right">
				<a class="btn btn-success pull-left" onclick="ajax_post($('#answer_form'));"><?php _e('回复'); ?></a>
			</span>
		</div>
	</div>
	<!-- end 评论box -->
	<?php } ?>
</div>
<!-- end 内容 -->

<?php TPL::output('m/footer.tpl.htm'); ?>