<?php TPL::output('m/header.tpl.htm'); ?>

<div data-role="page">
	<div data-role="header" data-position="fixed" data-theme="b" data-add-back-btn="true">
		<a href="m/question/<?php echo intval($_GET['question_id']); ?>" data-role="button">返回</a>
		
		<h1><?php echo sizeof($this->comments_list); ?> 个评论</h1>
		
		<a href="m/add_comment/question_id-<?php echo intval($_GET['question_id']); ?>" data-role="button">评论</a>
	</div><!-- /header -->
	
	<div data-role="content" class="m_contents">	
		<div class="content-primary" data-theme="d">
			<ul class="question_answers">
				<?php if (sizeof($this->comments_list) > 0) { ?>
				<?php foreach ($this->comments_list AS $key => $val) { ?>
				<li class="ui-grid-a">
					<div class="ui-block-a">
						<img src="<?php echo get_avatar_url($val['uid'], 'mid'); ?>" alt="" width="32" height="32" />
					</div>
				
					<div class="ui-block-b">
						<h4 class="user_name"><a href="mobile/people/<?php echo $val['url_token']; ?>"><?php echo $val['user_name']; ?></a></h4>
				
						<?php echo nl2br($val['message']); ?>
					</div>
				</li>
				<?php } ?>
				<?php } else { ?>
				<p class="empty_message">没有相关评论</p>
				<?php } ?>
			</ul>
		</div>
	</div><!-- /content -->
</div><!-- /page -->

<?php TPL::output('m/footer.tpl.htm'); ?>