<?php TPL::output('m/header.tpl.htm'); ?>
<?php TPL::output('m/global_header.tpl.htm'); ?>

<div class="aw-content">
	<div class="aw-title">
		<h2>我关注的问题</h2>
	</div>
	<div class="feed-list">
		<div id="index_listview"></div>
		<a href="javascript:;" id="load_index_actions" class="aw-load-more">更多</a>
	</div>
</div>

<?php TPL::output('m/nav_menu.tpl.htm'); ?>

<script type="text/javascript">
	$(document).ready(function () {
		load_list_view(G_BASE_URL + '/home/ajax/index_actions/filter-focus__template-m', $('#index_listview'), $('#load_index_actions'));
	});
</script>

<?php TPL::output('m/footer.tpl.htm'); ?>