		<!-- 导航下拉内容 -->
		<div class="aw-top-nav-wrap">
			<!-- 导航下拉 消息 -->
			<div class="aw-top-nav-popup aw-top-nav-notic hide">
				<div class="aw-top-nav-notic-wrap">
					<ul>
						<li>
							<a>kk</a> 在问题 <a>用户设置里面的我的积分页面在哪个文件改户设置里面的我的积分页面在哪个文件改？</a> 回答中的评论遇到你(16小时前)
						</li>
						<li>
							<a>kk</a> 在问题 <a>用户设置里面的我的积分页面在哪个文件改？</a> 回答中的评论遇到你(16小时前)
						</li>
						<li>
							<a>kk</a> 在问题 <a>用户设置里面的我的积分页面在哪个文件改？</a> 回答中的评论遇到你(16小时前)
						</li>
						<li>
							<a>kk</a> 在问题 <a>用户设置里面的我的积分页面在哪个文件改？</a> 回答中的评论遇到你(16小时前)
						</li>
						
					</ul>
				</div>
				<button class="slide-close"></button>
			</div>
			<!-- end 导航下拉 消息 -->

			<!-- 导航下拉 我 -->
			<div class="aw-top-nav-popup aw-top-nav-profile hide">
				<ul>
					<li>
						<a href="m/people/">我的主页</a>
					</li>
					<li>
						<a href="m/inbox/">私信<span class="badge badge-info">3</span></a>
					</li>
					<li>
						<a href="setting.html">设置</a>
					</li>
					<li>
						<a>退出</a>
					</li>
				</ul>
				<button class="slide-close"></button>
			</div>
			<!-- end 导航下拉 我 -->
		</div>
		<!-- end 导航下拉内容 -->

		<!-- 底部 -->
		<footer>
			Copyright © <?php echo date('Y'); ?> - <?php echo get_setting('site_name'); ?>
		</footer>
		<!-- end 底部 -->
		
		<!-- DO NOT REMOVE -->
		<div id="aw-ajax-box" class="aw-ajax-box"></div>

		<div style="display:none">
			<?php echo get_setting('statistic_code'); ?>
		</div>
		<!-- / DO NOT REMOVE -->
	</body>
</html>