<!-- 顶部 -->
<header>
	<a href="m/"><img src="<?php echo G_STATIC_URL; ?>/js/mobile/img/logo.png" /></a>
	<form>
		<input placeholder="搜索话题、问题或人..." />
	</form>
	<button class="aw-publish" href="#publishModal" role="button" data-toggle="modal">发起</button>
</header>
<!-- end 顶部 -->

<!-- 导航 -->
<nav>
	<ul>
		<li><a href="m/">首页</a></li>
		<li><a href="m/explore/">问题</a></li>
		<li><a href="#">话题</a></li>
		<li id="aw-top-nav-notic"><a>通知</a><i class="aw-arrow"></i></li>
		<li id="aw-top-nav-profile"><a>我</a><i class="aw-arrow"></i></li>
	</ul>
</nav>
<!-- end 导航 -->