<div class="aw-global-tips hide">
	<a class="pull-left" href="m/weixin/oauth_redirect/scope-snsapi_user_info__state-STATE"> 你的微信没有绑定网站帐号, 点此绑定 </a>
	<i class="fa fa-times-circle-o pull-right" onclick="$(this).parents('.aw-global-tips').detach();$.cookie('wechat-tips-close', 'true');"></i>
</div>
<!-- 顶部 -->
<header>
	<a href="m/" class="logo"><img src="<?php echo G_STATIC_URL; ?>/js/mobile/img/logo.png" width="57"/></a>
	<div class="aw-search-bar">
		<form class="aw-relative" action="m/search/" method="post">
			<input type="hidden" name="_is_mobile" value="true" />
			<input placeholder="<?php _e('搜索话题、问题或人'); ?>..." class="aw-search-input" id="aw-search-query" name="q" autocomplete="off" />
			<div class="dropdown-list"><ul></ul></div>
		</form>
	</div>
	
	<?php if ($this->user_id) { ?>
	<button class="aw-publish" onclick="alert_box('publish', {'category_enable':'<?php echo (get_setting('category_enable') == 'Y') ? '1' : '0'; ?>', 'category_id':'<?php echo intval($_GET['category']); ?>'});"><?php _e('发起'); ?></button>
	<?php } ?>
</header>
<!-- end 顶部 -->

<!-- 导航 -->
<?php if ($this->user_id) { ?>
<nav>
	<ul>
		<li><a href="m/"><?php _e('首页'); ?></a></li>
		<li><a href="m/explore/"><?php _e('问题'); ?></a></li>
		<li><a href="m/topic_square/"><?php _e('话题'); ?></a></li>
		<li id="aw-top-nav-notic"><a><?php _e('通知'); ?><?php if ($this->user_info['notification_unread']) { ?><span class="badge badge-info"><?php echo $this->user_info['notification_unread']; ?></span><?php } ?></a><i class="fa fa-caret-down"></i></li>
		<li id="aw-top-nav-profile"><a><?php _e('我'); ?></a><i class="fa fa-caret-down"></i></li>
		
	</ul>
</nav>
<?php } ?>
<!-- end 导航 -->