<?php TPL::output('m/header_meta.tpl.htm'); ?>
<!-- header -->
<div class="header">
	<a class="logo" href="m/"><img src="<?php echo G_STATIC_URL; ?>/mobile/img/logo.png" alt="" width="52" /></a>
	<span class="pull-right">
		<?php if ($this->user_id) { ?>
			<a href="m/people/<?php echo $this->user_info['url_token']; ?>">
				<?php echo $this->user_info['user_name']; ?>
				<img src="<?php echo get_avatar_url($this->user['uid'], 'mid'); ?>" alt="" class="img" width="25" />
			</a>
		<?php } else {?>
			<a href="m/login/" class="btn btn-mini btn-primary btn-normal">登录</a>
			<a href="m/register/" class="btn btn-mini btn-success btn-normal">注册</a>
		<?php } ?>
	</span>
</div>
<!-- end header -->

<!-- nav -->
<div class="nav">
	<ul>
		<?php if ($this->user_id) { ?>
		<li>
			<a href="m/" <?php if ($_GET['app'] == 'explore') { ?>class="active"<?php } ?>><i class="icon icon-home"></i><?php _e('首页'); ?></a>
		</li>
		<?php } ?>
		<li>
			<a href="m/explore/"><i class="icon icon-list"></i><?php _e('发现'); ?></a>
		</li>
		<?php if (!$this->user_id) { ?>
		<li>
			<a href="m/topic_square/" <?php if ($_GET['app'] == 'topic_square') { ?>class="active"<?php } ?>><i class="icon icon-topic"></i><?php _e('话题'); ?></a>
		</li>
		<?php } ?>
		<li>
			<a href="m/publish/"><i class="icon icon-ask"></i><?php _e('发起'); ?></a>
		</li>
		<?php if (!$this->user_id) { ?>
		<li>
			<a href=""><i class="icon icon-search"></i><?php _e('搜索'); ?></a>
		</li>
		<?php }?>
		<li>
			<a class="user"><span class="triangle"></span><i class="icon icon-user"></i><?php _e('我'); ?></a>
		</li>
		<?php if ($this->user_id) { ?>
		<li>
			<a class="more"><span class="triangle"></span><i class="icon icon-more"></i><?php _e('更多'); ?></a>
		</li>
		<?php } ?>
	</ul>
	<div class="aw-popover user active">
		<ul>
			<?php if (!$this->user_id) { ?>
				<li>
					<a href="m/login/">
						<span class="label">
							<i class="icon icon-login"></i>
						</span>
						<?php _e('登录'); ?>
					</a>
				</li>
				<?php if (get_setting('sina_weibo_enabled') == 'Y') { ?>
				<li>
					<a href="">
						<span class="label">
							<i class="icon icon-weibo"></i>
						</span>
						<?php _e('微博登录'); ?>
					</a>
				</li>
				<?php } ?>
				<?php if (get_setting('qq_login_enabled') == 'Y') { ?>
				<li>
					<a href="">
						<span class="label">
							<i class="icon icon-qq"></i>
						</span>
						<?php _e('QQ登录'); ?>
					</a>
				</li>
				<?php } ?>
				<li>
					<a href="m/register/">
						<span class="label">
							<i class="icon icon-signup"></i>
						</span>
						<?php _e('注册'); ?>
					</a>
				</li>
			<?php } else { ?>
			<li>
				<a href="people/<?php echo $this->user_info['url_token']; ?>">
					<span class="label">
						<img class="img" alt="<?php echo $this->user_info['user_name']; ?>" src="<?php echo get_avatar_url($this->user_info['uid'], 'mid'); ?>" />
					</span>
					<?php echo $this->user_info['user_name']; ?>
					<?php if ($this->user_info['inbox_unread'] != 0) {?>
						<span class="badge badge-important"><?php echo $this->user_info['inbox_unread']?></span>
					<?php } ?>
							
				</a>
			</li>
			<li>
				<a href="m/inbox/">
					<span class="label">
						<i class="icon icon-inbox"></i>
					</span>
					<?php _e('私信'); ?>
				</a>
			</li>
			<li>
				<a href="m/settings/">
					<span class="label">
						<i class="icon icon-setting"></i>
					</span>
					<?php _e('设置'); ?>
				</a>
			</li>
			<li>
				<a href="account/logout/">
					<span class="label">
						<i class="icon icon-logout"></i>
					</span>
					<?php _e('退出'); ?>
				</a>
			</li>
			<?php } ?>
		</ul>
	</div>
	<div class="aw-popover more">
		<ul>
			<li>
				<a href="m/search/">
					<span class="label">
						<i class="icon icon-search"></i>
					</span>
					<?php _e('搜索'); ?>
				</a>
			</li>
			<li>
				<a href="m/people_list/">
					<span class="label">
						<i class="icon icon-user"></i>
					</span>
					<?php _e('用户'); ?>
				</a>
			</li>
			<li>
				<a href="m/topic_square/">
					<span class="label">
						<i class="icon icon-topic"></i>
					</span>
					<?php _e('话题'); ?>
				</a>
			</li>
		</ul>
	</div>
</div>
<!-- end nav -->

<!-- 导航 -->
<!-- <nav>
	<ul>
		<li><a href="m/"><?php _e('首页'); ?></a></li>
		<li><a href="m/explore/"><?php _e('发现'); ?></a></li>
		<li><a href="m/topic_square/"><?php _e('话题'); ?></a></li>
		<li><a href="m/people_list/"><?php _e('用户'); ?></a></li>
		<?php if ($this->user_id) { ?>
		<li id="aw-top-nav-profile"><a><?php _e('我'); ?></a><i class="fa fa-caret-down"></i></li>
		<?php } else { ?>
		<li><a href="m/login/"><?php _e('我'); ?></a></li>
		<?php } ?>
	</ul>
	<!-- 导航下拉内容 -->
	<!-- <div class="aw-top-nav-wrap">
		<!-- 导航下拉 我 -->
		<div class="aw-top-nav-popup aw-top-nav-profile hide">
			<ul>
				<li>
					<a href="m/people/"><?php _e('我的主页'); ?></a>
				</li>
				<li>
					<a href="m/inbox/"><?php _e('私信'); ?><?php if ($this->user_info['inbox_unread']) { ?><span class="badge badge-info"><?php echo $this->user_info['inbox_unread']; ?></span><?php } ?></a>
				</li>
				<li>
					<a href="m/settings/"><?php _e('设置'); ?></a>
				</li>
				<li>
					<a href="account/logout/"><?php _e('退出'); ?></a>
				</li>
			</ul>
			<span class="slide-close" onclick="$(this).parents('.aw-top-nav-popup').hide();"><i class="fa fa-angle-up"></i></span>
		</div>
		<!-- end 导航下拉 我 -->
	<!--</div> -->
	<!-- end 导航下拉内容 -->
<!--</nav> -->
<!-- end 导航 -->