<?php TPL::output('m/header.tpl.htm'); ?>

<div data-role="page" class="m_login">
	<div data-role="content">	
		<div class="content-primary">
			<form id="login_form" method="post" onsubmit="ajax_post($('#login_form')); return false;" action="<?php echo get_setting('base_url');?>/<?php echo G_INDEX_SCRIPT; ?>account/ajax/login_process/" data-ajax="false" id="login_form">
				<input type="hidden" name="return_url" value="<?php echo $this->return_url; ?>" />
				<input type="hidden" name="post_hash" value="<?php echo new_post_hash(); ?>" />
				
				<input type="text" id="user_name" name="user_name" placeholder="<?php _e('邮箱'); ?>/<?php _e('用户名'); ?>" />
				
				<input type="password" id="password" name="password" placeholder="<?php _e('密码'); ?>" />
				
				<label for="net_auto_login"><?php _e('记住我'); ?>:</label>
				<select name="net_auto_login" id="net_auto_login" data-role="slider">
					<option value="0">OFF</option>
					<option value="1">ON</option>
				</select>
				
				<p><button type="submit" data-theme="b"><?php _e('登录'); ?></button></p>
				
				<p align="center">
					<?php if (get_setting('sina_weibo_enabled') == 'Y') { ?><a href="<?php echo get_setting('base_url');?>/<?php if (get_setting('url_rewrite_enable') != 'Y') { ?><?php echo G_INDEX_SCRIPT; ?><?php } ?>account/openid/sina/" data-ajax="false"><?php _e('新浪微博'); ?></a><?php } ?> &nbsp; 
	            	
					<?php if (get_setting('qq_t_enabled') == 'Y') { ?><a href="<?php echo get_setting('base_url');?>/<?php if (get_setting('url_rewrite_enable') != 'Y') { ?><?php echo G_INDEX_SCRIPT; ?><?php } ?>account/openid/qq/" data-ajax="false"><?php _e('腾讯微博'); ?></a><?php } ?> &nbsp; 
	            	
					<?php if (get_setting('qq_login_enabled') == 'Y') { ?><a href="<?php echo get_setting('base_url');?>/<?php if (get_setting('url_rewrite_enable') != 'Y') { ?><?php echo G_INDEX_SCRIPT; ?><?php } ?>account/openid/qq_login/" data-ajax="false">QQ</a><?php } ?>
				</p>
				
				<?php if (get_setting('invite_reg_only') == 'N') { ?>
				<p align="center">
					<a target="_blank" href="<?php echo get_setting('base_url');?>/<?php if (get_setting('url_rewrite_enable') != 'Y') { ?><?php echo G_INDEX_SCRIPT; ?><?php } ?>account/register"><?php _e('注册新用户'); ?></a>
				</p>
				<?php } ?>
				
			</form>
		</div>
	</div><!-- /content -->
</div><!-- /page -->

<?php TPL::output('m/footer.tpl.htm'); ?>