<?php TPL::output('m/header.tpl.htm'); ?>
	<div class="mod nearby-question">
		<ul>
			<li>
				<h1>测试内容</h1>
				<p><i class="glyphicon glyphicon-map-marker"></i> 15米以内 <span>2013-11-16 15:38:32</span> ryon</p>
			</li>
			<li>
				<h1>测试内容</h1>
				<p><i class="glyphicon glyphicon-map-marker"></i> 15米以内 <span>2013-11-16 15:38:32</span> ryon</p>
			</li>
			<li>
				<h1>测试内容</h1>
				<p><i class="glyphicon glyphicon-map-marker"></i> 15米以内 <span>2013-11-16 15:38:32</span> ryon</p>
			</li>
			<li>
				<h1>测试内容</h1>
				<p><i class="glyphicon glyphicon-map-marker"></i> 15米以内 <span>2013-11-16 15:38:32</span> ryon</p>
			</li>
			<li>
				<h1>测试内容</h1>
				<p><i class="glyphicon glyphicon-map-marker"></i> 15米以内 <span>2013-11-16 15:38:32</span> ryon</p>
			</li>
			<li>
				<h1>测试内容</h1>
				<p><i class="glyphicon glyphicon-map-marker"></i> 15米以内 <span>2013-11-16 15:38:32</span> ryon</p>
			</li>
			<li>
				<h1>测试内容</h1>
				<p><i class="glyphicon glyphicon-map-marker"></i> 15米以内 <span>2013-11-16 15:38:32</span> ryon</p>
			</li>
		</ul>
	</div>
	</body>
</html>