<?php TPL::output('m/header.tpl.htm'); ?>

	<div class="mod nearby-people">
		<ul>
			<li>
				<a class="user-img img-thumbnail"><img src="img/user-img.jpg" /></a>
				<h1>ryon</h1>
				<p><i class="glyphicon glyphicon-map-marker"></i> 15米以内</p>
				<p>2013-11-16 15:38:32</p>
				<a class="btn btn-sm btn-primary">发消息</a>
			</li>
			<li>
				<a class="user-img img-thumbnail"><img src="img/user-img.jpg" /></a>
				<h1>ryon</h1>
				<p><i class="glyphicon glyphicon-map-marker"></i> 15米以内</p>
				<p>2013-11-16 15:38:32</p>
				<a class="btn btn-sm btn-primary">发消息</a>
			</li>
			<li>
				<a class="user-img img-thumbnail"><img src="img/user-img.jpg" /></a>
				<h1>ryon</h1>
				<p><i class="glyphicon glyphicon-map-marker"></i> 15米以内</p>
				<p>2013-11-16 15:38:32</p>
				<a class="btn btn-sm btn-primary">发消息</a>
			</li>
			<li>
				<a class="user-img img-thumbnail"><img src="img/user-img.jpg" /></a>
				<h1>ryon</h1>
				<p><i class="glyphicon glyphicon-map-marker"></i> 15米以内</p>
				<p>2013-11-16 15:38:32</p>
				<a class="btn btn-sm btn-primary">发消息</a>
			</li>
			<li>
				<a class="user-img img-thumbnail"><img src="img/user-img.jpg" /></a>
				<h1>ryon</h1>
				<p><i class="glyphicon glyphicon-map-marker"></i> 15米以内</p>
				<p>2013-11-16 15:38:32</p>
				<a class="btn btn-sm btn-primary">发消息</a>
			</li>
		</ul>
	</div>
	</body>
	
</html>