<?php TPL::output('m/header.tpl.htm'); ?>
<?php TPL::output('m/global_header.tpl.htm'); ?>

<!-- 内容 -->
<div class="aw-content aw-people-page">
	<!-- 个人资料 -->
	<div class="aw-mod aw-people-detail">
		<div class="aw-mod-head">
			<h2><?php if ($this->user_id == $this->user['uid']) { ?><?php _e('我的资料'); ?><?php } else { ?><?php _e('资料'); ?><?php } ?></h2>
		</div>
		<div class="aw-mod-body">
			<img src="<?php echo get_avatar_url($this->user['uid'], 'max'); ?>" alt="" />
			<?php echo $this->user['user_name']; ?>
			<?php if ($this->user['signature']) { ?>
			<div>
				<span class="num"><?php echo $this->user['signature']; ?></span>
			</div>
			<?php } ?>
			<div class="num">
				<?php _e('主页访问量'); ?>: <?php _e('%s 次访问', $this->user['views_count']); ?>
			</div>
		</div>
		<div class="aw-mod-footer">
			<span>威望: <em><?php echo $this->user['reputation']; ?></em></span>
			<?php if (get_setting('integral_system_enabled') == 'Y') { ?>
			<span>积分: <em><?php echo $this->user['integral']; ?></em></span>
			<?php } ?>
			<span>赞同: <em><?php echo $this->user['agree_count']; ?></em></span>
			<span>感谢: <em><?php echo $this->user['thanks_count']; ?></em></span>
		</div>
		<?php if ($this->user['uid'] != $this->user_id AND $this->user_id) { ?>
		<a class="btn btn-primary btn-mini<?php if ($this->user_follow_check) { ?> aw-active<?php } ?>" onclick="follow_people($(this), <?php echo $this->user['uid']; ?>);"><?php if ($this->user_follow_check) { ?><?php _e('取消关注'); ?><?php } else { ?><?php _e('关注'); ?><?php } ?></a>
		<a class="btn btn-primary btn-mini" onclick="alert_box('message','<?php echo $this->user['user_name']; ?>')">私信</a>
		<?php } ?>
	</div>
	<!-- end 个人资料 -->
	<!-- 擅长话题 -->
	<div class="aw-mod aw-people-topic">
		<div class="aw-mod-head">
			<h2><?php _e('擅长话题'); ?></h2>
		</div>
		<div class="aw-mod-body clearfix">
			<ul>
				<?php foreach ($this->reputation_topics AS $key => $val) { ?>
				<li><a href="topic/<?php echo $val['url_token']; ?>" class="aw-topic-name"><?php echo $val['topic_title']; ?></a></li>
				<?php } ?>
			</ul>
		</div>
	</div>
	<!-- end 擅长话题 -->
	<!-- 回复 -->
	<div class="aw-mod aw-people-replay">
		<div class="aw-mod-head">
			<h2><?php _e('回复'); ?></h2>
		</div>
		<div class="aw-mod-body clearfix">
			<ul>
				<?php foreach ($this->user_actions_answers AS $key => $val) { ?>
				<li>
					<a href="question/<?php echo $val['question_id']; ?>"><?php echo $val['question_content']; ?></a>
					<p><?php echo cjk_substr($val['answer_info']['answer_content'], 0, 130, 'UTF-8', '...'); ?></p>
				</li>
				<?php } ?>
			</ul>
		</div>
	</div>
	<!-- end 回复 -->
	<!-- 发问 -->
	<div class="aw-mod aw-people-ask">
		<div class="aw-mod-head">
			<h2><?php _e('发问'); ?></h2>
		</div>
		<div class="aw-mod-body clearfix">
			<ul>
				<?php foreach ($this->user_actions_questions AS $key => $val) { ?>
				<li>
					<a href="question/<?php echo $val['question_id']; ?>"><?php echo $val['question_content']; ?></a>
					<p class="num"><?php _e('%s 个关注', $val['focus_count']); ?> • <?php echo date_friendly($val['add_time']); ?></p>
				</li>
				<?php } ?>
			</ul>
		</div>
	</div>
	<!-- end 发问 -->
	<!-- 关注 -->
	<div class="aw-mod aw-people-follow">
		<div class="aw-mod-head">
			<h2><?php _e('关注'); ?></h2>
		</div>
		<div class="aw-mod-body clearfix">
			<?php if ($this->friends_list) { ?>
			<h3>关注 <?php echo $this->user['friend_count']; ?> 人</h3>
				<?php foreach ($this->friends_list AS $key => $val) { ?>
                	<a href="people/<?php echo $val['url_token']; ?>"><img src="<?php echo get_avatar_url($val['uid'], 'mid'); ?>" alt="<?php echo $val['user_name']; ?>" /></a>
                <?php } ?>
			<?php } ?>
			<h3>关注者 <?php echo $this->user['fans_count']; ?> 人</h3>
			
			<?php foreach ($this->fans_list AS $key => $val) { ?>
            	<a href="people/<?php echo $val['url_token']; ?>"><img src="<?php echo get_avatar_url($val['uid'], 'mid'); ?>" alt="<?php echo $val['user_name']; ?>"></a>
            <?php } ?>
			<h3>关注 <?php echo $this->user['topic_focus_count']; ?> 话题</h3>
				<?php foreach ($this->focus_topics AS $key => $val) { ?>
					<li><a class="aw-topic-name" href="topic/<?php echo $val['url_token']; ?>"><?php echo $val['topic_title']; ?></a></li>
				<?php } ?>
			</ul>
		</div>
	</div>
	<!-- end 关注 -->
</div>
<!-- end 内容 -->

<?php TPL::output('m/footer.tpl.htm'); ?>