<?php TPL::output('m/header.tpl.htm'); ?>
<?php TPL::output('m/global_header.tpl.htm'); ?>
<!-- 内容 -->
<div class="aw-content">
	<div class="aw-title">
		<h2><?php _e('发起问题'); ?></h2>
	</div>
	<div class="aw-mod aw-mod-publish clearfix">
		<form action="publish/ajax/<?php if ($this->question_info['question_id']) { ?>modify<?php } else { ?>publish<?php } ?>_question/" method="post" id="question_form" onsubmit="return false;">
			<input type="hidden" name="post_hash" value="<?php echo new_post_hash(); ?>" />
			<input type="hidden" name="question_id" id="question_id" value="<?php echo $this->question_info['question_id']; ?>" />
			<input type="hidden" name="ask_user_id" value="<?php echo $_POST['ask_user_id']; ?>" />
			
			<?php if ($this->question_category_list) { ?>
			<select name="category_id" class="hide" id="category_id">
				<option value="0">- <?php _e('请选择分类'); ?> -</option>
				<?php echo $this->question_category_list; ?>
			</select>
			<?php } ?>
			
			<div class="aw-mod-head clearfix">
		    	<h3><?php _e('问题标题'); ?>:</h3>
		    	<div class="aw-publish-title">
		    		<input type="text" class="pull-left<?php if (!$this->question_category_list) { ?> active<?php } ?>" placeholder="<?php _e('问题标题'); ?>..." value="<?php echo $this->question_info['question_content']; ?>" />
		    		<?php if ($this->question_category_list) { ?>
				    <div class="aw-publish-dropdown pull-left">
				    	<p class="dropdown-toggle" data-toggle="dropdown">
				    		<span class="pull-left num"><?php _e('选择分类'); ?></span>
				    		<i class="pull-left"></i>
				    	</p>
				    </div>
				    <?php } ?>
		    	</div>
			</div>
		    <div class="aw-mod-body clearfix">
		    	<h3><?php _e('问题补充 (选填)'); ?>:</h3>
		    	<textarea name="question_detail" id="question_detail" rows="4"><?php echo $this->question_info['question_detail']; ?></textarea>
			</div>
		    <div class="aw-mod-footer">
		    	<button class="btn btn-primary pull-right" onclick="ajax_post($('#question_form')); return false;"><?php _e('确认发起'); ?></button>
		    	
		    	<span class="aw-anonymity">
					<?php if ($this->question_info['question_id'] AND ($this->user_info['permission']['is_administortar'] OR $this->user_info['permission']['is_moderator'])) { ?>
					<label><input type="checkbox" class="pull-left" value="1" name="do_delete" /> <?php _e('删除问题'); ?></label>
					<?php } ?>
				</span>
		    </div>
	    </form>
	</div>
</div>
<!-- end 内容 -->

<script type="text/javascript">
	var CATEGORY_ID = <?php echo intval($_POST['category_id']); ?>;
	
	$(document).ready(function () {
		if ($('#category_id').length)
		{
			var category_data = '';
			
			$.each($('#category_id option').toArray(), function (i, field) {
				if (i > 0)
				{
					if (i > 1)
					{
						category_data += ',';
					}
					
					category_data += "{'title':'" + $(field).text() + "', 'id':'" + $(field).val() + "'}";
				}
			});
			
			add_dropdown_list('.aw-publish-dropdown', eval('[' + category_data + ']'), CATEGORY_ID);
			
			$('.aw-publish-dropdown .dropdown-menu li a').click(function() {
				$('#category_id').val($(this).attr('data-value'));
			});
		}

		if ($('.aw-publish-dropdown')[0])
		{
			$.each($('.aw-publish-dropdown .dropdown-menu li a'),function(i, e)
			{
				if ($(e).attr('data-value') == $('#category_id').val())
				{
					$('.aw-publish-dropdown span').html($(e).html());
					return;
				}
			});
		}
	});
</script>
		
<?php TPL::output('m/footer.tpl.htm'); ?>