<?php TPL::output('m/header.tpl.htm'); ?>
<?php TPL::output('m/global_header.tpl.htm'); ?>

<?php if ($this->redirect_message) { ?>
<?php foreach ($this->redirect_message AS $key => $message) { ?>
	<div class="alert"><?php echo $message; ?></div>
<?php } ?>
<?php } ?>

<!-- 内容 -->
<div class="aw-content aw-question-detail-page">
	<!-- 问题内容详情 -->
	<div class="aw-mod aw-question-detail">
		<div class="aw-mod-head">
			<h1><?php echo $this->question_info['question_content']; ?></h1>
			<div class="aw-topic-editor">
				<?php if ($this->question_topics) { ?>
					<?php foreach($this->question_topics as $key => $val) { if ($key > 2) { break; } ?>
						<a class="aw-topic-name" href="m/topic/<?php echo $val['url_token']; ?>"><?php echo $val['topic_title']; ?></a>
					<?php } ?>
				<?php } ?>
			</div>
		</div>
		<div class="aw-mod-body">
			<?php echo $this->question_info['question_detail']; ?>
			
			<?php if ($this->question_info['attachs']) {  ?>
				<div class="aw-comment-upload-img-list">
				<?php foreach ($this->question_info['attachs'] AS $key => $attach) { ?>
				<?php if ($attach['is_image'] AND !in_array($attach['id'], $this->question_info['attachs_ids'])) { ?>				<p>
					<a href="<?php echo $attach['attachment']; ?>" target="_blank"><img src="<?php echo $attach['attachment']; ?>" alt="<?php echo $attach['attach_name']; ?>" class="img-polaroid" /></a>
				</p>
				<?php } ?>
				<?php } ?>
				</div>
			<?php } ?>
		</div>
		<div class="aw-mod-footer">
			<a><?php if ($this->question_info['comment_count']) { ?><?php _e('%s 条评论', $this->question_info['comment_count']); ?><?php } else { ?><?php _e('添加评论'); ?><?php } ?></a><a>感谢</a><a>分享</a><a href="m/question_invite/<?php echo $this->question_info['question_id']; ?>">邀请回答</a>
		</div>
	</div>
	<!-- end 问题内容详情 -->
	<!-- 回复title -->
	<div class="aw-answers-title">
		<span class="pull-right">
			<a class="btn btn-primary btn-mini<?php if ($this->question_focus) { ?> aw-active<?php } ?>" onclick="focus_question($(this), $(this), <?php echo $this->question_info['question_id']; ?>);"><?php if ($this->question_focus) { ?><?php _e('取消关注'); ?><?php } else { ?><?php _e('关注'); ?><?php } ?></a>
			<div class="btn-group">
				<a href="javascript:;" data-toggle="dropdown" class="btn btn-normal dropdown-toggle">
				    <i class="icon-cog"></i>
				    <span class="caret"></span>
				</a>
				    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
				    <?php if ($this->user_info['permission']['is_administortar'] OR $this->user_info['permission']['is_moderator']) { ?>
				    <li>
						<a href="javascript:;" onclick="ajax_request(G_BASE_URL + '/question/ajax/lock/', 'question_id=<?php echo $this->question_info['question_id']; ?>');"><?php if ($this->question_info['lock']) { ?><?php _e('解除锁定'); ?><?php } else { ?><?php _e('锁定问题'); ?><?php } ?></a>
					</li>
					<li>
						<a href="javascript:;" onclick="if (confirm('<?php _e('确认删除?'); ?>')) { ajax_request(G_BASE_URL + '/question/ajax/remove_question/', 'question_id=<?php echo $this->question_info['question_id']; ?>'); } "><?php _e('删除问题'); ?></a>
					</li>
				    <?php } ?>
				    <?php if ($this->user_info['permission']['is_administortar'] OR $this->user_info['permission']['is_moderator']) { ?>
						<li>
							<a href="javascript:;" onclick="ajax_request(G_BASE_URL + '/question/ajax/set_recommend/', 'action=<?php if ($this->question_info['is_recommend']) { ?>un<?php } ?>set&question_id=<?php echo $this->question_info['question_id']; ?>');"><?php if ($this->question_info['is_recommend']) { ?><?php _e('取消推荐'); ?><?php } else { ?><?php _e('推荐问题'); ?><?php } ?></a>
						</li>
					<?php } ?>
						<li>
							<?php if ($this->question_info['redirect']) { ?>
							<a href="javascript:;" onclick="ajax_request(G_BASE_URL + '/question/ajax/redirect/', 'item_id=<?php echo $this->question_info['question_id']; ?>');"><?php _e('撤消重定向'); ?></a>
						<?php } else { ?>
							<a href="javascript:;" onclick="alert_box('redirect',<?php echo $this->question_info['question_id']; ?>);"><?php _e('问题重定向'); ?></a>
						<?php } ?>
						</li>
				    </ul>
			</div>
		</span>
		<h2><?php _e('%s 个回答', $this->question_info['answer_count']); ?></h2>
	</div>
	<!-- end 回复title -->
	<!-- 评论列表 -->
	<?php if ($this->answers_list) { ?>
	<div class="aw-answers-list">
		<?php foreach ($this->answers_list AS $key => $val) { ?>
		<section>
			<div class="aw-mod-head">
				<h3>
					<a class="avatar pull-right" href="<?php if ($val['anonymous']) { ?>javascript:;<?php } else { ?>m/people/<?php echo $val['uid']; ?><?php } ?>"><img src="<?php if ($val['anonymous']) { ?><?php echo G_STATIC_URL; ?>/common/avatar-mid-img.jpg<?php } else { ?><?php echo get_avatar_url($val['uid'], 'mid'); ?><?php } ?>" alt="" /></a>
					<a href="<?php if ($val['anonymous']) { ?>javascript:;<?php } else { ?>m/people/<?php echo $val['uid']; ?><?php } ?>"><?php if ($val['anonymous']) { ?><?php _e('匿名用户'); ?><?php } else { ?><?php echo $val['user_name']; ?><?php } ?></a><?php if (!$val['anonymous']) { ?><strong><?php echo $val['signature']; ?></strong><?php } ?>
				</h3>
				<div class="aw-vote-info<?php if (sizeof($val['agree_users']) == 0) { ?> hide<?php } ?>">
					<?php _e('赞同来自'); ?>:
											
					<?php if ($val['agree_users']) { ?>
					<?php $count = 0; foreach($val['agree_users'] AS $uid => $user) { ?>
					<?php if ($count > 0) { ?><em<?php if ($count >= 5) { ?> class="hide"<?php } ?>>、</em><?php } ?><a href="people/<?php echo $user['url_token']; ?>" data-id="<?php echo $user['uid']; ?>" class="aw-user-name<?php if ($count >= 5) { ?> hide<?php } ?>"><?php echo $user['user_name']; ?></a><?php $count++; } ?><?php } ?><?php if (count($val['agree_users']) >= 5) { ?><a href="javascript:;" class="aw-agree-by-show" onclick="$(this).parents('.aw-vote-info').find('em,a').removeClass('hide'); $(this).remove();"><?php _e('更多'); ?> »</a>
					<?php } ?>
				</div>
			</div>
			<div class="aw-mod-body">
				<?php echo nl2br($val['answer_content']); ?>
				
				<?php if ($val['attachs']) {  ?>
				<div class="aw-comment-upload-img-list">
				<?php foreach ($val['attachs'] AS $attach) { ?>
				<?php if ($attach['is_image'] AND !in_array($attach['id'], $val['insert_attach_ids'])) { ?>
					<p><a href="<?php echo $attach['attachment']; ?>" target="_blank" data-fancybox-group="thumb" rel="lightbox"><img src="<?php echo $attach['attachment']; ?>" class="img-polaroid" alt="<?php echo $attach['attach_name']; ?>" /></a></p>
				<?php } ?>
				<?php } ?>
				</div>
				<?php } ?>
			</div>
			<div class="aw-mod-footer">
				<a><span class="num"><i class="icon-arrow-up"></i> 30</span></a><a><span class="num"><i class="icon-arrow-down"></i> 5</span></a><a>09:50</a><a>6 条评论</a><a>感谢</a><a>分享</a>
			</div>
		</section>
		<?php } ?>
	</div>
	<?php } ?>
	<!-- end 评论列表 -->
	
	<?php if ($this->next_page) { ?>
	<a href="m/question/<?php echo $this->question_info['question_id']; ?>?page-<?php echo $this->next_page; ?>" class="aw-load-more">下一页</a>
	<?php } ?>
	
	<?php if (!$this->user_id) { ?>
	<p align="center"><?php _e('要回复问题请先登录或注册'); ?></p>
	<?php } else if ($this->question_info['lock']) { ?>
	<p align="center"><?php _e('该问题目前已经被锁定, 无法添加新回复'); ?></p>
	<?php } else if ($this->user_answered) { ?>
	<p align="center"><?php _e('一个问题只能回复一次'); ?><?php if (get_setting('answer_edit_time')) { ?>, <?php _e('你可以在发言后 %s 分钟内编辑回复过的内容', get_setting('answer_edit_time')); ?><?php } ?></p>
	<?php } else if ((get_setting('answer_self_question') == 'N') && ($this->user_id == $this->question_info['published_uid'])) { ?>
	<p align="center"><?php _e('不能回复自己发布的问题, 你可以修改问题内容'); ?></p>
	<?php } else { ?>
	<!-- 评论box -->
	<div class="aw-anwser-box">
		<div class="aw-mod-head">
			<a class="avatar pull-right"><img src="<?php echo get_avatar_url($this->user_id, 'mid'); ?>" alt="" /></a>
			<?php echo $this->user_info['user_name']; ?>
		</div>
		<div class="aw-mod-body">
			<form action="question/ajax/save_answer/" onsubmit="return false;" method="post" id="answer_form">
				<input type="hidden" name="post_hash" value="<?php echo new_post_hash(); ?>" />
		        <input type="hidden" name="question_id" value="<?php echo $this->question_info['question_id']; ?>" />
				<textarea rows="5" name="answer_content"><?php echo htmlspecialchars($this->draft_content['message']); ?></textarea>
			</form>
		</div>
		<div class="aw-mod-footer clearfix">
			<span class="num" id="answer_content_message">&nbsp;</span>
			<span class="pull-right">
				<label class="pull-left">
					<?php if (!$this->question_focus) { ?>
					<input type="checkbox" checked="checked" value="1" name="auto_focus" /> <?php _e('关注问题'); ?>
					<?php } ?>
				</label>
				<label class="pull-left">
					<?php if (get_setting('anonymous_enable') == 'Y') { ?><input type="checkbox" value="1" name="anonymous" /> <?php _e('匿名回复'); ?><?php } ?>
				</label>
				
				<a class="btn btn-success pull-left" onclick="ajax_post($('#answer_form'));"><?php _e('回复'); ?></a>
			</span>
		</div>
	</div>
	<!-- end 评论box -->
	<?php } ?>
	
	<!-- 相关问题 -->
	<?php if ($this->question_related_list) { ?>
	<div class="aw-related-questions">
		<h3>相关问题</h3>
		<ul>
			<?php foreach($this->question_related_list AS $key => $val) { ?>
			<li><a href="question/<?php echo $val['question_id']; ?>"><?php echo $val['question_content']; ?></a> <span class="num"><?php echo $val['answer_count']; ?> 个回答</span></li>
			<?php } ?>
		</ul>
	</div>
	<?php } ?>
	<!-- end 相关问题 -->
</div>
<!-- end 内容 -->

<script type="text/javascript">
	var QUESTION_ID = <?php echo $this->question_info['question_id'];?>;
	
	$(document).ready(function () {
		// 自动保存草稿
		if ($('#answer_form textarea').length)
		{
			$('#answer_form textarea').bind('keyup', function() {
				if ($(this).val() != '')
				{
					$.post(G_BASE_URL + '/account/ajax/save_draft/?item_id=' + QUESTION_ID + '&type=answer', 'message=' + $(this).val(), function (result) {
						$('#answer_content_message').html(result.err);
					}, 'json');
				}
			});
		}
	});
</script>

<?php TPL::output('m/footer.tpl.htm'); ?>