<?php TPL::output('m/header.tpl.htm'); ?>

<div data-role="page" class="m_login">
	<div data-role="content">	
		<div class="content-primary">
			<form id="register_form" method="post" onsubmit="ajax_post($('#register_form')); return false;" action="<?php echo get_setting('base_url');?>/<?php echo G_INDEX_SCRIPT; ?>account/ajax/register_process/" data-ajax="false" id="register_form">
				<input type="hidden" name="agreement_chk" value="agree" />
				
				<?php if ($_GET['weixin_id']) { ?>
					<input type="hidden" name="weixin_id" value="<?php echo $_GET['weixin_id']; ?>" />
				<?php } ?>
				
				<?php if ($this->icode) { ?>
					<input type="hidden" name="icode" id="icode" value="<?php echo $this->icode; ?>" />
				<?php } ?>
				
				<?php if ($this->return_url) { ?>
					<input type="hidden" name="return_url" value="<?php echo $this->return_url; ?>" />
				<?php } ?>
				
				<?php if ($this->fromuid AND $_GET['invite_question_id']) { ?>
				  	<input type="hidden" name="invite_question_id" value="<?php echo htmlspecialchars($_GET['invite_question_id']); ?>"/> 
				<?php } ?>
				
				<input type="text" id="user_name" name="user_name" placeholder="<?php _e('用户名'); ?>" value="<?php echo htmlspecialchars($_GET['user_name']); ?>" />
				
				<input type="text" id="email" name="email" placeholder="<?php _e('邮箱'); ?>" value="<?php echo htmlspecialchars(urldecode($_GET['email'])); ?>" />
				
				<input type="password" id="password" name="password" placeholder="<?php _e('密码'); ?>" />
				
				<?php if (!$this->fromuid AND !$this->icode AND get_setting('register_seccode') == 'Y') { ?>
				<p data-role="fieldcontain">
					<label for="seccode_verify"><img src="<?php echo get_setting('base_url');?>/<?php echo G_INDEX_SCRIPT; ?>account/captcha/" onclick="this.src = G_BASE_URL + '/account/captcha/rnd-' + Math.floor(Math.random() * 10000);" height="36" /></label>
					
					<input type="text" id="seccode_verify" name="seccode_verify" placeholder="<?php _e('验证码'); ?>" />
				</p>
				<?php } ?>
				
				<p><button type="submit" data-theme="b"><?php _e('注册'); ?></button></p>				
			</form>
		</div>
	</div><!-- /content -->
</div><!-- /page -->

<?php TPL::output('m/footer.tpl.htm'); ?>