<?php TPL::output('m/header.tpl.htm'); ?>

<div data-role="page">
	<form action="inbox/ajax/send/" onsubmit="return false;" method="post" id="pm_form">
		<input type="hidden" name="post_hash" value="<?php echo new_post_hash(); ?>" />
   	  	<input type="hidden" name="recipient" value="<?php echo $this->recipient; ?>" />
   	  	<input type="hidden" name="return_url" value="/m/inbox/" />
				
		<div data-role="header" data-position="fixed" data-theme="b" data-add-back-btn="true">
			<a href="#" data-direction="reverse" data-rel="back" data-role="button">返回</a>
			
			<h1>撰写私信</h1>
	
			<a href="#" data-role="button" onclick="ajax_post($('#pm_form'));">发送</a>
		</div><!-- /header -->
		
		<div data-role="content" class="m_contents">	
			<div class="content-primary editor">
				<textarea name="message" placeholder="填写站内信内容"></textarea>
			</div>
		</div>
	</form>
</div>

<?php TPL::output('m/footer.tpl.htm'); ?>