<?php TPL::output('m/header.tpl.htm'); ?>
<?php TPL::output('m/global_header.tpl.htm'); ?>

<!-- 内容 -->
<div class="aw-content aw-topic-page">
	<!-- 我关注的话题 -->
	<?php if ($this->user_id) { ?>
	<div class="aw-topic-hot">
		<h2><?php _e('我关注的话题'); ?></h2>
		<div id="focus_topics_listview"></div>
		<a class="aw-load-more" id="load_focus_topics"><?php _e('更多'); ?></a>
	</div>
	<?php } ?>
	<!-- end 我关注的话题 -->
	<!-- 话题广场 -->
	<div class="aw-topic-feed-title">
		<h2><?php _e('话题广场'); ?></h2>
	</div>
	<!-- end 话题广场 -->
	<!-- 话题列表 -->
	<div class="aw-topic-list">
		<ul>
			<?php foreach ($this->topics_hot_list AS $key => $val) { ?>
			<li>
				<a class="topic" href="m/topic/<?php echo $val['url_token']; ?>"><img src="<?php echo get_topic_pic_url('mid', $val['topic_pic']); ?>" alt="" /></a>
				<?php if ($this->user_id) { ?><a class="btn btn-primary btn-mini pull-right<?php if ($val['has_focus']) { ?> aw-active<?php } ?>" onclick="focus_topic($(this), $(this), <?php echo $val['topic_id']; ?>);"><?php if ($val['has_focus']) { ?><?php _e('取消关注'); ?><?php } else { ?><?php _e('关注'); ?><?php } ?></a><?php } ?>
				<h3><a href="m/topic/<?php echo $val['url_token']; ?>"><?php echo $val['topic_title']; ?></a></h3>
				<p><?php echo cjk_substr($val['topic_description'], 0, 32, 'UTF-8', '...'); ?></p>
			</li>
			<?php } ?>
		</ul>
	</div>
	<!-- end 话题列表 -->
</div>
<!-- end 内容 -->

<script type="text/javascript">
	$(document).ready(function () {
		if ($('#focus_topics_listview').length)
		{
			load_list_view(G_BASE_URL + '/m/ajax/focus_topics_list/', $('#focus_topics_listview'), $('#load_focus_topics'));
		}
	});
</script>

<?php TPL::output('m/footer.tpl.htm'); ?>