<?php TPL::output('m/header.tpl.htm'); ?>
<?php TPL::output('m/global_header.tpl.htm'); ?>

<!-- 内容 -->
<div class="aw-content aw-topic-page">
	<!-- 我关注的话题 -->
	<?php if ($this->user_id) { ?>
	<div class="aw-topic-hot">
		<h2><?php _e('我关注的话题'); ?></h2>
		<div id="focus_topics_listview"></div>
		<a class="aw-load-more" id="load_focus_topics"><?php _e('更多'); ?></a>
	</div>
	<?php } ?>
	<!-- end 我关注的话题 -->
	<!-- 话题广场 -->
	<div class="aw-topic-feed-title">
		<h2><?php _e('话题广场'); ?></h2>
	</div>
	<!-- end 话题广场 -->
	<!-- 话题列表 -->
	<div class="aw-topic-list">
		<ul id="hot_topics_list"></ul>
		<a class="aw-load-more" id="load_hot_topics"><?php _e('更多'); ?></a>
	</div>
	<!-- end 话题列表 -->
</div>
<!-- end 内容 -->

<script type="text/javascript">
	$(document).ready(function () {
		if ($('#focus_topics_listview').length)
		{
			AWS.load_list_view(G_BASE_URL + '/m/ajax/focus_topics_list/', $('#load_focus_topics'), $('#focus_topics_listview'));
		}
		if ($('#hot_topics_list').length)
		{
			AWS.load_list_view(G_BASE_URL + '/m/ajax/hot_topics_list/', $('#load_hot_topics'), $('#hot_topics_list'), 1);
		}
	});
</script>

<?php TPL::output('m/footer.tpl.htm'); ?>