<?php TPL::output('m/header.tpl.htm'); ?>

<div data-role="page">
	<div data-role="header" data-position="fixed" data-theme="b" data-add-back-btn="true">
		<a href="javascript:;" data-direction="reverse" data-rel="back" data-role="button">返回</a>
		
		<h1>话题列表</h1>
	</div><!-- /header -->

	<div data-role="content">	
		<div class="content-primary" data-theme="d">
			<ul data-role="listview">
				<?php if (sizeof($this->topics_list) > 0) { ?>
				<?php foreach ($this->topics_list AS $key => $val) { ?>
				<li class="m_users_list"><a href="<?php echo get_setting('base_url');?>/<?php if (get_setting('url_rewrite_enable') != 'Y') { ?><?php echo G_INDEX_SCRIPT; ?><?php } ?>m/topic/<?php echo $val['url_token']; ?>">
					<img src="<?php echo get_topic_pic_url('max', $val['topic_pic']); ?>" alt="" />
					<h3><?php echo $val['topic_title']; ?></h3>
					<p><?php echo cjk_substr($val['topic_description'], 0, 128, 'UTF-8', '...'); ?></p>
				</a></li>
				<?php } ?>
				<?php } else { ?>
				<p class="empty_message">没有相关话题</p>
				<?php } ?>
			</ul>
			
			<?php if ($this->next_page) { ?>
			<p class="load_more"><a href="<?php echo get_setting('base_url');?>/<?php if (get_setting('url_rewrite_enable') != 'Y') { ?><?php echo G_INDEX_SCRIPT; ?><?php } ?>m/topics_list/tag-<?php echo htmlspecialchars($_GET['tag']); ?>__id-<?php echo intval($_GET['id']); ?>__page-<?php echo $this->next_page; ?>" data-role="button">下一页</a></p>
			<?php } ?>
		</div>

	</div><!-- /content -->
</div><!-- /page -->

<?php TPL::output('m/footer.tpl.htm'); ?>