<?php TPL::output('m/header.tpl.htm'); ?>
<?php TPL::output('m/global_header.tpl.htm'); ?>

<?php if ($this->redirect_message) { ?>
<?php foreach ($this->redirect_message AS $key => $message) { ?>
	<div class="alert alert-warning"><?php echo $message; ?></div>
<?php } ?>
<?php } ?>

<!-- 内容 -->
<div class="aw-content aw-topic-page">
	<!-- 话题信息 -->
	<div class="aw-topic-info">
		<div class="aw-topic-title clearfix">
			<a class="pull-left"><img src="<?php echo get_topic_pic_url('max', $this->topic_info['topic_pic']); ?>" alt="" /></a>
			<h1 class="pull-left"><?php echo $this->topic_info['topic_title']; ?></h1>
		</div>
		<?php if ($this->user_id) { ?>
		<div class="aw-topic-section">
			<div class="aw-mod-head">
				<a class="btn btn-primary <?php if ($this->topic_info['has_focus']) { ?> aw-active<?php } ?>" onclick="focus_topic($(this), $(this), <?php echo $this->topic_info['topic_id']; ?>);"><?php if ($this->topic_info['has_focus']) { ?><?php _e('取消关注'); ?><?php } else { ?><?php _e('关注'); ?><?php } ?></a>
				<span class="aw-text-color-999"><a><?php echo $this->topic_info['focus_count']; ?></a> 人关注</span>
			</div>
		</div>
		<?php } ?>
		<div class="aw-topic-topbar">
			<!--<div class="aw-topic-topbar-search">
				<form>
					    <div class="input-append">
					    <input class="span2" id="appendedInputButton" type="text" placeholder="在话题中搜索">
					    <button class="btn" type="button">搜索</button>
					    </div>
				</form>
			</div>-->
			<div class="aw-topic-topbar-nav clearfix">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#questions" data-toggle="tab"><?php _e('全部问题'); ?></a></li>
					<li><a href="#best_answers" data-toggle="tab"><?php _e('精华'); ?></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- end 话题信息 -->		
	<!-- 内容列表 -->
	<div class="feed-list">
		<div class="tab-content">
			<div class="tab-pane active" id="questions">
				<ul id="all_question_listview">
				</ul>
				<a class="aw-load-more" id="load_all_question"><?php _e('更多'); ?></a>
			</div>
			
			<div class="tab-pane" id="best_answers">
				<ul id="best_answers_listview"></ul>
				<a class="aw-load-more" id="load_best_answers"><?php _e('更多'); ?></a>
			</div>
		</div>
	</div>
	<!-- end 内容列表 -->
	<!-- 话题描述 -->
	<div class="aw-topic-side-section aw-topic-descript">
		<h3><?php _e('话题描述'); ?></h3>
		<p><?php echo $this->topic_info['topic_description']; ?></p>
	</div>
	<!-- end 话题描述 -->
	<!-- 最佳回答者 -->
	<?php if (is_array($this->best_answer_users)) { ?>
	<div class="aw-topic-side-section">
		<h3><?php _e('最佳回复者'); ?></h3>
		<?php foreach ($this->best_answer_users AS $key => $val) { ?>
		<dl>
			<dt class="pull-left">
				<a href="m/people/<?php echo $val['user_info']['url_token']; ?>"><img src="<?php echo get_avatar_url($val['user_info']['uid'], 'mid'); ?>" alt="" /></a>
			</dt>
			<dd class="pull-left">
				<a class="aw-user-name" href="m/people/<?php echo $val['user_info']['url_token']; ?>"><?php echo $val['user_info']['user_name']; ?></a>
				<p class="aw-text-color-999"><?php _e('获得'); ?> <?php _e('%s 次赞同', '<b>' . $val['agree_count'] . '</b>'); ?>, <?php _e('%s 次感谢', '<b>' . $val['thanks_count'] . '</b>'); ?></p>
			</dd>
		</dl>
		<?php } ?>
	</div>
	<?php } ?>
	<!-- end 所属专题 -->
</div>
<!-- end 内容 -->

<script type="text/javascript">
	var TOPIC_ID = '<?php echo $this->topic_info['topic_id']; ?>';
	
	var CONTENTS_TOPIC_ID = '<?php echo $this->contents_topic_id; ?>';
	var CONTENTS_TOPIC_TITLE = '<?php echo $this->contents_topic_title; ?>';
	
	$(document).ready(function () {
		if ($('#all_question_listview').length)
		{
			load_list_view(G_BASE_URL + '/question/ajax/discuss/sort_type-new__topic_id' + '-' + CONTENTS_TOPIC_ID + '__template-m', $('#all_question_listview'), $('#load_all_question'));
		}
		
		if ($('#best_answers_listview').length)
		{
			load_list_view(G_BASE_URL + '/topic/ajax/question_list/type-best__topic_id' + '-' + CONTENTS_TOPIC_ID + '__template-m', $('#best_answers_listview'), $('#load_best_answers'));
		}
	});
</script>

<?php TPL::output('m/footer.tpl.htm'); ?>