<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title><?php _e('您的浏览器不受支持'); ?></title>
		<link rel="stylesheet" type="text/css" href="<?php echo G_STATIC_URL; ?>/css/default/common.css" />
		<link href="<?php echo G_STATIC_URL; ?>/css/bootstrap.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		
		<div class="aw-ie6 well">
			<div class="pull-left"><img src="<?php echo G_STATIC_URL; ?>/css/default/img/404-logo.png" alt="" /></div>
			<div class="pull-right">
				<h1><?php _e('您的浏览器<span>不受支持</span>'); ?></h1>
				<p><?php _e('您的浏览器版本非常旧, 存在诸多安全和体验问题! 建议<a href="http://windows.microsoft.com/zh-cn/windows/upgrade-your-browser">更新</a>或者使用其他浏览器来访问, 如果您使用的是搜狗、360、遨游等双核浏览器, 请切换到极速模式以获得更好的体验'); ?></p>
				<ul>
					<li><a href="http://www.google.cn/intl/zh-CN/chrome/browser/">￮ <?php _e('Google 浏览器'); ?></a></li>
					<li><a href="http://www.anwsion.com/services/liebao/">￮ <?php _e('金山猎豹浏览器'); ?></a></li>
					<li><a href="http://firefox.com.cn/">￮ <?php _e('Firefox 浏览器'); ?></a></li>
				</ul>
			</div>
		</div>
	</body>
</html>