<div class="aw-footer-wrap">
	<div class="aw-footer aw-wecenter">
		<?php if (is_mobile()) { ?>
		<div class="row">
			<p align="center"><?php _e('版本切换'); ?>: <b><?php _e('PC 版'); ?></b> | <a href="m/ignore_ua_check-FALSE"><?php _e('手机版'); ?></a></p>
		</div>
		<?php } ?>
		<div class="row">
			<div class="col-sm-3 aw-powerby">
				Powered By <a href="http://www.wecenter.com/?copyright" target="blank">WeCenter <?php echo G_VERSION; ?></a>
			</div>
			<div class="col-sm-9 aw-copyright">
				Copyright © <?php echo date('Y'); ?> - <?php echo get_setting('site_name'); ?><?php if (get_setting('icp_beian')) { ?> - <a href="http://www.miibeian.gov.cn/" target="_blank"><?php echo get_setting('icp_beian'); ?></a><?php } ?> &nbsp; <?php _e('当前时区'); ?>: GMT <?php echo get_time_zone(); ?> &nbsp; <a href="<?php echo get_js_url('/feed/'); ?>" target="blank"><img src="<?php echo G_STATIC_URL; ?>/css/<?php echo $this->template_name; ?>/img/feed-icon.png" alt="RSS"/> RSS Feed</a>
			</div>
		</div>
	</div>
</div>

<a href="javascript:;" onclick="$.scrollTo(1, 600, {queue:true});" class="aw-back-top"><i class="icon-arrow-up"></i></a>

<?php echo get_setting('statistic_code'); ?>

<!-- DO NOT REMOVE -->
<div id="aw-ajax-box" class="aw-ajax-box"></div>

<div style="display:none;" id="__crond">
	<script type="text/javascript">
		$(document).ready(function () {
			$('#__crond').html(unescape('%3Cimg%20src%3D%22' + G_BASE_URL + '/crond/run/<?php echo time(); ?>%22%20width%3D%221%22%20height%3D%221%22%20/%3E'));
		});

	</script>
</div>

<?php TPL::output('global/debuger.tpl.htm'); ?>

<script type="text/javascript" id="bdshare_js" data="type=tools" ></script>
<!-- / DO NOT REMOVE -->

</body>
</html>