<?php if (get_setting('ticket_enabled') == 'Y' && $this->user_info['permission']['publish_ticket']) { ?>
<script type="text/javascript">
    $(document).ready(function ()
    {
        $('.aw-publish-btn .dropdown-list ul').append("<li><a href=\"<?php echo get_js_url('/ticket/publish/'); ?>\"><?php _e('工单'); ?></a></li>");

        if (G_REQUEST_URL == '/publish/' || G_REQUEST_URL == '/publish/article/')
        {
            $('.aw-main-content ul.aw-nav-tabs').prepend("<li><a href=\"<?php echo get_js_url('/ticket/publish/'); ?>\"><?php _e('工单'); ?></a></li>");
        }
    })
</script>
<?php } ?>
