<div class="aw-login-footer">
	Copyright © <?php echo date('Y'); ?> - <?php echo get_setting('site_name'); ?><?php if(get_setting('icp_beian')){ ?> - <a href="http://www.miibeian.gov.cn/" target="_blank"><?php echo get_setting('icp_beian'); ?></a><?php } ?>, All Rights Reserved<br />

	Powered By <a href="http://www.wecenter.com/?copyright" target="blank">WeCenter <?php echo G_VERSION; ?></a>
</div>

<?php echo get_setting('statistic_code'); ?>

<!-- DO NOT REMOVE -->
<div id="aw-ajax-box" class="aw-ajax-box"></div>
<?php TPL::output('global/debuger.tpl.htm'); ?>
<!-- / DO NOT REMOVE -->

</body>
</html>