<?php TPL::output('global/header_meta.tpl.htm'); ?>
<body>
<div class="weibo_login weibo_login_bg">
  <h1 class="i_cl_04"><a href="<?php echo get_setting('base_url'); ?>"><img src="<?php echo G_STATIC_URL; ?>/css/<?php echo $this->template_name; ?>/img/login_logo.png" title="<?php echo get_setting('site_name'); ?>" alt="<?php echo get_setting('site_name'); ?>" /></a><?php echo get_setting('description'); ?></h1>
  <p class="b i_white" id="header_action"><span class="i_s i_small"></span></p>
</div>