*{margin:0;padding:0;}
body{padding:0 0 20px 0 !important;}
input, textarea, select{font-family: "Helvetica Neue",Helvetica,Arial,'Microsoft YaHei',sans-serif;color: #666;}
ul,li,ol{margin:0;list-style: none;}
article, aside, dialog, footer, header, section, footer, nav, figure, menu {display: block;}
h1,h2,h3,h4,h5,h6{margin:0;font-size: 16px;line-height: 30px;}
a{cursor: pointer;}
.aw-topic-name{display: inline-block;line-height:22px;margin-right:5px;padding: 1px 7px;background:#D4F2FF;}
.aw-topic-name:hover{text-decoration: none;}
.aw-topic-name i{margin:-1px 0 0 10px;font-size: 14px;font-style: normal;cursor: pointer;}
.modal-backdrop, .modal-backdrop.fade.in{opacity: 0.2;}
.dropdown-menu{min-width: 0px;}
.num{color: #999;}
.aw-arrow{border-color: #C1C1C1 transparent transparent;border-image: none;border-right: 4px solid transparent;border-style: solid;border-width: 4px;}
.aw-arrow.normal{border-width: 7px;}
.btn-submit{margin:0 auto 15px;background:#80C3F7;border: 1px solid #1D80CF;border-radius: 5px 5px 5px 5px;box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(50, 50, 50, 0.05);color: #FFFFFF;cursor: pointer;display: block;font-size: 16px;line-height: 37px;text-align: center;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);width: 100%;font-weight: bold;}
.btn-submit:hover{text-decoration: none;}
.alert{margin:0;padding:8px 14px;border-left: none;border-left: none;border-radius: 0px;}
.alert a{text-decoration: underline;}
.alert-info{color: #666;}
.btn-mini{font-size: 12px;}
.aw-text-color-red{color: red;}
.aw-relative{position: relative;}
.btn-mini{min-width: 60px;padding:2px 3px;font-size:14px;font-weight: normal;}
.btn-primary.aw-active{
	color: #333333;
	background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  text-shadow:none;
}
.btn-primary.aw-active:hover{
	background-position: 0 -30px;
}


/* 顶部 */
header{height: 46px;min-width: 0;padding:0 10px;background: none repeat scroll 0 0 #0D7DCB;border-bottom: 1px solid #0055AC;border-top: 1px solid #0055AC;box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.15);}
header .logo img{position: absolute;left: 5px;top:3px;}
header form{width: auto;height: 30px;max-width: 100%;margin:6px 55px 0 65px;background-color: #E6F3FA;border: 1px solid #0055AC;border-radius: 5px 5px 5px 5px;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset, 0 1px 0 rgba(255, 255, 255, 0.2);}
header form input{width:98%;background: none repeat scroll 0 0 transparent;border: 0 none;color: #999999;font-size: 14px;line-height: normal;outline: medium none;overflow: hidden;padding: 6px 8px;}
header .aw-publish{background-image: -moz-linear-gradient(top, #1589E0, #0F71C6);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1589E0), to(#0F71C6));background-image: -webkit-linear-gradient(top, #1589E0, #0F71C6);background-image: -o-linear-gradient(top, #1589E0, #0F71C6);background-image: linear-gradient(to bottom, #1589E0, #0F71C6);border: 1px solid #065FB9;border-radius: 5px 5px 5px 5px;box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 1px rgba(0, 0, 0, 0.1);font-size: 15px;height: 32px;line-height: 32px;text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);width: 54px;color: #fff;position: absolute;right: 5px;top: 7px;}

/* 导航 */
nav{background: rgba(0, 0, 0, 0.05) repeat;border-bottom: 1px solid #E1E1E1;margin: 0;height: 36px;font-size: 15px;}
nav ul{box-shadow: 0 0 1px rgba(0, 0, 0, 0.04);line-height: 36px;margin: 0;padding: 0;}
nav ul li{position:relative;float: left;width: 20%;height: 36px;line-height: 36px;text-align: center;cursor: pointer;}
nav ul li .aw-arrow{position: absolute;right: 7px;top: 16px;}
nav ul li a{display:block;font-weight: bold;color: #222;}
nav ul li a span{margin-left: 10px;}

/* 内容 */
.aw-content{padding:0 10px;}
.aw-title{line-height: 36px;margin:10px 0;padding-bottom:5px;font-size: 16px;color: #666;border-bottom: 1px solid #CCCCCC;}
.aw-title p{margin:0;}
.feed-list ul li{position: relative;padding:10px 0;border-top: 1px dashed #EEEEEE;}
.feed-list ul li:first-child{border-top: none;}
.feed-list ul li .avatar{position: absolute;right: 0;top: 10px;}
.feed-list ul li .avatar img{width: 25px;height: 25px;border-radius: 2px;}
.feed-list ul li .aw-mod-head h2{line-height: 24px;}
.feed-list ul li .aw-mod-head p{font-size: 15px;line-height:24px;color: #999;}
.feed-list ul li .aw-mod-head p a{color: #222222;}
.feed-list ul li .aw-mod-head p a.aw-topic-name{color: #0088CC;}
.feed-list ul li .aw-mod-head span{font-size: 13px;}
.feed-list ul li h2{font-size: 16px;}
.feed-list ul li p{margin:0;}
.feed-list ul li .aw-mod-body p.content{line-height: 24px;font-size: 15px;}
.feed-list ul li .aw-mod-footer{margin-top: 5px;}
.feed-list ul li .aw-mod-footer > a{margin-right:10px;color: #999;}
.feed-list ul li .over-hidden{max-height: 80px;overflow: hidden;}
.aw-load-more{display: block;height: 22px;line-height: 22px;margin:20px 0;padding:5px 1px;background: -webkit-linear-gradient(top,#f8f8f9,#e6e6e8) #F1F1F2;background: -moz-linear-gradient(top,#f8f8f9,#e6e6e8) #F1F1F2;border: 1px solid #BBBBBB;box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 rgba(0, 0, 0, 0.1);color: #666666;text-shadow: 0 1px 0 #FFFFFF;text-align: center;}
.aw-load-more.disabled{background:#F6F6F6;box-shadow: none;color: #999;text-decoration: none;}
.aw-load-more.loading{background-image:url("img/ajax-loader.gif");background-repeat: no-repeat;background-position: center center;font-size: 0px;text-decoration: none;}

/* 侧边栏 */
.aw-side-bar .aw-side-nav{padding:10px 0;border-bottom: 1px solid #EEEEEE;}
.aw-side-bar .aw-side-nav li{margin:0 0 3px;}
.aw-side-bar .aw-side-nav li a{display: block;height: 28px;line-height: 28px;padding: 0 0 0 10px;color: #666666;}
.aw-side-bar .aw-side-nav li a:hover, .aw-side-bar .aw-side-nav li.active a{background: none repeat scroll 0 0 #E7F3F9;border-radius: 3px 3px 3px 3px;color: #225599;text-decoration: none;}
.aw-side-bar .aw-side-nav li .badge-info{margin-left: 10px;}
.aw-side-bar .aw-side-bar-section ul li{margin:10px 0;}
.aw-side-bar .aw-side-bar-section ul li img{margin-right: 10px;}

/* 导航下拉 */
.aw-top-nav-popup{position: absolute;border-radius: 0 0 6px 6px;border-top: 1px solid #DDDDDD;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);}
.aw-top-nav-popup li{background-color: #E4E4E4;border-color: #EEEEEE;border-image: none; border-style: solid;border-width: 0 1px 1px 0;float: left;height: 45px;overflow: hidden;position: relative; width: 49.91%;}
.aw-top-nav-popup li:last-child:nth-child(2n+1) { width: 100%;}
.aw-top-nav-popup li a{display: block;background-color: #F4F4F4;border: 0 none !important;border-radius: 0 0 0 0 !important;box-shadow: none;color: #000000;height: 45px;line-height: 39px;text-shadow: none; width: 100%;}
.aw-top-nav-popup li a:hover{background-color: #E4E4E4;}
.aw-top-nav-popup li img{ margin:0 10px;border-radius: 2px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);}
.aw-top-nav-popup .slide-close{background: url("img/arrow-icon.png") no-repeat scroll center center #F4F4F4;border: 0 none;border-radius: 0 0 6px 6px;display: block;height: 36px;width: 100%;}
.aw-top-nav-profile{right: 0;top: 84px;}
.aw-top-nav-profile li{width: 140px;float: none;}
.aw-top-nav-profile li a{padding-left: 10px;}
.aw-top-nav-profile li .badge-info{margin-left: 10px;}
.aw-top-nav-notic{left: 0;top: 84px;width: 100%;}
.aw-top-nav-notic-wrap{max-height: 322px;overflow-y: scroll;overflow-x:hidden;background: #fff;}
.aw-top-nav-notic li{float: none;width: auto;height:auto;padding:10px 0 10px 10px;overflow:visible;background: #FFFFFF;}
.aw-top-nav-notic li:hover{background: #E4E4E4;}
.aw-top-nav-notic li a{display: inline;width: auto;line-height:22px;background: none;color: #0088CC;}
.aw-top-nav-notic li a:hover{background: none;}

/* 发起页面 */
.aw-mod-publish .aw-mod-body{margin-bottom:10px;border-bottom: 1px solid #eee;}
.aw-mod-publish textarea{width: 95%;}
.aw-mod-publish .aw-topic-box-selector .btn{margin:0 0 10px 10px;}
.aw-publish-title .aw-publish-dropdown{position: relative;}
.aw-publish-title input{border-radius: 4px 0 0 4px;border-right: none;}
.aw-publish-title.open .dropdown-menu{display: block;}
.aw-publish-title .aw-publish-dropdown p{margin: 0;height: 28px;line-height: 28px;border: 1px solid #C1CAD4;box-shadow: 0 2px 1px #F3F3F3 inset;cursor: pointer;border-radius: 0 4px 4px 0;}
.aw-publish-title .aw-publish-dropdown span{display: inline-block;padding:0 12px;}
.aw-publish-title .aw-publish-dropdown i{display:inline-block;margin:10px 10px 0 0;border-color: #C1C1C1 transparent transparent;border-image: none;border-style: solid;border-width: 7px;}
.alert-publish .aw-publish-title .aw-publish-dropdown p{width:100%;border-radius: 4px;}
.alert-publish .aw-publish-title .aw-publish-dropdown p i{position: absolute;right: 0;top:0;}
.alert-publish .aw-publish-title .dropdown-menu{width: 100%;}

/* 快速回复 */
.aw-comment-box{position: relative;max-width: 540px;margin:10px 0 35px;border:1px solid #DDDDDD;background: #fff;border-radius: 4px;}
.aw-comment-list li{margin:0 12px;padding:8px 0;border-top: 1px solid #EEEEEE;}
.aw-comment-list li:first-child{border-top: none;}
.aw-comment-list li .aw-mod-head a{color: #0088CC !important;}
.aw-comment-list li .aw-mod-footer{font-size: 13px;}
.aw-comment-list li .aw-mod-footer span{margin-right: 10px;color: #999;}
.aw-comment-box .aw-comment-form{padding:15px;background: #FBFBFB;border-top:1px solid #EEEEEE;border-radius: 0 0 4px 4px;}
.aw-comment-box .aw-comment-form textarea{width:96%;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;}
.aw-comment-box .aw-comment-form p{height: 28px;line-height: 28px;}
.aw-comment-box .aw-comment-form .btn-primary{margin:0 !important;color: #fff;}

/* 问题详情页 */
.aw-question-detail-page .aw-question-detail h1{margin-top:10px;font-size: 18px;line-height: 22px;}
.aw-question-detail-page .aw-question-detail .aw-topic-box{margin: 10px 0;}
.aw-question-detail-page .aw-question-detail .aw-mod-body{margin:10px 0;line-height: 22px;}
.aw-question-detail-page .aw-question-detail .aw-mod-footer a, .aw-question-detail-page .aw-answers-list .aw-mod-footer a{margin-right: 10px;color: #999;}
.aw-question-detail-page .aw-answers-title{line-height:24px;margin-top:15px;padding:10px 0;border-top: 1px solid #EEEEEE;}
.aw-question-detail-page .aw-answers-title .dropdown-menu{left: -60px;}
.aw-question-detail-page .aw-answers-list ul li{padding:10px 0;border-top:1px solid #EEEEEE;}
.aw-question-detail-page .aw-answers-list .avatar{width: 25px;height: 25px;border-radius: 2px;}
.aw-question-detail-page .aw-answers-list h3{min-height:26px;font-size: 15px;}
.aw-question-detail-page .aw-answers-list h3 strong{margin-left: 10px;}
.aw-question-detail-page .aw-answers-list .aw-vote-info, .aw-question-detail-page .aw-answers-list .aw-vote-info a{font-size: 14px;color: #999;}
.aw-question-detail-page .aw-answers-list .aw-mod-body{margin:5px 0;line-height: 22px;}
.aw-question-detail-page .aw-answers-list .aw-mod-footer > span{margin-right: 10px;}
.aw-question-detail-page .aw-answers-list .aw-mod-footer em{font-style: normal;}
.aw-question-detail-page .aw-anwser-box .aw-mod-head{min-height: 25px;line-height: 25px;}
.aw-question-detail-page .aw-anwser-box .aw-mod-body{margin-top:10px;}
.aw-question-detail-page .aw-anwser-box .avatar{width: 25px;height: 25px;border-radius: 2px;}
.aw-question-detail-page .aw-anwser-box textarea{width: 100%;padding:0;}
.aw-question-detail-page .aw-anwser-box .aw-mod-footer label{margin:4px 10px 0 0;}
.aw-question-detail-page .aw-anwser-box .aw-mod-footer label input{margin:0;}
.aw-question-detail-page .aw-related-questions{margin-top: 40px;border-top:1px solid #EEEEEE;}
.aw-question-detail-page .aw-related-questions h3{margin:10px 0;}
.aw-question-detail-page .aw-related-questions ul li{margin-bottom: 8px;}
.aw-question-detail-page .aw-invite-replay{margin-top:10px;padding:12px;border:1px solid #DDDDDD;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);border-radius: 4px;}
.aw-question-detail-page .aw-invite-replay .aw-invite-replay-list li{position: relative;min-height:30px;line-height:30px;padding:10px 0 10px 35px;border-top: 1px dashed #eee;}
.aw-question-detail-page .aw-invite-replay .aw-invite-replay-list li:first-child{border-top: none;}
.aw-question-detail-page .aw-invite-replay .aw-invite-replay-list li .avatar{position: absolute;left: 0;top: 10px;}
.aw-question-detail-page .aw-invite-replay .aw-invite-replay-list li .avatar img{width: 25px;height: 25px;}
.aw-question-detail-page .aw-invite-replay .aw-invite-replay-list li p{margin:0;}
.aw-question-detail-page .aw-winner-replay{position:relative;height: 30px;line-height: 30px;margin:10px 0 12px;padding-left: 10px;background: #eeeeee;font-size: 14px;font-weight: bold;}
.aw-question-detail-page .aw-winner-replay i{margin-right: 5px;vertical-align: -2px;}
.aw-question-detail-page .aw-share-iframe{position: relative;top: 2px;}

/* 问题评论box */
.aw-comment-box .aw-comment-list li{position: relative;padding:15px 0 15px 35px;}
.aw-comment-box .aw-comment-list li > .aw-user-name{position: absolute;left: 0;top: 15px;}
.aw-comment-box .aw-comment-list li > .aw-user-name img{width: 25px;height: 25px;}
.aw-comment-box .aw-comment-list li p{color: #666;}
.aw-comment-box .aw-comment-list li p span{color: #999;}
.aw-comment-box .aw-comment-box-main{padding:10px;}
.aw-comment-box .aw-comment-box-main textarea{width: 97%;}
.aw-comment-box .aw-comment-box-main a.btn{margin-left:10px;color: #333 !important;}
.aw-comment-box .aw-comment-box-main a.btn-primary{color: #fff !important;}

/* 话题页面 */
.aw-topic-page{margin-top: 10px;}
.aw-topic-page .aw-topic-info .aw-topic-title{padding-bottom:10px;border-bottom: 1px solid #eee;}
.aw-topic-page .aw-topic-info .aw-topic-title img{width: 50px;height: 50px;border-radius: 4px;}
.aw-topic-page .aw-topic-info .aw-topic-title h1{line-height: 50px;margin-left: 20px;}
.aw-topic-page .aw-topic-info .aw-topic-section, .aw-topic-page .aw-topic-info .aw-topic-topbar-nav, .aw-topic-page .aw-topic-info .aw-topic-section .aw-mod-body{margin:10px 0;}
.aw-topic-page .aw-topic-info .aw-topic-section .num{margin-left: 10px;}
.aw-topic-page .aw-topic-info .aw-topic-topbar-search form, .aw-topic-page .aw-topic-info .aw-topic-topbar-nav .nav-tabs{margin:0;}
.aw-topic-side-section{margin-bottom:10px;padding:10px 0;border-top:1px solid #eee;}
.aw-topic-side-section dl{height: auto;overflow: hidden;margin:0;padding:10px 0;border-bottom:1px solid #eee;}
.aw-topic-side-section p{margin:10px 0 0 0;}
.aw-topic-page .aw-topic-feed-title{padding-bottom: 10px;border-bottom: 1px solid #eee;color: #666;}
.aw-topic-page .aw-topic-follow-list .topic img, .aw-topic-page .aw-topic-list .topic img, .aw-topic-page .aw-topic-hot dl img{width: 50px;height: 50px;border-radius: 4px;}
.aw-topic-page .aw-topic-follow-list h3, .aw-topic-page .aw-topic-list h3{margin-bottom: 5px;}
.aw-topic-page .aw-topic-follow-list li{line-height: 22px;margin-bottom: 8px;}
.aw-topic-page .aw-topic-follow-list li a{font-size: 15px;}
.aw-topic-page .aw-topic-list li{position: relative;padding:10px 0 10px 60px;border-top: 1px dashed #eee;}
.aw-topic-page .aw-topic-list li:first-child{border-top: none;}
.aw-topic-page .aw-topic-list li .topic{position: absolute;left: 0;top: 10px;}
.aw-topic-page .aw-topic-hot h2{margin-bottom: 10px;}
.aw-topic-page .aw-topic-hot section{margin:0 0 10px;padding:10px;border:1px solid #D5D5D5;border-radius: 4px;box-shadow: 0 1px 0 #F2F2F2;}
.aw-topic-page .aw-topic-hot dl{height: auto;overflow: hidden;margin:0 0 5px;}
.aw-topic-page .aw-topic-hot li{padding:8px 0;border-top:1px dotted #EEEEEE;}

/* 问题页面 */
.aw-question-page .feed-list ul li, .aw-topic-page .feed-list #questions  ul li{position: relative;padding:10px 0 10px 40px;border-bottom:1px dashed #eee;border-top: none;}
.aw-question-page .more-topic{display:block;margin:10px 10px 0 0;}
.aw-question-replay-count{position:absolute;left:0;top:15px;display:block;width:40px;background: #D7D7D7;text-align: center;font-size: 13px;}
.aw-question-replay-count em{display: block;height: 20px;background: #F6F6F6;}
.aw-question-replay-count.active{background: #9EAAB8;color: #fff;}
.aw-question-replay-count.active em{background: #EBF5FF;color: #666;}
.aw-question-content{margin-left: 10px;}
.aw-question-content img{width: 24px;height: 24px;}
.aw-question-content .aw-question-contribute a{margin-left: 5px;}
.aw-question-content .aw-topic-name{height: 20px;line-height: 20px;font-size: 14px;font-weight: normal;}
.aw-topic-tags{margin:10px 0;padding:10px 0;border-bottom: 1px solid #EEEEEE;}
.aw-topic-tags ul li{float: left;margin:0 10px 10px 0;}
.aw-topic-tags ul li a{display:block;padding:0 10px;border:1px solid #DAECF5;border-radius: 30px;text-decoration: none;}
.aw-topic-tags ul li a:hover, .aw-topic-tags ul li.active a{background: #225599;border-color:#225599;color: #fff;}

/* 下拉菜单 */
.dropdown-list{position:absolute;width:100%;background:#fff;z-index:9999;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);}
.dropdown-list ul li {display: block;padding:8px;font-size: 13px;}
.dropdown-list ul li:hover{background: #D6E9F8;}
.dropdown-list ul li img{width: 25px;height: 25px;margin-right: 10px;}
.dropdown-list ul li a{text-decoration: none;}

/* 个人设置 */
.aw-setting-page{padding-top:10px;}
.aw-setting-page .tabbable .setting-notice label{display: inline-block;margin-left: 5px;}
.aw-setting-page .tabbable .setting-notice label input{margin:0;vertical-align: 0px;}

/* 个人页面 */
.aw-people-page .aw-mod{margin-top:10px;border:1px solid #DDDDDD;border-radius: 4px;box-shadow: 0 1px 0 #F2F4F5;}
.aw-people-page .aw-mod .aw-mod-head h2{padding: 7px 10px;}
.aw-people-topic .aw-mod-body, .aw-people-replay .aw-mod-body, .aw-people-ask .aw-mod-body, .aw-people-follow .aw-mod-body{border-top: 1px solid #EEEEEE;}
.aw-people-page .aw-people-detail, .aw-people-page .aw-people-topic .aw-mod-body, .aw-people-page .aw-people-replay .aw-mod-body, .aw-people-page .aw-people-ask .aw-mod-body,  .aw-people-page .aw-people-follow .aw-mod-body{padding:10px;}
.aw-people-page .aw-people-detail .aw-mod-body{position: relative;min-height:50px;padding:10px 0 10px 60px;}
.aw-people-page .aw-people-detail .aw-mod-body img{position: absolute;left: 0;top: 10px;width: 50px;height: 50px;}
.aw-people-page .aw-people-detail .aw-mod-footer em{font-style: normal;}
.aw-people-page .aw-people-detail .aw-mod-footer span{margin-right: 10px;}
.aw-people-page .aw-people-topic .aw-mod-body{padding-bottom: 0px;}
.aw-people-page .aw-people-topic .aw-mod-body ul li, .aw-people-page .aw-people-follow .aw-mod-body ul li{float: left;margin:0 10px 10px 0;}
.aw-people-page .aw-people-follow .aw-mod-body img{width: 25px;height: 25px;}
.aw-people-page .aw-people-replay ul li, .aw-people-page .aw-people-ask ul li{padding:10px 0;border-top: 1px dashed #eee;}
.aw-people-page .aw-people-replay ul li:first-child, .aw-people-page .aw-people-ask ul li:first-child{border-top: none;}
.aw-people-page .aw-people-replay ul li p, .aw-people-page .aw-people-ask ul li p{margin:0;}

/* 登陆页面 */
.explore-body{padding:0 !important;}
.explore-body .explore-page{height:auto;padding:40px 0 30px;background: #0078D8;box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.1) inset;}
.explore-wrap, .find-password .find-password-wrap{width: 250px;margin:0 auto;text-align: center;}
.explore-wrap .aw-mod-header{margin:20px 0;}
.explore-wrap .aw-mod-body, .explore-wrap h1, .explore-wrap .aw-mod-footer .title{margin:0 0 20px;}
.explore-wrap h1{color: #fff;text-shadow:0px 3px 1px rgba(0, 0, 0, 0.1);}
.explore-wrap .aw-mod-footer{margin:20px 0 0;}
.explore-wrap .aw-mod-footer a, .explore-body footer{color: #fff;}
.explore-wrap .aw-mod-footer .dot{margin:0 8px;color: #fff;}
.explore-wrap .aw-mod-footer .username, .explore-wrap .aw-mod-footer .email, .explore-wrap .aw-mod-footer .password{margin-bottom: 10px;}
.explore-wrap .aw-mod-footer .username input, .explore-wrap .aw-mod-footer .email input, .explore-wrap .aw-mod-footer .password input{width: 95%;padding:7px 6px;}
.explore-wrap .aw-mod-footer .verify input, .explore-wrap .aw-mod-footer .verify img{float: left;}
.explore-wrap .aw-mod-footer .verify input{width: 54%;padding:7px 6px;}
.explore-wrap .aw-mod-footer .verify img{margin-left: 10px;height: 36px;}
.explore-wrap .aw-mod-footer .login-misc{font-size: 12px;}

/* 找回密码 */
.find-password{background: #0078D8;color: #fff;}
.find-password .find-password-wrap{margin:60px auto 0;}
.find-password .find-password-wrap .aw-mod-header, .find-password .find-password-wrap .aw-mod-body, .find-password .success img{margin:20px 0;}
.find-password input{width: 95%;padding:7px 6px;margin:0 0 20px;}
.find-password .find-password-wrap .aw-mod-footer a, .find-password .success{color: #fff;}

/* 私信页面 */
.inbox .inbox-list li{position: relative;min-height:50px;padding:10px 0 10px 60px;border-top: 1px dashed #eee;}
.inbox .inbox-list li:first-child{border-top: none;}
.inbox .inbox-list li p{margin:0;}
.inbox .inbox-list .avatar{position: absolute;left: 0;top: 10px;}
.inbox .inbox-list .avatar img{width: 50px;height: 50px;}
.inbox .inbox-list .meta{margin-top:10px;color: #999;}
.inbox .replay-box .aw-mod-head{margin: 10px 0;}
.inbox .replay-box .aw-mod-head{font-size: 14px;color: #999;}
.inbox .replay-box .aw-mod-head span{color: #666;}
.inbox .replay-box textarea{width:100%;padding: 0;}
.inbox .replay-list li{position: relative;min-height:50px;padding:10px 35px;}
.inbox .replay-list .avatar{position: absolute;right: 0;top: 10px;}
.inbox .replay-list .avatar img{width: 25px;height: 25px;}
.inbox .replay-list .aw-item{position: relative;padding: 12px 15px;background: #FAFAFA;border: 1px solid #E6E6E6;}
.inbox .replay-list li.active .aw-item{background: #F5FAFE;border:1px solid #DCECF9;}
.inbox .replay-list li.active .avatar{left: 0 !important;}

/* 我的草稿 & 我的收藏 & 我关注的问题 */
.aw-draft-list li, .aw-favorite-list li, .aw-focus-question li{position: relative;padding: 10px 0;border-top: 1px dashed #eee;}
.aw-draft-list li:first-child, .aw-favorite-list li:first-child, .aw-focus-question li:first-child{border-top: none;}
.aw-draft-list li p.meta{color: #999;}
.aw-draft-list li p, .aw-focus-question li p{margin:5px 0;color: #999;}
.aw-favorite-list li .avatar, .aw-focus-question li .avatar{position: absolute;right: 0;top: 10px}
.aw-favorite-list li .avatar img, .aw-focus-question li .avatar img{width: 25px;height: 25px;}
.aw-favorite-list li .aw-mod-body{margin-bottom: 10px;}
.aw-focus-question li h3{max-width: 92%;}
.aw-focus-question li .aw-topic-name{color: #0088CC !important;}

/* 邀请朋友 */
.aw-invite-people input{max-width:60%;margin:0;}
.aw-invite-people-list li{height: 30px;line-height: 30px;padding:10px 0;border-top: 1px dashed #eee;}
.aw-invite-people-list li:first-child{border-top: none;}
.aw-invite-people-list li .btn{margin-left: 10px;}

/* 搜索页面 */
.search-page{padding-top:20px;}
.search-page .tab-content ul li{padding: 10px 0;border-top: 1px dashed #eee;}
.search-page .tab-content ul li:first-child{border-top: none;}
.search-page .tab-content #search_result li, .search-page .tab-content #search_result li{position: relative;padding-left: 60px;}
.search-page .tab-content #search_result li .topic, .search-page .tab-content #search_result .avatar{position: absolute;left: 0;top: 10px;}
.search-page .aw-title{margin:0;padding:0;line-height:26px;border:none;}
.search-page .tab-content #search_result li.question{padding-left:0;}

/* 编辑器回复样式 */
.markitup-box {font-size: 13px !important;line-height: 22px;word-wrap: break-word !important;}
.markitup-box h2, #markItUpPreviewFrames h2, .markitup-box h3, #markItUpPreviewFrames h3 {font-weight: bold;margin: 10px 0;}
.markitup-box h2, #markItUpPreviewFrames h2 {font-size: 1.5em;}
.markitup-box h3, #markItUpPreviewFrames h3 {font-size: 1.17em;}
.markitup-box em, #markItUpPreviewFrames em {font-style: italic;}
.markitup-box ul, .markitup-box ol, #markItUpPreviewFrames ul, #markItUpPreviewFrames ol {margin-left: 15px;padding: 5px 0 5px 20px;}
.markitup-box ul, #markItUpPreviewFrames ul {list-style-type: square;}
.markitup-box ol, #markItUpPreviewFrames ol {list-style: decimal;padding-left: 23px;}
.markitup-box p, #markItUpPreviewFrames p {padding: 5px;}
.markitup-box ol p, .markitup-box ul p, #markItUpPreviewFrames ol p, #markItUpPreviewFrames ol p {display: inline !important;padding: 0 !important;}
.markitup-box code, #markItUpPreviewFrames code {background-color: #EDEAD5;display: block;font-family: "Courier New",Courier,monospace;margin: 5px 0;padding: 5px;white-space: normal;text-align: left;}
.markitup-box img {max-width: 570px !important;}
.markitup-box blockquote , #markItUpPreviewFrames blockquote{margin:0 0 10px;background-color: #FBFBFB;border-left: 5px solid #C1CAD4;line-height: 22px;margin: 5px 0;padding: 10px;}
.markitup-box .aw-comment-upload-img-list a{display:block;margin:15px 0;}

/* 话题编辑box */
.aw-topic-box-selector{position:relative;max-width: 500px;}
.aw-topic-box-selector .btn{margin-left: 10px;}
.aw-topic-box-selector input{width: 50% !important;}
.aw-topic-box-selector .dropdown-list{width: 50%;}
.aw-topic-box-selector .dropdown-list ul li{cursor: pointer;}

/* 弹窗box */
.alert-publish input{width: 160px;}
.alert-redirect input, .alert-report input, .alert-message input{width: 97%;}
.alert-publish form, .alert-redirect form, .alert-report form, .alert-message form{margin:0;}
.alert-publish textarea, .alert-redirect textarea, .alert-report textarea, .alert-message textarea{display: block;width: 97%;}
.alert-publish .btn, .alert-redirect .btn-primary, .alert-report .btn-primary, .alert-message .btn-primary{margin-left: 10px;}
.alert-publish .aw-topic-box, .aw-topic-box-selector .btn{margin-bottom: 10px;}
.alert-publish .verify_code{height: 28px;margin:0 0 10px 10px;}
.alert-publish .modal-body, .alert-message .modal-body, .alert-redirect .modal-body{overflow-y:visible;}
.alert-publish .modal-body .dropdown-list, .alert-message .modal-body .dropdown-list, .alert-redirect .modal-body .dropdown-list{width: 94%;}
.alert-redirect .modal-body .dropdown-list{max-height: 288px;overflow-y:scroll;}

/* icon */
.icon-sign{display:inline-block;background-image: url("../img/signup.png");background-repeat: no-repeat;}
.icon-sign-sina{background-position: -17px -1px;height: 19px;margin-right: 8px;vertical-align: -4px;width: 21px;}
.icon-sign-arrow, .icon-sign-arrow-l{height: 19px;width: 18px;background-position: -1px -1px;margin-left: 8px;vertical-align: -5px;}
.icon-sign-arrow-l{margin: 0 8px 0 0;background-position:-70px -1px;}

.aw-icon{display: inline-block;;background-image:url('img/aw-icon.png');background-repeat: no-repeat; background-size: 100px 45px;}
.aw-icon.agree{width: 13px;height: 12px;background-position: -17px 0;}
.aw-icon.disagree{width: 13px;height: 12px;background-position: -17px -13px;vertical-align: -1px;}
.aw-icon.agree.active{background-position: -2px 0;}
.aw-icon.disagree.active{background-position: -2px -13px;}
.aw-icon.comment{width:13px;height:11px;background-position: -36px -2px;}
.aw-icon.thanks{width: 11px;height: 12px;background-position: -48px -0;}
.aw-icon.thanks.active{background-position: -48px -16px;}
.aw-icon.flag{width: 13px;height: 10px;background-position: -90px -2px;}
.aw-icon.prestige{width: 12px;height: 16px;background-position:  0 -29px;vertical-align: -3px;}
.aw-icon.point{width: 14px;height: 11px;background-position: -14px -32px;vertical-align: -1px;}

/* 底部 */
footer{margin-top:20px;font-size: 12px;text-align: center;}
