html {
	-webkit-text-size-adjust: none;
}

input, textarea, button, a:link {
	-webkit-tap-highlight-color: rgba(225,225,225,0.5);
}

span.red {
	color: red !important;
}

span.counts {
	color: #FFF;
	text-shadow: none;
	background: #54a1cd;
	background: -webkit-linear-gradient( #54a1cd /*{d-bup-background-start}*/, #6bb4e6 /*{d-bup-background-end}*/);
	padding: 0 5px;
	border-radius: 4px;
	display: block;
	font-size: 11px;
	vertical-align: bottom;
	border-top: 1px #488cb2 solid;
	width: 26px;
	text-align: center;
	margin: 0 5px 0 0;
	float: left;
	text-overflow: ellipsis;
	overflow: hidden;
}

span.desc_text {
	display: block;
	padding-left: 20px;
}

.m_lists .ui-icon-arrow-r {
	display: none;
}

.m_lists li img {
	border-radius: 5px;
}

.m_lists a.ui-link-inherit {
	padding-right: 15px !important;
}

.m_lists .ui-li-heading {
	font-size: 12px;
	line-height: 18px;
	margin: 3px 0 10px 0;
	padding: 0;
	overflow: visible;
	white-space: normal;
}

.ui-li-aside {
	width: 16%;
}

.m_lists .actions {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}

.m_lists .ui-li-desc {
	color: #4B4B4B;
	overflow: visible;
	white-space: normal;
	line-height: 18px;
}

.m_contents {
	color: #4b4b4b;
	font-size: 14px;
	padding: 0;
}

.m_contents h3 {
	margin: 0;
	padding: 10px 0;
	color: #333;
}

.m_contents .tags {
	border-bottom: 1px #bbb dashed;
	padding-bottom: 5px;
}

.m_contents .tags a {
	display: inline-block;
	border-radius: 50px;
	background: #e7eef5;
	border: 1px #e1e7ee solid;
	color: #729fb8;
	padding: 5px 10px;
	min-width: 40px;
	text-align: center;
	text-decoration: none;
	margin: 0 0 5px 0;
}

.m_contents .question_content {
	padding: 15px;
	border-bottom: 1px #c9c9c9 solid;
	line-height: 18px;
	font-size: 14px;
	color: #666;
}

.m_contents .question_meta {
	background: #f0f0f0;
	border-top: 1px #FFF solid;
	border-bottom: 1px #FFF solid;
	padding: 5px 10px;
}

.m_contents .question_meta .ui-block-a a {
	text-decoration: none;
	color: #999;
}

.m_contents .question_meta .ui-block-a {
	padding: 10px 0;
}


.m_contents .question_meta .ui-block-b {
	text-align: right;
}

.m_contents .question_add_answer {
	background: url(images/bg_question_add_answer.png);
	border-top: 1px #dfdfdf solid;
	border-bottom: 1px #dfdfdf solid;
	padding: 10px;
	text-align: center;
	color: #9b9b9b;
	display: block;
	text-decoration: none;
}

.m_contents .question_answers {
	margin: 0;
	padding: 0;
}

.m_contents .question_answers .ui-link {
	color: inherit;
	font-size: 13px;
	font-weight: normal;
}

.m_contents .disabled {
	color: #bbb !important;
}

.m_contents .question_answers li {
	list-style: none;
	margin: 0;
	padding: 10px 0;
	border-bottom: 1px #e9e9e9 solid;
}

h4.user_name {
	margin: 0;
	padding: 0 0 10px 0;
	font-size: 14px;
	font-weight: bold;;
}

h4.user_name a {
	color: #333 !important;
	text-decoration: none;
}

.m_contents .question_answers img {
	border-radius: 5px;
}

.m_contents .question_answers .ui-block-a {
	width: 16%;
	text-align: center;
}

.m_contents .question_answers .ui-block-b {
	width: 74%;
}

.m_contents .question_answers span.counts {
	float: none;
	margin: 5px auto;
}

.icon_nav .ui-btn-inner { padding-top: 30px !important; padding-bottom: 5px  !important; }

.icon_nav .ui-btn {
	border: 0 !important;
}

.icon_nav .ui-btn-text {
	font-size: 11px;
	color: #999;
}

.icon_nav .ui-btn-active {
	background: -webkit-linear-gradient( #282828 /*{d-bup-background-start}*/, #1c1c1c /*{d-bup-background-end}*/);
	background: linear-gradient( #282828 /*{d-bup-background-start}*/, #1c1c1c /*{d-bup-background-end}*/);
}

.icon_nav .ui-btn .ui-icon { width: 30px !important; height: 25px !important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }

.icon_tool {
	color: #9f9f9f;
}

#home .ui-icon {
	background: url(images/icon_home@2x.png) 50% 50% no-repeat;
	-moz-background-size: 20px auto;
	-webkit-background-size: 20px auto;
	-o-background-size: 20px auto;
	background-size: 20px auto;
}

#explore .ui-icon {
	background: url(images/icon_explore@2x.png) 50% 50% no-repeat;
	-moz-background-size: 20px auto;
	-webkit-background-size: 20px auto;
	-o-background-size: 20px auto;
	background-size: 20px auto;
}

#message .ui-icon {
	background: url(images/icon_message@2x.png) 50% 50% no-repeat;
	-moz-background-size: 20px auto;
	-webkit-background-size: 20px auto;
	-o-background-size: 20px auto;
	background-size: 20px auto;
}

#people .ui-icon {
	background: url(images/icon_people@2x.png) 50% 50% no-repeat;
	-moz-background-size: 20px auto;
	-webkit-background-size: 20px auto;
	-o-background-size: 20px auto;
	background-size: 20px auto;
}

#search .ui-icon {
	background: url(images/icon_search@2x.png) 50% 50% no-repeat;
	-moz-background-size: 20px auto;
	-webkit-background-size: 20px auto;
	-o-background-size: 20px auto;
	background-size: 20px auto;
}

.icon_tool #thanks .ui-icon {
	background: url(images/icon_tool_thanks.png) 50% 50% no-repeat;
	-moz-background-size: 20px auto;
	-webkit-background-size: 20px auto;
	-o-background-size: 20px auto;
	background-size: 20px auto;
}

.icon_tool #disagree .ui-icon {
	background: url(images/icon_tool_disagree.png) 50% 50% no-repeat;
	-moz-background-size: 20px auto;
	-webkit-background-size: 20px auto;
	-o-background-size: 20px auto;
	background-size: 20px auto;
}

.icon_tool #favorite .ui-icon {
	background: url(images/icon_tool_favorite.png) 50% 50% no-repeat;
	-moz-background-size: 20px auto;
	-webkit-background-size: 20px auto;
	-o-background-size: 20px auto;
	background-size: 20px auto;
}

.icon_tool #comments .ui-icon {
	background: url(images/icon_tool_comments.png) 50% 50% no-repeat;
	-moz-background-size: 20px auto;
	-webkit-background-size: 20px auto;
	-o-background-size: 20px auto;
	background-size: 20px auto;
}

.ui-dialog.my-dialog .ui-dialog-contain { margin-top: 0 }
.ui-dialog .ui-dialog-contain { margin-top: 0 }

.ui-btn-corner-all {
	border-radius: 8px;
}

.imgScroll img {
	max-width: 100%;
	border-radius: 5px;
	border: 1px #ddd solid;
}

.ui-corner-top .ui-btn-corner-all {
	border-radius: 1em;
}

.ui-corner-bottom .ui-btn-corner-all {
	border-radius: 8px;
}

.ui-header-fixed.ui-header .ui-btn-corner-all {
	border-radius: 5px !important;
}

.ui-header-fixed.ui-header .ui-btn-inner {
	padding: .45em 11px .5em
}

.ui-header-fixed.ui-header .ui-btn {
	margin-top: 2px;
}

.editor {
	background: transparent;
}

.editor textarea {
	border:0;
	background: transparent;
	box-shadow:none;
	font-size: 14px;
}

.footer_option .ui-btn {
	margin: 0;
}

.footer_option .ui-btn-corner-all, .footer_option .ui-btn {
	border-radius: 0 !important;
}

.footer_option .ui-btn-text {
	font-size: 14px;
	font-weight: normal;
}

.icon_label.views {
	background: url(images/icon_views.png) no-repeat left center;
	-webkit-background-size: 16px auto;
	-moz-background-size: 16px auto;
	-o-background-size: 16px auto;
	background-size: 16px auto;
}

.icon_label.comments {
	background: url(images/icon_comments.png) no-repeat left center;
	-webkit-background-size: 16px auto;
	-moz-background-size: 16px auto;
	-o-background-size: 16px auto;
	background-size: 16px auto;
}

.icon_label {
	display: inline-block;
	padding-left: 24px;
	margin-right: 30px;
	font-size: 12px;
	line-height: 20px;
}

span.user_name {
	color: #5f93ae;
}

.m_users_list img {
	width: 32px;
	height: 32px;
	margin: 12px;
	border-radius: 4px;
	display: inline-block;
	vertical-align: middle;
}

.m_users_list p, .m_users_list .ui-li-desc {
	color: #999;
}

.m_users_list h3, .m_users_list ui-li-heading {
	margin: 0;
	padding: 0 0 10px 0;
	font-size: 14px;
	font-weight: bold;
}

.m_users_list .ui-btn-inner a.ui-link-inherit, .m_users_list .ui-li-static.ui-li-has-thumb {
	min-height: 30px;
	padding-left: 60px;
}

.m_answer .user_info .ui-block-a {
	width: 14%;
}

.m_answer .user_info .ui-block-a img {
	border-radius: 4px;
	width: 36px;
	height: 36px;
}

.m_answer {
	padding: 0;
}

.m_answer .user_info {
	background: #f2f2f2;
	border-bottom: 1px #dfdfdf solid;
	padding: 5px 10px;
	position: fixed;
	width: 100%;
}

.m_answer .user_info .ui-block-b {
	width: 66%;
}

.m_answer .user_info .ui-block-b p {
	margin: 0;
	padding: 0;
	color: #999;
	font-size: 12px;
}

.m_answer .user_info .ui-block-b h4 {
	padding-bottom: 5px;
}

.m_answer .user_info .ui-block-c {
	width: 20%;
}

.m_answer .user_info .ui-block-c .ui-btn {
	float: right;
	margin-right: 20px;
}

.m_answer .answer_content {
	padding: 60px 15px 10px 15px;
	font-size: 14px;
	line-height: 18px;
}

.m_profile {
	padding: 0;
}

.m_profile .user_info {
	background: #f7f7f7;
	padding: 5px 10px;
}

.m_profile .button {
	margin: 10px 7px;
}

.m_profile .user_info img {
	border-radius: 4px;
}

.m_profile .user_info .intro {
	border-bottom: 1px #ccc dotted;
	padding-bottom: 5px;
}

.m_profile .user_info .avatar {
	width: 16%;
	padding-top: 3px;
}

.m_profile .user_info .avatar img {
	width: 40px;
	height: 40px;
}

.m_profile .user_info .profile {
	width: 83%;
}

.m_profile .user_info .profile h4 {
	padding-bottom: 4px;
	display: inline;
}

.m_profile .user_info .profile p {
	display: inline;
	color: #999;
	font-size: 12px;
	font-weight: normal;
}

.m_profile .description {
	margin-top: 8px;
	font-size: 12px;
	color: #999;
}

.m_profile .statistics {
	margin-top: 8px;
	font-size: 10px;
	color: #999;
}

.m_profile .statistics div {
	border-right: 1px #ccc solid;
	padding: 0 10px;
}

.m_profile .statistics .ui-block-a {
	padding-left: 0;
}

.m_profile .statistics .ui-block-c {
	border-right: 0;
}

.m_profile .statistics span {
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: #000;
}

.m_profile .user_control {
	background: #f0f0f0;
	padding: 5px;
	border-top: 1px #c9c9c9 dotted;
	border-bottom: 1px #c9c9c9 solid;
}

.m_profile .user_control .ui-block-a.text {
	line-height: 40px;
	font-size: 12px;
	padding-left: 5px;
	color: #999;
}

.m_profile .user_control .ui-block-a.text strong {
	color: #333;
}

.m_profile .user_control .ui-block-b {
	text-align: right;
}

.m_profile .ui-listview {
	margin: 15px 7px;
}

.m_profile .ui-listview.ui-shadow {
	box-shadow: none;
}

.ui-header .ui-select {
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}

.ui-header .ui-select .ui-shadow {
	box-shadow: none;
}

p.load_more {
	margin: 0 0 15px 0;
	padding: 30px 0 0 0;
	clear: both;
	zoom: 1;
}

.m_contents p.load_more {
	margin: 0 15px 15px 15px;
}

.m_login {
	background: #0d7bd5 url(images/glow.png) no-repeat center center;
	color: #FFF;
	text-shadow: none;
}

.m_login .ui-link {
	color: #FFF;
	text-decoration: none;
	font-size: 12px;
}

.m_login .content-primary {
	padding-top: 120px;
	background: url(images/logo.png) no-repeat center 20px;
	-webkit-background-size: 160px auto;
	-moz-background-size: 160px auto;
	-o-background-size: 160px auto;
	background-size: 160px auto;
}

.m_chat {
	background: #f5f5f5;
	padding: 0 10px 10px 10px;
}

.chatItem {
	padding: 10px 0;
	font-size: 14px;
	clear: both;
}


.chatItem.me .avatar { float:right; height: 32px; width: 32px; border-radius: 5px; }
.chatItem.me .cloud { float:right; min-width:50px; max-width:200px; margin:0 5px 0 0;}

.chatItem.me .cloudText .cloudBody { 
	-moz-border-top-colors:none;
	-moz-border-right-colors:none;
	-moz-border-bottom-colors:none;
	-moz-border-left-colors:none;
	border-color:transparent;

	border:1px solid #AFAFAF;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	box-shadow: 0px 1px 0px #D5D5D5;

	border:1px solid #9f9f9f;
	background:#ECECEC;
	border-radius:6px;
	margin-left:8px;
}

.chatItem.me .cloudContent {
	border:1px solid #eee;
	border-top:1px solid #FFF;
	border-bottom:1px solid #F2F2F2;
	padding:13px;
	border-radius:13px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	color:#000;
	text-shadow:none;  
	background-color:#ECECEC;
		
	background:-webkit-gradient(linear,
					left top,left bottom,
					from(#F4F4F4),to(#E5E5E5),
					color-stop(0.1,#F3F3F3),color-stop(0.3,#F1F1F1),color-stop(0.5,#ECECEC),color-stop(0.7,#E9E9E9),color-stop(0.9,#E6E6E6),color-stop(1.0,#E5E5E5));
	
	background-image:-moz-linear-gradient(top, #F3F3F3 10%, #F1F1F1 30%,  #ECECEC 50%, #E9E9E9 70%, #E6E6E6 90%, #E5E5E5 100%);

}
	
.chatItem.me .cloudText .cloudArrow {
	margin-top: 5px;
	float: right;
	width: 13px;
	height: 24px;
	background: url(images/bubble_right_2x.png) no-repeat;
	
	-moz-background-size: 10px auto;
	-webkit-background-size: 10px auto;
	-o-background-size: 10px auto;
	background-size: 10px auto;
}
		
.chatItem.me .cloudText .cloudContent { background-color:#E5E5E5;vertical-align: top;padding:7px 10px;background-color:#ECECEC; }
	
.chatItem.me .cloudPannel {
	margin-right: 10px;
}

.chatItem.you .avatar { float:left; height: 32px; width: 32px; border-radius: 5px; }
.chatItem.you .cloud{ float:left; min-width:50px; max-width:200px; margin:0 0 0 5px; }

.chatItem.you .cloudText .cloudBody { 
	-moz-border-top-colors:none;
	-moz-border-right-colors:none;
	-moz-border-bottom-colors:none;
	-moz-border-left-colors:none;
	border-color:transparent;

	border: 1px solid #7AA23F;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	box-shadow: 0px 1px 0px #DBDBDB;
	border:1px solid #73972a;border-radius:6px;

	background-color: #B2CF73;
	background: -webkit-gradient(linear, left top,left bottom, from(#C4DE94),to(#A4C363), 
		color-stop(0.1,#B4D174),color-stop(0.2,#B2CF73),
		color-stop(0.3,#B2CF73), color-stop(0.4,#B2CF73),
		color-stop(0.5,#B2CF73),color-stop(0.6,#AFCC74), 
		color-stop(0.7,#ABCA6C),color-stop(0.8,#A9C572),
		color-stop(0.9,#AECA72),color-stop(1.0,#A4C363));
	background-image: -moz-linear-gradient(top, #B4D174 10%, #B2CF7320%, #B2CF73 30%, #B2CF73 40%, #B2CF73 50%, #AFCC74 60%, #ABCA6C70%, #A9C572 80%, #AECA72 90%, #A4C363 100%);
}

.chatItem.you .cloudPannel {
	margin-left: 6px;
}
	
.chatItem.you .cloudText .cloudContent { 
	padding:5px 13px;
	border-radius:13px; 
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:7px 10px;
	text-shadow:none;
	color:#030303;

	border-top: 1px solid #DCE6C8;	
	border-bottom: 1px solid #B9CF8B;	
	border-right: 1px solid #CCDEA3;
	background-color: #C0DC85;
}
	
.chatItem.you .cloudText .cloudArrow {
	float: left;
	margin-top: 5px;
	width: 13px;
	height: 24px;
	background: url(images/bubble_left_2x.png) no-repeat;
	-moz-background-size: 7px auto;
	-webkit-background-size: 7px auto;
	-o-background-size: 7px auto;
	background-size: 7px auto;
}

.notic_message {
	line-height: 30px;
	padding: 0px 10px;
	background-color: #FFFCCF;
	border: 1px solid #ddd;
	border-top: 0;
	font-size: 14px;
}

.empty_message {
	text-align: center;
	padding: 15px;
	color: #505a6f;
	font-size: 13px;
}