@charset "utf-8";
/*+--------------------------------------+
* 名称: headleCss3
* 功能: css3专用
* anwsin官方:http://www.anwsion.com/
* developer:诸葛浮云
* Email:globalbreak@gmail.com 
* Copyright © 2012 - Anwsion社区, All Rights Reserved 
* Date:2012-08-01
*+--------------------------------------+*/

/**/
input[type="password"] { font-weight: bolder; font-family: "微软雅黑", Tahoma; font-size: 22px; }
input, select, textarea,.loging li.cur { -moz-transition: border 0.3s linear 0s, box-shadow 0.3s linear 0s; }



.login_entrance,
.q_mainElem .q_banner  /* 问题 > 分类导航条 */
{text-shadow:0 0 1px #fff;} /* 文字阴影 */

.i_noticetxt{ box-shadow:0 0 1px #fff inset;}

/*搜索*/
.i_search .i_wd{box-shadow:0 0 3px #bababa inset; }


.i_cur,
.i_elmsInputs input[type="password"]:focus,
.i_elmsInputs input[type="text"]:focus,
.i_elmsInputs select:focus,
.loging li.cur{box-shadow:0 0 2px #999 !important;}  /* 盒子阴影 */








.i_textArea,
.i_glotxtClass,
.i_relayHandle .i_textArea,
.i_relayHandle .i_verification,
.i_elmsInputs input[type="password"],
.i_elmsInputs input[type="text"],
.i_elmsInputs select
{box-shadow:0 1px 2px #dfdfdf inset;} /* 公用文本框样式 */

