/*
** ie7 hack
*/
.i-follow.loading{*top:-1px !important;}

/*tabs切换样式重载*/
.aw-reset-nav-tabs .i-triangle-up-mini{*top:-6px;*left:5px;margin-left:5px;}
.modal-header{*padding: 9px 15px;*height: 30px;*line-height: 30px;}
.modal-header #myModalLabel{*position: relative;*top:10px;*margin-top:-10px;}
#question_topic_editor .aw-edit-topic{*position: relative;*top:-5px;}

/*下拉菜单*/

.aw-dropdown-menu ul a{*min-width: 70px;}
/*category*/
.category{*margin:0;}
.category .span12{*margin: 0 0 7px;}

/*导航内容*/
.aw-nav-main li{*float:left;}
.aw-nav-main li a{*display:block;*float:left;}
.aw-top-nav .aw-icon{*top:0;}
.aw-top-nav .i-index-no-hover{top:0;*top:0;}
.aw-nav-main li a .i-index-no-hover{*top:-3px;}
.aw-nav-main li a .i-question-no-hover{*top:-1px;}
.aw-nav-main li a .i-topic-no-hover, .aw-nav-main li a .i-login-user-no-hover{*top:-2px;}

/*搜索框*/
.aw-topic-search .search-query{*margin:3px 0;}
.aw-topic-search .icon-search{*margin:0 4px 4px 4px;}

/*侧边栏公共部分*/
.aw-side-bar-mod .i-follow{*top:-2px;}

/*话题编辑*/
.aw-side-bar-topic-edit .aw-user-name{*margin:0 2px 8px 0;}

/*分享,邀请好友完善*/
.aw-side-bar-share a{margin-right:10px;}
.aw-side-bar-share .aw-icon{*top:-2px;}

/*问题详情页*/
.aw-question-detail-box .aw-mod-head h2{*margin-top:20px;}
.aw-question-follow .btn-group a{*height: 20px;}
.aw-question-detail-box .aw-question-detail-meta .aw-question-wait-edit{*margin-top:0px;}
.aw-question-detail-box .aw-mod-head .aw-question-follow .aw-dropdown-menu li a{*min-width: 110px;}

/*话题页面公共模块*/
.aw-topic-content-wrap .aw-topic-all-list .span6 .i-follow{*position: relative;*top:-4px;}

/*话题详细页*/
.aw-edit-topic .i-edit{*position: relative;*top:-2px;}
.aw-topic-detail-title{*margin-top:20px;}
.aw-side-bar-topic-edit .aw-edit-topic-box input{*margin-bottom:10px;}


/*发起页面*/
.aw-mod-publish .aw-anonymity input{*margin:0 !important;}

/*分享box*/
.aw-share-box .aw-share-box-tabs .i-message{*position: relative;*top:-5px;}

/*发起box*/
.aw-publish-box .modal-footer a.pull-left{*margin-top:10px;}

/*话题编辑box*/
.aw-side-bar-topic-edit .aw-edit-topic{*position:relative;*top:-10px;}


/*评论box*/
.aw-comment-list li{*padding:0 0 15px 42px;}
.aw-comment-list li p:fitst-child{*margin-top:-10px;}
.aw-comment-list li div{*margin-top:-10px;}

/*相关话题*/
.aw-side-bar-topic-about .aw-edit-topic-box input{*margin-bottom: 10px;}
.aw-side-bar-topic-about .aw-edit-topic{*position: relative;*top:-4px;}

/*动态首页右侧导航页模块*/
/*我的草稿*/
.aw-my-draft h2 .btn{*display:inline-block;}
/*私信对话列表*/
.aw-mod-private-replay-list li .aw-user-img{*top:35px;}
/*已邀请的好友*/
.aw-mod-invited ul li{*padding:0 0 25px 42px;}

/*用户页面*/
.aw-user-detail-box .i-user-locate{*top:1px;}
.aw-user-detail-box .aw-user-flag .i-user-post{*top:0;}
.aw-user-detail-box .i-share-sina{*top:-1px !important;}
.aw-user-detail-box .i-user-bind{*top:0px !important;}

/*用户设置页面*/
.aw-user-setting-bind .i-qq, .aw-user-setting-bind .i-share-sina, .aw-user-setting-bind .i-share-weibo, .aw-user-setting-bind .i-weixin{*top:0;}
.aw-user-setting-base-contact li input{*width:250px;}

/*注册页面*/
.aw-register-open-tabs i{*position: relative;*top:-2px;}

.aw-dynamic-topic .aw-mod-head h2{*margin-top:20px;}



