/*+--------------------------------------+
* 名称: login
* 功能: 登陆、注册 密码找回等相关样式
* anwsin官方:http://www.anwsion.com/
* developer:诸葛浮云
* Email:globalbreak@gmail.com 
* Copyright © 2012 - Anwsion社区, All Rights Reserved 
* Date:2012-08-01
*+--------------------------------------+*/

/* 颜色链接文件 */ 
@import url("link.css");

/* css3 */ 
@import url("headleCss3.css");


#wrapper{padding-top:310px; background:url(img/msn_login.jpg)  center top no-repeat;}
html,body{ background-color:#fff;}
#msn_login{background:url(img/msn_v2bg.png) 0 0 repeat; position:relative; min-height:450px;}

.login_bd,.login_bd .login_alp{width:400px; height:360px;}
.login_bd{ position:absolute; left:50%; margin-left:-350px; z-index:1; top:-90px;}
.login_bd.msn_login{ width:400px; margin-left:-200px;}
.login_bd  h3.logo{background:#238fca url(img/login_logo_246x59.png) 20px 10px no-repeat;}
.login_bd .login_state{ margin:35px 0 0 25px;max-width:340px;}
.login_bd .login_title{font-weight:bold;font-size:16px;}
.login_bd .login_state,.login_mod .login_title .login_reg{font-weight:bold;font-size:14px;}

/* 登陆模块 */
.login_bd .login_mod{width:400px;height:390px;position:absolute;right:0;top:0;}
.login_mod .login_title{position:relative;  height:90px; padding:0 25px; line-height:90px; font-size:30px;}
.login_mod .login_title .login_reg{ background-position:-101px 0; width:99px;position:absolute; height:44px; right:26px;top:23px; text-indent:57px;display:inline-block; overflow:hidden; line-height:99em;}

.loging{border-left:1px solid #c9c9c9;border-right:1px solid #c9c9c9; padding:25px 0; width:322px;}
.loging li{margin:0 25px; min-height:40px;}
.loging li .i_global_err{ min-height:40px; line-height:40px;}
.loging li.user_treaty{height:auto; line-height:normal;}/* 注册用户协议 */
.loging li+ li{margin-top:20px;}
.loging li.cur{border:1px solid #A9B8C5;}
.loging .login_txt{padding:8px 4px; height:22px; line-height:22px; width:188px;border:0 none;}
.loging .un,.loging .pw{ width:43px;height:40px; display:inline-block;}
.loging .un{background-position:-167px -55px !important;}
.loging .pw{background-position:-167px -101px !important;}
.loging #login_radio{ margin-right:5px;margin-top:-2px;}
.login_sub{display:block; width:100%; height:50px; text-align:center; line-height:50px; background:#5fc2ff url(img/i_default_button.png) 6% -312px no-repeat; font-weight:bold; font-size:20px; font-weight:bold; margin-top:25px;}
.login_sub:hover{ background-color:#0283c9 !important;}

/* 微博登陆 */
.weibo_login{ height:76px; position:relative; padding-top:214px;}
.weibo_login h1{ position:absolute; left:50%; bottom:90px; width:658px; margin-left:-328px; color:#fff !important;}
.weibo_login h1 img{ vertical-align:text-bottom; margin-right:15px;}
.weibo_login .b{ background-color:#0185C9;text-align:center; font-weight:bold; width:658px; font-size:20px; height:76px; line-height:78px; margin:0 auto;}
.Ef_login{ width:656px; margin:0 auto; padding:40px 0; border:1px solid #c9c9c9; overflow:hidden;border-top:0 none;}
.Ef_login h3{ width:245px; margin:0 auto 20px auto;}
.Ef_login h3.l_regH3{ font-size:20px;}
.Ef_login .l_pad{ padding-bottom:15px; line-height:25px;}
.Ef_login  .loging{ border:0 none; margin:0 auto!important; padding:0!important;}
.Ef_login h3 .a{ display:inline-block;width:15px; height:10px; margin-left:7px;  background-position:-34px -518px; *vertical-align:middle;/* for ie7 */}
.Ef_login h3 .a.cur{ background-position:-34px -476px;}
.Ef_login .loging .login_txt{width:232px; border:1px solid #ccc;}
#weibo_bind{padding-bottom:40px!important;}

/* 用户注册 */
.user_treaty_txt{ width:591px; margin-left:-187px; padding:20px;margin-top:10px; padding-right:5px;  white-space:pre-wrap;*white-space:pre;*word-wrap:break-word;/* for ie7 */}
.user_treaty_txt .txt{  max-height:100px; overflow:hidden; overflow-y:auto;}
.user_treaty_txt .reg_arrows{ width:13px; height:6px; background-position:-37px -734px; display:inline-block; left:45%; top:-6px;}
.register li{ position:relative;}
.Ef_login .register li .auth_code{ width:130px;}
.register .auth_img img{width:88px; height:35px; vertical-align:top; margin-top:2px; margin-left:10px; cursor:pointer;}
.reg_right,.reg_tips,.reg_Err,.login_load{position:absolute; height:38px; width:115px;right:-145px; top:0; padding:0 10px;font-size:12px !important;}
.reg_tips{  background-color:#eef7fd; border:1px solid #cfdde6;  line-height:18px; }
.reg_right,.reg_Err{ line-height:40px !important;}
.login_load{ background:url(img/i_loading.gif) 10px center no-repeat;}
.reg_Err{ background-color:#ffeaea; border:1px solid #e5c3c4;}
.reg_Err .regErr_ico{display:inline-block;  background-position:-36px -909px;height:14px; width:14px;vertical-align:middle; margin-right:5px; margin-top:-3px;*margin-top:-2px;/* for ie7 */}
.reg_right{background-position:-26px -594px;}
.l_explain{ background-color:#ebebeb; padding:25px 30px 30px; margin-bottom:-40px; margin-top:70px;}
.l_explain >.l_txtex{ color:#999;}


.l_footer{ text-align:center; line-height:22px; font-size:12px; padding:65px 0 120px 0;}
.l_footer a{ color:#666;}
#msn_login .l_footer{ padding:350px 0 120px 0;}

