/*
**公共部分
*/
.aw-load-more-content{height:50px;line-height:50px;background: #F4F4F4;border:none;color: #666;}
.aw-load-more-content:hover{background:#ECEAEA;color: #666;}
.aw-reset-nav-tabs{height:45px;background:#F8F8F8;border-bottom: none;}
.aw-reset-nav-tabs h3{top:12px;left:20px;}
.aw-reset-nav-tabs > li, .aw-reset-nav-tabs > li.active{margin-top:10px;}
.aw-reset-nav-tabs > li.active a{height:25px;line-height:25px;background:#BBB;color:#fff;border-radius: 0px;}
.aw-reset-nav-tabs > li > a{height:25px;line-height:25px;background: #F8F8F8;border: none;color: #999;}
.aw-reset-nav-tabs > li > a:hover{background: #F8F8F8;border: none;}
.aw-reset-nav-tabs > li.active > a{border: none;}
.aw-reset-nav-tabs > li.active > a:hover{border: none;background: #BBB;color: #fff;}
.tab-content{padding:0;}
.btn, .btn-group > .btn:last-child, .btn-group > .dropdown-toggle, .btn-group > .btn:first-child, .aw-dropdown-menu li:first-child, .dropdown-menu li.first, .aw-logined-nav #header_notification_list li:first-child, .aw-comment-list li:first-child, .aw-edit-comment-box .aw-file-upload-box, .aw-li-border-bottom li:first-child, .aw-border-radius-5, .aw-border-radius-5 img, .aw-load-more-content, .aw-user-name img, .aw-topic-name img, .aw-topic-name span, .aw-topic-img img, .aw-dropdown-menu img, .aw-login-register a img, .aw-login-register .aw-user-head img, .aw-logined-nav .aw-message-dropdown, .aw-dropdown, .aw-search-dropdown-list li img, .category dl dt img, .category .span12 > ul > li, .aw-side-bar-mod-feature, .aw-side-bar-mod-nav ul li a, .aw-side-bar-hot-topic-list em, .aw-side-bar-topic-edit-notes li, .aw-question-detail-title .aw-mod-head .aw-notopic-sort, .aw-comment-box, .aw-side-bar-invite-box .aw-item .aw-user-name img, .aw-user-dropdown .aw-user-dropdown-list a img, .aw-topic-detail-title .aw-mod-body img, .aw-topic-search, .aw-mod-topic-edit-box .aw-mod-head .aw-topic-img, .aw-mod-topic-edit-box .aw-mod-head .aw-topic-img span, .aw-mod-private-replay-list li .aw-item, .aw-mod-private-replay-list li .aw-user-img img, .aw-mod-invited ul li .aw-user-img img, .aw-mod-search-result .aw-item .aw-user-img img, .aw-mod-search-result .aw-item .aw-topic-img img, .aw-mod-search-result .aw-search-result-tags, .aw-file-uploader dl, .aw-card-tips, .aw-card-tips .aw-mod-head .aw-head-img img, .aw-first-login .aw-complete-data .aw-complete-data-img img, .aw-first-login .aw-complete-data-follow-topic .aw-topic-img img, .aw-first-login .aw-complete-data-follow-topic .aw-user-img img, .aw-first-login .aw-complete-data-follow-topic li > span, .aw-mod-replay-box .aw-mod-body, .aw-publish-box .aw-publish-title-dropdown .dropdown-toggle, .markitup-box code, #markItUpPreviewFrames code, .category dl, .aw-side-bar-mod-new-message, .aw-first-login .aw-mod-head ul, .aw-first-login .aw-complete-data, .aw-first-login .aw-complete-data-follow-topic li, .aw-search-box .search-query, .aw-publish-title input, .aw-question-list .aw-question-replay-count em, .aw-mod-publish-box #advanced_editor, .aw-share-box .aw-share-box-tabs a, .aw-question-tags, .aw-publish-title-dropdown p, .aw-publish-title-dropdown p a, .aw-message-tooltip, .aw-nav-main li:first-child a.active, .aw-edit-comment-box .modal-body textarea, .aw-edit-comment-box .aw-file-upload-box, .aw-first-login .aw-mod-head ul li em, .aw-search-box #global_search_btns{border-radius: 0px;}
.aw-topic-name span{background: #A9B8C5;color: #fff;}
.aw-topic-name span:hover{background: #99ADBE;color: #fff;}
.aw-user-name img, .aw-topic-name img{width: 50px;height: 50px;}
.aw-question-list .aw-question-replay-count{background: #9A9A9A;color: #fff;}
.aw-question-list .aw-question-replay-count.active{background: #92D6FD;}
.aw-question-list .aw-question-replay-count.active em{background: #EFEFEF;}

/*
**	重载bootstrap按钮
*/
.alert{margin-bottom: 20px;}
.btn.btn-mini, .btn.btn-normal{background: #BBB;background-image: none;border:none;color: #fff;text-shadow:none;}
.btn.btn-normal{background: #ddd;}
.btn-success, .btn.aw-active{text-shadow:none;background-color: #13A3D9;background-image: none;border:none;filter: none;color: #fff;border-radius: 0px;}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {background-color: #13A3D9;color: #fff;}
/*
**	链接部分
*/

/*
**	top-menu
*/
.aw-top-menu-wrap{height:55px;background:#0185C9;}
.aw-top-menu h1{margin:0;}
.aw-top-nav{width: 300px;}
.aw-top-nav ul li{float: left;}
.aw-top-nav ul li a{display:inline-block;height:55px;line-height: 55px;padding: 0 15px;font-size: 14px;font-weight: bold;color: #fff;}
.aw-top-nav ul li a:hover{background: #0C7BB5;}
.aw-top-nav ul li a.active{background:#016AA1}
.aw-logo, .aw-search-box{margin-top: 6px;margin-right:0px;height: 30px;}
.aw-search-box{margin-top:13px;}
.aw-search-box form{margin-top: 0px;}
.aw-search-box .search-query{padding: 6px 14px;}
.aw-search-box #global_search_btns{padding:6px 5px;}
.aw-publish{width:103px;margin:12px 0 0 30px;}
.aw-publish-btn{display:inline-block;width:50px;height:32px;line-height:32px;padding-left:50px;background-image: url("img/main_default.png");background-repeat:no-repeat;background-position:-33px -124px;background-color: #5FC2FF;color:#fff;font-size: 14px;}
.aw-publish-btn:hover{background-color: #4FBAFC;color: #fff;}
.aw-user-nav{width: 90px;margin:4px 0 0 0;font-weight:normal;text-align: right;}
.aw-user-nav > a{font-size: 14px;font-weight: bold;}
.aw-user-nav > p > a, .aw-user-nav > a{height: 50px;line-height: 50px;color: #fff;}
.aw-user-nav > a img{width: 32px;height: 32px;}
.aw-user-nav:hover .aw-user-nav-dropdown-list{display: block;}
.aw-user-nav-dropdown{display: block;height: 45px;}
.aw-user-nav-dropdown img{margin-left: 10px;}
.aw-user-nav-dropdown-list{display:none;position:absolute;right:0;top:55px;width: 110px;background: #0185C9;text-align: left;opacity: 0.8;filter:alpha(opacity=80);}
.aw-user-nav-dropdown-list a{display:block;height:35px;line-height:35px;padding-left:15px;color: #fff;font-weight: normal;}
.aw-user-nav-dropdown-list a:hover{background: #016AA1;}

/*
**	category
*/
.category{margin:0 0 30px 0;background:#F7F7F7;border:1px solid #DFDFDF;}
.category .span12{margin-left: 0px;}

/*
**	aw-container-wrap
*/
.aw-container-wrap{margin-top:20px;background: #fff;}
.aw-container{border:none;background: #fff;}
.aw-content-wrap{background: #fff;}
.aw-main-content{margin:0 0 0 10px;padding:0;border-right: none;}

/*
**	动态首页&话题精华模块
*/
.aw-dynamic-topic{padding: 0;}
.aw-index .aw-dynamic-topic{border:1px solid #DFDFDF;}
.aw-index .aw-dynamic-topic > .aw-mod-head{border:none;}
.aw-index .aw-dynamic-topic > .aw-mod-head h2{height: 45px;line-height: 45px;margin:0;padding:0 20px;background: #F8F8F8;}
.aw-index .aw-dynamic-topic #delete-draft{margin:10px 20px 0 0;}
.aw-index .aw-dynamic-topic > .aw-mod-body, .aw-dynamic-index > .aw-mod-body{padding:0 20px;}
.aw-index .aw-dynamic-topic .aw-dynamic-topic-content{width: 560px;}

/*
**	全部问题
*/
.aw-all-question{margin-left:10px;border:1px solid #DFDFDF;}
.aw-all-question .aw-question-box-mod .aw-mod-body{padding:10px 20px 0 20px;}
.aw-all-question .pagination{margin-right: 20px;}


/*
**	侧边栏
*/
.aw-side-bar{width: 200px;margin-left:10px;background: #fff;}
.aw-side-bar-mod-new-message{margin:0;}
.aw-side-bar-mod-nav{padding-top: 0;}
.aw-side-bar-mod-nav ul li a{width: 186px;}
.aw-side-bar-mod-nav ul li a:hover, .aw-side-bar-mod-nav ul li a.active{background: url("img/main_default.png") no-repeat -231px -11px;color: #333;}
.aw-side-bar-mod-nav ul li a.active .aw-message-tooltip{background: #449BDB;}
/*
**	自定义tab切换
*/
.aw-tabs{background:#CFECFA;}

/*
**	问题详情页
*/
.aw-question-detail-title{padding:10px 20px 20px;border:1px solid #DFDFDF;}
.aw-question-detail-title .aw-comment-box{margin:10px 0;}
.aw-question-detail-box{margin-bottom:20px;border:1px solid #DFDFDF;}
.aw-question-detail-box .aw-dynamic-topic > .aw-mod-body{padding:0 20px;}
.aw-question-detail-box .aw-dynamic-topic .aw-vote-bar, .aw-question-detail-box .aw-dynamic-topic .aw-vote-count{margin:0 10px 0 0;}
.aw-question-detail-box .aw-dynamic-topic .aw-dynamic-topic-content{width: 540px;}
.aw-comment-box-main{background: #f7f7f7;}

/*
** 动态首页右侧页面
*/
.aw-dynamic-index{border:1px solid #DFDFDF;}
.aw-dynamic-index .aw-mod-head{margin-bottom: 0px;border-bottom: none;}
.aw-dynamic-index .aw-mod-head h2{height:45px;line-height:45px;margin:0;padding:0 20px;background: #F8F8F8;}
.aw-dynamic-index .aw-mod-head h2 .btn{margin-top:10px;}
.aw-my-inbox .aw-mod-head h2 span, .aw-my-notifications .aw-mod-head h2 span{padding: 0;}
.aw-my-inbox .aw-mod-head h2 span a, .aw-my-notifications .aw-mod-head h2 span a{color: #999;}
.aw-my-favorite > .aw-mod-head p{margin: 10px 20px 0;padding-bottom:10px;border-bottom: 1px solid #C1CAD4;}
.aw-my-notifications{padding: 0px;}

/*
**	话题页面
*/
.aw-topic-content-wrap .aw-main-content{padding-top: 0px;}
.aw-side-bar-topic{padding-top:0px;}
.aw-topic-content{border:1px solid #DFDFDF;}
.aw-topic-content .tab-content{padding: 0 20px;}
.aw-topic-content-wrap .aw-topic-all-list .span6{width: 238px;}
.aw-topic-daily .aw-mod-head h3{padding: 0;}
.aw-topic-daily, .aw-suggest-topic, .aw-topic-all .aw-mod-body{padding:0 20px;}
.aw-topic-all .aw-mod-head{padding: 10px 20px;}
.aw-suggest-topic .aw-mod-head h3, .aw-topic-all .aw-mod-head h3{position:relative;left:-20px;max-width: 150px;height: 35px;line-height: 35px;text-indent: 15px;background:#F3C69C;font-size:18px;font-weight: bold;color: #fff;}
.aw-topic-all .aw-mod-head h3{background: #9EDBF5;}

/*
**	话题详情页
*/
.aw-topic-detail-title{margin-bottom:30px;padding: 20px 20px 0 20px;border:1px solid #DFDFDF;}
.aw-topic-detail-tabs .aw-search-box{right: 20px;top:5px;background: #fff;}

/*
** 发起页面
*/
.aw-mod-publish .aw-mod-footer{padding:0 20px 30px;}

/*
**	用户主页
*/
.aw-user-center{padding: 0px;}
.aw-user-detail-box{margin-bottom:30px;padding:20px 20px 0;border:1px solid #DFDFDF;}
.aw-user-center-tab{border:1px solid #DFDFDF;}
.aw-user-center-tab .tab-content{padding: 0 20px 30px;}
.aw-reset-sp .span6{width:427px;}

/*
**	用户设置
*/
.aw-user-setting{padding: 1px;border:1px solid #DFDFDF;}
.aw-user-setting h4{background: #CFECFA;}
.aw-user-setting .tab-content{padding: 0 0 30px;}

/*
**	登陆&注册页面
*/
.aw-login-box .aw-mod-head{background: url("img/login_default.png") no-repeat 0 -1px;}
.aw-register-bg .aw-register-head-title{background:url("img/login_default.png") no-repeat -2px -86px;}

/*
**	底部
*/
.aw-footer-wrap{height: 40px;line-height: 40px;}
.aw-footer{padding: 0;border-top:1px solid #D9D9D9;color: #999;}
.aw-footer a{color: #999;}

/*
**	编辑器
*/
.aw-mod-replay-box .aw-mod-body{background: #F7F7F7;}


