<?php TPL::output('global/header_landing_blank.tpl.htm'); ?>

<div id="wrapper" class="clearfix">
	<div class="aw-login-wrap clearfix">
		<!-- 登陆框 -->
		<div class="aw-login-box pull-right">
			<div class="aw-mod">
				<div class="aw-mod-head">
					<a href="account/register/" class="b-new-user pull-right"><?php _e('注册新用户'); ?></a>
					<i class="fa fa-user"></i>
					<span class="hidden-xs"><?php _e('登录'); ?></span>
				</div>
				<div class="aw-mod-body">
					<form id="login_form" method="post" onsubmit="return false" action="account/ajax/login_process/">
						<input type="hidden" name="return_url" value="<?php echo $this->return_url; ?>" />
						<ul>
							<li>
								<label class="aw-label-icon pull-left" for="aw-login-user-name"><i class="fa fa-user"></i></label>
								<input type="text" id="aw-login-user-name" class="form-control" placeholder="<?php _e('邮箱'); ?>/<?php _e('用户名'); ?>" name="user_name" />
							</li>
							<li>
								<label class="aw-label-icon pull-left" for="aw-login-user-password"><i class="fa fa-key"></i></label>
								<input type="password" id="aw-login-user-password" class="form-control" placeholder="<?php _e('密码'); ?>" name="password" />
							</li>
							<li class="alert alert-danger hide error_message">
								<i class="fa fa-times"></i><em></em>
							</li>
							<li class="last">
								<a href="javascript:;" onclick="ajax_post($('#login_form'), _error_message_form_processer);" id="login_submit" class="pull-right btn btn-large btn-success"><?php _e('登录'); ?></a>
								<input id="login-radio" type="checkbox" value="1" name="net_auto_login" />
								<label for="login-radio"><?php _e('记住我'); ?></label>
								<a href="account/find_password/"><?php _e('忘记密码'); ?></a>
							</li>
						</ul>
					</form>
				</div>
				<div class="aw-mod-footer">
					<a href="reader/" class="pull-right"><?php _e('问答阅读'); ?><i class="fa fa-chevron-right"></i></a>
					
					<?php if (get_setting('site_close') != 'Y' && (get_setting('sina_weibo_enabled') == 'Y' OR get_setting('qq_t_enabled') == 'Y' OR get_setting('qq_login_enabled') == 'Y') OR get_setting('weixin_app_id')) { ?>
						<?php _e('第三方登录'); ?>:
						<?php if (get_setting('sina_weibo_enabled') == 'Y') { ?><a href="account/openid/sina/" class="icon-sina"></a><?php } ?>
						<?php if (get_setting('qq_t_enabled') == 'Y') { ?><a href="account/openid/qq/" class="icon-weibo"></a><?php } ?>
						<?php if (get_setting('qq_login_enabled') == 'Y') { ?><a href="account/openid/qq_login/" class="icon-qq"></a><?php } ?>
						<?php if (get_setting('weixin_app_id') AND get_setting('weixin_account_role') == 'service') { ?><a href="account/weixin_login/" class="icon-wechat"></a><?php } ?>
					<?php } ?>
				</div>
			</div>
		</div>
		<!-- end 登陆框 -->
		<!-- 左侧文字介绍部分 -->
		<h1 class="hidden-xs">
			<img src="<?php echo G_STATIC_URL; ?>/css/<?php echo $this->template_name; ?>/img/login_logo.png" alt="<?php echo get_setting('site_name'); ?>" />
			<p><?php echo get_setting('description'); ?></p>
		</h1>
		<div class="aw-login-state hidden-xs">
			<p>
				<?php _e('欢迎来到'); ?> <?php echo get_setting('site_name'); ?> <?php _e('问答社区，'); ?><?php _e('你想知道的一切，或许答案都在这里。'); ?><br /><span><?php _e('2.1 正式版发布！'); ?></span>
			</p>
			<p class="hide">
				<?php _e('庆祝'); ?> <?php echo get_setting('site_name'); ?> <?php _e('2.1 正式发布'); ?>
			</p>
			<p class="hide">
				<?php echo get_setting('site_name'); ?> <?php _e('是一个新型的社区建站程序，包括了问答，维基，以及社交等丰富而又轻量化的功能。'); ?><br /><span><?php _e('这将是您的最好选择！'); ?></span>
			</p>
		</div>
		<!-- end 左侧文字介绍部分 -->
		
		<div class="aw-login-box-bg hidden-xs">
		</div>
	</div>
	<!-- 背景切换 -->
	<div class="aw-bg-wrap hidden-xs">
		<ul id="aw-bg-loading">
			<li style="height: 590px;background-image: url(<?php echo G_STATIC_URL; ?>/css/<?php echo $this->template_name; ?>/img/login_01.jpg);"></li>
			<li style="height: 590px;background-image: url(<?php echo G_STATIC_URL; ?>/css/<?php echo $this->template_name; ?>/img/login_02.jpg);"></li>
			<li style="height: 590px;background-image: url(<?php echo G_STATIC_URL; ?>/css/<?php echo $this->template_name; ?>/img/login_03.jpg);"></li>
		</ul>
	</div>
	<!-- end 背景切换 -->
</div>

<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/app/login.js"></script>

<?php TPL::output('global/footer.tpl.htm'); ?>