<?php TPL::output('global/header_landing_blank.tpl.htm'); ?>

<div id="wrapper">
  <div class="login_bd">
    <h1> <img src="<?php echo G_STATIC_URL; ?>/css/<?php echo $this->template_name; ?>/img/login_logo_246x59.png" title="<?php echo get_setting('site_name'); ?>" alt="<?php echo get_setting('site_name'); ?>"/>
      <p class="i_cl_04"><?php echo get_setting('description'); ?></p>
    </h1>
    <p class="login_state i_white" id="login_explain">
    	<?php _e('欢迎来到'); ?> <?php echo get_setting('site_name'); ?>,<br /><?php _e('你想知道的一切, 或许答案都在这里'); ?><br/>
        <span class="i_cl_05"><?php _e('进来看看吧!'); ?></span>
    </p>
    <!--登陆模块_s-->
    	<div class="login_mod" id="user_login">
        	<h3 class="login_title i_white"><span class="login_c i_small i_line"></span><?php _e('登录'); ?><?php if (get_setting('invite_reg_only') == 'N') { ?><a href="account/register/" class="login_reg i_white"><?php _e('注册新用户'); ?></a><?php } ?></h3>
        	<form id="login_form" method="post" onsubmit="return false" action="account/ajax/login_process/">
        	<input type="hidden" name="return_url" value="<?php echo $this->return_url; ?>" />
			<input type="hidden" name="post_hash" value="<?php echo new_post_hash(); ?>" />
            <ul class="loging login_bg_02">
            	<li class="i_lcol_01 i_white_bg"><label for="login_userName" class="login_lb i_small un i_left"></label><input tabindex="1" type="text" class="login_txt" id="login_userName" title="<?php _e('邮箱'); ?>/<?php _e('用户名'); ?>" name="user_name" value="<?php echo $this->r_uname; ?>" /></li>
                <li class="i_lcol_01 i_white_bg"><label for="login_password" class="login_lb i_small pw i_left"></label><input tabindex="2" type="text" class="login_txt" id="login_password_txt" title="<?php _e('密码'); ?>" value="<?php _e('密码'); ?>" /><input type="password" class="login_txt i_hide" id="login_password" title="<?php _e('密码'); ?>" name="password" /></li>
                <li id="global_err" class="i_hide"><p class="i_global_err i_small i_err_bg"><em class="e"></em><span id="glo_Err"></span></p></li>
                <li><a href="javascript:;" class="login_sub i_cl_06 i_fb_14 i_right" tabindex="3" id="login_submit" onClick="$.login.loginSubmit(ajax_post($('#login_form'), _login_form_processer));"><?php _e('登录'); ?></a><input type="checkbox" name="net_auto_login" value="1" id="login_radio" checked="checked"/><label for="login_radio" class="i_cl_02"><?php _e('记住我'); ?></label>&nbsp;&nbsp;<a class="i_cl_02" href="account/find_password/"><?php _e('忘记密码'); ?></a></li>
            </ul>
        	</form>
            <div class="login_entrance login_bg_01 ">
            	<!--<?php if ($this->user_info['permission']['visit_explore']) { ?><a href="home/explore/" class="tri i_small i_right"><?php _e('游客浏览'); ?></a><?php } ?>-->
            	
            	<a href="reader/" class="tri i_small i_right"><?php _e('问答阅读'); ?></a>
            	
            	<?php if (get_setting('site_close') != 'Y' && (get_setting('sina_weibo_enabled') == 'Y' OR get_setting('qq_t_enabled') == 'Y' OR get_setting('qq_login_enabled') == 'Y')) { ?>
            	<?php _e('第三方登录'); ?>:
            	<?php if (get_setting('sina_weibo_enabled') == 'Y') { ?><a href="account/openid/sina/" class="sl i_small" title="<?php _e('新浪微博'); ?>"><?php _e('新浪微博'); ?></a><?php } ?>
            	
            	<?php if (get_setting('qq_t_enabled') == 'Y') { ?><a href="account/openid/qq/" class="tx i_small" title="<?php _e('腾讯微博'); ?>"><?php _e('腾讯微博'); ?></a><?php } ?>
            	
            	<?php if (get_setting('qq_login_enabled') == 'Y') { ?><a href="account/openid/qq_login/" class="qq i_small" title="QQ">QQ</a><?php } ?>
            	<?php } ?>
            </div>
        </div>
    <!--登陆模块_s-->
    
    <!--透明层-->  
    <div class="login_alp i_alpha_login i_black_bg"></div>
  </div>
</div>

<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/app/login.js"></script>

<?php TPL::output('global/footer_blank.tpl.htm'); ?>