<?php TPL::output('global/header_landing.tpl.htm'); ?>

<script type="text/javascript">
	$(document).ready(function () {
		$('#header_action').append('<?php _e('邮箱验证'); ?>');
	});
</script>

<form action="account/ajax/valid_email_active/" method="post" id="active_form">
<input type="hidden" name="active_code" value="<?php echo $this->active_code; ?>"/>
<div class="Ef_login login_bg_02">
  <ul class="loging register" id="psw_retrieve">
  	<li>
      <?php if ($_GET['email']) { ?><input type="hidden" id="userEmail"/><?php } ?>
      <input type="text" class="login_txt" id="login_account" title="<?php _e('邮箱'); ?>" name="email" value="<?php echo $this->email;?>"<?php if ($this->email) { ?> disabled="disabled"<?php } ?> />
      <span class="hide"></span> </li>
    <li id="global_err" class="i_hide">
      <p class="i_global_err i_small i_err_bg"><em class="e"></em><span id="glo_Err"><?php _e('账号或密码错误'); ?></span></p>
    </li>
    
    <li><a href="javascript:;" onclick="ajax_post($('#active_form'), _login_form_processer);" class="login_sub i_cl_06 i_fb_14 i_right"><?php _e('继续'); ?></a></li>
  </ul>
</div>
</form>

<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/app/login.js"></script>

<?php TPL::output('global/footer_blank.tpl.htm'); ?>