<?php TPL::output('global/header_landing.tpl.htm'); ?>

<script type="text/javascript">
	$(document).ready(function () {
		$('#header_action').append('<?php _e('邮箱验证'); ?>');
	});
</script>

<form action="account/ajax/valid_email_active/" method="post" id="active_form">
<input type="hidden" name="active_code" value="<?php echo $this->active_code; ?>"/>
<div class="Ef_login login_bg_02">
	<p class="i_tc l_pad"><?php _e('感谢您的注册, 请点击继续激活你的账户'); ?></p>
	<p class="i_tc"><a href="javascript:;" onclick="ajax_post($('#active_form'));" class="i_replay_but2"><?php _e('继续'); ?></a></p>
	</ul>
</div>
</form>

<?php TPL::output('global/footer_blank.tpl.htm'); ?>