<?php TPL::output('global/header_landing.tpl.htm'); ?>

<script type="text/javascript">
	$(document).ready(function () {
		$('#header_action').append('<?php _e('邮箱验证'); ?>');
	});
</script>

<div class="Ef_login login_bg_02">
  <h3 class="i_bold l_regH3 i_linkGreen  i_tc"><?php _e('感谢您的注册!'); ?></h3>
  <p class="i_tc l_pad">
    <?php _e('激活链接已经发到您邮箱'); ?> <a href="<?php echo $this->common_email['url']; ?>" class="i_bold"><?php echo $this->email; ?></a><br />
	<?php _e('点击邮箱的链接即可激活账户'); ?></p>
  <?php if ($this->common_email) { ?>
  <p class="i_tc"><a class="i_replay_but2" href="<?php echo $this->common_email['url']; ?>"><?php _e('查看邮箱'); ?></a></p>
  <?php } ?>
  <div class="l_explain">
  	<p class="i_bold">&nbsp; <?php _e('还没收到确认邮件'); ?>?</p>
  	<p class="l_txtex"> • <?php _e('尝试到广告邮件、垃圾邮件目录里找找看'); ?><br />
  	• <a href="javascript:;" onClick="ajax_request(G_BASE_URL + '/account/ajax/send_valid_mail/');"><?php _e('再次发送确认邮件'); ?></a></p>
  </div>
</div>

<?php TPL::output('global/footer_blank.tpl.htm'); ?>