<?php TPL::output('global/header.tpl.htm'); ?>

<div class="aw-container-wrap">
	<div class="aw-container aw-wecenter">
		<div class="row aw-content-wrap">
			<div class="col-sm-9 aw-main-content">
				<div class="aw-mod aw-dynamic-index aw-my-favorite">
					<div class="aw-mod-head">
						<h2><?php _e('我的收藏'); ?></h2>
						<?php if (sizeof($this->favorite_tags) > 0) { ?>
						<p>
							<span><?php _e('标签'); ?>:</span>
							<?php foreach ($this->favorite_tags AS $key => $val) { ?>
							<a class="aw-topic-name" href="favorite/tag-<?php echo urlencode($val['title']); ?>"><span><?php echo $val['title']; ?></span></a>
							<?php } ?>
						</p>
						<?php } ?>
					</div>
					
					<?php if (sizeof ($this->list) > 0) { ?>
					<div class="aw-mod-body">
						<?php foreach ($this->list AS $key => $val) { ?>
						<div class="aw-item">
							<h4><a href="question/<?php echo $val['question_id']; ?>"><?php echo $val['question_content']; ?></a></h4>
							<p class="aw-text-color-999"><a class="aw-user-name" data-id="<?php echo $val['answer_info']['uid']; ?>" href="people/<?php echo $val['answer_info']['url_token']; ?>"><?php echo $val['answer_info']['user_name']; ?></a><?php if ($val['answer_info']['signature']) { ?> - <?php echo $val['answer_info']['signature']; ?><?php } ?></p>
							
							<!-- 评论内容 -->
							<div class="aw-dynamic-topic-content">
								<div id="detail_<?php echo $val['history_id']; ?>">
						      		<?php echo nl2br(strip_ubb(cjk_substr($val['answer_info']['answer_content'], 0, 130, 'UTF-8', '...'))); ?>
						      		<?php if (cjk_strlen($val['answer_info']['answer_content']) > 130) { ?>
						        	<a href="javascript:;" class="showMore" onclick="content_switcher($('#detail_<?php echo $val['history_id']; ?>'), $('#detail_more_<?php echo $val['history_id']; ?>'));"><?php _e('显示全部'); ?> »</a>
						        	<?php } ?>
						        	
									<?php if ($val['answer_info']['attachs']) { ?>
										<div class="aw-comment-upload-img-list width-auto">
											<?php foreach($val['answer_info']['attachs'] AS $t_key => $t_val) { ?>
											<?php if ($t_val['is_image']): ?>
												<a href="javascript:;" onclick="content_switcher($('#detail_<?php echo $val['history_id']; ?>'), $('#detail_more_<?php echo $val['history_id']; ?>'));">
													<img class="img-polaroid" src="<?php echo $t_val[thumb]; ?>" alt="<?php echo $t_val['file_name']; ?>" />
												</a>
											<?php endif; ?>
										  <?php } ?>
										</div>
										
										<div class="aw-comment-upload-file-list">
											<?php foreach($val['answer_info']['attachs'] AS $t_key => $t_val) { ?>
											<?php if (!$t_val['is_image']): ?>
												<li><a href="<?php echo download_url($t_val['file_name'], $t_val['attachment']); ?>"><em class="aw-icon i-upload-file"></em><?php echo $t_val['file_name']; ?></a></li>
											<?php endif; ?>
										  <?php } ?>
										</div>
									<?php } ?>
								</div>
								 
								<div id="detail_more_<?php echo $val['history_id']; ?>" class="hide">
						      		<?php echo nl2br(strip_ubb($val['answer_info']['answer_content'])); ?>
						        	
									<?php if ($val['answer_info']['attachs']) { ?>
										<div class="aw-comment-upload-img-list active">
											<?php foreach($val['answer_info']['attachs'] AS $t_key => $t_val) { ?>
											<?php if ($t_val['is_image']): ?>								
												<a href="<?php echo $t_val['attachment']; ?>" target="lightbox" data-fancybox-group="thumb" rel="lightbox"><img class="img-polaroid" src="<?php echo $t_val['attachment']; ?>" alt="" /></a>
											<?php endif; ?>
										  <?php } ?>
										</div>
										
										<div class="aw-comment-upload-file-list">
											<?php foreach($val['answer_info']['attachs'] AS $t_key => $t_val) { ?>
											<?php if (!$t_val['is_image']): ?>
												<li><a href="<?php echo download_url($t_val['file_name'], $t_val['attachment']); ?>"><em class="aw-icon i-upload-file"></em><?php echo $t_val['file_name']; ?></a></li>
											<?php endif; ?>
										  <?php } ?>
										</div>
									<?php } ?>
								</div>    
							</div>
							<!-- end 评论内容 -->
							
							<div class="aw-my-favorite-meta">
								<a class="pull-right btn btn-mini btn-default" href="javascript:;" onclick="ajax_request(G_BASE_URL + '/favorite/ajax/remove_favorite_item/', 'answer_id=' + <?php echo $val['answer_info']['answer_id']; ?>);"><?php _e('取消收藏'); ?></a>
								
								<span class="aw-topic-editor" data-type="favorite" data-id="<?php echo $val['answer_info']['answer_id']; ?>">
								<?php if ($this->favorite_items_tags[$val['answer_info']['answer_id']]) { ?>
								<?php foreach ($this->favorite_items_tags[$val['answer_info']['answer_id']] AS $f_key => $f_val) { ?>
								<a href="javascript:;" class="aw-topic-name"><span><?php echo $f_val['title']; ?></span></a>
								<?php } ?>
								<?php } ?>
								
								<span class="aw-edit-topic"><i class="icon-edit"></i><?php _e('编辑话题'); ?></span>
								</span>
							</div>
							
							<?php if ($val['anonymous'] == 0) { ?><a data-id="<?php echo $val['user_info']['uid']; ?>" class="aw-user-img aw-border-radius-5 pull-right" data-id="<?php echo $val['user_info']['uid']; ?>" href="people/<?php echo $val['user_info']['url_token']; ?>"><img src="<?php echo get_avatar_url($val['user_info']['uid'], 'mid'); ?>" alt="<?php echo $val['user_info']['user_name']; ?>" /></a><?php } else { ?><a href="javascript:;" class="aw-user-img aw-border-radius-5 pull-right"><img src="<?php echo G_STATIC_URL; ?>/common/avatar-mid-img.png" alt="<?php _e('匿名用户'); ?>" /></a><?php } ?>
						</div>
						<?php } ?>
					</div>
					<?php } ?>
					
					<?php echo $this->pagination; ?>
				</div>
			</div>
			<!-- 侧边栏 -->
			<div class="col-sm-3 aw-side-bar">
				<?php TPL::output('block/sidebar_announce.tpl.htm'); ?>
				
				<?php TPL::output('block/sidebar_menu.tpl.htm'); ?>	
				
				<div class="aw-side-bar-mod aw-side-bar-invite-join">
					<div class="aw-side-bar-mod-head">
						<h3><?php _e('邀请好友加入社区'); ?><?php if ($this->user_info['invitation_available']) { ?><em class="aw-message-tooltip"><?php echo $this->user_info['invitation_available']; ?></em><?php } ?></h3>
					</div>
					<div class="aw-side-bar-mod-body">
						<a href="invitation/" class="btn btn-mini btn-success"><?php _e('发送邀请'); ?></a>
					</div>
				</div>
				
				<!-- 可能感兴趣的人/或话题 -->
				<?php TPL::output('block/sidebar_recommend_users_topics.tpl.htm'); ?>
			</div>
			<!-- end 侧边栏 -->
		</div>
	</div>
</div>

<?php TPL::output('global/footer.tpl.htm'); ?>