<?php TPL::output('global/header.tpl.htm'); ?>

<div class="aw-container-wrap">
	<div class="aw-container aw-wecenter">
		<div class="row aw-content-wrap">
			<div class="col-sm-12 col-md-9 aw-main-content">
				<div class="aw-mod aw-item aw-question-detail-title">
					<div class="aw-mod-head">
						<h1>
							<?php echo $this->article_info['title']; ?>
						</h1>
						
						<div class="aw-topic-editor">
							<?php foreach($this->question_topics as $key => $val) { ?>
							<a href="topic/<?php echo $val['url_token']; ?>" class="aw-topic-name" data-id="<?php echo $val['topic_id']; ?>"><span><?php echo $val['topic_title']; ?></span></a>
							<?php } ?>
						</div>
					</div>
					<div class="aw-mod-body">
						<div class="aw-question-detail-txt markitup-box">
							<?php echo $this->article_info['message']; ?>
							
							<?php if ($this->article_info['attachs']) {  ?>
							<div class="aw-comment-upload-img-list">
							<?php foreach ($this->article_info['attachs'] AS $attach) { ?>
							<?php if ($attach['is_image'] AND !in_array($attach['id'], $this->article_info['attachs_ids'])) { ?>
								<a href="<?php echo $attach['attachment']; ?>" target="_blank" data-fancybox-group="thumb" rel="lightbox"><img src="<?php echo $attach['attachment']; ?>" class="img-polaroid" alt="<?php echo $attach['attach_name']; ?>" /></a>
							<?php } ?>
							<?php } ?>
							</div>
							<?php } ?>
							
							<?php if ($this->article_info['attachs']) {  ?>
							<ul class="aw-comment-upload-file-list">
								<?php foreach ($this->article_info['attachs'] AS $attach) { ?>
								<?php if (!$attach['is_image'] AND !in_array($attach['id'], $this->article_info['attachs_ids'])) { ?>
									<li><a href="<?php echo download_url($attach['file_name'], $attach['attachment']); ?>"><em class="aw-icon i-upload-file"></em><?php echo $attach['file_name']; ?></a></li>
								<?php } ?>
								<?php } ?>
							</ul>
							<?php } ?>
						</div>
						<div class="aw-question-detail-meta">
							<span class="pull-left aw-text-color-999"><?php echo date_friendly($this->article_info['add_time']); ?></span>

							<a class="aw-text-color-999" href="javascript:;"><i class="icon-thumbs-up-alt"></i>赞同</a>
							<a class="aw-text-color-999" href="javascript:;"><i class="icon-thumbs-down-alt"></i>反对</a>
							<div class="aw-share-dropdown pull-left">
								<a class="aw-text-color-999 dropdown-toggle" data-toggle="dropdown"><i class="icon-share-alt"></i><?php _e('分享'); ?></a>
								<div class="dropdown-menu aw-dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
									<span><i class="aw-icon i-dropdown-triangle"></i></span>
									<ul>
										<li>
											<a href="javascript:;" onclick="$.dialog('shareOut', {item_type:'question', item_id:<?php echo $this->article_info['question_id']; ?>});" class="aw-text-color-999"><i class="icon-user"></i><?php _e('站外'); ?></a>
										</li>
										<li>
											<a href="javascript:;" onclick="$.dialog('shareIn', {item_type:'question', item_id:<?php echo $this->article_info['question_id']; ?>});" class="aw-text-color-999"><i class="icon-envelope"></i><?php _e('私信'); ?></a>
										</li>
									</ul>
								</div>
							</div>
							<?php if ((!$this->article_info['lock'] AND ($this->article_info['published_uid'] == $this->user_id OR $this->user_info['permission']['edit_question'])) OR $this->user_info['permission']['is_administortar'] OR $this->user_info['permission']['is_moderator']) { ?><a class="aw-text-color-999" href="publish/<?php echo $this->article_info['question_id']; ?>"><i class="icon-edit"></i><?php _e('编辑'); ?></a><?php } ?>
						</div>
					</div>
				</div>
				
				<div class="aw-mod aw-question-detail-box">
					<div class="aw-mod-head">
						<ul class="nav nav-tabs aw-reset-nav-tabs">
							<?php if ($_GET['single']) { ?>
							<!--<li><a href="question/<?php echo $this->article_info['question_id']; ?>"><?php _e('全部回答'); ?></a></li>-->
							<?php } else if (($this->answer_count OR $_GET['uid']) AND $this->user_id) { ?>
							<li<?php if ($_GET['uid'] == 'focus') { ?> class="active"<?php } ?>><a href="question/<?php echo $this->article_info['question_id']; ?>?uid=focus"><?php _e('关注的人'); ?></a></li>
							<li<?php if ($_GET['sort_key'] == 'add_time') { ?> class="active"<?php } ?>><a href="question/<?php echo $this->article_info['question_id']; ?>?sort_key=add_time&sort=<?php if (($_GET['sort_key'] == 'add_time') && $_GET['sort'] == 'ASC') { ?>DESC<?php } else { ?>ASC<?php } ?>"><?php _e('时间'); ?><?php if (($_GET['sort_key'] == 'add_time') && $_GET['sort'] == 'DESC') { ?><i class="icon-caret-down"></i><?php } else { ?><i class="icon-caret-up"></i><?php } ?></a></li>
							<li<?php if ((!$_GET['uid'] && !$_GET['sort_key']) || $_GET['sort_key'] == 'agree_count') { ?> class="active"<?php } ?>><a href="question/<?php echo $this->article_info['question_id']; ?>&sort_key=agree_count&sort=DESC"><?php _e('票数'); ?></a></li>
							<?php } ?>
							
							<h2><?php if ($_GET['single']) { ?><?php _e('查看单个回答'); ?><?php } else { ?><?php _e('%s 个回复', $this->answer_count); ?><?php } ?></h2>
						</ul>
					</div>
					<div class="aw-mod-body aw-dynamic-topic">
						<?php if ($this->answers) { foreach ($this->answers AS $key => $val) { ?>
							<div class="aw-item" uninterested_count="<?php echo $val['uninterested_count']; ?>" force_fold="<?php if ($val['user_rated_uninterested']) { ?>1<?php } else { ?><?php echo $val['force_fold']; ?><?php } ?>" id="answer_list_<?php echo $val['answer_id']; ?>">
								<?php if ($this->article_info['best_answer'] == $val['answer_id']) { ?>
								<!-- 最佳回答 -->
								<p class="aw-winner-replay">
									<i class="icon-g-replay"></i>
									<?php _e('最佳回复'); ?>
								</p>
								<!-- end 最佳回答 -->
								<?php } ?>
								<a name="answer_<?php echo $val['answer_id']; ?>"></a>
								<!-- 用户头像 -->
								<?php if ($val['anonymous'] == 0) { ?><a class="aw-user-img aw-border-radius-5 pull-right" href="people/<?php echo $val['url_token']; ?>" data-id="<?php echo $val['uid']; ?>"><img src="<?php echo get_avatar_url($val['uid'], 'mid'); ?>" alt="" /></a><?php } else { ?><a class="aw-user-img aw-border-radius-5 pull-right" href="javascript:;"><img src="<?php echo G_STATIC_URL; ?>/common/avatar-mid-img.png" alt="<?php _e('匿名用户'); ?>" /></a><?php } ?>
								<!-- end 用户头像 -->
								<div class="aw-mod-body clearfix">

									<div class="pull-left aw-dynamic-topic-content">
										<!-- 评论内容 -->
										<div>
											<p><?php if ($val['anonymous'] == 0) { ?><a class="aw-user-name" href="people/<?php echo $val['url_token']; ?>" data-id="<?php echo $val['uid']; ?>"><?php echo $val['user_name']; ?></a><?php } else { ?><a class="aw-user-name" href="javascript:;"><?php _e('匿名用户'); ?></a><?php } ?><?php if ($val['anonymous'] == 0) { ?><?php if ($val['verified']) { ?> <i class="icon-v<?php if ($val['verified'] == 'enterprise') { ?> i-ve<?php } ?>" title="<?php if ($this->user['verified'] == 'enterprise') { ?>个人认证<?php } else { ?>企业认证<?php } ?>"></i><?php } ?><?php if ($val['signature']) { ?> - <span class="aw-text-color-999"><?php echo $val['signature']; ?></span><?php } ?><?php } ?> <?php if ($val['publish_source'] == 'mobile') { ?><i class="icon-mobile-phone"></i><?php } else if ($val['publish_source'] == 'weixin') { ?><i class="icon-wechat"></i><?php } ?></p>   
											<p class="aw-text-color-999 aw-agree-by<?php if (sizeof($val['agree_users']) == 0) { ?> hide<?php } ?>">
												<?php _e('赞同来自'); ?>:
												
												<?php if ($val['agree_users']) { ?>
												<?php $count = 0; foreach($val['agree_users'] AS $uid => $user) { ?>
												<?php if ($count > 0) { ?><em<?php if ($count >= 5) { ?> class="hide"<?php } ?>>、</em><?php } ?><a href="people/<?php echo $user['url_token']; ?>" data-id="<?php echo $user['uid']; ?>" class="aw-user-name<?php if ($count >= 5) { ?> hide<?php } ?>"><?php echo $user['user_name']; ?></a><?php $count++; } ?><?php } ?><?php if (count($val['agree_users']) >= 5) { ?><a href="javascript:;" class="aw-agree-by-show" onclick="$(this).parents('.aw-agree-by').find('em,a').removeClass('hide'); $(this).remove();"><?php _e('更多'); ?> »</a>
												<?php } ?>
											</p>
											
											<div class="markitup-box">
												<?php echo $val['answer_content']; ?>
											</div>
										</div>
										<!-- end 评论内容 -->
										<!-- 社交操作 -->
										<div class="aw-dynamic-topic-meta">
											<span class="pull-left aw-text-color-999"><?php echo date_friendly($val['add_time']); ?></span>
											<a class="aw-add-comment aw-text-color-999" data-id="<?php echo $val['answer_id']; ?>" data-type="answer" href="javascript:;"><i class="icon-comment"></i><?php if ($val['comment_count']) { ?> <?php _e('%s 条评论', $val['comment_count']); ?><?php } else { ?><?php _e('添加评论'); ?><?php } ?></a>
											<!-- 可显示/隐藏的操作box -->
											<div class="aw-dynamic-topic-more-operate pull-left">
												<a href="javascript:;" onclick="$.dialog('shareOut', {item_type:'answer', item_id:<?php echo $val['answer_id']; ?>});" class="aw-text-color-999"><i class="icon-share-alt"></i><?php _e('分享'); ?></a>
												<?php if ($this->user_id != $val['uid'] AND $this->user_id) { ?>
												<a href="javascript:;"<?php if (!$val['user_rated_thanks']) { ?> onclick="answer_user_rate(<?php echo $val['answer_id']; ?>, 'thanks', this);"<?php } ?> class="aw-icon-thank-tips aw-text-color-999" data-original-title="<?php _e('感谢热心的回复者'); ?>" data-toggle="tooltip" title="" data-placement="bottom"><i class="icon-heart"></i><?php if ($val['user_rated_thanks']) { ?><?php _e('已感谢'); ?><?php } else { ?><?php _e('感谢'); ?><?php } ?></a>
												<?php } ?>	
											</div>
											<!-- end 可显示/隐藏的操作box -->
											
										</div>
										<!-- end 社交操作 -->		      	
									</div>
								</div>
							</div>
							<?php } ?>
						<?php } ?>
					</div>
					<div class="aw-mod-footer">
						<?php if ($_GET['single']) { ?>
							<a href="question/<?php echo $this->article_info['question_id']; ?>" class="aw-load-more-content">
								<span><?php _e('查看全部回答'); ?></span>
							</a>
						<?php } ?>
					</div>
					
					<?php if ($this->pagination) { ?>
						<div class="clearfix"><?php echo $this->pagination; ?></div>
					<?php } ?>
				</div>
				
				<!-- 回复编辑器 -->
				<div class="aw-mod aw-mod-replay-box">
					<a name="answer_form"></a>
					<?php if ($this->article_info['lock']) { ?>
					<p align="center"><?php _e('该问题目前已经被锁定, 无法添加新回复'); ?></p>
					<?php } else if (!$this->user_id) { ?>
					<p align="center"><?php _e('要回复问题请先<a href="account/login/">登录</a>或<a href="account/register/">注册</a>'); ?></p>
					<?php } else { ?>
					<form action="question/ajax/save_answer/" onsubmit="return false;" method="post" id="answer_form">
		        	<input type="hidden" name="post_hash" value="<?php echo new_post_hash(); ?>" />
		        	<input type="hidden" name="question_id" value="<?php echo $this->article_info['question_id']; ?>" />
		        	<input type="hidden" name="attach_access_key" value="<?php echo $this->attach_access_key; ?>" />
					<div class="aw-mod-head">
						<a href="people/" class="aw-user-name"><img alt="<?php echo $this->user_info['user_name']; ?>" src="<?php echo get_avatar_url($this->user_info['uid'], 'mid'); ?>" /></a>
						<p><a class="aw-user-name"><?php echo $this->user_info['user_name']; ?></a></p>
					</div>
					<div class="aw-mod-body">
						<textarea name="answer_content" id="advanced_editor" rows="15" style="width:100%;"><?php echo htmlspecialchars($this->draft_content['message']); ?></textarea>
						<p class="aw-text-color-999"><span class="pull-right" id="answer_content_message">&nbsp;</span></p>
						<?php if ($this->human_valid) { ?>
						<p class="aw-auth-img clearfix">
							<em class="auth-img pull-right"><img src="" onclick="this.src = G_BASE_URL + '/account/captcha/' + Math.floor(Math.random() * 10000);" id="captcha" /></em>
							<input class="pull-right" type="text" name="seccode_verify" placeholder="<?php _e('验证码'); ?>" />
						</p>
						<?php } ?>
						<div style="position:relative;" class="clearfix">
							<a href="javascript:;" onclick="ajax_post($('#answer_form'));" class="btn btn-large btn-success pull-right btn-submit"><?php _e('回复'); ?></a>
						</div>
						
						<div id="markItUpPreviewFrame" class="markItUpPreviewFrame">
							<h2 class="title">
								<?php _e('预览模式'); ?>:
							</h2>
							
							<div id="markItUpPreviewFrames"></div>
						</div>
					</div>
					</form>
					<?php } ?>
				</div>
				<!-- end 回复编辑器 -->
			</div>
			<!-- 侧边栏 -->
			<div class="col-sm-12 col-md-3 aw-side-bar">
				<!-- 发起人 -->
				<?php if ($this->article_info['anonymous'] == 0) { ?>
				<div class="aw-side-bar-mod user-detail">
					<div class="aw-side-bar-mod-head">
						<h3><?php _e('发起人'); ?></h3>
					</div>
					<div class="aw-side-bar-mod-body">
						<dl>
							<dt class="pull-left aw-border-radius-5">
								<a href="people/<?php echo $this->article_info['user_info']['url_token']; ?>"><img alt="<?php echo $this->article_info['user_info']['user_name'];?>" src="<?php echo get_avatar_url($this->article_info['published_uid'], 'mid'); ?>" /></a>
							</dt>
							<dd class="pull-left">
								<a class="aw-user-name" href="people/<?php echo $this->article_info['user_info']['url_token']; ?>" data-id="<?php echo $this->article_info['user_info']['uid']; ?>"><?php echo $this->article_info['user_info']['user_name'];?></a><?php if ($this->article_info['user_info']['verified']) { ?><i class="icon-v<?php if ($this->article_info['user_info']['verified'] == 'enterprise') { ?> i-ve<?php } ?>" title="<?php if ($this->user['verified'] == 'enterprise') { ?>企业认证<?php } else { ?>个人认证<?php } ?>"></i><?php } ?><?php if ($this->user['uid'] != $this->user_id AND $this->user_id) { ?><i data-placement="bottom" title="" onclick="follow_people($(this), <?php echo $this->article_info['user_info']['uid'];?>);" data-toggle="tooltip" class="icon-ok-sign<?php if (!$this->user_follow_check) { ?> aw-active<?php } ?>" data-original-title="<?php if ($this->user_follow_check) { ?><?php _e('取消关注'); ?><?php } else { ?><?php _e('关注'); ?><?php } ?>"></i><?php } ?>
								<p><?php echo $this->article_info['user_info']['signature']; ?></p>
							</dd>
						</dl>
					</div>
					<div class="aw-side-bar-mod-footer">
						<ul class="aw-text-color-999">
							<li>
								积分 : <span>123</span>
							</li>
							<li>
								威望 : <span>123</span>
							</li>
							<li>
								用户组 : <span>123</span>
							</li>
							<li>
								擅长话题 : <span>anwsion , wecenter , 设计 , 模板 , 开发</span>
							</li>
						</ul>
					</div>
				</div>
				<?php } ?>
				<!-- end 发起人 -->
				
				<?php if ($this->user_id) { ?>
				<!-- 邀请别人回复 -->
				<div class="aw-side-bar-mod aw-side-bar-invite-replay">
					<div class="aw-side-bar-mod-head">
						<h3><?php _e('邀请别人回复'); ?></h3>
					</div>
					<div class="aw-side-bar-mod-body">
						<p><a class="aw-website-invite"><?php _e('站内邀请'); ?><em class="badge badge-info"><?php echo count($this->invite_users); ?></em></a> • <a class="aw-email-invite"><?php _e('邮件邀请'); ?></a></p>
						<!-- 侧边栏邀请box -->
						<div class="aw-side-bar-invite-box">
							<div class="aw-item clearfix">
								<input id="invite-input" class="form-control" type="text" placeholder="<?php _e('仅限邀请站内用户...'); ?>"/>
								<div class="aw-dropdown">
									<i class="aw-icon i-dropdown-triangle"></i>
									<p class="title"><?php _e('没有找到相关结果'); ?></p>
									<ul class="aw-dropdown-list"></ul>
								</div>
								<div class="error-message alert  alert-error hide"></div>
								<ul class="aw-side-bar-invite-list">
								<?php if ($this->invite_users) { ?>
									<p>已邀请过的用户 : </p>
									<?php foreach($this->invite_users as $key => $val) { ?>
									<li>
										<?php if ($val['sender_uid'] == $this->user_id) { ?><a class="pull-right btn btn-mini btn-default" onclick="disinvite_user($(this),<?php echo $val['uid']; ?>);$(this).parent().detach();"><?php _e('取消邀请'); ?></a><?php } ?>
										<a href="people/<?php echo $val['url_token']; ?>" class="aw-user-name" data-id="<?php echo $val['uid']; ?>">
											<img src="<?php echo get_avatar_url($val['uid'], 'mid'); ?>" alt="" />
										</a>
										
										<span class="aw-text-color-666"><?php echo $val['user_name']; ?></span>
									</li>
									<?php } ?>
								<?php } ?>
								</ul>
							</div>
							<div class="aw-item clearfix">
								<form method="post" action="question/ajax/email_invite/question_id-<?php echo $this->article_info['question_id']; ?>" onsubmit="return false;" id="email_invite_form">
									<input class="form-control" type="text" name="email" placeholder="<?php _e('邮件邀请回复...'); ?>"/>
									<a class="pull-right btn btn-mini btn-success" onclick="ajax_post($('#email_invite_form'));"><?php _e('邀请'); ?> »</a>
								</form>
								
							</div>
						</div>
						<!-- end 侧边栏邀请box -->
						
						<?php if ($this->helpful_users) { ?>
						<div class="aw-side-bar-invite-replay-box">
							<p><?php _e('可能帮助到你的人'); ?></p>
							<?php foreach ($this->helpful_users AS $key => $val) { ?>
							<dl>
								<dt class="pull-left aw-border-radius-5">
									<a class="aw-user-img" data-id="<?php echo $val['uid']; ?>" href="people/<?php echo $val['url_token']; ?>" data-id="<?php echo $val['uid']; ?>"><img class="img" alt="" src="<?php echo get_avatar_url($val['uid'], 'mid'); ?>" /></a>
								</dt>
								<dd class="pull-left">
									<a class="pull-right" data-id="<?php echo $val['uid']; ?>" onclick="invite_user($(this),$(this).next().text(),$(this).parents('dl').find('.img').attr('src'));$('.aw-side-bar-invite-box .aw-item').eq(0).show();"><?php _e('邀请'); ?></a>
									<a class="aw-user-name"><?php echo $val['user_name']; ?><?php if ($val['verified']) { ?><i class="icon-v<?php if ($val['verified'] == 'enterprise') { ?> i-ve<?php } ?>" title="<?php if ($val['verified'] == 'enterprise') { ?>企业认证<?php } else { ?>个人认证<?php } ?>"></i><?php } ?></a>
									<p>
										<?php echo cjk_substr($val['signature'], 0, 12, 'UTF-8', '...'); ?>
									</p>
								</dd>
							</dl>
							<?php } ?>
						</div>
						<?php } ?>
					</div>
				</div>
				<!-- end 邀请别人回复 -->
				<?php } ?>

				<?php if ($this->question_related_list) { ?>
				<!-- 相关问题 -->
				<div class="aw-side-bar-mod aw-text-align-justify">
					<div class="aw-side-bar-mod-head">
						<h3><?php _e('相关问题'); ?></h3>
					</div>
					<div class="aw-side-bar-mod-body">
						<ul class="aw-li-border-bottom">
							<?php foreach($this->question_related_list AS $key => $val) { ?>
							<li><a href="question/<?php echo $val['question_id']; ?>"><?php echo $val['question_content']; ?></a></li>
							<?php } ?>
						</ul>
					</div>
				</div>
				<!-- end 相关问题 -->
				<?php } ?>

				<!-- 问题状态 -->
				<div class="aw-side-bar-mod aw-side-bar-mod-question-status">
					<div class="aw-side-bar-mod-head">
						<h3><?php _e('问题状态'); ?></h3>
					</div>
					<div class="aw-side-bar-mod-body">
						<ul>
							<li><?php _e('最新活动'); ?>: <span class="aw-text-color-blue"><?php echo date_friendly($this->article_info['update_time']); ?></span></li>
							<li><?php _e('浏览'); ?>: <span class="aw-text-color-blue"><?php echo $this->article_info['view_count']; ?></span></li>
							<li><?php _e('关注'); ?>: <span class="aw-text-color-blue"><?php echo $this->article_info['focus_count']; ?></span> <?php _e('人'); ?></li>
							
							<li class="aw-side-bar-user-list aw-border-radius-5" id="focus_users"></li>
						</ul>
					</div>
				</div>
				<!-- end 问题状态 -->
				
			</div>
			<!-- end 侧边栏 -->
		</div>
	</div>
</div>

<?php TPL::output('global/footer.tpl.htm'); ?>