@charset "utf-8";
/*
* 名称: fancy
* 功能: 定制样式
* anwsin官方:http://www.anwsion.com/
* developer:顽主
* Email:76825562@qq.com 
* Copyright © 2013 - Anwsion社区, All Rights Reserved 
* Date:2013-1-7
*/
/*global*/
html,body{ background:#f2f2f2;}
/* 站内页面宽度限定 */
.i_bd { width:960px; margin:0 auto; text-align:left; }
.wrapper{ background:#D0D0D0 url(img/sideShadow.png) repeat-x top; border-bottom:2px solid #aaa;padding:20px 0; clear:both; min-height:600px;}
.shadowBox{background-color: #fff;border-bottom: 2px solid #E2E2E9;border-radius:3px;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);}
.marginStyle{ margin:0 0 20px 0;}
.cell {font-size: 12px !important;padding: 10px;text-align: left;}
.inner {font-size: 12px; padding:10px 0;}
.cell strong{ color:#000;}
.i_mainElem,.mainElem{width:960px;}
.grayBtn{ background:#fff url(img/grayBtnBg.png) repeat-x bottom; border:1px solid #ccc; border-bottom:none; border-radius:3px;/*box-shadow: 0 1px 0 rgba(66, 66, 77, 0.25);*/ color:#000; font-size:12px; text-shadow:1px 1px 1px #fff; line-height:20px; padding:5px 10px;}
.attentionBtn{background:#9db2d5; border:1px solid #90a7cc; border-bottom:none; border-radius:3px;/*box-shadow: 0 1px 0 rgba(66, 66, 77, 0.25);*/ color:#fff;  text-shadow:1px 1px 1px #90a7cc; line-height:20px; padding:5px 10px;}
.attentionBtn.cur{ background:#fff url(img/grayBtnBg.png) repeat-x bottom; border:1px solid #ccc; border-bottom:none; border-radius:3px; display:inline-block;color:#000; text-shadow:1px 1px 1px #fff; line-height:20px; padding:5px 10px;}
.moreDetails{ display:inline-block;margin-left:75px; margin-top:3px;}
.nowRegister{ margin-top:10px; text-align:center;}
.nowLogin{ color:#0099CC;}
.fade {font-weight:bold;}
body.bd{ padding-top:45px !important;}
/* 发起问题 */
.askQuestion{ background:#ea4c89 url(img/askQuestion.png) repeat-x; border:1px solid #7d7d7d; border-radius:3px; padding:0 10px; height:25px; line-height:25px; margin:10px 0  0 10px;text-align:center;}
.askQuestion a{ color:#fff; font-size:14px; font-weight:bold; }
.askQuestion a:hover{ color:#f9cadc;}

/* 全文搜索 */
.i_search{ background:#fff; border:1px solid #aaa; height:25px; margin-top:10px;padding-right:28px; max-width:210px;}
.i_search .i_txt{ color:#999;font-size:12px; width:250px; height:17px; padding:4px; border:0 none;}
.i_search .i_result{ display:inline-block; background:url(img/main_default.png) -635px 0 no-repeat; height:25px; width:28px;right:0; top:0; line-height:99em; overflow:hidden; }
.i_search .i_wd{ width:250px;}
#search_global >p {height:45px;line-height:45px;padding:0 10px;} /*搜索下拉*/
#search_global >p.qs{padding:10px!important;height:25px!important;line-height:25px!important;}
#search_global >p.qs >a,#search_global >p.qs >b,#search_global >p span,#search_global .user_header,#search_global a{vertical-align:middle;display:inline-block;}
#search_global >p.qs >b{width:280px;}
#search_global >p .xs{margin-left:10px;max-width:120px;}
#search_global .user_header{ margin-right:10px; margin-top:-10px;}
#search_global .s_txt_qs{ max-width:280px;}
#search_global a{height:auto; line-height:auto;text-indent:0;}
/*菜单*/
body.bd .b_user{ width:110px; right:0; top:0;}
.b_user >.user_head{color:#aaa; display:block; font-weight:bold;width:75px; text-align:right; line-height:45px; padding-right:35px; }
.b_user >.user_head .inbox_num{ right:-7px; top:5px;}
.b_user >.user_head >.b_userpic{ width:25px; height:25px; position:absolute; right:0; top:10px;}
.b_user .b_drop_down{ width:90px; float:right; visibility:hidden; display:none;}
.b_user:hover >.b_drop_down{ visibility:visible; display:block; overflow:hidden;}
.b_user .b_drop_down >a{ display:block; height:35px; line-height:35px; padding-left:15px;}
.b_user .b_drop_down >a +a{ border-top:1px solid #ddd; color:#666}
.b_mainElem{border-bottom:1px solid #ddd; margin-bottom:0px !important;}

.b_menu{padding-left:20px;width:300px;}
.b_menu >a{ display:inline-block;font-family: "microsoft yahei"; height:45px; line-height:45px; padding:0 15px; color:#cacaca; font-size:15px; float:left; /*text-shadow:1px 1px 1px #fff;*/}
.b_menu >a:hover{ color:#fff;}
.b_menu >a.cur,.b_user .b_drop_down1 >a:hover{ color:#fff;}
.b_startQs{ right:10px; top:0; width:170px;}
.b_startQs a{font-family: "microsoft yahei";}
.b_startQs >a.b_startq{ display:inline-block; width:57px; height:32px; line-height:32px; margin-top:5px; padding-left:45px; font-weight:bold; background-position:0 -10px; background-repeat:no-repeat !important;}
.b_startQs >a.b_startq:hover{color:#fff;background-position:-110px -10px;}
.b_startQs >a.b_startq >em{ display:inline-block; width:15px; height:15px; background-position:-3px -182px; vertical-align:middle; margin-right:7px; margin-top:-4px;}
.loginLink{ color:#fff; font-size:15px;}
/* >>通知下拉框样式 */
#msgDropdown >p{ padding:10px;}
#msgDropdown >p a{ display:inline !important; line-height:normal !important; white-space:normal; font-size:12px;}
#msgDropdown >p .s,#msgDropdown >p .ex_more,#msgDropdown >p .ex_more small{ display:block;font-size:12px;}
#msgDropdown >p .s{ padding-top:5px; line-height:18px;}
#msgDropdown >p .ex_more{ padding-top:10px;}
#msgDropdown >p .s .x{ margin-top:3px;}
#msgDropdown >p:hover,#msgDropdown >p:hover mark{visibility:visible !important; }
#msgDropdown >p mark{ background-color:transparent; height:18px; cursor:pointer; visibility:hidden;}
#msgDropdown .i_green_but{ color:#fff !important;}

/*main*/

/*左边栏*/
.L_sidebar{background-color: #FFFFFF;border-bottom: 2px solid #E2E2E9;border-radius: 3px 3px 3px 3px;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);width:695px;}
.deatil_sidebar{width:695px;}

/*global_line*/
.b_restrain{background-color: #fff; border-radius:3px;}
.u_mainElm{background-color: #fff; border:1px solid #ccc;border-radius:2px;}
.b_restrain .S_module{ margin:0 10px;}
.b_restrain .x{ margin-top:9px;}

/*新通知模块*/
.new_notice{border:1px solid #dfdfdf; background-color:#fbfbfb; margin-bottom:26px; padding-top:15px;}
.new_notice h3{ margin:0 20px;}
/* 最新动态 */

.new_ls{ margin:0 15px;}
.new_ls li{ color:#ccc; font-weight:normal; font-size:12px; padding:15px 0; line-height:15px;}
.new_ls li > span.time{ font-size:12px;}
.new_ls li.i_bold >span,.new_ls li.i_bold .ex_more,.new_ls li.i_bold .ex_hs{ font-weight:normal; font-size:12px;}
.new_ls li.i_bold >span{color:#999;}
.new_ls .ex_hs,.S_module >h4 .x,#msgDropdown >p .s >.x{ cursor:pointer; visibility:hidden;}

/*公告 */
.notice_msg h3 > a.x,
.i_noticetxt h3 > a.x,
.new_ls em.x,#msgDropdown >p .s >.x{display:inline-block; height:15px; width:15px; line-height:99em; overflow:hidden; margin-left:5px; background-position:-35px -962px; vertical-align:middle;}
.new_ls  em.x:hover,
.notice_msg h3 > a.x:hover,
.i_noticetxt h3 > a.x:hover,
#msgDropdown >p .s >.x:hover{ background-position:-35px -986px;}
.new_ls li:hover .ex_hs,.S_module:hover >h4 .x,#msgDropdown >p:hover .s >.x,#msgDropdown >p:hover mark{ visibility:visible;}
.new_ls .ex_more{ padding-top:10px; font-size:12px; line-height:normal;}

/*最新动态提示条*/
.main_latest{ background-color:#feffe5; border:1px solid #f9f2a7; color:#d4a639 !important; text-align:center; height:35px; line-height:35px; margin-top:15px; display:block;}
.main_latest:hover{ background-color:#fcfddb;}
.main_content,.q_congMain{border:0px solid #dfdfdf; padding:20px 20px 0;}
.q_congMain{background-color: #FFFFFF;border-bottom: 2px solid #E2E2E9;border-radius: 3px 3px 3px 3px;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); padding-bottom:20px; margin-bottom:20px;}
.q_congMain >h2{ color:#000 !important; padding-right:175px; font-size:16px; line-height:30px; padding-bottom:10px;}
.viewInfo{ color:#ccc; font-size:11px;}
.publishTime{ color:#0CC; display:inline-block; margin-right:15px; font-size:11px;}
.viewNumber{ color:#0CC; font-size:11px;}
/*login user*/
.quickLogin{  padding:10px;}
.userDiv{ overflow:hidden}
.userAvatar{ border-radius:3px; float:left;padding-right:10px; height:32px; width:32px;}
.c_Username{ float:left;padding-top:5px;}
.commentsDiv{ margin-left:43px;}
.indexReply{ margin-left:43px;}
.addComments{ color:#588CC7 !important;}
.shareLink{ color:#588CC7 !important;}
.askUser{ float:left; width:50px;}
.askUser span > img{ height:48px; width:48px;}
.askList{ float:left; margin-left:10px; width:350px;}
.iconTurn{ background:#E9F5FF url(img/iconTurn.png) no-repeat 5px 3px !important; display:inline-block; padding-left:20px !important;; width:30px !important;}
.newComments img{ border-radius:3px !important; height:32px !important; width:32px !important;}
.index_user img{ height:32px; width:32px;}
.markItUp ul { position: relative;}
.markItUp .markItUpButton10 {position: absolute;right: -30px;}
/*topic*/
.q_qusAll{ font-weight:bold;border:0 none;}
.q_qusAll .topicLeft{font-size:14px;font-weight:normal;left:5px; bottom:0; }
.q_qusAll .topicLeft a{display:block;padding:0 15px; float:right; height:40px; line-height:40px; color:#999;}
.q_qusAll .topicLeft a.cur{background-color:#fff; border:1px solid #ddd; border-bottom:none; height:39px;}
.q_qusAll .topicLeft a >em.q_arrs_down{ display:inline-block; vertical-align:middle; width:6px; height:6px; background-position:-3px -566px; margin-left:5px;}/* 问题内容页小箭头 */
.q_qusAll .topicLeft a >em.q_arrs_up{ background-position:-3px -602px;}
/*link*/
/*headleCss3*/