<?php if (get_setting('site_announce')) { ?>
<script type="text/javascript">
var ANNOUNCE_CLOSE = '<?php echo substr(md5(get_setting('site_announce')), 0, 10); ?>';

$(document).ready(function()
{
	if (ANNOUNCE_CLOSE != $.cookie('announce_close'))
	{
		$('#site_announce').show();
	}
});
</script>

<div id="site_announce" class="shadowBox notice_msg" style="display:none;">
	<div class="i_noticetxt">
  		<h3><a class="x i_small i_right" onClick="$.I.notice_msg(this); $.cookie('announce_close', ANNOUNCE_CLOSE, { expires: 30 });" title="<?php _e('关闭'); ?>" href="javascript:;">x</a><?php _e('公告'); ?></h3>
		<?php echo get_setting('site_announce'); ?>
	</div>
</div>
<?php } ?>