<?php TPL::output('global/header.tpl.htm'); ?>
	
	<div class="aw-container-wrap">
		<div class="aw-container aw-wecenter">
			<?php TPL::output('block/content_nav_menu.tpl.htm'); ?>
			
			<div class="row aw-content-wrap">
				<div class="ht-product-list">
					<ul>
						<li>
							<div class="aw-mod">
								<div class="aw-mod-head">
									<img src="<?php echo G_STATIC_URL; ?>/css/<?php echo $this->template_name; ?>/img/product1.jpg">
								</div>
								<div class="aw-mod-body">
									<h2>Bone Mini DP 转 HDMI 转接线和转接头—适用于Mac Macbook</h2>
									<p>
										<b>极客点评:</b>近日主要用于网上支付的民生银行储蓄卡在网上盗刷，金额300。该卡已开通银行的贵宾网银需使用u盾才能登陆网上银行，同时，使用u盾...
									</p>
								</div>
								<div class="aw-mod-footer">
									<span class="pull-right">
										<i class="ht-icon lock"></i>商家
									</span>
									<span><i class="ht-icon like"></i>25</span>
									<span><i class="ht-icon message"></i>18</span>
								</div>
							</div>
						</li>
						<li>
							<div class="aw-mod">
								<div class="aw-mod-head">
									<img src="<?php echo G_STATIC_URL; ?>/css/<?php echo $this->template_name; ?>/img/product1.jpg">
								</div>
								<div class="aw-mod-body">
									<h2>Bone Mini DP 转 HDMI 转接线和转接头—适用于Mac Macbook</h2>
									<p>
										<b>极客点评:</b>近日主要用于网上支付的民生银行储蓄卡在网上盗刷，金额300。该卡已开通银行的贵宾网银需使用u盾才能登陆网上银行，同时，使用u盾...
									</p>
								</div>
								<div class="aw-mod-footer">
									<span class="pull-right">
										<i class="ht-icon lock"></i>商家
									</span>
									<span><i class="ht-icon like"></i>25</span>
									<span><i class="ht-icon message"></i>18</span>
								</div>
							</div>
						</li>
						<li>
							<div class="aw-mod">
								<div class="aw-mod-head">
									<img src="<?php echo G_STATIC_URL; ?>/css/<?php echo $this->template_name; ?>/img/product1.jpg">
								</div>
								<div class="aw-mod-body">
									<h2>Bone Mini DP 转 HDMI 转接线和转接头—适用于Mac Macbook</h2>
									<p>
										<b>极客点评:</b>近日主要用于网上支付的民生银行储蓄卡在网上盗刷，金额300。该卡已开通银行的贵宾网银需使用u盾才能登陆网上银行，同时，使用u盾...
									</p>
								</div>
								<div class="aw-mod-footer">
									<span class="pull-right">
										<i class="ht-icon lock"></i>商家
									</span>
									<span><i class="ht-icon like"></i>25</span>
									<span><i class="ht-icon message"></i>18</span>
								</div>
							</div>
						</li>
						<li>
							<div class="aw-mod">
								<div class="aw-mod-head">
									<img src="<?php echo G_STATIC_URL; ?>/css/<?php echo $this->template_name; ?>/img/product1.jpg">
								</div>
								<div class="aw-mod-body">
									<h2>Bone Mini DP 转 HDMI 转接线和转接头—适用于Mac Macbook</h2>
									<p>
										<b>极客点评:</b>近日主要用于网上支付的民生银行储蓄卡在网上盗刷，金额300。该卡已开通银行的贵宾网银需使用u盾才能登陆网上银行，同时，使用u盾...
									</p>
								</div>
								<div class="aw-mod-footer">
									<span class="pull-right">
										<i class="ht-icon lock"></i>商家
									</span>
									<span><i class="ht-icon like"></i>25</span>
									<span><i class="ht-icon message"></i>18</span>
								</div>
							</div>
						</li>
						<li>
							<div class="aw-mod">
								<div class="aw-mod-head">
									<img src="<?php echo G_STATIC_URL; ?>/css/<?php echo $this->template_name; ?>/img/product1.jpg">
								</div>
								<div class="aw-mod-body">
									<h2>Bone Mini DP 转 HDMI 转接线和转接头—适用于Mac Macbook</h2>
									<p>
										<b>极客点评:</b>近日主要用于网上支付的民生银行储蓄卡在网上盗刷，金额300。该卡已开通银行的贵宾网银需使用u盾才能登陆网上银行，同时，使用u盾...
									</p>
								</div>
								<div class="aw-mod-footer">
									<span class="pull-right">
										<i class="ht-icon lock"></i>商家
									</span>
									<span><i class="ht-icon like"></i>25</span>
									<span><i class="ht-icon message"></i>18</span>
								</div>
							</div>
						</li>
						<li>
							<div class="aw-mod">
								<div class="aw-mod-head">
									<img src="<?php echo G_STATIC_URL; ?>/css/<?php echo $this->template_name; ?>/img/product1.jpg">
								</div>
								<div class="aw-mod-body">
									<h2>Bone Mini DP 转 HDMI 转接线和转接头—适用于Mac Macbook</h2>
									<p>
										<b>极客点评:</b>近日主要用于网上支付的民生银行储蓄卡在网上盗刷，金额300。该卡已开通银行的贵宾网银需使用u盾才能登陆网上银行，同时，使用u盾...
									</p>
								</div>
								<div class="aw-mod-footer">
									<span class="pull-right">
										<i class="ht-icon lock"></i>商家
									</span>
									<span><i class="ht-icon like"></i>25</span>
									<span><i class="ht-icon message"></i>18</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

<?php TPL::output('global/footer.tpl.htm'); ?>