<?php TPL::output('global/header.tpl.htm'); ?>
	
	<div class="aw-container-wrap">
		<div class="aw-container aw-wecenter">
			<?php TPL::output('block/content_nav_menu.tpl.htm'); ?>
			
			<div class="row aw-content-wrap">
				<div class="ht-product-list">
					<ul>
						<li>
							<div class="aw-mod">
								<div class="aw-mod-head">
									<img src="<?php echo G_STATIC_URL; ?>/css/<?php echo $this->template_name; ?>/img/product1.jpg">
								</div>
								<div class="aw-mod-body"></div>
								<div class="aw-mod-footer"></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

<?php TPL::output('global/footer.tpl.htm'); ?>