body{font:13px/1.5 "微软雅黑",tahoma,arial;padding: 0px;color: #666;}
h1, h2, h3, h4, h5, h6{font-size:100%;color: #333;}
a{cursor: pointer;}
a:hover{text-decoration: none;}
ul, ol{list-style: none;}
ul{margin:0;}
input , textarea{font-family: '微软雅黑',tahoma,arial !important;}
.btn-normal.btn-inverse{padding:4px 40px;box-shadow: none;}
select{width: auto;min-width: 220px;}
select, input[type="file"]{height: auto;}
table{width: 100%;}
.error{color: #FF0000;}
input[type="radio"], input[type="checkbox"]{margin:0;}
select, input[type="file"]{line-height: 0px;font-size: 13px;}
.aw-text-color-999{margin:10px 0 0 0;color: #999;font-size: 11px;}
.modal{margin-left: 0px;}
.modal-backdrop, .modal-backdrop.fade.in{opacity:0.2;filter:alpha(opacity=20);}
.aw-no-border-top{border-top:none !important;}
.aw-no-border-bottom{border-bottom: none !important;}
.aw-no-margin-top{margin-top:0px !important;}
.inline-block{display: inline-block;}

/*全局input定义*/
.normal-box{width: 35% !important;}
.normal-box .aw-mod-body{padding: 20px !important;}

/*顶部*/
.aw-manage-menu{padding:7px 0 7px 30px;background: #323a45;font-size: 13px;color: #fff;}
.aw-manage-menu .span12{height: 63px;line-height: 63px;}
.aw-manage-menu h1{display:inline-block;float:left;margin-right: 30px;}
.aw-manage-menu span{display: inline-block;}
.aw-manage-menu a{color: #fff;}
.aw-manage-menu a:hover{text-decoration: underline;}


.content{width: 100%;height:auto;overflow: hidden;}
/*左侧导航*/
.left-side{width: 225px;position: absolute;left: 0;}
.left-side h1{margin:10px 0 10px 30px;}
.left-side .side-nav ul ul li a{padding-left: 20px;}
.left-side .side-nav > ul > li > a{display:block;height:52px;line-height:52px;padding-left:30px;background:#9ea7b3;font-size:14px;color: #fff;border-bottom: 1px solid #eaedf1;}
.left-side .side-nav > ul > li > a:hover{text-decoration: none;}
.left-side .side-nav a:hover{text-decoration: underline;}
.left-side .side-nav > ul > li > ul{border-right: 1px solid #EAEDF1;}
.left-side .side-nav > ul > li > ul a{display: block;height:40px;line-height:40px;padding-left:45px;color: #8792a0;border-bottom: 1px solid #eaedf1;}
.left-side .side-nav > ul > li > ul a.active{background:#F5F8FA;color: #246594;}
.left-side .side-nav .aw-icon{margin-right: 10px;}

/*右侧内容*/
.right-side{width: 79.8%;min-height:780px;margin-left:245px;padding: 15px 0;}
.right-side .aw-box{border:1px solid #D7E6F0;}
.right-side .aw-box .date_picker{padding-left:30px;background: url('../img/calendar.png') no-repeat 5px 6px #fff;}
.right-side .aw-mod-head h2{height:auto;overflow:hidden;padding:0 10px;margin:0;background: #D6E4F1;color: #246594;font-weight: normal;font-weight: bold; }
.right-side .aw-mod-head h2 .nav-tabs{margin:8px 0 0 30px;border-bottom: none;}
.right-side .aw-mod-head h2 .nav-tabs > li > a{line-height: 14px;padding: 8px 12px;border-radius: 0px;color: #666;font-weight: normal;}
.right-side .aw-mod-head h2 .nav > li > a:hover, .nav > li > a:focus{background: none;border:1px solid #D6E4F1;}
.right-side .aw-mod-head h2 .nav-tabs > li.active > a:hover{color:#;background: #fff;border:1px solid #DDD;border-bottom: 1px solid #fff;}
.right-side .aw-mod-head h2 a.label{margin-top:12px;font-weight: normal;}
.right-side .aw-box input, .right-side .aw-box h3, .right-side .aw-box textarea{margin: 0;}
.right-side .aw-box input[type="radio"]{margin:0 10px;}
.right-side textarea{width: 80%;min-height: 80px;margin: 0;}
.right-side .aw-box dl{height: auto;overflow: hidden;margin:0;padding:10px 20px;border-top: 1px solid #eaedf1;}
.right-side .aw-box dl:first-child{border-top: none;}
.right-side .aw-box dl dt{width: 20%;text-align: right;vertical-align: top;}
.right-side .aw-box dl dt h3{font-weight: normal;}
.right-side .aw-box dl dt, .right-side .aw-box dl dd{float: left;}
.right-side .aw-box dl dd{width:75%;max-width:700px;padding: 10px;}
.right-side .aw-box dl:nth-child(n){background: #ffffff;}
.right-side .aw-box dl:nth-child(even){background: #F5F8FA;}
.right-side .aw-box .aw-mod-footer{padding: 10px;background: #F5F5F5;border-top: 1px solid #D7D7D7;text-align: center;}
.right-side .aw-user-message-setting label{display: inline-block;margin-right: 10px;}
.right-side .yesno_yes, .right-side .yesno_no{display: inline-block;float:left;min-width:50px;max-width:60px;height: 20px;padding:3px;text-align: center;}
.right-side .yesno_yes label, .right-side .yesno_no label{font-size: 13px;}
.right-side .yesno_yes{background: #E3F6E5;border:1px solid #B4E3B9;border-right: none;border-radius: 6px 0 0 6px;}
.right-side .yesno_no{background: #F6E3E3;border:1px solid #E3B4B4;border-left: none;border-radius: 0 6px 6px 0;}
.right-side .aw-box-row dt{margin-top:2px;}
.right-side .aw-box-row dl dd{width: auto;}
.right-side .aw-box-row .aw-box-row-dd{width: 500px;}
.right-side .aw-box-row span{font-size: 13px;}

/*表格*/
.aw-table{margin:10px 0;border:1px solid #D7E6F0;color: #666;}
.aw-table thead tr{height: 25px;padding: 6px;color: #246594;}
.aw-table tr th{padding:10px 5px;font-weight: normal;background: #F2F8FF;border-bottom:1px solid #D7E6F0}
.aw-table tbody tr:nth-child(n){background: #ffffff;}
.aw-table tbody tr:nth-child(even){background: #F5F8FA;}
.aw-table tbody td{padding: 10px;border-bottom: 1px solid #D7E6F0;vertical-align: baseline;font-size: 13px;}
.aw-table tbody a{color: #666;}
.aw-table tfoot td{background: #fff;padding: 10px;}
.aw-table tfoot .pagination{height: 30px;margin:0;}
.aw-table .aw-icon{margin:0 3px;vertical-align: middle;}
.aw-table .database-point{position: relative;top:2px;}
.table-row tr th{width:20%;padding-left:10px;border-right: 1px solid #D7E6F0;text-align: left;}
.aw-table input, .aw-table select, .aw-table form{margin:0;}

/*信息box*/
.aw-message-box{width:30%;margin:10px;border:1px solid #D7E6F0;}
.aw-message-box h3{height:35px;line-height:35px;margin:0;padding-left:10px;background:#F2F8FF;color:#246594;font-size: 12px;font-weight: normal;cursor: s-resize;}
.aw-message-box .aw-mod-body{padding: 10px;}
.aw-message-box .aw-mod-body ul{padding:0 10px;list-style: square;}
.aw-message-box .aw-mod-body ul li a{font-size: 12px;color: #666;}
.aw-right-side-box{width: 100%;margin-top:-10px !important;border:none;}
.aw-right-side-box .aw-message-box{width: auto !important;}

/*自定义连接*/
.define-link p{margin-bottom: 5px;}
.define-link input{margin-top:3px;}

.topic .btn{margin-top:5px;}

/*导航菜单设置*/
.nav-menu{width: 60%;}
.nav-menu form{width: 100%;}
.aw-mod-nav-setting{width:94%;padding:15px;border:1px solid #D7E6F0;}
.aw-mod-nav-setting .aw-mod-head h3{height:30px;line-height:14px;margin:0 0 10px;font-size: 17px;font-weight: normal;}
.aw-mod-nav-setting .aw-mod-head h3 span{margin-left:10px;font-size: 13px;color: #999;}
.aw-mod-nav-setting > .aw-mod-body > label{display: inline-block;margin:3px 0 0 20px;}
.aw-mod-nav-setting > .aw-mod-body > p > label{display: inline-block;margin:3px 0 0 20px;}
.aw-mod-nav-setting .aw-mod-body p{height: 30px;line-height: 30px;margin:0;}
.aw-mod-nav-setting .aw-nav-menu li{margin-top:10px;border:1px solid #D7E6F0;}
.aw-mod-nav-setting .aw-nav-menu .aw-mod-head{height: 40px;line-height: 40px;padding:0 10px;background: #F2F8FF;cursor: s-resize;font-size: 12px;}
.aw-mod-nav-setting .aw-nav-menu .aw-mod-head h4{height: 40px;line-height: 40px;margin:0;font-weight: normal;}
.aw-mod-nav-setting .aw-nav-menu .aw-mod-head span{color: #999;}
.aw-mod-nav-setting .aw-nav-menu .aw-mod-body{padding: 10px;}
.aw-mod-nav-setting .aw-nav-menu .aw-nav-menu-tag .aw-nav-menu-img{width: 50px;height: 50px;margin:0 0 0 15px;border:1px dashed #999;}
.aw-mod-nav-setting .aw-nav-menu .aw-nav-menu-tag .btn-small{margin:24px 0 0 10px;padding:3px 10px;}
.aw-mod-nav-setting .aw-nav-menu .aw-nav-menu-tag input{width: 390px;}
.aw-mod-nav-setting .aw-nav-menu .aw-nav-menu-descrip{width: 100%;}
.aw-mod-nav-setting .aw-nav-menu .aw-nav-menu-descrip input{width: 500px;}
.aw-mod-nav-setting .aw-nav-menu label, .aw-mod-nav-setting .aw-nav-menu input{font-size: 13px;}
.aw-mod-nav-setting .aw-nav-menu input{margin-top:3px;}
.aw-mod-nav-setting .aw-nav-menu .normal-width{width: 300px !important;}

/*alert-box*/
.aw-tips-box{width: 350px;}
.aw-tips-box .modal-body{background: url('../img/warmming.png') no-repeat right 5px;}
.aw-tips-box .modal-body p{margin: 10px 0;}

/*footer*/
.footer{width: 900px;margin:10px auto 0;padding:20px;text-align: center;}

/*icon*/
.aw-icon{display: inline-block;}
.icon_system{width: 20px;height: 20px;background: url('../img/icon1.png') no-repeat;position: relative;top: 4px;}
.icon_interface{width: 20px;height: 16px;background: url('../img/icon2.png') no-repeat;position: relative;top: 3px;}
.icon_contents{width: 20px;height: 20px;background: url('../img/icon3.png') no-repeat;position: relative;top: 5px;}
.icon_users{width: 20px;height: 18px;background: url('../img/icon4.png') no-repeat;position: relative;top: 4px;}
.icon_maintain{width: 20px;height: 20px;background: url('../img/icon5.png') no-repeat;position: relative;top: 4px;}
.icon_edm{width: 20px;height: 12px;background: url('../img/icon6.png') no-repeat;position: relative;top: 1px;}
.icon_tools{width: 20px;height: 18px;background: url('../img/icon7.png') no-repeat;position: relative;top: 4px;}
.user-edit{width: 16px;height: 16px;background: url('../img/user_edit.png') no-repeat;}
.user-delete{width: 16px;height: 16px;background: url('../img/user_delete.png') no-repeat;}
.user-add{width: 16px;height: 16px;background: url('../img/user_add.png') no-repeat;}
.database-point{width: 16px;height: 16px;background: url('../img/database_table.png') no-repeat;}
.page-edit{width: 16px;height: 16px;background: url('../img/page_edit.png') no-repeat;}
.page-delete{width: 16px;height: 16px;background: url('../img/page_delete.png') no-repeat;}
.page-link{width: 16px;height: 16px;background: url('../img/page_link.png') no-repeat;}
.page-attach{width: 16px;height: 16px;background: url('../img/page_attach.png') no-repeat;}
.table-go{width: 16px;height: 16px;background: url('../img/table_go.png') no-repeat;}
.lock{width: 16px;height: 16px;background: url('../img/lock_open.png') no-repeat;}
.i-warmming{width: 30px;height: 28px;background: url('../img/warmming.png') no-repeat;}
.aw-tips-box .aw-mod-body{background: url('../img/warmming.png') no-repeat;}
.triangle_up{width: 15px;height: 10px;background: url('../img/triangle_up.png') no-repeat;}
.triangle_down{width: 15px;height: 10px;background: url('../img/triangle_down.png') no-repeat;}

/*日期选择控件*/
.date_selector, .date_selector * {width: auto;height: auto;border: none;background: none;margin: 0;padding: 0;text-align: left;text-decoration: none;cursor: pointer;}
.date_selector {background: #fbfbfb;border: 1px solid #ccc;padding: 10px;margin: 0;margin-top: -1px;position: absolute;z-index: 100000;display: none;box-shadow: 0 0 5px #aaa;-moz-box-shadow: 0 0 5px #aaa;-webkit-box-shadow: 0 0 5px #aaa;}
.date_selector_ieframe {position: absolute;z-index: 99999;display: none;}
.date_selector .nav {width: 17.5em; /* 7 * 2.5em */}
.date_selector .nav p { clear: none; }
.date_selector .month_nav, .date_selector .year_nav {margin: 0 0 3px 0;padding: 0;display: block;position: relative;text-align: center;}
.date_selector .month_nav {float: left;width: 55%;}	
.date_selector .year_nav {float: right;width: 42%;margin-right: -8px; /* Compensates for cell borders */}	
.date_selector .month_name, .date_selector .year_name {font-weight: bold;line-height: 20px;}	
.date_selector .button {display: block;position: absolute;top: 0;width: 18px;height: 18px;line-height: 16px;font-weight: bold;color: #008ee8;text-align: center;font-size: 12px;overflow: hidden;border: 1px solid #ccc;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}	
.date_selector .button:hover, .date_selector .button.hover {background: #ed9c35;color: #fff;cursor: pointer;border-color: #d77011;}
.date_selector .prev {left: 0;}
.date_selector .next {right: 0;}
.date_selector table#table1 {border-spacing: 0;border-collapse: collapse;clear: both;margin: 0;}
.date_selector th, .date_selector td {width: 2.5em;height: 2em;padding: 0 !important;text-align: center !important;color: #666;font-weight: normal;}
.date_selector th {font-size: 11px;}	
.date_selector td {border: 1px solid #D7E6F0;line-height: 2em;text-align: center;white-space: nowrap;color: #666;background: #fff;}	
.date_selector td.today {background: #eee;}	
.date_selector td.unselected_month {color: #ccc;}	
.date_selector td.selectable_day {cursor: pointer;}
.date_selector td.selected {background: #4B85D2;color: #fff;font-weight: bold;}
.date_selector td.selectable_day:hover, .date_selector td.selectable_day.hover {background: #F2F8FF;color: #246594;}
