/*改写bootstrap部分*/
.aw-content-wrap .fa{background:#8bbf61;border-radius:5px;color:#fff;height:25px;line-height:25px;text-align:center;width:25px;}
.tooltip-inner{background:#246594;}
.tooltip.top .tooltip-arrow{border-top-color:#246594;}
.nav-tabs > li > a:hover{border-color:transparent;}
.table{margin-bottom:0;}
.radio-inline,label.checkbox-inline{margin:0 15px 0 0;padding:0;}
.radio-inline + .radio-inline,.checkbox-inline + .checkbox-inline{margin-left:0;}
.nav > li > a:hover,.nav > li > a:focus{background-color:transparent;}
.nav .open > a,.nav .open > a:hover,.nav .open > a:focus{background-color:#fff;}
.table-striped > tbody > tr:nth-child(odd) > td,.table-striped > tbody > tr:nth-child(odd) > th{background-color:#F5F8FA;}
.alert{padding:5px 15px;}
.aw-alert{position: absolute;top: 0;}

/*公共部分*/
body,a{color:#080808;font:14px/1.5em "microsoft yahei";}
html,body{height:100%;}
a:hover,a:focus{cursor:pointer;text-decoration:none;}
body{background:#eaeaea;}
ul,ol{list-style:none;padding:0;}
.middle{line-height:32px;}
.aw-text-color-999{color:#999;font-size:11px;margin:2px 0 0;}
.aw-hide-txt{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
/* 警告提示box */
.aw-tips-box .modal-dialog, .aw-image-box .modal-dialog, .aw-link-box .modal-dialog, .aw-confirm-box .modal-dialog{width: 370px;}
.aw-tips-box .modal-body{background: url(../img/warmming.png) no-repeat right 5px;}
.aw-tips-box .modal-body p{margin: 10px 0;}

/*后台header start*/
.aw-header{background:#fff;border:none;border-bottom:1px solid #d5d5d5;height:50px;margin-bottom:0;position:fixed;top:0;width:100%;z-index:999;}
.aw-header .mod-head-btn{background:transparent;border:none;border-radius:0;border-right:1px solid #e2e1e1;color:#676766;height:50px;outline:none;padding:0 20px;}
.aw-header .mod-head-btn:hover{-webkit-transition:background .4s ease-in, color .3s ease-out;background:#323232;color:#fff;transition:background .4s ease-in, color .3s ease-out;}
.aw-header .mod-user{border-top:none;min-width:120px;right:0;top:38px;}
.aw-header .dropdown-menu a{color:#000;}
.aw-header .mod-bell i{font-size:20px;margin-top:2px;position:relative;top:3px;width:1.2em;}
.aw-header .mod-bell span{padding-top:5px;}
.aw-header .mod-bell i:hover{color:#3695d5;}
.aw-header .mod-chat{border:1px solid #DFDFDF;border-radius:0;border-top:none;box-shadow:0 3px 3px rgba(0,0,0,0.1);left:-220px;padding:0;top:38px;width:280px;}
.aw-header .mod-media{background:#f8f8f8;border-bottom:1px solid #DFDFDF;line-height:1em;margin:0;padding:10px;width:100%;}
.aw-header .mod-media:hover{background:#fff;}
.aw-header .mod-media a{padding:2px;}
.aw-header .mod-btn a{color:#fff;}
.aw-header .mod-btn a:hover{background:#3695d5;}
.aw-header .mod-chat .thumb{background:#fff;border:1px solid #e2e1e1;display:block;padding:3px;}
.aw-header .mod-header-user a.dropdown-toggle{margin-right:15px;padding:10px 0;}
.aw-header .mod-header-user ul li{display:inline-block;margin:10px 0 0;}
.aw-header .mod-header-user ul li ul li{min-width:120px;}
.aw-header ul li.username{margin-right:30px;}
.aw-header .dropdown-menu li .fa{text-align:center;vertical-align:middle;width:27px;}

/*aw-side start*/
.aw-side{background:#323232;display:block;float:left;height:100%;overflow:hidden;position:fixed;top:50px;width:235px;z-index:16;}
.aw-side .mod-logo{height:55px;padding:10px 10px 10px 25px;}
.aw-side .mod-message{background:#3f3f3f;height:55px;padding:8px 5px 0 10px;}
.aw-side .mod-message a{background:#323232;border-color:#323232;color:#fff;height:35px;line-height:35px;padding:0;position:relative;width:35px;}
.aw-side .mod-message a:hover{background:#3695D5;}
.aw-side .mod-message .fa-home:before{font-size:18px;}
.aw-side .mod-message a span{background:#3695d5;border:none;padding:3px 5px;position:absolute;right:-7px;top:-5px;z-index:2;}
.aw-side .mod-logo img{display:block;height:36px;width:57px;}
.aw-side .mod-logo span{color:#fff;font-size:22px;line-height:40px;padding-left:10px;}
.aw-side ul{list-style:none;padding:0;width:235px;}
.aw-side ul li{border-bottom:1px solid #434343;}
.aw-side .active,.aw-side ul li a.active:hover{background:#3695D5;border-color:#207fbd;color:#fff;}
.aw-side ul li ul li a{border:none;text-indent:40px;}
.aw-side ul li ul li a.active{border:none;border-color:#323232;}
.aw-side ul li a{background:#3f3f3f;border-left:4px solid #353535;border-right:4px solid #353535;color:#999;display:block;font-size:14px;height:48px;line-height:48px;outline:none;padding-left:25px;position:relative;}
.aw-side .fa:before{display:inline-block;font-size:22px;text-align:center;vertical-align:middle;width:35px;}
.aw-side .fa-home:before{font-size:28px;}
.aw-side ul li a:hover,.aw-side ul li ul li a:hover,.aw-side ul li ul li a.active,.aw-side ul li ul li a.active:hover{background:#323232;color:#fff;}
.aw-side ul li ul{display:none;}
.aw-side ul li ul.block{display:block;}
.aw-side ul li a.collapsed[data=icon]:after{content:"\f056";position:absolute;right:15px;}
.aw-side ul li a[data=icon]:after{content:"\f054";position:absolute;right:15px;}

/*数据内容区域 start*/
.aw-content-wrap{position:relative;background:#eaeaea;height:auto;margin:70px 0 0 235px;min-height:100%;padding:0 25px 20px;}
.aw-content-wrap .widget{margin:20px 0;}
.aw-content-wrap .echart-date{margin-top:20px;padding-left:5px;}
.aw-content-wrap .echart-date .nopadding{line-height:36px;padding:0;}

/*页面底部区域 start*/
.aw-footer{background:#efefef;height:50px;line-height:52px;margin:0 0 0 225px;overflow:hidden;text-align:center;}
.aw-footer p{font-size:12px;}

/*右侧公共部分*/
.aw-content-wrap .mod-symbol{font-size:22px;line-height:35px;margin-left:-2px;padding:0;text-align:center;width:2px;}

/* 右侧公共头部部分 mod-head*/
.aw-content-wrap .mod-head .nav-tabs{border-bottom:none;}
.aw-content-wrap .mod-head .nav-tabs li{border-right:1px solid #DDD;cursor:default;height:42px;list-style:none;min-width:89px;text-align:center;}
.aw-content-wrap .mod-head .nav-tabs li a{background:transparent;border:none;line-height:29px;margin-left:0;margin-top:0;outline:none;padding:8px 15px;}
.aw-content-wrap .mod > .mod-head{background:#f4f4f4;border:1px solid #e2e1e1;color:#333;height:44px;margin:10px 0 0;}
.aw-content-wrap .mod-site-save{margin:10px 15px 0 0;}
.aw-content-wrap .mod-head .pull-left{font-size:14px;line-height:45px;margin-right:20px;padding-left:15px;}
.mod-head .nav-tabs li.active{background:#FFF;border-bottom:1px solid #fff;height:43px;}
.aw-content-wrap .mod-table-foot{margin-top:20px;}
.aw-content-wrap .mod-table-foot .pull-right{margin-top:0;}

/*右侧表格主体部分*/
textarea{resize:none;}
.aw-content-wrap > .mod{box-shadow:0 3px 0 #CCC;}
.aw-content-wrap .mod-body,.aw-content-wrap .mod-content{background:#fff;border:1px solid #e2e1e1;border-top:none;padding:20px;}
.aw-content-wrap h2 i{position:relative;top:0;}
.mod-body table thead th,.mod-body table tbody td{text-align:center;vertical-align:middle;}
.mod-content table thead th,.mod-content table tbody td{text-align:left;}
#search{margin-top:25px;}
.aw-content-wrap .fa-calendar{background:#2780bb!important;left:20px;position:absolute;top:5px;}
.aw-content-wrap .mod-data{font-size:12px;padding-left:35px;}
.aw-content-wrap input[type=radio],.aw-content-wrap input[type=checkbox]{margin-right:5px;}
.aw-content-wrap .tab-content th{border:none;color:#000;font-weight:400;}
.aw-content-wrap table > tfoot > tr > td{padding-bottom:0;padding-top:18px;}
.aw-content-wrap .mod-text-inline{line-height:34px;padding:0 5px 0 20px;width:auto;}
#members_table .min-value{min-width:175px;}
.aw-content-wrap .mod-btn .mod-btn-color{background:#fff;border:1px solid #eaeaea;color:#000;}

/*site_info 页面 start*/
.aw-content-wrap .mod-text-color-999{color:#999;padding-left:15px;}
.aw-content-wrap .tab-content .mod-site-url li{background:#fff;border:1px solid #D7E6F0;height:102px;margin-top:10px;}
.aw-content-wrap .mod-site-rule .col-sm-8{padding:0;}
.aw-content-wrap .tab-content li > span{background:#F2F8FF;height:100px;line-height:100px;margin-right:10px;text-align:center;width:25%;}
.aw-content-wrap .tab-content ul p{margin:10px 90px 0 0;}
.aw-content-wrap li.mod-site-rule{height:auto;min-height:230px;}
.aw-content-wrap .tab-content ul textarea{margin:5px 0 0;}
.aw-content-wrap .tab-content .help-block{clear:both;font-size:12px;line-height:1.8em;margin:0;overflow:hidden;padding:10px 10px 10px 5px;text-align:left;}
.aw-content-wrap .tab-content .help-block a{color:#3276b1;font-size:12px;padding:0 5px;}

/*wechat 页面 左侧菜单区域*/
.aw-content-wrap .mod-wechat-sava{margin-left:2px;}
.aw-content-wrap .mod-wechat-sava input{margin-right:10px;}

/*nav-menu 页面 左侧菜单区域*/
.aw-content-wrap .mod-set-head a{margin:9px;}
.aw-content-wrap .mod-set-head h3{background:#F4F4F4;color:#333;font-size:14px;font-weight:400;height:40px;line-height:40px;margin:0;text-indent:10px;}
.aw-content-wrap .mod-width .col-sm-10 label{margin-bottom:10px;width:200px;}
.aw-content-wrap .mod-set-body > p{height:40px;line-height:40px;}
.aw-content-wrap .mod-set-body > p select{margin-top:7px;width:240px;}
.aw-content-wrap .aw-nav-menu li{border:1px solid #D7E6F0;margin-top:10px;}
.aw-content-wrap .aw-nav-menu .mod-set-head{background:#F2F8FF;cursor:s-resize;font-size:12px;height:40px;line-height:40px;margin:0;padding:0 10px;}
.aw-content-wrap .aw-nav-menu .mod-set-head h4{font-weight:400;height:40px;line-height:40px;margin:0;}
.aw-content-wrap .aw-nav-menu .mod-set-head span{color:#999;}
.aw-content-wrap .aw-nav-menu .mod-set-body{display:none;padding:10px;}
.aw-content-wrap .aw-nav-menu .aw-nav-menu-tag .aw-nav-menu-img{border:1px dashed #999;height:52px;margin:5px 0 0 15px;width:52px;}
.aw-content-wrap .aw-nav-menu .aw-nav-menu-descrip input{width:390px;}
.aw-content-wrap .aw-nav-menu label,.aw-content-wrap .aw-nav-menu input{font-size:13px;}
.aw-content-wrap .aw-nav-menu input{margin-top:3px;}
.aw-message-box{border:1px solid #E2E1E1;margin-bottom:30px;}
.aw-message-box h3{background:#3695D5;color:#fff;cursor:s-resize;font-size:14px;font-weight:400;height:35px;line-height:35px;margin:0;padding-left:10px;}
.aw-message-box .mod-set-body{padding:10px;}
.aw-message-box a{margin-top:10px;}
.aw-article-list a,.aw-question-list a{display:block;max-width:600px;}

/*微信菜单页面*/
.chat-symbol{line-height:34px;padding:0;}
.aw-wechat-dropdown-box{height:34px;line-height:34px;position:relative;width:230px;}
.aw-wechat-dropdown-box input{padding-right:30px!important;width:230px;}
.aw-wechat-dropdown-box .fa-sort{background:transparent;color:#666;cursor:pointer;font-size:16px;position:absolute;right:5px;top:5px;z-index:2;}
.aw-wechat-dropdown-box span{position:relative;z-index:3;}
.aw-wechat-dropdown-box .input-bg{background-color:#fff;border:1px solid #ccc;border-radius:5px;height:34px;left:0;position:absolute;width:100%;z-index:1;}
.aw-wechat-dropdown-box .dropdown-menu{padding:10px;right:20px;width:64%;}
.aw-wechat-dropdown-box .dropdown-menu .mod > .mod-head{background:transparent;border:none;height:34px;margin:0;}
.aw-wechat-dropdown-box .dropdown-menu.subtract-two{width:138%;}
.aw-wechat-dropdown-box .dropdown-menu.all{width:360%;}
.aw-wechat-dropdown-box .dropdown-menu.all.subtract-two{width:243%;}
.aw-wechat-dropdown-box .dropdown-menu .mod{float:right;margin:0 10px;overflow:hidden;width:126px;}
.aw-wechat-dropdown-box .dropdown-menu .mod .divider,.aw-wechat-dropdown-box .dropdown-menu > .mod-body{background-color:#E5E5E5;height:1px;margin:9px 0;overflow:hidden;}
.aw-wechat-dropdown-box .dropdown-menu ul li{height:26px;line-height:26px;}
.aw-wechat-dropdown-box .dropdown-menu ul.control-height{max-height:182px;min-height:182px;overflow-y:auto;}
.aw-wechat-dropdown-box .dropdown-menu ul li a{clear:both;color:#333;display:block;font-weight:400;line-height:1.42857;max-width:126px;overflow:hidden;padding:3px 20px;text-align:left;text-overflow:ellipsis;white-space:nowrap;}
.aw-wechat-dropdown-box .dropdown-menu ul li a:hover,.aw-wechat-dropdown-box .dropdown-menu ul li.active a{background-color:#428BCA;color:#FFF;text-decoration:none;}
.aw-wechat-dropdown-box .dropdown-menu > .mod-footer{border-top:1px solid #E5E5E5;padding-top:10px;}
.aw-wechat-dropdown-box .dropdown-menu > .mod-footer li a{display:inline;}
.aw-wechat-dropdown-box .ajax-upload,.aw-wechat-dropdown-box .ajax-look{position:absolute;right:-30px;top:4px;}
.aw-wechat-dropdown-box .ajax-look{right:-60px;}

/*编辑用户资料*/
#remove_user_form label{margin-right:15px;}
#integral_form span.mod-category-foot{line-height:35px;padding:0;text-align:right;}
#integral_form .col-xs-11{line-height:35px;}

/* 弹窗 */
.aw-category-move-box .modal-dialog{width:350px;}
.aw-topic-edit-note-box img{max-width:530px;}
.aw-topic-edit-note-box #aw_dialog_ajax_data{max-height:450px;overflow-y:scroll;}

/*日期选择控件*/
.date_selector,.date_selector *{background:none;border:none;cursor:pointer;height:auto;margin:0;padding:0;text-align:left;text-decoration:none;width:auto;}
.date_selector{-moz-box-shadow:0 0 5px #aaa;-webkit-box-shadow:0 0 5px #aaa;background:#fbfbfb;border:1px solid #ccc;box-shadow:0 0 5px #aaa;display:none;margin:-1px 0 0;padding:10px;position:absolute;z-index:100000;}
.date_selector_ieframe{display:none;position:absolute;z-index:99999;}
.date_selector .nav{width:17.5em;}
.date_selector .nav p{clear:none;}
.date_selector .month_nav,.date_selector .year_nav{display:block;margin:0 0 3px;padding:0;position:relative;text-align:center;}
.date_selector .month_nav{float:left;width:55%;}
.date_selector .year_nav{float:right;margin-right:-8px;width:42%;}
.date_selector .month_name,.date_selector .year_name{font-weight:700;line-height:20px;}
.date_selector .button{-moz-border-radius:2px;-webkit-border-radius:2px;border:1px solid #ccc;border-radius:2px;color:#008ee8;display:block;font-size:12px;font-weight:700;height:18px;line-height:16px;overflow:hidden;position:absolute;text-align:center;top:0;width:18px;}
.date_selector .button:hover,.date_selector .button.hover{background:#ed9c35;border-color:#d77011;color:#fff;cursor:pointer;}
.date_selector .prev{left:0;}
.date_selector .next{right:0;}
.date_selector table#table1{border-collapse:collapse;border-spacing:0;clear:both;margin:0;}
.date_selector th,.date_selector td{color:#666;font-weight:400;height:2em;padding:0!important;text-align:center!important;width:2.5em;}
.date_selector th{font-size:11px;}
.date_selector td{background:#fff;border:1px solid #D7E6F0;color:#666;line-height:2em;text-align:center;white-space:nowrap;}
.date_selector td.today{background:#eee;}
.date_selector td.unselected_month{color:#ccc;}
.date_selector td.selectable_day{cursor:pointer;}
.date_selector td.selected{background:#4B85D2;color:#fff;font-weight:700;}
.date_selector td.selectable_day:hover,.date_selector td.selectable_day.hover{background:#F2F8FF;color:#246594;}

/* 全局通用下拉列表 */
.aw-dropdown,.aw-category-dropdown{background:#fff;border:1px solid #ccc;box-shadow:0 5px 10px rgba(0,0,0,0.2);display:none;left:0;position:absolute;width:100%;z-index:9999;}
.aw-dropdown .i-dropdown-triangle,.aw-category-dropdown .i-dropdown-triangle{left:15px;position:absolute;top:-6px;}
.aw-dropdown p,.aw-category-dropdown p{margin:0;padding:5px 10px;}
.aw-dropdown .aw-dropdown-list li,.aw-category-dropdown .aw-category-dropdown-list li{border-top:1px dotted #E2E2E2;cursor:pointer;}
.aw-dropdown .aw-dropdown-list li:hover,.aw-dropdown .aw-dropdown-list li.active,.aw-category-dropdown .aw-category-dropdown-list li:hover{background-color:#F5FAFF;}
.aw-dropdown .aw-dropdown-list li.topic{line-height:24px;padding:5px 10px;}
.aw-dropdown .aw-dropdown-list li.question{line-height:32px;padding:0 10px;}
.aw-dropdown .aw-dropdown-list li.question.active .icon-g-replay{display:inline-block;}
.aw-dropdown .aw-dropdown-list li.question .icon-g-replay{display:none;margin:9px 5px 0 0;}
.aw-dropdown .aw-dropdown-list li.question a{display:block;font-size:13px;line-height:32px;}
.aw-dropdown-box{position:relative;}
.aw-wechat-send-message .aw-dropdown-list{margin-bottom:0;max-height:330px;overflow-y:scroll;}

/* iCheck plugin */
.icheckbox_square-blue,
.iradio_square-blue{display: inline-block; margin-right:5px; padding: 0; width: 22px; height: 22px; border: none; background: url(../img/blue.png) no-repeat; vertical-align: middle; cursor: pointer; *display: inline;}
.iradio_square-blue{*display: inline; vertical-align: middle;  border: none; cursor: pointer;}
.icheckbox_square-blue{background-position: 0 0;} .icheckbox_square-blue.hover{background-position: -24px 0;} .icheckbox_square-blue.checked{background-position: -48px 0;} .icheckbox_square-blue.disabled{background-position: -72px 0; cursor: default;} .icheckbox_square-blue.checked.disabled{background-position: -96px 0;}
.iradio_square-blue{background-position: -120px 0;} .iradio_square-blue.hover{background-position: -144px 0;} .iradio_square-blue.checked{background-position: -168px 0;} .iradio_square-blue.disabled{background-position: -192px 0; cursor: default;} .iradio_square-blue.checked.disabled{background-position: -216px 0;}

/*! perfect-scrollbar*/
.ps-container .ps-scrollbar-x-rail{-moz-border-radius:4px;-moz-transition:background-color .2s linear, opacity .2s linear;-o-transition:background-color .2s linear, opacity .2s linear;-webkit-border-radius:4px;-webkit-transition:background-color .2s linear, opacity .2s linear;border-radius:4px;bottom:3px;filter:alpha(opacity=0);height:8px;opacity:0;position:absolute;transition:background-color .2s linear, opacity .2s linear;}
.ps-container .ps-scrollbar-x-rail.in-scrolling{background-color:#eee;filter:alpha(opacity=90);opacity:.9;}
.ps-container .ps-scrollbar-y-rail{-moz-border-radius:4px;-moz-transition:background-color .2s linear, opacity .2s linear;-o-transition:background-color .2s linear, opacity .2s linear;-webkit-border-radius:4px;-webkit-transition:background-color .2s linear, opacity .2s linear;border-radius:4px;filter:alpha(opacity=0);opacity:0;position:absolute;right:0;transition:background-color .2s linear, opacity .2s linear;width:4px;}
.ps-container .ps-scrollbar-y-rail.in-scrolling{background-color:#2780bb;filter:alpha(opacity=90);opacity:.9;}
.ps-container .ps-scrollbar-x{-moz-transition:background-color .2s linear;-o-transition:background-color .2s linear;-webkit-transition:background-color .2s linear;background-color:#aaa;bottom:0;height:8px;position:absolute;transition:background-color .2s linear;}
.ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x,.ps-container .ps-scrollbar-x-rail.hover .ps-scrollbar-x{background-color:#999;}
.ps-container .ps-scrollbar-y{-moz-transition:background-color .2s linear;-o-transition:background-color .2s linear;-webkit-transition:background-color .2s linear;background-color:#3695D5;position:absolute;right:-0;transition:background-color .2s linear;width:4px;}
.ps-container.ie .ps-scrollbar-x,.ps-container.ie .ps-scrollbar-y{visibility:hidden;}
.ps-container.ie:hover .ps-scrollbar-x,.ps-container.ie:hover .ps-scrollbar-y,.ps-container.ie.hover .ps-scrollbar-x,.ps-container.ie.hover .ps-scrollbar-y{visibility:visible;}
.aw-content-wrap label.checkbox-inline,.aw-dropdown .aw-dropdown-list li.question b{line-height:30px;}
.table-striped > tbody > tr:first-child td,.aw-content-wrap .mod-border,.aw-content-wrap .mod-site-foot,.aw-dropdown .aw-dropdown-list li:first-child,.aw-category-dropdown .aw-category-dropdown-list li:first-child{border-top:none;}
.nowrap,.aw-content-wrap .table th{white-space:nowrap;}
label,.aw-content-wrap .mod-title,.aw-article-list b,.aw-question-list b{font-weight:400;}
.aw-header .mod-btn,.aw-content-wrap .aw-nav-menu .aw-nav-menu-descrip{width:100%;}
.aw-header .fa-user:before,.aw-side .mod-message .fa:before{font-size:16px;}
.aw-side .mod-message .fa-envelope:before,.aw-content-wrap .aw-nav-menu li h4{font-size:14px;}
.aw-side ul li i,.aw-content-wrap .md-tip{margin:0 5px;}
.aw-content-wrap .mod-padding,.aw-content-wrap .mod-site-url,.aw-content-wrap .aw-nav-menu ul{padding-left:0;}
.aw-content-wrap .mod-table-foot .clpadding,.aw-content-wrap tfoot .mod-category-foot{line-height:35px;padding:0;}
.aw-content-wrap .mod-head h3,.aw-content-wrap .mod-page,.aw-message-box form,.aw-wechat-dropdown-box .dropdown-menu > .mod-footer ul{margin:0;}
.aw-content-wrap .editor,.aw-content-wrap .mod-foot-center td{text-align:center;}
.ps-container:hover .ps-scrollbar-x-rail,.ps-container.hover .ps-scrollbar-x-rail,.ps-container:hover .ps-scrollbar-y-rail,.ps-container.hover .ps-scrollbar-y-rail{filter:alpha(opacity=60);opacity:.6;}
.ps-container.ie6 .ps-scrollbar-x,.ps-container.ie6 .ps-scrollbar-y{font-size:0;}

/*响应式兼容start*/
@media only screen and (max-width: 1024px){
.aw-content-wrap{margin:0 5px;padding:0;}
.aw-side ul li a{padding-left:0;}
.aw-content-wrap .mod-double{margin-bottom:10px;}
.table-responsive{border:none;margin-bottom:0;}
.btn{border-radius:3px;font-size:14px;line-height:1.5;padding:2px 7px;}
.aw-content-wrap .mod-body,.aw-content-wrap .mod-content{padding:5px 5px 20px;}
.pagination > li > a,.pagination > li > span{font-size:12px;padding:5px 10px;}
.pagination > li:first-child > a,.pagination > li:first-child > span{border-bottom-left-radius:3px;border-top-left-radius:3px;}
.pagination > li:last-child > a,.pagination > li:last-child > span{border-bottom-right-radius:3px;border-top-right-radius:3px;}
.aw-content-wrap table tfoot .mod-foot-btn{padding-top:50px;vertical-align:middle;}
.radio-inline,.checkbox-inline{margin-bottom:6px;}
.aw-footer,.radio-inline + .radio-inline,.checkbox-inline + .checkbox-inline{margin-left:0;}
.aw-side,.aw-content-wrap .mod-symbol{display:none;}
}
@media only screen and (min-width: 320px) and (max-width: 640px){
.aw-header .pull-right .mod-bell{display:none;}
.aw-header .username{display:block;position:absolute;right:0;top:1px;}
.mod-header-user .username ul.pull-right{background:#fff;border:1px solid #d7d7d7;width:80px;}
}
@media only screen and (max-width: 321px){
.date_selector{left:-40px;}
}