
/*public page default css states*/
@import url("base.css");

@import url("../reset.css");
@import url("../style.css");
@import url("../invalid.css");

.defalt_admin{height:56px;background:url(img/default.png) 0 0 repeat-x;line-height:56px;color:#ccc;}
.defalt_admin .logo{background:url(img/logo_small102x25.png) 0 0 no-repeat;height:25px;line-height:25px;display:inline-block;padding-left:115px;color:#fff;font-weight:18px;font-weight:bold;margin-left:20px;}
.defalt_admin a{color:#ccc;}
.defalt_admin a:hover{color:#ccc;text-decoration:underline;}









