address, article, aside, blockquote, body, caption, center, col, colgroup, dd, dir, div, dl, dt, fieldset, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, li, listing, map, marquee, menu, nav, noframes, ol, p, plaintext, pre, section, table, tbody, td, tfoot, th, thead, tr, ul, xmp { margin:0; padding:0; font-family: Tahoma;font-size:12px; }
article, aside, figcaption, footer, header,nav, section,dialog, figure { display: block; }
fieldset, img { border:none; }
table { border-collapse:collapse; }
body { background:#fff;}
ul, ol { list-style-type:none; }
a{ color:#666; text-decoration:none;star:expression(this.onFocus=this.blur());}
a:hover { color:#333; text-decoration:none; }
a:focus,input:focus,select:focus,textarea:focus,a{outline:none;}
.hide{ display:none;}
.show{ display:block;}
.fl { float:left; }
.fr { float:right; }
.tl { text-align:left; }
.tr { text-align:right; }
.cl:after{ clear:both; content:'.'; height:0px; line-height:0px; visibility:hidden; }
.bd { width:960px; margin:0 auto; }
.p2{padding:0 20px;}
input[type="password"]{ font-weight:bolder; font-family: Arial,Tahoma; font-size:22px;}
#Wrapper{ background:#fff; padding:0 0 1px;}
#clearFix{height:40px;line-height:40px;background:#fff;}
body.login_default{ background:#dcdcdc url(img/login_bg.png) 0 300px repeat-x;}